.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  max-width: 1000px;
}

.separator {
  border-top-color: var(--text-light);
  border-top-style: solid;
  border-top-width: 1px;
  display: block;
  margin: 1rem 0 2rem;
}

.flex-container {
  width: 100%;
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  align-items: center;
}

.grant-header-row {
  padding: 1rem;
  width: 100%;
}

.grant-row {
  width: 100%;
}

.grant-row-style {
  background-color: var(--gc-grey);
  border-color: var(--text-light);
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  margin-bottom: 1rem;
  padding: 1rem;
}

.cart-section {
  padding: 0rem 1rem;
}

.grant-name {
  font-weight: bold;
  margin-left: 0.5rem;
}

.clr-match-box {
  background-color: rgba(15, 206, 124, 0.1);
  border: 1px rgba(15, 206, 124, 0.1) solid;
  border-radius: 5px;
  padding: 0.5rem 1rem;
}

.black {
  color: black;
}

.medium-dark-gray {
  color: var(--gc-medium-dark-gray);
}

.darker-grey {
  color: var(--gc-darker-grey);
}
