@media (min-width: 1200px) {
  .grant-detail .container {
    max-width: 85vw
  }
}

.grant-item__owner-image,
.grant-item__owner-handle {
  display: inline;
}

.grant__header .grant-item__owner-image img {
  width: 50px;
  height: 50px;
}

.grant-item__owner .select2-selection
.grant-item__member .select2-selection,
.grant__header,
.inline-edit {
  background-color: #F2F6F9;
}

.grant-item__owner .select2-selection,
.grant-item__member .select2-selection {
  border-radius: 2px !important;
  font-size: 0.75rem;
  margin-top: 0.5rem;
  outline: none;
}

.grant-item__member .select2-container--default .select2-selection--multiple .select2-selection__rendered {
  padding: 2px 5px;
}

.grant-item__member .select2-container--default .select2-selection--multiple .select2-selection__choice {
  border-radius: 2px;
}

.grant-item__members {
  display: flex;
  text-align: center;
}

.grant__header .grant-item__member-image img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  top: 10px;
}

.grant__header {
  position: relative;
}

.grant__title,
.grant__title a {
  color: #43484D;
}

.inline-edit {
  border: none;
  height: 100%;
}

input.editable:focus,
textarea.editable:focus {
  outline: none;
}

input.editable,
textarea.editable {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #CECECE;
}

#form--input__description,
#form--input__reference-url {
  width: 100%;
}

.article-title,
.grant__description,
.article-description {
  color: #43484D;
}

.no-subscriptions a {
  text-decoration: none;
  color: #007bff;
}

.article-date {
  color: #BBBDBF;
}

.form__input {
  border-radius: 2px;
}

.grant__specs {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.grant__stakeholders-list {
  display: flex;
  flex-wrap: wrap;
}

.grant__stakeholders-list img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.grant__header .fa-save {
  animation: rotation 0.1s linear;
}

.grant__header .fa-edit {
  animation: rotation2 0.1s linear;
}

.update-milestone {
  background-color: white;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

@keyframes rotation2 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

@media (max-width: 767.98px) {

  #tabs ul {
    list-style-type: none;
    padding-left: 0;
  }

  #tabs ul li {
    margin-bottom: 2rem;
  }

  #tabs > .ui-widget-header {
    display: flex;
    justify-content: center;
  }
}
