@media (min-width: 1200px) {
  .grant-detail .container {
    max-width: 85vw
  }

  #editor.ql-bubble .ql-editor {
    padding: 0;
  }

  #editor .ql-editor p {
    font-size: 1rem;
  }
}

.grant_details {
  background-color: #F8FAFC;
}

.grant-item__owner-image,
.grant-item__owner-handle {
  display: inline;
}

.grant__header .grant-item__owner-image img {
  width: 50px;
  height: 50px;
}

.grant-item__owner .select2-selection,
.grant-item__member .select2-selection {
  font-size: 0.75rem;
  outline: none;
  border-color: #e2eaf2 !important;
  background: #fff !important;
  color: #000 !important;
}

.grant-item__member .select2-container--default .select2-selection--multiple .select2-selection__rendered {
  padding: 2px 5px;
}

.grant-item__member .select2-container--default .select2-selection--multiple .select2-selection__choice {
  border-radius: 2px;
  background-color: #fff;
  border-color: #e2eaf2 !important;
}

.grant-item__members {
  text-align: center;
}

#grant-profile-tabs .section-tab {
  letter-spacing: 1.5px;
}

.grant__header {
  position: relative;
}

.summary-info i {
  color: #666666;
}

.inline-edit {
  border: none;
}

.button__small {
  font-weight: 500;
}

#change-logo {
  cursor: pointer;
}

#change-logo i {
  position: absolute;
  padding: 0.25rem 0.5rem;
  background: white;
  font-size: 1.2rem;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
  opacity: 0.6;
}

#js-drop span {
  position: relative;
  left: 30%;
  width: 100%;
}

.grant__description textarea,
#contract_owner_address.editable {
  background: white !important;
}

input.editable,
textarea.editable {
  margin-top: 6px;
  border: 1px solid #e2eaf2;
  background: white;
  padding: 7px 14px !important;
  border-radius: 3px;
}

.form__select2 .select2-container--default .select2-selection--single {
  border: 1px solid #e2eaf2;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove,
.select2-available__choice__remove,
.select2-tag__choice__remove {
  color: #000;
}

#form--input__description,
#form--input__reference-url,
#form--input__title,
#contract_owner_address {
  width: 100%;
  resize: none;
}

#form--input__description:disabled {
  background: #F8FAFC;
}

.article-title,
.article-description {
  color: #43484D;
}

.grant__description span {
  white-space: pre-wrap;
}

.article-description {
  text-align:justify;
}

.no-subscriptions a {
  text-decoration: none;
  color: #007bff;
}

.article-date {
  color: #999;
}

.form__input {
  border-radius: 2px;
}

.grant__header button {
  font-weight: 500;
}

.sub-title {
  color: #666;
  letter-spacing: 1.5px;
}

.grant-banner img {
  height: auto;
  width: 100%;
}

.grant-logo img {
  height: auto;
  width: 100%;
  max-width: 25rem;
  box-shadow: 0 4px 10px 0 rgba(0,0,0,0.15);
}

.grant-banner {
  overflow : hidden;
  max-height: 22rem;
}

.wallet-address {
  font-size: 0.85rem;
}

.grant__stakeholders-list img,
.grant-item__members img,
.grant-item__owner-image img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.grant__header .fa-save {
  animation: rotation 0.1s linear;
}

.grant__header .fa-edit {
  animation: rotation2 0.1s linear;
}

.update {
  border-bottom: 1px solid #D8D8D8;
}

.update:first-child {
  padding-top: 0 !important;
}

.milestones-list li:last-child {
  padding-bottom: 0 !important;
}

#contract_owner_button-container {
  outline: none;
}

.disable-tooltip {
  pointer-events: none;
}

.disable-btn {
  border: none;
  background-color: whitesmoke;
  color: #999;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

@keyframes rotation2 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

@media (max-width: 991.98px) {
  .summary,
  .summary textarea,
  .summary input {
    text-align: center;
  }

  .summary-info i {
    position: relative;
    top: 2px;
  }

  .logo {
    width: 100%;
  }
}

@media (min-width:767.98px) and (max-width: 991.98px) {
  .summary-info i {
    float: left;
  }
}

@media (max-width: 767.98px) {

  #tabs ul {
    list-style-type: none;
    padding-left: 0;
  }

  #tabs ul li {
    margin-bottom: 2rem;
  }

  #tabs > .ui-widget-header {
    display: flex;
    justify-content: center;
  }

  #cancelModal .modal-cancel-grants {
    margin-top: 1rem;
  }

  #grant-profile-tabs {
    text-align: center;
    border-bottom: none;
  }

  .logo {
    display: none;
  }
}