.infinite-more-link{
  display: none;
}
.announce {
  text-align: center;
  border-radius: 5px;
  background-color: #fdedee;
  padding: 3px;
  position: relative;
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: auto;
  margin-right: auto;
}

.announce:after {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  width: 0;
  height: 0;
  border: 20px solid transparent;
  border-bottom-color: #fdedee;
  border-top: 0;
  border-left: 0;
  margin-left: -10px;
  margin-top: -20px;
}

.announce a {
  background-color: #f2c3c4;
  color: black;
}

.announce h4 {
  border-bottom: 3px solid #fdedee;
}

.announce5 h4 {
  border-bottom: 3px solid #def390 !important;
}

.announce5:after {
  border-bottom-color: #def390 !important;
}

.announce5 {
  background-color: #def390 !important;
}

.announce5 a {
  background-color: #cee370 !important;
}

.announce4 h4 {
  border-bottom: 3px solid #fce5ac !important;
}

.announce4:after {
  border-bottom-color: #fce5ac !important;
}

.announce4 {
  background-color: #fce5ac !important;
}

.announce4 a {
  background-color: #dcc58c !important;
}

.announce3 h4 {
  border-bottom: 3px solid #d0f9f4 !important;
}

.announce3:after {
  border-bottom-color: #d0f9f4 !important;
}

.announce3 {
  background-color: #d0f9f4 !important;
}

.announce3 a {
  background-color: #b0d9d4 !important;
}

.announce2 h4 {
  border-bottom: 3px solid #a4affc !important;
}

.announce2:after {
  border-bottom-color: #a4affc !important;
}

.announce2 {
  background-color: #a4affc !important;
}

.announce2 a {
  background-color: #849ffc !important;
}

.announce6 h4 {
  border-bottom: 3px solid #fde9ed !important;
}

.announce6:after {
  border-bottom-color: #fde9ed !important;
}

.announce6 {
  background-color: #fde9ed !important;
}

.announce6 a {
  background-color: #ddb9bd !important;
}

.clr .label {
  background: #0FCE7C;
  color: #fff;
  border-radius: 3px;
}

.clr .amount {
  color: #0FCE7C;
}

.clr-prediction img {
  height: 1.5rem;
  position: relative;
  top: -3px;
}

.predict-label,
.clr-prediction .title {
  color: #666666;
  font-size: 13px;
}

.clr-prediction .amount {
  font-size: 13px;
}

.clr-prediction .title {
  border-bottom: 1px solid #0FCE7C;
  padding: 0.65rem 1rem;
}

.header {
  background-size: cover;
}

.header .embed-responsive {
  border-radius: 3px;
}

.white-icon {
  width: 14px;
  height: 20px;
}

.button {
  font-weight: 500;
}

.rounded-circle {
  margin-right: 8px;
}

#search_form button {
  border: none;
  background: transparent;
  right: 1rem;
  top: 0.5rem
}

#keyword {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.token_symbol {
  font-weight: 600;
}

.progress {
  background-color: #D8D8D8;
  border-radius: 5px;
  height: 0.5rem;
}

.ui-tooltip {
  padding: 0 !important;
  border-radius: 0.25rem !important;
}

.progress-container {
  color: #0D0764;
}

.progress .progress-bar {
  background-color: #0D0764;
  height: auto;
}

.progress-bar.progress-bar--cancel {
  background-color: #D0021B;
  position: relative;
}

.progress--small {
  height: 7px;
}

.progress--small .progress-bar {
  background-color: #0ECF7C;
}

.grant-item__owner-handle {
  color: #9B9B9B;
  line-height: 18px;
}

.grant-item__member-handle span,
.grant__stakeholders-item span {
  color: #000;
}

.grant-item__owner-handle span,
.grant-item__owner-handle a,
.progress-text span {
  color: #0D0764;
}

.progress-text p {
  font-size: 14px;
}

/* Grants Contribution */
.contribution {
  position: absolute;
  top: -50px;
  left: 100%;
  text-align: left;
  padding: 0 10px;
}

.contribution:before {
  content: "";
  position: absolute;
  left: 0;
  z-index: 100;
  top: 0;
  width: 1px;
  height: 100%;
  background: #979797;
}

.contribution span {
  font-size: 18px;
}

.contribution p {
  font-size: 14px;
  color: #BBBDBF;
}

.grants_landing .grants-search,
.grants_landing .grants-results,
.grants_landing .grants-matching,
.grants_landing .grants-container {
  background-color: #F2F6F9;
}
.grants_landing .grants-results{
  text-align: center;
}
.grant-item {
  background-color: #fff;
}

.grants-hero.white a {
  color: white;
}

/* Tabs */
.ui-widget.ui-widget-content.ui-tabs {
  background: transparent !important;
  box-shadow: none;
}

.ui-tabs-nav {
  background: transparent;
  border: none;
}

.ui-tabs .ui-tabs-nav li {
  background: transparent;
  border: none;
  border-bottom: 1px solid #BBBDBF;
  margin: 0;
  width: 25%;
}

.ui-tabs .ui-tabs-nav li .ui-tabs-anchor {
  color: #BBBDBF;
  padding: 0.75em 2.5em;
  width: 100%;
  text-align: center;
}

.ui-tabs .ui-tabs-nav li.ui-tabs-active .ui-tabs-anchor {
  border-bottom: 3px solid #0D0764;
  color: #0D0764;
}

.ui-state-active, .ui-widget-content .ui-state-active {
  border: none !important;
  background: transparent !important;
}

#search_form .select2-container {
  width: auto !important;
  font-weight: normal;
  text-align: left;
  min-width: 9rem;
  font-size: 12px;
}

#search_form .sort_container .select2-container {
  width: 270px !important;
}

#search_form .select2-network-container {
  width: 5rem !important;
}

#search_form .network-container .select2-container {
  min-width: 5rem;
}

#search_form .select2-selection {
  background: #F2F6F9;
  border: none !important;
  color: var(--gc-blue);
}

#search_form .select2-selection span {
  color: #3E00FF;
  font-weight: bold;
}

.grants_type_nav {
  border-bottom: 1px solid #979797;
}

.grants_type_nav a.selected {
  font-weight: bold;
  border-bottom: 4px solid #3E00FF;
  padding-bottom: 6px;
}

.grants_keyword_nav a:hover {
  border-bottom: 1.5px solid black;
  padding-bottom: 4px;
}

.grants_keyword_nav a.selected:hover {
  border-color: #3E00FF;
}

.grants_nav a {
  color: #333333;
  margin-right: 30px;
  cursor: pointer;
}

.grants_nav a:hover {
  text-shadow: 0 0 .01px black, 0 0 .01px black, 0 0 .01px black;
  text-decoration: none;
}

.grants-search .select2-selection__arrow {
  top: 0 !important;
}

.grants_nav .selected {
  font-weight: 1000;
  color: #3f24f9 !important;
}

.arrow_box {
	position: relative;
	background: #fff;
  border: 1px solid #0FCE7C;
  border-radius: 3px;
}

.arrow_box:after, .arrow_box:before {
	bottom: 100%;
	left: 15%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow_box:after {
	border-color: rgba(255, 255, 255, 0);
	border-bottom-color: #fff;
	border-width: 9px;
	margin-left: -31px;
}

.arrow_box:before {
	border-color: rgba(16, 205, 122, 0);
	border-bottom-color: #0FCE7C;
	border-width: 11px;
	margin-left: -33px;
}

.grant-partners {
  background: linear-gradient(to right top, #0fce7c, #00a5a1, #0077b5, #0046a1, #0d0764);
  animation: gradient 40s ease infinite;
  border-radius: 3px;
}

.grant-partners h2 {
  letter-spacing: 3px;
}

.grant-partners img {
  border-radius: 50px;
  width: 4rem;
}

.grant-partners .nav-tabs {
  border: none;

}

.grant-partners .nav-link,
.grant-partners .nav-tabs .nav-line.active  {
  color: white;
  cursor: pointer;
}

.grant-partners .nav-link,
.grant-partners .nav-link:hover {
  border: none;
}

.grant-partners .nav-tabs .nav-line.active  {
  font-weight: 700;
}

.total_active_fund p {
  color: #25E899;
  font-size: 3rem;
  font-weight: 650;
}

@media (min-width: 1200px) {
  .header .container {
    max-width: 1240px;
  }

  .sort_container {
    top: 0;
  }
}


@media (max-width: 390px) {
  #search_form .sort_container .select2-container {
    width: 200px !important;
  }
}

@-webkit-keyframes gradient {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}

@-moz-keyframes gradient {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}

@keyframes gradient {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
