.progress {
  background-color: #D8D8D8;
  border-radius: 2px;
}

.progress-bar {
  background-color: #0FCE7C;
}

.progress-bar.progress-bar--cancel {
  background-color: #D0021B;
  position: relative;
}

.progress-bar.progress-bar--fund {
  background-color: #0D0764;
  position: relative;
}

.progress--small {
  height: 7px;
}

.grant-banner {
  max-height: 20rem;
  overflow: hidden;
}

.grant-item__owner-handle {
  color: #9B9B9B;
  line-height: 18px;
}

.grant-item__owner-handle span,
.grant-item__owner-handle a,
.grant-item__member-handle span,
.progress-text span {
  color: #0D0764;
}

.progress-text p {
  font-size: 14px;
  color: #BBBDBF;
}

/* Grants Contribution */
.contribution {
  position: absolute;
  top: -50px;
  left: 100%;
  text-align: left;
  padding: 0 10px;
}

.contribution:before {
  content: "";
  position: absolute;
  left: 0;
  z-index: 100;
  top: 0;
  width: 1px;
  height: 100%;
  background: #979797;
}

.contribution span {
  font-size: 18px;
}

.contribution p {
  font-size: 14px;
  color: #BBBDBF;
}

.grants-search {
  background-color: #F2F6F9;
}

/* Tabs */
.ui-widget.ui-widget-content.ui-tabs {
  background: transparent !important;
  box-shadow: none;
}

.ui-tabs-nav {
  background: transparent;
  border: none;
}

.ui-tabs .ui-tabs-nav li {
  background: transparent;
  border: none;
  border-bottom: 1px solid #BBBDBF;
  margin: 0;
  width: 25%;
}

.ui-tabs .ui-tabs-nav li .ui-tabs-anchor {
  color: #BBBDBF;
  padding: 0.75em 2.5em;
  width: 100%;
  text-align: center;
}

.ui-tabs .ui-tabs-nav li.ui-tabs-active .ui-tabs-anchor {
  border-bottom: 3px solid #0D0764;
  color: #0D0764;
}

.ui-state-active, .ui-widget-content .ui-state-active {
  border: none !important;
  background: transparent !important;
}

.order_by {
  margin-top: 0;
}

.order_by .select2-container {
  width: auto !important;
  font-weight: normal;
  text-align: left;
  min-width: 9rem;
}

.alpha-warning {
  background-color: #fbe0d6;
  color: #fb9470;
  padding: 5px 10px;
  border-radius: 2px;
  margin-bottom: 15px;
  display: block;
  text-align: center;
}

@media (max-width: 767.98px) {

  .search {
    margin-left: 1rem;
  }

  .order_by {
    margin-top: 1rem;
    padding: 0;
  }
}
