.top-buffer {
  margin-top: 30px;
}

.bottom-buffer {
  margin-bottom: 30px;
}

.grant-item {
  background-color: #ffffff;
  border: 1px solid #B7BBC0;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  height: 100%;
  text-decoration: none;
}

.grant-item:hover {
  text-decoration: none;
  border: 1px solid #0D0764;
}

.grant-item__hero img {
  object-fit: cover;
  width: 100%;
  height: 180px;
}

.grant-item__content {
  padding: 1.1rem 1.3rem 1.5rem;
}

.grant-item__title {
  color: #000000;
  font-size: 1.3rem;
  letter-spacing: 0;
  text-align: left;
  text-transform: none;
  padding: 0;
}
.grant-item__title a {
  color: #454545;
}

.grant-item__pitch {
  color: rgba(0, 0, 0, 0.54);
  font-size: 14px;
}

.grant-item__owner {
  align-items: center;
  display: flex;
  margin-bottom: 15px;
  margin-top: 10px;
}

.grant-item__owner-image {
  height: 35px;
  width: 35px;
  margin-right: 7px;
}

.grant-item__owner-image img {
  border-radius: 3px;
  width: 100%;
}

.grant-item__owner-handle {
  color: rgba(0, 0, 0, 0.54);
  font-size: 14px;
}

.grant-item__owner-handle span {
  color: #0D0764;
  font-weight: bold;
}

.grant-item__footer {
  margin-top: auto;
}

.grant-item__funding {
  display: flex;
  justify-content: space-between;
}

.grant-item__funding-number {
  color: #0D0764;
  font-weight: bold;
}

.grant-item__funding-label {
  color: rgba(0, 0, 0, 0.54);
  font-size: 14px;
}

.progress {
  background-color: #D8D8D8;
  /* border-radius: 2px; */
  /* height: 15px; */
  /* overflow: initial; */
}

.progress-bar {
  background-color: #0FCE7C;
  border-radius: 2px;
}

.progress-bar.progress-bar--cancel {
  background-color: #D0021B;
  position: relative;
}

.progress-bar.progress-bar--fund {
  background-color: #0D0764;
  position: relative;
}

.progress--small {
  height: 6px;
}

/* Grant Details */

.grant__avatar {
  border-radius: 20px;
  border-color: #43484D;
  width: 50px;
  height: 50px;
}

.grant__header {
  background-color: #F2F6F9;
  padding-top: 46px;
  padding-bottom: 46px;
  position: relative;
}

.grant__header::before {
  border-bottom: 1px solid rgba(0, 0, 0, 0.14);
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.grant__image {
  max-width: 100%;
}

.grant__reference {
  align-items: center;
  display: flex;
  margin-top: 16px;
}

.grant__reference-url {
  color: #000000;
  font-size: 14px;
}

.grant__reference-icon {
  display: flex;
  margin-right: 12px;
}

.grant__image img {
  width: 100%;
}

.grant__specs {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.grant__title {
  color: #43484D;
  font-size: 52px;
  letter-spacing: 0;
}

.grant__description {
  font-size: 16px;
  color: #43484D;
  letter-spacing: 0;
}

.grant__profile-details {
  font-size: 16px;
  color: #43484D;
  letter-spacing: 0;
}

.grant__stakeholders {
  margin-bottom: 20px;
}

.grant__stakeholders small {
  color: rgba(0, 0, 0, 0.54);
}

.grant__stakeholders-list {
  display: flex;
  flex-wrap: wrap;
}

.grant__stakeholders-item {
  margin-bottom: 6px;
  margin-right: 6px;
}

.grant__description-title {
  letter-spacing: 0;
  text-transform: none;
  text-align: left;
  padding: 0;
}

.current-funding-text {
  align-items: baseline;
  color: rgba(0, 0, 0, 0.54);
  display: flex;
  margin-bottom: 3px;
}

.current-funding-text span {
  color: #0D0764;
  font-size: 18px;
  font-weight: bold;
  margin-right: 5px;
}

.progress-text span {
  color: #0D0764;
}

.progress-text p {
  font-size: 14px;
  color: #BBBDBF;
}

/* Grants hero */
.grants-hero {
  /* background-image: url('/static/v2/images/light-bg.png');
  background-color: #F2F6F9;
  height: 400px;
  padding: 46px 0; */
}

.grants-hero__text {
  margin: 0 auto;
}

.grants-hero__title {
  letter-spacing: 0;
  text-transform: none;
}

/* Grants Contribution */
.contribution {
  position: absolute;
  top: -50px;
  left: 100%;
  text-align: left;
  padding: 0 10px;
}

.contribution:before {
  content: "";
  position: absolute;
  left: 0;
  z-index: 100;
  top: 0;
  width: 1px;
  height: 100%;
  background: #979797;
}

.contribution span {
  font-size: 18px;
}

.contribution p {
  font-size: 14px;
  color: #BBBDBF;
}

.grants-search {
  background-color: #F2F6F9;
}

/* Tabs */
.ui-widget.ui-widget-content.ui-tabs {
  background: transparent !important;
  box-shadow: none;
}

.ui-tabs-nav {
  background: transparent;
  border: none;
}

.ui-tabs .ui-tabs-nav li {
  background: transparent;
  border: none;
  border-bottom: 1px solid #BBBDBF;
  margin: 0;
  width: 25%;
}

.ui-tabs .ui-tabs-nav li .ui-tabs-anchor {
  color: #BBBDBF;
  padding: 0.75em 2.5em;
  width: 100%;
  text-align: center;
}

.ui-tabs .ui-tabs-nav li.ui-tabs-active .ui-tabs-anchor {
  border-bottom: 3px solid #0D0764;
  color: #0D0764;
}

.ui-state-active, .ui-widget-content .ui-state-active {
  border: none !important;
  background: transparent !important;
}
