.grant-item {
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  border: 1px solid #D3D3D3;
  color: #757087;
  height: 100%;
  justify-content: space-between;
}

.flip-card__flipper {
  border: 1px solid #D3D3D3;
}

.grant-item__title {
  line-height: 24px;
  overflow-y: hidden;
  font-weight: bold;
  margin-bottom: 15px;
}

.grant-item--list .grant-item__title {
  font-size: 1rem;
  margin-bottom: 2px;
}

.grant-item__pitch {
  height: 3.8rem;
  overflow: hidden;
  font-size: 0.875rem;
  line-height: 22px;
  text-overflow: ellipsis;
}

.grant-item__img img {
  width: 100%;
  object-fit: cover;
  // height: 100%;
  min-height: 220px;
  min-height: unquote("max( 9vh ,190px)");
}

// min-height: max( 49vh ,200px);
//     object-fit: cover;

.grant-item__logo {
  background-color: white;
  border-radius: 10px;
  display: inline-block;
  margin-top: -35px;
}

.grant-item__logo img {
  width: 65px;
  height: 65px;
  object-fit: cover;
  border-radius: 50%;
  margin: 13px;
}

.grant-item__owner-image,
.flip-card__flipper .grant__stakeholders-item {
  height: 35px;
  width: 35px;
}

.grant-item__owner-image img {
  width: 100%;
  border-radius: 50%;
}

.flip-card__flipper .grant__stakeholders-item img {
  border-radius: 50%;
  height: 50px;
  width: 50px;
  margin-bottom: 1rem;
}


.grant-item__funding {
  display: flex;
  justify-content: space-between;
}

.grant-item__funding-number {
  color: #0D0764;
}

.grant-item--list .grant-item__owner-image {
  height: 20px;
  width: 20px;
}

.grant-item__funding-label {
  color: #BBBDBF;
}

.grant-item__state-active,
.grant-item__state-completed {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  top: 1px;
}

.grant-item__state-active {
  background-color: #0FCE7C;
}

.grant-item__state-completed {
  background-color: #1A91EB;
}

.inner {
  margin-top: 2px;
  margin-left: 2px;
  position: absolute;
  width: 8px;
  height: 8px;
  background-color: white;
  border-radius: 50%
}

.grant-item__footer #CLR_banner {
  font-size: 0.8rem;
}

.grant-item__footer #CLR_banner img {
  margin-top: 6px;
}

#CLR_banner .logo {
  float: right;
}

.grant-item__info a {
  border-color: white;
  background-color: #6144FF;
  color: white;
}

.grant-item__info a:hover {
  color: white;
  text-decoration: underline;
}

.h-90 {
  height: 90% !important;
}


.progress-container {
  color: #000000;
}
.progress-container .sub-title {
  line-height: 22px;
  letter-spacing: 1px;
}

.progress-container .font-title {
  line-height: 25px;
  margin-bottom: 5px;
}

.progress-container .font-caption{
  color: #000000;
  line-height: 15px;
}

.match__round {
  font-size: 12px;
  line-height: 22px;
  letter-spacing: 1px;
  color: #069953;
  background-color: rgba(88, 254, 183, 0.1);
}

.clr-prediction.arrow_box {
  background: transparent !important;
}

.clr .font-title {
  font-size: 20px;
  line-height: 25px;
  color: #069953;
}

.clr .font-caption, .clr-prediction .amount {
  line-height: 15px;
  color: #069953;
}

.progress-container .contribution-overview {
  color: #666666;
}

.clr-prediction .predict-label, .clr-prediction .title  {
  font-size: 12px;
  line-height: 15px;
  color: #040404;
}

.clr-prediction .amount {
  margin-top: 7px;
}

.star-action:hover {
  color: var(--gc-blue-hover) !important;
}

// adding to collection modal overrides
#add-to-collection {
  font-size: 16px;

  .modal-content {
    border-radius: 0;
  }

  .modal-header {
    border: none;
  }

  #grant-collection-select {
    margin-top: 0 !important;
  }
}
