.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  max-width: 800px;
}

.separator {
  border-top-color: var(--text-light);
  border-top-style: solid;
  border-top-width: 1px;
  display: block;
  margin: 1rem 0 2rem;
}

.flex-container {
  width: 100%;
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  align-items: center;
}

.flex-container-left {
  width: 100%;
  display: -webkit-flex;
  display: flex;
  justify-content: start;
  -webkit-justify-content: start;
  align-items: left;
}

.grant-header-row {
  padding: 1rem 0rem;
  width: 100%;
}

.grant-row {
  width: 100%;
}

.grant-row-style {
  background-color: var(--gc-grey);
  border-color: var(--text-light);
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  margin-bottom: 1rem;
  padding: 1rem;
}

.cart-section {
  padding: 0rem 1rem;
}

.grant-name a {
  font-weight: bold;
  color: black;
}

.nav-link {
  padding: 0.25rem;
}

.clr-match-box {
  background-color: rgba(15, 206, 124, 0.1);
  border: 1px rgba(15, 206, 124, 0.1) solid;
  border-radius: 5px;
  padding: 0.5rem 1rem;
}

.clear-cart i {
  transform: scale(1.3);

  &:hover {
    color: #D44D6E;
  }
}

.disabled-btn-address {
  opacity: 0.8;
  border-color: #eee;
}

.black {
  color: black;
}

.medium-dark-gray {
  color: var(--gc-medium-dark-gray);
}

.darker-grey {
  color: var(--gc-darker-grey);
}

.hyperlink {
  color: var(--link-color);
  cursor: pointer;
}

.modal-backdrop {
  background-color: rgba(0, 0, 0, 0.8);
}

.vti__dropdown-item {
  height: 50px;
  display: flex;
  align-items: center;
}

.vti__dropdown {
  height: 50px;
  outline: none;
}

.vti__dropdown-list.below {
  top: 50px !important;
}

.comment-option {
  cursor:pointer !important;
  padding-left: 7px;
  padding-right: 7px;
}

.comment-option .radio-input {
  display: none;
}

.comment-option .radio-label {
  color: #9a96ac;
  font-weight: 600;
  background: white;
}

.comment-option .radio-input:checked + .radio-label,
.comment-option .radio-label:hover {
  cursor: pointer;
  background-color: #9a96ac;
  color: white !important;
}

.middle-line {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #ccc;
  line-height: 0.1em;
  margin: 10px 0 20px;
}

.middle-line span {
  background-color: white;
  padding:0 10px;
}

.logo-container {
  max-width: 80px;
}

.dropdown-share {
  .dropdown-menu {
    min-width: 2rem;
  }

  .dropdown-item {
    padding: 0.25rem 1rem
  }
}

.dropdown-checkout {

  .text-primary::after {
    content: '\f107';
    font-family: "Font Awesome 5 Pro", sans-serif;
    color: white;
    position: absolute;
    right: 1rem;
  }

  .text-primary::before {
    content: '\f86c';
    font-family: "Font Awesome 5 Pro", sans-serif;
    color: white;
    position: absolute;
    right: 2rem;
    transform: rotate(90deg) scale(1.5);
  }

  .btn-primary {
    padding-top: 0.65rem;
    padding-bottom: 0.65rem;
  }

  .text-primary {
    color: $white !important;
  }

  .dropdown-toggle-split {
    border-left-color: white;
    padding-left: 1rem;
    padding-right: 1rem;

    &:hover {
      border-left-color: white;
    }
  }

  .dropdown-menu {
    padding: 0;
    width: 100%;
    text-align: center;
  }

  .dropdown-item {
    padding-top: 0.45rem;
    padding-bottom: 0.45rem;
  }

  .dropdown-item:hover {
    background-color: var(--gc-blue);
    color: $white;

    .checkout-logo {
      color: $white;
      svg path {
        fill: $white;
      }
    }
  }
}

.donation-amount-container {
  &::after {
    content: "%";
    position: absolute;
    top: 1rem;
    right: 0.5rem;
  }
}

.suggested-donation-container {
  div:hover {
    background-color: $gc-violet-100;
    color: black;
  }

  div.text-white:hover {
    background-color: $gc-violet-400;
    color: white;
  }
}

.tooltip-inner {
  text-align: left;
  max-width: 290px !important;
  padding: 0.25rem 1rem;
}

.inputs-height {
  height: 38px;
}

.vs__dropdown-menu {
  min-width: auto;
}

#gc-grants-cart {

  .vs__dropdown-toggle {
    padding: 1px 0 6px 0px;
    min-width: 110px;
    max-height: 30px;
  }

  .v-select__selections input {
    display: none;
  }

  label.rounded-circle:hover {
    border-color: #6F3FF5 !important;
  }

  input:checked + label.rounded-circle {
    color: #6F3FF5 !important;
    border-color: #6F3FF5 !important;
  }
}
