.collection-item {
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  border: 1px solid #D3D3D3;
  background-color: var(--bg-shade-0);
}

.collection-item__header h5 {
  font-size: 1rem;
  font-weight: 600;
}

.collection-item__content {
  margin-top: 1.0625rem;
}

.collection-item__content {
  margin-top: 1.0625rem;
}

.collection-item__title {
  line-height: 24px;
  overflow-y: hidden;
  font-weight: bold;
  margin-bottom: 15px;
  font-size: var(--fs-header);
}

.collection-item__title a {
  color: #454545;
}

.collection-item__pitch {
  color: #666666;
  height: 24px;
  overflow: hidden;
  line-height: 22px;
  text-overflow: ellipsis;
}

.collection-item__owner {
  align-items: center;
  display: flex;
}

.collection-item__img--grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.collection-item__img--small-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.collection-item__img {
  background-color: var(--primary);
  overflow: hidden;
  padding: 10px 18px;
}

.collection-item__img__cover {
  background: linear-gradient(0deg, #FFFFFF, #FFFFFF), linear-gradient(0deg, #FFFFFF, #FFFFFF), linear-gradient(0deg, #FFFFFF, #FFFFFF), linear-gradient(0deg, #FFFFFF, #FFFFFF), #FFFFFF;
  border-radius: 2px;
  height: 75px;
  width: 96%;
  margin: 2px;
}

.collection-item__img__cover--small {
  background: linear-gradient(0deg, #FFFFFF, #FFFFFF), linear-gradient(0deg, #FFFFFF, #FFFFFF), linear-gradient(0deg, #FFFFFF, #FFFFFF), linear-gradient(0deg, #FFFFFF, #FFFFFF), #FFFFFF;
  border-radius: 2px;
  height: 55px;
  width: 84%;
  place-self: center;
  margin: 2px;
}

.collection-item__img img {
  width: 100%;
  object-fit: cover;
  height: 100%;
}

.collection-item__logo {
  background-color: white;
  border-radius: 10px;
  display: inline-block;
  margin-top: -35px;
}

.collection-item__logo img {
  width: 65px;
  height: 65px;
  object-fit: cover;
  border-radius: 50%;
  margin: 13px;
}

.collection-item__owner-image--cover {
  height: 60px;
  width: 60px;
  position: absolute;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
}

.collection-item__owner-image {
  height: 20px;
  width: 20px;
}

.collection-item__owner-image--large {
  height: 45px;
  width: 45px;
}

.collection-item__owner-image img, .collection-item__owner-image--cover img, .collection-item__owner-image--large img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.collection-item__info a {
  border-color: white;
  background-color: #6144FF;
  color: white;
}

.collection-item__info a:hover {
  color: white;
  text-decoration: underline;
}

.vertical-scroll {
  flex-direction: row;
  overflow-x: auto;
  flex-wrap: nowrap;
}

.submenu-option:hover {
  color: #5932C4;
  background-color: rgba(140, 101, 247, 0.1);
}
