@media (min-width: 1200px) {
  #gitcoin-grant-section .row {
    border-bottom: 1px solid #515151;
  }
}
#intercept_overlay{
  background-color: rgba(0,0,0, 0.1);
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 99999999;
  top: 0px;
  left: 0px;
}
.est_direction{
  font-weight: 900;
}

.admin_profile a,
#grant-link {
  color: #0D0764;
}

.tab_target{
  width: 100%;
}

#grants_form .nav-link {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  color: #000;
}
#grants_form .nav-link.active {
  background-color: #eee;
}
#grants_form .form__input.valid,
#grants_form .form__input.error {
  background-position: top 0.5rem right 0.5rem;
}

#grants_form input.form__input {
  height: 2.5rem;
}

.select2-container--default .select2-selection--single,
#grants_form input {
  border-color: #0D0764 !important;
}

.grant-banner {
  background-color: #F2F6F9;
  width: 100%;
}

.grant-banner .grant-title {
  font-weight: 600;
}

.grant-banner .grant-title a {
  color: #000;
}

.summary p {
  margin: 0 0 4px;
}

.summary i {
  font-size: 6px;
  position: relative;
  bottom: 2px;
}

#gitcoin-grant-section .custom {
  width: 4.25rem;
  position: relative;
  top: -10px;
}

#gitcoin-grant-section input.form__input {
  height: 46px;
  font-size: var(--fs-title);
}

#gitcoin-grant-section input.form__input.form__input.valid {
  padding: 0;
  background-image: none;
}

#gitcoin-grant-input-amount {
  width: 6rem;
  max-width: 100%;
}

#gitcoin-grant-input-amount-error {
  position: absolute;
  top: 4rem
}

#gitcoin-grant-section .form__input.error {
  background-position: top 0.75rem right 0.5rem;
  background-size: auto 1.013rem;
  padding-right: 1.8rem;
}

#gitcoin-grant-section input.form__input[type=number]::-webkit-inner-spin-button,
#gitcoin-grant-section input.form__input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

#gitcoin-grant-input-error {
  position: absolute;
  top: 4rem;
}

#gitcoin-grant-section .badge {
  padding: 16px 24px;
  cursor: pointer;
}

#gitcoin-grant-section .badge-active {
  background-color: #72AAEB;
  color: white;
}

#gitcoin-grant-section .badge-inactive {
  background: #ffffff;
  border-color: #D8D8D8;
  color: #666666;
}

.inactive {
  background-color: #E5E5E5 !important;
  color: #9B9B9B !important;
}

#gitcoin-grant-section .gitcoin-grant-summary p {
  position: relative;
  top: 10px;
}

#gitcoin-grant-section .gitcoin-grant-summary i {
  position: relative;
  top: -2px;
}

#gitcoin-grant-section .gitcoin-grant-summary p:last-child {
  top: 1.2rem;
  left: 1rem;
}

.helper-text {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -1.2rem;
}

.clr_estimate {
  background-color: white;
  border-radius: 5px;
  border: 2px solid #10cd7a;
  text-align: left;
  width: 265px;
  padding: 1rem 15px;
  position: absolute;
  top: 0px;
  left: 130px;
}

.clr_estimate.extraleft {
  left: -270px;
}

.clr_estimate:after {
  content: '';
  position: absolute;
  right: 0;
  top: 30%;
  width: 0;
  height: 0;
  border: 20px solid transparent;
  border-left-color: #10cd7a;
  border-right: 0;
  border-bottom: 0;
  margin-top: -10px;
  margin-right: -20px;
}

.clr_estimate img {
  float: right;
  width: 50px;
}

.clr_estimate h3 {
  text-align: left;
  color: white;
  font-size: 12px;
  text-transform: uppercase;
  width: 150px;
  font-weight: bold;
}

.clr_estimate h3 span {
  background-color: #10cd7a;
  border-radius: 3px;
  padding: 4px 6px;

}

.clr_estimate h4 {
  padding-top: 0px;
  text-align: left;
  color: #10cd7a;
  font-size: 10px;
  font-weight: bold;
}

.clr_estimate h4 span {
  font-size: 16px;
}

.clr_estimate p {
  text-align: left;
  font-size: 12px;
  color: #959595;
}

#phantom_fund .description i {
  font-size: 10px;
  position: relative;
  top: -1px;
}

@media (min-width:1140px) and (max-width: 1600px) {

  #gitcoin-grant-section .fee-slider,
  #gitcoin-grant-section .fee-slider-summary {
    width: 100%;
    max-width: 100%;
    flex: 100%;
    text-align: center !important;
  }

  #gitcoin-grant-section .fee-slider-summary {
    margin-bottom: 1rem !important;
  }
}

@media (max-width: 1199.98px) {
  .clr_estimate {
    display: none;
  }
}
