.infinite-more-link{
  display: none;
}
#negative_fund,
#flag{
  background-color: #F9006C;
  color:white;
  border-radius: 3px;
  padding: 5px;
}

#stats_history td{
  padding: 5px;
  border: 1px #ddd solid;
}
#stats_history tr.table_header{
  background-color: #ddd;
  font-weight: bold;
}

#negative_fund:hover,
#flag:hover{
  background-color: #F9309C;
  font-weight: bold;
  text-decoration: none;
}
.announce {
  text-align: center;
  border-radius: 5px;
  background-color: #ccc;
  padding: 3px;
  position: relative;
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: auto;
  margin-right: auto;
}

.announce:after {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  width: 0;
  height: 0;
  border: 20px solid transparent;
  border-top: 0;
  border-left: 0;
  margin-left: -10px;
  margin-top: -20px;
  border-bottom-color: #ccc !important;
}

.announce a {
  color: black;
  text-decoration:underline;
}

.announce h4 {
  border-bottom: 3px solid #c7c7c7;
}

.announce5:hover h4 {
  border-bottom: 3px solid #ccc !important;
}

.announce5:hover:after {
  border-bottom-color: #def390 !important;
}

.announce5:hover {
  background-color: #def390 !important;
}

.announce7:hover h4 {
  border-bottom: 3px solid #b59552 !important;
}

.announce7:hover:after {
  border-bottom-color: #bc9956 !important;
}

.announce7:hover {
  background-color: #bc9956 !important;
}

.announce4:hover h4 {
  border-bottom: 3px solid #fce5ac !important;
}

.announce4:hover:after {
  border-bottom-color: #fce5ac !important;
}

.announce4:hover {
  background-color: #fce5ac !important;
}

.announce_container .announce{
  cursor: text;
}
.announce_container img{
  filter: grayscale(100%);
}
.announce_container:hover img{
  filter: grayscale(0%);
}
.announce3:hover h4 {
  border-bottom: 3px solid #d0f9f4 !important;
}

.announce3:hover:after {
  border-bottom-color: #d0f9f4 !important;
}

.announce3:hover {
  background-color: #d0f9f4 !important;
}

.announce2:hover h4 {
  border-bottom: 3px solid #a4affc !important;
}

.announce2:hover:after {
  border-bottom-color: #a4affc !important;
}

.announce2:hover {
  background-color: #a4affc !important;
}

.announce6:hover h4 {
  border-bottom: 3px solid #fde9ed !important;
}

.announce6:hover:after {
  border-bottom-color: #fde9ed !important;
}

.announce6:hover {
  background-color: #fde9ed !important;
}


.announcea a{
  color: black;
  font-weight: bold;
}
.mininavcategory a{
  color: black;
}
#skip{
  position: fixed;
  bottom: 50px;
  right: 50px;
  cursor: pointer;
  font-size: 50px;
  color: #bbb;
  z-index: 99999;
}

#skip:hover{
  color: #aaa;
}
.announcea p{
  background-color: #ccc;
}
.right-announce2 {
  margin-top: 5px;
  padding-top: 0px;
  text-align: right;
}

.right-announce2 img {
  width: 100px;
}

.right-announce2 p {
  border-radius: 5px;
  padding: 5px;
  margin-top: 10px;
}
.right-announce2:hover p {
  background-color: #d9d8e7;
}

.right-announce4 {
  margin-top: 5px;
  padding-top: 0px;
  text-align: right;
}
.right-announce4:hover p {
  background-color: #d9d8e7;
}

.right-announce4 img {
  width: 100px;
}

.right-announce4 p {
  border-radius: 5px;
  background-color: #da7474;
  padding: 5px;
  margin-top: 10px;
}

.right-announce3 {
  text-align: left;
}

.right-announce3:hover p {
  background-color: #ffde55;
}

.clr-prediction img {
  height: 1.5rem;
  position: relative;
  top: -3px;
}

.predict-label,
.clr-prediction .title {
  color: #666666;
  font-size: 13px;
}

.clr-prediction .amount {
  font-size: 13px;
}

.clr-prediction .title {
  border-bottom: 1px solid #0FCE7C;
  padding: 0.65rem 1rem;
}

.header {
  background-size: cover;
}

.header .embed-responsive {
  border-radius: 3px;
}

.white-icon {
  width: 14px;
  height: 20px;
}

.button {
  font-weight: 500;
}

#search_form button {
  border: none;
  background: transparent;
  right: 1rem;
  top: 0.5rem
}

#keyword {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.token_symbol {
  font-weight: 600;
}

.progress {
  background-color: #D8D8D8;
  border-radius: 5px;
  height: 0.5rem;
}

.ui-tooltip {
  padding: 0 !important;
  border-radius: 0.25rem !important;
}

.progress-container {
  color: #0D0764;
}

.progress .progress-bar {
  background-color: #0D0764;
  height: auto;
}

.progress-bar.progress-bar--cancel {
  background-color: #D0021B;
  position: relative;
}

.progress--small {
  height: 7px;
}

.progress--small .progress-bar {
  background-color: #0ECF7C;
}

.grant-item__owner-handle {
  color: #9B9B9B;
  line-height: 18px;
}

.grant-item__member-handle span,
.grant__stakeholders-item span {
  color: #000;
}

.grant-item__owner-handle span,
.grant-item__owner-handle a,
.progress-text span {
  color: #6F3FF5;
}

.progress-text p {
  font-size: 14px;
}

/* Grants Contribution */
.contribution {
  position: absolute;
  top: -50px;
  left: 100%;
  text-align: left;
  padding: 0 10px;
}

.contribution:before {
  content: "";
  position: absolute;
  left: 0;
  z-index: 100;
  top: 0;
  width: 1px;
  height: 100%;
  background: #979797;
}

.contribution span {
  font-size: 18px;
}

.contribution p {
  font-size: 14px;
  color: #BBBDBF;
}

.grants-results{
  text-align: center;
}
.grant-item {
  background-color: #fff;
}

.grants-hero.white a {
  color: white;
}

.title-round{
  color: #25E899 !important;
}


/* Tabs */
.ui-widget.ui-widget-content.ui-tabs {
  background: transparent !important;
  box-shadow: none;
}

.ui-tabs-nav {
  background: transparent;
  border: none;
}

.ui-tabs .ui-tabs-nav li {
  background: transparent;
  border: none;
  border-bottom: 1px solid #BBBDBF;
  margin: 0;
  width: 25%;
}

.ui-tabs .ui-tabs-nav li .ui-tabs-anchor {
  color: #BBBDBF;
  padding: 0.75em 2.5em;
  width: 100%;
  text-align: center;
}

.ui-tabs .ui-tabs-nav li.ui-tabs-active .ui-tabs-anchor {
  border-bottom: 3px solid #0D0764;
  color: #0D0764;
}

.ui-state-active, .ui-widget-content .ui-state-active {
  border: none !important;
  background: transparent !important;
}

#top-filters .select2-container, #search_form .select2-container {
  width: auto !important;
  font-weight: normal;
  text-align: left;
  min-width: 9rem;
  font-size: 12px;
}

#top-filters .select2-network-container, #search_form .select2-network-container {
  width: 5rem !important;
}

#top-filters .select2-container, #search_form .network-container .select2-container {
  min-width: 5rem;
}

#top-filters .select2-selection, #search_form .select2-selection {
  background: none;
  outline: none;
  border: none !important;
  color: var(--gc-blue);
}

#top-filters .select2-selection span, #search_form .select2-selection span {
  color: #6F3FF5;
  font-weight: bold;
}

.grants_type_nav {
  border-bottom: none;
  line-height: 37px;
}

.grants_keyword_nav a.selected:hover {
  border-color: #6F3FF5;
}

.grants_nav a {
  color: #333333;
  margin-right: 30px;
  cursor: pointer;
  max-width: 185px;
}


.grants-search .select2-selection__arrow {
  top: 0 !important;
}

.grants_nav .selected {
  color: #3f24f9 !important;
}

.arrow_box {
  position: relative;
  border: 1px solid #0FCE7C;
  border-radius: 3px;
}

.arrow_box:after, .arrow_box:before {
  bottom: 100%;
  left: 15%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.arrow_box:after {
  border-color: rgba(255, 255, 255, 0);
  border-bottom-color: #fff;
  border-width: 9px;
  margin-left: -31px;
}

.arrow_box:before {
  border-color: rgba(16, 205, 122, 0);
  border-bottom-color: #0FCE7C;
  border-width: 11px;
  margin-left: -33px;
}

.grant-partners {
  background: linear-gradient(140deg, #659998 0%,#659998 0%,#659998 0%,#97dbca 37%,#97dbca 37%,#cbf3e0 98%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  animation: gradient 40s ease infinite;
  border-radius: 3px;
}

.media_grants .grant-partners {
  background: linear-gradient(11deg, #e99907 0%,#207cca 63%,#2989d8 99%,#110f22 100%,#2989d8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
.tech_grants .grant-partners {
  background: linear-gradient(85.75deg, #03008D -17.8%, #000000 139.56%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
.grant-partners h2 {
  letter-spacing: 3px;
}

.grant-partners img {
  border-radius: 50px;
  width: 2rem;
}

.grant-partners .nav-tabs {
  border: none;

}

.grant-partners .nav-link,
.grant-partners .nav-tabs .nav-line.active  {
  color: white;
  cursor: pointer;
}

.grant-partners .nav-link,
.grant-partners .nav-link:hover {
  border: none;
}

.grant-partners .nav-tabs .nav-line.active  {
  font-weight: 700;
}

.grant-partners .partner-details-container {
  padding: 10px;
  display: inline-block;
}

.grant-partners .partner-details {
  display: inline-block;
  vertical-align: middle;
}

.grant-partners .partner-amount {
  width: max-content;
}

.grant-partners .tab-content > .active {
  display: inline-block;
}

.total_active_fund p {
  color: #25E899;
  font-size: 3rem;
  font-weight: 650;
}

/* sidebar_search.css */

.subheading {
  margin-bottom: 0 !important;
  letter-spacing: 2px;
}

.grants_hero_img {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 0;
  padding-top: calc(414 / 2000 * 100%); /* (img-height / img-width * container-width) */
}

.grant-description h1{
  font-size: 1.5rem;
}

.grant-description h2{
  font-size: 1.3rem;
}

// .grant-description h3{
//   font-size: 1.2rem;
// }

.grant-description h4{
  font-size: 1.1rem;
}

.grant-description h5{
  font-size: 1rem;
}

.grant-description h6{
  font-size: 1rem;
}

@media (max-width: 1100px) {
  .grants_hero_img .container{
    min-height: 350px;
  }
}

@media (max-width: 991.98px) {
  .grants_hero_img .container{
    min-height: 270px;
  }
  .hide_filters {
    height: 0;
    display: none;
  }

  #sidebar_container form#search_form {
    display: inline-block;
    width: 95%;
  }
}

/* sidebar_search.css */

@media (min-width: 1200px) {
  .header .container {
    max-width: 1240px;
  }

  .sort_container {
    top: 0;
  }
}

@media (max-width: 700px) {
  .grants_hero_img .container{
    min-height: 220px;
  }
}


@media (max-width: 540px) {
  .grants_hero_img .container{
    min-height: 150px;
  }
}


@media (max-width: 390px) {
  .grants_hero_img .container{
    min-height: 130px;
  }
  #search_form .sort_container .select2-container {
    width: 200px !important;
  }
}

@-webkit-keyframes gradient {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}

@-moz-keyframes gradient {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}

@keyframes gradient {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}

.collapsed > .when-open,
.not-collapsed > .when-closed {
  display: none;
}

// .banner-sponsors {

// }

.banner-sponsors-list {
  gap: 2%;

  a:first-child img {
    width: 170px;
  }
  img {
    width: 90px;
  }
}


.vselect-clean .vs__search::placeholder,
.vselect-clean .vs__dropdown-toggle,
.vselect-clean .vs__dropdown-menu {
  border: none;
  border-radius: 10px;
}

.vselect-clean .vs__dropdown-menu li {
  padding: 8px;
  padding-right: 16px;
  padding-left: 16px;
}

.vselect-clean .vs__dropdown-menu .vs__dropdown-option--highlight {
  background: #EFEBFD;
  color: black;
}

.vselect-clean hr {
  margin-top: 0;
}

.rounded-toggle .vs__dropdown-toggle {
  border-radius: 5rem;
  max-width: 6rem;
  font-weight: 600;
  padding: 2px ​0 7px 0px;

  .vs__actions {
    padding: 0.45rem 0.5rem 0 0;
  }

  .v-select, .v-select * {
    height: 2rem;
  }

}

.rounded-toggle  {
  .vs__dropdown-toggle .vs__selected {
    margin: 0;
    padding-left: 10px;
  }

  svg {
    transform: scale(0.7);
    fill: black;
  }
}

.vselect-clean .vs__clear,
.vselect-clean .vs__open-indicator {
  transform: scale(0.8);
}

#grant-background-image-mount-point {
  flex: 0 0 100%!important;
  max-width: 100%!important;
}

.grant-round-selector-row:first-of-type {
  border-bottom: 1px solid rgb(226, 224, 231);
  border-right-width: 0px;
}

@media only screen and (min-width: 768px) {
  .grant-round-selector-row, .grant-round-selector-row:first-of-type {
    min-height: 140px;
    max-height: 500px;
    border-bottom: 0px;
    border-right-width: 1px;
  }

  .grant .side-cart-open #sidebar_container + div {
    padding-right: 33.333%!important;
  }

  .grant .list-view span.btn-cart-action {
    display: none;
  }

  .grant .list-view .add-to-collection {
    position: absolute;
    bottom: 0px;
    right: 0px;
  }
}

.transaction_text {
  font-size: var(--fs-body);
  @include media-breakpoint-down(md) {
    font-size: var(--fs-subheader);
  }
}
.processing_text {
  font-size: 1.2rem;
  @include media-breakpoint-down(md) {
    font-size: var(--fs-subheader);
  }
}

.claimed_text {
  font-size: 1.2rem;
  @include media-breakpoint-down(md) {
    font-size: var(--fs-subheader);
  }
}
.returned_text {
  font-size: 1.2rem;
  @include media-breakpoint-down(md) {
    font-size: var(--fs-subheader);
  }
}

@media only screen and (min-width: 992px) {
  .grant .side-cart-open #sidebar_container + div {
    padding-right: 25%!important;
  }

  .grant .list-view span.btn-cart-action {
    display: inline-block;
  }

  .grant .list-view .side-cart-open span.btn-cart-action {
    display: none;
  }
}

@media only screen and (min-width: 1200px) {
  .grant .side-cart-open .col-xl-4 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .grant .list-view .side-cart-open span.btn-cart-action {
    display: inline-block;
  }
}

@media only screen and (min-width: 1700px) {
  .grant .side-cart-open .col-xl-4 {
    flex: 0 0 33.333%;
    max-width: 33.333%;
  }
}

