
#hall-of-fame {
  font-family: 'Libre Franklin', sans-serif;
  color: $gc-grey-500;
}

.hof-bg-violet-500 {
  background-color: $gc-violet-500;
}

#hof-total-donations {
  color: $gc-violet-400;
}

#hof-banner-text {
  color: $gc-grey-400;
  font-size: 20px;
}

#hall-of-fame h2 {
  font-size: 32px;
  margin-bottom: 0px;
}

#hall-of-fame h3 {
  font-size: 24px;
  margin-bottom: 0px;
}

#hof-matching-partners {
  color: $gc-grey-500;
}

#hof-donors {
  color: white;
}

#hof-graduated-grantees {
  color: $gc-grey-500;
}

#hof-graduated-description {
  color: $gc-grey-400;
  font-size: 16px;
}

.hof-grantee-name {
  font-size: 20px;
}

.hof-grantee-funded-by {
  font-size: 14px;
  color: $gc-grey-400;
}

.hof-grantee-funded-by-name {
  font-size: 14px;
}

.hof-grantee-amount {
  font-size: 20px;
}

.hof-grantee-raised-on {
  font-size: 14px;
  color: $gc-grey-400;
}

.hof-grantee-logo {
  max-width: 125px;
  max-height: 125px;
}
