@import "../lib/bootstrap/functions";
@import "../lib/bootstrap/variables";
@import "../lib/bootstrap/mixins";

#hall-of-fame {
  font-family: 'Libre Franklin', sans-serif;
  color: $gc-grey-500;
}

.hof-bg-violet-500 {
  background-color: $gc-violet-500;
}

.text-violet-400 {
  color: $gc-violet-400;
}

#hof-banner-text {
  font-size: 20px;
}

#hall-of-fame h2 {
  font-size: 24px;
  margin-bottom: 0px;
}

@include media-breakpoint-up(sm) {
  #hall-of-fame h2 {
    font-size: 32px;
  }
}

#hall-of-fame h3 {
  font-size: 24px;
  margin-bottom: 0px;
}

#hall-of-fame h4 {
  font-size: 20px;
  margin-bottom: 0px;
}

#hof-graduated-description {
  font-size: 16px;
}

.hof-grantee-logo {
  max-width: 65px;
  max-height: 65px;
}

@include media-breakpoint-up(sm) {
  .hof-grantee-logo {
    max-width: 125px;
    max-height: 125px;
  }
}

.hof-grantee-border {
  border: 1px solid $gc-grey-100;
  box-sizing: border-box;
}

.hof-letter {
  max-width: 350px;
  max-height: 200;
}

