                            <div class="w-100" style="text-align: center;">
                                <ol class="bounty_nav">
                                    <li class="{% if active_item == 1 %}active{%endif%} submit" >
                                        1. Submit{% if past_tense %}ed{%endif%}
                                    </li>
                                    <li class="{% if active_item == 2 %}active{%endif%} fulfill">
                                        2. Fulfill{% if past_tense %}ed{%endif%}
                                    </li>
                                    <li class="{% if active_item == 3 %}active{%endif%} accept">
                                        3. Accept{% if past_tense %}ted{%endif%}
                                    </li>
                                </ol>
                            </div>
