<div id="sidebar-chat-app">
  <a class="chat_icon dropdown-toggle-no-caret nav-link" href="javascript:" role="button" v-b-toggle.sidebar-chat>
    <i class="fas fa-comments fa-fw"></i>
    <span id="chat-notification-dot" class="notification__dot"></span>
  </a>
  <b-sidebar class="chat-sidebar" v-cloak id="sidebar-chat" lazy no-header-close no-header backdrop width="92vw">
    <div class="chatWrapper">
      <div class="iframe-embed-loading text-center justify-content-center">
        <div class="rhombus-spinner mt-5 pt-5">
          <div class="rhombus child-1"></div>
          <div class="rhombus child-2"></div>
          <div class="rhombus child-3"></div>
          <div class="rhombus child-4"></div>
          <div class="rhombus child-5"></div>
          <div class="rhombus child-6"></div>
          <div class="rhombus child-7"></div>
          <div class="rhombus child-8"></div>
          <div class="rhombus big"></div>
        </div>
        <a href="javascript:" class="btn btn-outline-gc-green mx-auto chat-login-button d-none">You're not logged into Gitcoin Chat, click Here</a>
      </div>
      <iframe class="chat-embed" onload="document.chatSocketTest(this);" frameborder="0" :src="chatURL" allowfullscreen style="display:none;"></iframe>
    </div>
  </b-sidebar>
</div>

