<div class="tooltip-info">
  <p class="font-subheader">Possible Status</p>
  <div class="font-body">
    <div class="row">
      <div class="col-1 num">1</div>
      <div class="col-11">
        <strong>Open:</strong> A funded bounty is available for anyone to work on.
      </div>
    </div>
    <div class="row">
      <div class="col-1">2</div>
      <div class="col-11">
        <strong>Work Started:</strong> Work has been started by at least one person.
      </div>
    </div>
    <div class="row">
      <div class="col-1">3</div>
      <div class="col-11">
        <strong>Work Submitted:</strong> Completed work has been submitted by for review.
      </div>
    </div>
    <div class="row">
      <div class="col-1">4</div>
      <div class="col-11">
        <strong>Work Done:</strong> The submitted project has been accepted and the funds have been paid.
      </div>
    </div>
  </div>
  <p class="font-subheader">Cancellation Status</p>
  <div class="font-body">
    <div class="row">
      <div class="col-1">1</div>
      <div class="col-11">
        <strong>Expired:</strong> Work was not completed by the expiration date.
      </div>
    </div>
    <div class="row">
      <div class="col-1">2</div>
      <div class="col-11">
        <strong>Canceled:</strong> A funded bounty was  cancelled by the owner of the project.
      </div>
    </div>
  </div>
</div>
