Possible Statuses: 
<ol>
    <li>
        <strong>Open</strong>: Bounty is funded, and available for a new developer to come tackle. 
    </li>
    <li>
        <strong>Work Started</strong> Bounty is funded, Coding has been started by at least one developer.
    </li>
    <li>
        <strong>Work Submitted</strong>: Bounty is funded, Code has been completed, and bounty hunters have *submitted* a claim
    </li>
    <li>
        <strong>Work Done</strong>: The funder has accepted the work submission.  The staked funds have been paid out.
    </li>
</ol>
Cancellation Statuses:
<ol>
    <li>
        <strong>Expired</strong>: Bounty was not completed by expiration date and has expired.
    </li>
    <li>
        <strong>Canceled</strong>: Bounty was not completed, and was canceled by the bounty submitter.
    </li>
</ol>
