                    <div id="unlock_metamask_error" class="blocking_error" style="display: none">
                        {% include 'shared/bounty_nav.html' with active_item=1 %}
                        <img src="/static/v2/images/prime.png">
                        <br>
                        <h3>You're almost there!</h3>
                        <p>
                            In order to continue, you'll need to unlock metamask. 
                        </p>
                        <p>
                            Please unlock Metamask and refresh the page.
                        </p>
                    </div>