  <div class="modal fade" id="createTokenSuccessModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" style="max-width: 576px;" role="document">
    <div class="modal-content">
      <form class="modal-body my-4 mx-5 py-3">
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
        <h5 class="modal-title font-weight-semibold text-center mb-5">Congratulations!</h5>

        <div>
          <div class="text-center mb-4">
            You just created <span class="font-weight-semibold">[[ newPToken.symbol ]]</span>
          </div>
          <div class="text-center mb-4">
            View the transaction on <a id="success-tx" href="#" target="_blank">Etherscan</a>.
          </div>
          <div class="text-center mb-4">
            Manage incoming requests via your Dashboard.
          </div>
        </div>

        <div class="text-center">
          <button type="button" class="btn btn-lg btn-primary mb-3 px-5" data-dismiss="modal">
            Close
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
