{% load static i18n %}
<div class="featured-bounties my-4" style="display: none;">
    <div class="">
      <h3 class="featured-bounties__title">
        Featured Bounties
        <span class="status-open">
          <i class="g-icon g-icon__dot-circle"></i>
          Ready to work
        </span>
      </h3>
    </div>

    <div id="carouselExampleInterval" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active" data-interval="10000">
          <div class="row justify-content-center" id="featured-card-container">
          </div>
        </div>
      </div>
      <div class="carousel-control-small">
        <a class="carousel-control-prev" href="#carouselExampleInterval" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleInterval" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  </div>
