#quest-setup{

  position: fixed;
  top: 1em;
  right: 1em;

  div{

    cursor: pointer;

    svg{
      display: block;
      background-color: none;
      stroke: var(--purple_light);
      stroke-width: 2;
      stroke-miterlimit: 5;
      width: 48px;
      height: 48px;
      fill: none;
      pointer-events: none;
    }

    &:hover{
      svg{
        stroke: var(--white);
      }
		
    }	

  }


}