.quest-claim{
	
	justify-self: center;
	align-self: center;


	.claim{
		max-width: 600px;
		padding: 2em;
		text-align: center;
		animation: menu-background 4s ease-in-out infinite;  

		p{
			margin-bottom: initial;
		}

		.claimAdress{
			width: 100%;
		}

		div.grid{
			display: grid;
			grid-template-columns: 1fr auto;
			grid-row-gap: 0.2em;
			
			font-family: 'Space Mono', monospace;
			line-height: 1.5em;
	
			span.description{
				justify-self: start;
				text-align: left;
			}

			span.token{
				justify-self: end;
				text-align: right;
			}

			&.total{
				margin-top: 0.5em;
				padding-top: 0.5em;
				border-top: 1px solid var(--smoke);
				color: var(--white);
				font-weight: 600;
			}

		}


	}

}





@media #{$phone} { 
	.quest-claim{
		.claim{
			padding: 2em 1em;
			margin: 1em;
		}
	}
}







