/* Basic */

body {
  background-image: url('/static/onepager/images/bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
  background-attachment: fixed;
}

body:after {
  display: none;
}

/* List */

ul.icons li a:before {
  color: #c8cccf;
}

ul.icons li a:hover:before {
  color: #ff7496;
}

/* Wrapper */

#wrapper {
  text-align: center;
}

/* Main */

#main {
  display: inline-block;
}
