.button {
  border: none;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  padding: 5px 20px;
  border: 1px solid transparent;
}

.button:hover {
  color: #fff;
  text-decoration: none;
}

.button--primary.button.disabled,
.button--primary.button.disabled:hover {
  background-color: #D8D8D8;
  color: #666666;
  box-shadow: none;
}

.button--primary {
  background-color: #3E00FF;
}

.button--primary:hover {
  background-color: var(--gc-blue-hover);
}

.button--secondary {
  color: var(--gc-blue);
  border: 1px solid var(--gc-blue);
}

.button--secondary:hover {
  color: var(--gc-blue-hover);
  border-color: var(--gc-blue-hover);
}

.button--primary-o {
  background-color: #fff;
  border: 1px solid #0D0764;
  color: #0D0764;
  padding: 9px 18px;
}

.button--primary-o:hover {
  color: #0D0764;
}

.button--warning {
  background-color: #ca001a;
}

.button--full {
  width: 100%;
}

.button--warning:hover {
  background-color: #d43247;
}

.button__small {
  padding: 5px 10px;
  font-size: 12px;
}
