.button {
  border: none;
  border-radius: 2px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  font-weight: 300;
  padding: 10px 20px;
  -webkit-appearance: none;
}

.button:hover {
  color: #fff;
  text-decoration: none;
}

.button:disabled,
.button:disabled:hover,
.button--primary.button.disabled,
.button--primary.button.disabled:hover {
  background-color: rgba(79, 79, 79, 0.26);
  box-shadow: none;
  color: rgba(0, 0, 0, 0.26);
  border-color: rgba(0,0,0, 0.3);
}

.button--primary {
  background-color: #0D0764;
}

.button--primary:hover {
  background-color: #280076;
}

.button--primary:active {
  background-color: #1B0050;
}

.button--primary-o {
  background-color: #fff;
  border: 1px solid #0D0764;
  color: #0D0764;
  padding: 9px 18px;
}

.button--primary-o:hover {
  color: #0D0764;
}

.button--warning {
  background-color: #ca001a;
}

.button--warning:hover {
  background-color: #d43247;
}

.button__small {
  padding: 5px 10px;
  font-size: 12px;
}