.form__checkbox {
  display: flex;
  position: relative;
}

.form__checkbox input {
  position: absolute;
  opacity: 0;
}

.form__checkbox .form__label {
  cursor: pointer;
}

.form__checkbox .form__label::before {
  background: #fff;
  border: 1px solid #dbdbdb;
  border-radius: 2px;
  content: '';
  display: inline-flex;
  justify-content: center;
  height: 18px;
  margin-right: 10px;
  vertical-align: text-top;
  width: 18px;
}

.form__checkbox input.error ~ .form__label,
.form__checkbox input.error ~ .form__label a {
  color: #D50000;
}

.form__checkbox input:disabled ~ .form__label::before {
  background-color: #d0d0d0 !important;
  border-color: #d0d0d0 !important;
  cursor: not-allowed;
}

.form__checkbox label.error {
  display: none !important;
}

.form__checkbox input:checked ~ .form__label::before {
  background-color: #3E00FF;
  border-color: #3E00FF;
  content: url('/static/v2/images/check.svg');
}
