.form__drop {
  align-items: center;
  background-color: #F2F6F9;
  border: 1px dashed #9B9B9B;
  border-radius: 3px;
  cursor: pointer;
  display: flex;
  margin-top: 35px;
  justify-content: center;
  padding: 24px;
  position: relative;
}

.form__drop.is-dragging {
  border: 1px dashed #0D0764;
}

.form__drop:hover {
  cursor: pointer;
}

.form__drop span {
  color: #9B9B9B;
  cursor: pointer;
  font-size: 14px;
  pointer-events: none;
}

.form__drop input[type="file"] {
  cursor: pointer;
  height: 100%;
  font-size: 0;
  margin: 0;
  padding: 0;
  opacity: 0;
  outline: none;
  position: absolute;
  width: 100%;
}
