.form__intro {
  margin: 40px 0;
}

.form__intro h1 {
  font-size: 24px;
  letter-spacing: 0;
  text-transform: none;
}

.form__group {
  display: flex;
}

.form__group-item {
  height: 37px;
}

.form__img {
  margin-top: 70px;
}

.form__group-horizontal {
  width: 100%;
  margin-bottom: 12px;
}

.form__amount-wrapper {
  margin-right: 1rem;
}

.form__group-item {
  flex: 1;
  position: relative;
}

.form__group-item:not(:last-of-type) {
  margin-right: 1rem;
}

.form__flex-group {
  display: flex;
}

.form__flex-item {
  flex: 1;
}

.form__footer {
  padding-top: 1.5rem;
  margin-bottom: 3rem;
}

.form__footer a {
  font-weight: 500;
}

.form__footer button {
  margin-bottom: .5rem;
}

.form__footer--right {
  text-align: right;
}

@media (max-width: 540px) {
  .form__group {
    flex-direction: column;
  }

  .form__group-item {
    margin-bottom: 1em;
    width: 100%;
  }
}

@media (min-width: 992px) {
  .form__footer a {
    position: relative;
    top: 10px;
  }

  .form__footer button {
    float: right
  }
}
