.form__group {
  display: flex;
}

.form__group__item {
  flex: 1;
}

.form__group__item:not(:last-of-type) {
  margin-right: 1rem;
}

.form__flex-group {
  display: flex;
}

.form__flex-item {
  flex: 1;
  margin-left: 1rem;
}

.form__footer {
  margin-top: 1.5rem;
  margin-bottom: 3rem;
}

.form__footer button {
  margin-bottom: .5rem;
}

.form__footer--right {
  text-align: right;
}
