.form__input {
  background-color: #FFF;
  border-radius: 2px;
  border: 1px solid #D3D3D3;
  font-size: 14px;
  padding: 5px 7px;
  width: 100%;
  letter-spacing: -0.09px;
  outline: none;
  height: 40px;
}

textarea.form__input {
  height: auto;
}

.form__input-lg {
  font-size: 1rem;
}

.form__input_lg {
  padding: 8px;
}

.form__input + label.error,
.cat-error .error,
.form__select2 .error {
  color: #D50000;
  margin-bottom: 0;
  display: block;
  font-size: 12px;
}

.form__input.error {
  padding-right: 2.8rem;
  color: #D50000;
  background-image: url('/static/v2/images/close-red.png');
  background-repeat: no-repeat;
  background-size: auto 1.313rem;
  background-position: top 0.5rem right 0.5rem;
}

.form__input.valid {
  padding-right: 2.8rem;
  background-image: url('/static/v2/images/success.png');
  background-repeat: no-repeat;
  background-size: auto 1.313rem;
  background-position: top 0.5rem right 0.5rem;
}

.form__input::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.38);
}

.form__input::-moz-placeholder {
  color: rgba(0, 0, 0, 0.38);
}

.form__input:-moz-placeholder {
  color: rgba(0, 0, 0, 0.38);
}

.form__input:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.38);
}

.form__input:disabled {
  background-color: #EAEAEA;
  color: #9B9B9B;
  border-color: #EAEAEA;
}

.form__input-help {
  color: #868e96;
  font-size: 12px;
}

.form__input-help--dynamic {
  margin-top: 5px;
  display: block;
}

.amount_container{
  height: 100px;
}
