.form__input {
  background-color: #fff;
  border-radius: 3px;
  border: 1px solid #0D0764;
  font-size: 14px;
  font-family: 'Muli', sans-serif;
  padding: 5px 7px;
  width: 100%;
}

.form__input_lg {
  padding: 8px;
}

.form__input + label.error {
  color: #D50000;
  margin-bottom: 0;
  margin-top: .5rem 0;
  display: block;
  font-size: 12px;
}

.form__input.error {
  color: #D50000;
  background-image: url('/static/v2/images/close-red.png');
  background-repeat: no-repeat;
  background-size: auto 1.313rem;
  background-position: top 0.4375rem right 1.25rem;
}

.form__input.valid {
  background-image: url('/static/v2/images/success.png');
  background-repeat: no-repeat;
  background-size: auto 1.313rem;
  background-position: top 0.4375rem right 1.25rem;
}

.form__input::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.38);
}

.form__input::-moz-placeholder {
  color: rgba(0, 0, 0, 0.38);
}

.form__input:-moz-placeholder {
  color: rgba(0, 0, 0, 0.38);
}

.form__input:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.38);
}

.form__input:disabled {
  background-color: #EAEAEA;
  border: 1px solid #979797;
  color: #9B9B9B;
}

.form__input-help {
  color: #868e96;
  font-size: 12px;
  font-family: 'Muli', sans-serif;
}
.form__input-help--dynamic {
  margin-top: 5px;
  display: block;
}
.amount_container{
  height: 100px;
}