.form__radio {
  position: relative;
  width: 100%;
}

.form__radio input {
  position: absolute;
  opacity: 0;
}

.form__radio label {
  cursor: pointer;
  padding-left: 30px;
  width: 100%;
}

.form__radio input:checked + label::after {
  background-color: #0D0764;
  border: 4px solid #fff;
  transform: scale(0.7);
}

.form__radio label::before,
.form__radio label::after {
  align-items: center;
  position: absolute;
  background: #fff;
  border: 2px solid #D2D2D2;
  border-radius: 100%;
  content: '';
  display: inline-flex;
  left: 0;
  justify-content: center;
  height: 18px;
  transition: background 0.25s linear;
  top: 2px;
  width: 18px;
}

.form__radio label::before {
  background-color: #0D0764;
  border: 2px solid #0D0764;
}
