@media (min-width: 1313px) {
  :root {
    --device: "desktop";
  }
}
@media (max-width: 1312px) {
  :root {
    --device: "laptop";
  }
}
@media (max-width: 992px) {
  :root {
    --device: "tablet";
  }
}
@media (max-width: 688px) {
  :root {
    --device: "phone";
  }
}
:root {
  --cosmicteal: #25E899;
  --darkcosmicteal: #0FCE7C;
  --stardustyellow: #FFCE08;
  --polarisblue: #3E00FF;
  --vinuspurple: #8E2ABE;
  --regulusred: #F9006C;
  --milkywayblue: #15003E;
  --starwhite: #FFFFFF;
  --athensgrey: #F8F9FA;
  --alto: #DDDDDD;
  --silver: #AAAAAA;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
  width: 100%;
}

html {
  font-family: "Mulish", sans-serif;
}

body {
  background-color: var(--milkywayblue);
  color: var(--starwhite);
}

html {
  font-family: "Mulish", sans-serif;
  font-kerning: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

h1 {
  font-size: 250%;
  font-weight: 800;
  line-height: 1.3em;
  margin-bottom: 1rem;
}

h2 {
  font-size: 120%;
  font-weight: 800;
  line-height: 1.3em;
  margin-bottom: 1rem;
}

p {
  font-size: 100%;
  font-weight: 400;
  line-height: 1.6em;
  margin-bottom: 1.6rem;
}

@media (min-width: 1313px) {
  html {
    font-size: 130%;
  }
}
@media (max-width: 1312px) {
  html {
    font-size: 120%;
  }
}
@media (max-width: 992px) {
  html {
    font-size: 110%;
  }
}
@media (max-width: 688px) {
  html {
    font-size: 100%;
  }
}
#logo {
  position: absolute;
  top: 3em;
  left: 3em;
}
#logo img {
  width: 200px;
}

@media (max-width: 688px) {
  #logo {
    top: 2em;
    left: 2em;
  }
  #logo img {
    width: 150px;
  }
}
a.btn, button.btn {
  display: inline-grid;
  grid-template-columns: auto;
  grid-gap: 0.7em;
  padding: 1em 1.5em;
  border-radius: 3px;
  cursor: pointer;
  margin-bottom: 1rem;
  color: var(--starwhite);
  background-color: var(--polarisblue);
  text-decoration: none;
  border: 0;
  outline: 0;
  font-size: 100%;
  filter: brightness(95%);
  /* enhance to a 2col grid for icon */
}
a.btn:hover, button.btn:hover {
  filter: brightness(100%);
}
a.btn span, button.btn span {
  margin: auto;
  text-decoration: none;
}
a.btn.icon, button.btn.icon {
  grid-template-columns: auto auto;
}
a.btn.icon img, button.btn.icon img {
  width: 27px;
  height: 32px;
  margin: auto;
}

section.grid {
  margin-top: 12em;
}
section.grid h1 {
  text-align: center;
  margin-bottom: 3rem;
}
section.grid div.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 3em;
}
section.grid div.grid div {
  align-self: center;
  grid-column: 1;
  grid-row: 1;
  margin-left: 3em;
  margin-right: 3em;
  max-width: 600px;
}
section.grid div.grid figure {
  align-self: center;
  grid-column: 2;
  grid-row: 1;
}
section.grid div.grid.reverse div {
  grid-column: 2;
}
section.grid div.grid.reverse figure {
  grid-column: 1;
}

@media (max-width: 688px) {
  section.grid div.grid {
    grid-template-columns: 1fr;
  }
  section.grid div.grid div {
    grid-column: 1;
    grid-row: 2;
    margin-left: 1.5em;
    margin-right: 1.5em;
  }
  section.grid div.grid figure {
    grid-column: 1;
    grid-row: 1;
    margin-bottom: 2em;
  }
  section.grid div.grid.reverse div {
    grid-column: 1;
    grid-row: 2;
  }
  section.grid div.grid.reverse figure {
    grid-column: 1;
    grid-row: 1;
  }
}
section#town {
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: -1;
  opacity: 1;
  transition: all 1s ease;
}
section#town figure {
  position: absolute;
  bottom: -50px;
  height: 100vh;
}
section#town figure img {
  width: auto;
  height: 100%;
  display: block;
}
section#town.dim {
  opacity: 0.1;
}

.floating {
  animation: floating 3s ease-in-out infinite;
}

.floating2 {
  animation: floating2 3s ease-in-out infinite;
}

@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 15px);
  }
  100% {
    transform: translate(0, 0px);
  }
}
@keyframes floating2 {
  0% {
    transform: translate(0, 15px);
  }
  50% {
    transform: translate(0, 0px);
  }
  100% {
    transform: translate(0, 15px);
  }
}
.txt-rotate .wrap {
  padding-right: 0.1rem;
  border-right: 3px solid var(--cosmicteal);
  animation: cursor0 500ms infinite;
}
.txt-rotate .wrap.styleLearn {
  color: var(--stardustyellow);
  animation: cursorLearn 500ms infinite;
}
.txt-rotate .wrap.styleEarn {
  color: var(--polarisblue);
  animation: cursorEarn 500ms infinite;
}
.txt-rotate .wrap.styleNetwork {
  color: var(--vinuspurple);
  animation: cursorNetwork 500ms infinite;
}
.txt-rotate .wrap.styleBuild {
  color: var(--cosmicteal);
  animation: cursorBuild 500ms infinite;
}

@-webkit-keyframes cursorBuild {
  0% {
    border-color: var(--milkywayblue);
  }
  50% {
    border-color: var(--cosmicteal);
  }
  100% {
    border-color: var(--milkywayblue);
  }
}
@-webkit-keyframes cursorLearn {
  0% {
    border-color: var(--milkywayblue);
  }
  50% {
    border-color: var(--stardustyellow);
  }
  100% {
    border-color: var(--milkywayblue);
  }
}
@-webkit-keyframes cursorEarn {
  0% {
    border-color: var(--milkywayblue);
  }
  50% {
    border-color: var(--polarisblue);
  }
  100% {
    border-color: var(--milkywayblue);
  }
}
@-webkit-keyframes cursorNetwork {
  0% {
    border-color: var(--milkywayblue);
  }
  50% {
    border-color: var(--vinuspurple);
  }
  100% {
    border-color: var(--milkywayblue);
  }
}
#fixed-signup-button {
  position: fixed;
  top: 2em;
  right: -100vh;
  z-index: 10000;
  transition: all 1s ease;
}
#fixed-signup-button.show {
  right: 2em;
}

@media (max-width: 688px) {
  #fixed-signup-button {
    display: none;
  }
}
[data-sal] {
  transition-duration: 0.2s;
  transition-duration: var(--sal-duration, 0.2s);
  transition-delay: 0s;
  transition-delay: var(--sal-delay, 0s);
  transition-timing-function: ease;
  transition-timing-function: var(--sal-easing, ease);
}

[data-sal][data-sal-duration="200"] {
  transition-duration: 0.2s;
}

[data-sal][data-sal-duration="250"] {
  transition-duration: 0.25s;
}

[data-sal][data-sal-duration="300"] {
  transition-duration: 0.3s;
}

[data-sal][data-sal-duration="350"] {
  transition-duration: 0.35s;
}

[data-sal][data-sal-duration="400"] {
  transition-duration: 0.4s;
}

[data-sal][data-sal-duration="450"] {
  transition-duration: 0.45s;
}

[data-sal][data-sal-duration="500"] {
  transition-duration: 0.5s;
}

[data-sal][data-sal-duration="550"] {
  transition-duration: 0.55s;
}

[data-sal][data-sal-duration="600"] {
  transition-duration: 0.6s;
}

[data-sal][data-sal-duration="650"] {
  transition-duration: 0.65s;
}

[data-sal][data-sal-duration="700"] {
  transition-duration: 0.7s;
}

[data-sal][data-sal-duration="750"] {
  transition-duration: 0.75s;
}

[data-sal][data-sal-duration="800"] {
  transition-duration: 0.8s;
}

[data-sal][data-sal-duration="850"] {
  transition-duration: 0.85s;
}

[data-sal][data-sal-duration="900"] {
  transition-duration: 0.9s;
}

[data-sal][data-sal-duration="950"] {
  transition-duration: 0.95s;
}

[data-sal][data-sal-duration="1000"] {
  transition-duration: 1s;
}

[data-sal][data-sal-duration="1050"] {
  transition-duration: 1.05s;
}

[data-sal][data-sal-duration="1100"] {
  transition-duration: 1.1s;
}

[data-sal][data-sal-duration="1150"] {
  transition-duration: 1.15s;
}

[data-sal][data-sal-duration="1200"] {
  transition-duration: 1.2s;
}

[data-sal][data-sal-duration="1250"] {
  transition-duration: 1.25s;
}

[data-sal][data-sal-duration="1300"] {
  transition-duration: 1.3s;
}

[data-sal][data-sal-duration="1350"] {
  transition-duration: 1.35s;
}

[data-sal][data-sal-duration="1400"] {
  transition-duration: 1.4s;
}

[data-sal][data-sal-duration="1450"] {
  transition-duration: 1.45s;
}

[data-sal][data-sal-duration="1500"] {
  transition-duration: 1.5s;
}

[data-sal][data-sal-duration="1550"] {
  transition-duration: 1.55s;
}

[data-sal][data-sal-duration="1600"] {
  transition-duration: 1.6s;
}

[data-sal][data-sal-duration="1650"] {
  transition-duration: 1.65s;
}

[data-sal][data-sal-duration="1700"] {
  transition-duration: 1.7s;
}

[data-sal][data-sal-duration="1750"] {
  transition-duration: 1.75s;
}

[data-sal][data-sal-duration="1800"] {
  transition-duration: 1.8s;
}

[data-sal][data-sal-duration="1850"] {
  transition-duration: 1.85s;
}

[data-sal][data-sal-duration="1900"] {
  transition-duration: 1.9s;
}

[data-sal][data-sal-duration="1950"] {
  transition-duration: 1.95s;
}

[data-sal][data-sal-duration="2000"] {
  transition-duration: 2s;
}

[data-sal][data-sal-delay="50"] {
  transition-delay: 0.05s;
}

[data-sal][data-sal-delay="100"] {
  transition-delay: 0.1s;
}

[data-sal][data-sal-delay="150"] {
  transition-delay: 0.15s;
}

[data-sal][data-sal-delay="200"] {
  transition-delay: 0.2s;
}

[data-sal][data-sal-delay="250"] {
  transition-delay: 0.25s;
}

[data-sal][data-sal-delay="300"] {
  transition-delay: 0.3s;
}

[data-sal][data-sal-delay="350"] {
  transition-delay: 0.35s;
}

[data-sal][data-sal-delay="400"] {
  transition-delay: 0.4s;
}

[data-sal][data-sal-delay="450"] {
  transition-delay: 0.45s;
}

[data-sal][data-sal-delay="500"] {
  transition-delay: 0.5s;
}

[data-sal][data-sal-delay="550"] {
  transition-delay: 0.55s;
}

[data-sal][data-sal-delay="600"] {
  transition-delay: 0.6s;
}

[data-sal][data-sal-delay="650"] {
  transition-delay: 0.65s;
}

[data-sal][data-sal-delay="700"] {
  transition-delay: 0.7s;
}

[data-sal][data-sal-delay="750"] {
  transition-delay: 0.75s;
}

[data-sal][data-sal-delay="800"] {
  transition-delay: 0.8s;
}

[data-sal][data-sal-delay="850"] {
  transition-delay: 0.85s;
}

[data-sal][data-sal-delay="900"] {
  transition-delay: 0.9s;
}

[data-sal][data-sal-delay="950"] {
  transition-delay: 0.95s;
}

[data-sal][data-sal-delay="1000"] {
  transition-delay: 1s;
}

[data-sal][data-sal-easing=linear] {
  transition-timing-function: linear;
}

[data-sal][data-sal-easing=ease] {
  transition-timing-function: ease;
}

[data-sal][data-sal-easing=ease-in] {
  transition-timing-function: ease-in;
}

[data-sal][data-sal-easing=ease-out] {
  transition-timing-function: ease-out;
}

[data-sal][data-sal-easing=ease-in-out] {
  transition-timing-function: ease-in-out;
}

[data-sal][data-sal-easing=ease-in-cubic] {
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

[data-sal][data-sal-easing=ease-out-cubic] {
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

[data-sal][data-sal-easing=ease-in-out-cubic] {
  transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
}

[data-sal][data-sal-easing=ease-in-circ] {
  transition-timing-function: cubic-bezier(0.6, 0.04, 0.98, 0.335);
}

[data-sal][data-sal-easing=ease-out-circ] {
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

[data-sal][data-sal-easing=ease-in-out-circ] {
  transition-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

[data-sal][data-sal-easing=ease-in-expo] {
  transition-timing-function: cubic-bezier(0.95, 0.05, 0.795, 0.035);
}

[data-sal][data-sal-easing=ease-out-expo] {
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}

[data-sal][data-sal-easing=ease-in-out-expo] {
  transition-timing-function: cubic-bezier(1, 0, 0, 1);
}

[data-sal][data-sal-easing=ease-in-quad] {
  transition-timing-function: cubic-bezier(0.55, 0.085, 0.68, 0.53);
}

[data-sal][data-sal-easing=ease-out-quad] {
  transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

[data-sal][data-sal-easing=ease-in-out-quad] {
  transition-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

[data-sal][data-sal-easing=ease-in-quart] {
  transition-timing-function: cubic-bezier(0.895, 0.03, 0.685, 0.22);
}

[data-sal][data-sal-easing=ease-out-quart] {
  transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}

[data-sal][data-sal-easing=ease-in-out-quart] {
  transition-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
}

[data-sal][data-sal-easing=ease-in-quint] {
  transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
}

[data-sal][data-sal-easing=ease-out-quint] {
  transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
}

[data-sal][data-sal-easing=ease-in-out-quint] {
  transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
}

[data-sal][data-sal-easing=ease-in-sine] {
  transition-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715);
}

[data-sal][data-sal-easing=ease-out-sine] {
  transition-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
}

[data-sal][data-sal-easing=ease-in-out-sine] {
  transition-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

[data-sal][data-sal-easing=ease-in-back] {
  transition-timing-function: cubic-bezier(0.6, -0.28, 0.735, 0.045);
}

[data-sal][data-sal-easing=ease-out-back] {
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

[data-sal][data-sal-easing=ease-in-out-back] {
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

[data-sal|=fade] {
  opacity: 0;
  transition-property: opacity;
}

[data-sal|=fade].sal-animate, body.sal-disabled [data-sal|=fade] {
  opacity: 1;
}

[data-sal|=slide] {
  opacity: 0;
  transition-property: opacity, transform;
}

[data-sal=slide-up] {
  transform: translateY(20%);
}

[data-sal=slide-down] {
  transform: translateY(-20%);
}

[data-sal=slide-left] {
  transform: translateX(20%);
}

[data-sal=slide-right] {
  transform: translateX(-20%);
}

[data-sal|=slide].sal-animate, body.sal-disabled [data-sal|=slide] {
  opacity: 1;
  transform: none;
}

[data-sal|=zoom] {
  opacity: 0;
  transition-property: opacity, transform;
}

[data-sal=zoom-in] {
  transform: scale(0.5);
}

[data-sal=zoom-out] {
  transform: scale(1.1);
}

[data-sal|=zoom].sal-animate, body.sal-disabled [data-sal|=zoom] {
  opacity: 1;
  transform: none;
}

[data-sal|=flip] {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transition-property: transform;
}

[data-sal=flip-left] {
  transform: perspective(2000px) rotateY(-91deg);
}

[data-sal=flip-right] {
  transform: perspective(2000px) rotateY(91deg);
}

[data-sal=flip-up] {
  transform: perspective(2000px) rotateX(-91deg);
}

[data-sal=flip-down] {
  transform: perspective(2000px) rotateX(91deg);
}

[data-sal|=flip].sal-animate, body.sal-disabled [data-sal|=flip] {
  transform: none;
}

section#intro {
  height: 100vh;
  margin-left: 3em;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 3em;
}
section#intro div {
  align-self: center;
  max-width: 700px;
}
section#intro div p {
  max-width: 600px;
}
section#intro figure {
  align-self: center;
}
section#intro figure img {
  max-height: 100vh;
}
section#intro figure .hidden {
  display: none;
}

@media (max-width: 992px) {
  section#intro {
    height: inherit;
    grid-template-columns: 1fr;
    margin: 0em 3em;
  }
  section#intro div {
    grid-row: 2;
  }
  section#intro figure {
    grid-row: 1;
    margin-top: 8em;
  }
}
@media (max-width: 688px) {
  section#intro {
    margin-left: 1.5em;
    margin-right: 1.5em;
  }
}
section#whatisgitcoin {
  margin: 0em;
  margin-top: 12em;
}
section#whatisgitcoin h1 {
  text-align: center;
  margin-bottom: 1em;
}
section#whatisgitcoin figure {
  margin-bottom: 3em;
}
section#whatisgitcoin figure img {
  width: 100%;
}
section#whatisgitcoin div.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 3em;
  margin: 0em 3em;
}
section#whatisgitcoin div.grid div p {
  max-width: 600px;
}

@media (max-width: 688px) {
  section#whatisgitcoin div.grid {
    grid-template-columns: 1fr;
    margin-left: 1.5em;
    margin-right: 1.5em;
  }
}
section#trust {
  margin: 0em 3em;
  margin-top: 12em;
  text-align: center;
}
section#trust h1 {
  text-align: center;
  margin-bottom: 2em;
}
section#trust div.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 3em;
}
section#trust div.grid div {
  border-left: 2px solid var(--polarisblue);
}
section#trust div.grid div:first-child {
  border-left: none;
}
section#trust div.grid div h1 {
  color: var(--regulusred);
  margin-bottom: 0.5em;
}
section#trust div.grid div h2 {
  color: var(--vinuspurple);
}

@media (max-width: 688px) {
  section#trust div.grid {
    grid-template-columns: 1fr;
  }
  section#trust div.grid div {
    border: initial;
    border-bottom: 2px solid var(--polarisblue);
  }
  section#trust div.grid div h1 {
    margin-top: 1em;
  }
  section#trust div.grid div h2 {
    margin-bottom: 2em;
  }
  section#trust div.grid div:last-child {
    border-bottom: none;
  }
}
section#partners {
  margin: 0em 3em;
  margin-top: 6em;
}
section#partners h2 {
  margin-bottom: 2em;
  text-align: center;
}
section#partners div.grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 1rem;
  margin-top: 2em;
}
section#partners div.grid figure {
  background-color: var(--polarisblue);
  border-radius: 3px;
}
section#partners div.grid figure img {
  width: 100%;
  height: auto;
  margin: auto;
}

@media (max-width: 688px) {
  section#partners div.grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
section#twitter {
  margin: 0em 3em;
  margin-top: 12em;
  margin-bottom: 3em;
}
section#twitter h1 {
  text-align: center;
  margin-bottom: 2.5em;
}
section#twitter div.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 4em;
  grid-column-gap: 2em;
}
section#twitter svg.twitter-icon {
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 46px;
  height: 46px;
  fill: var(--polarisblue);
  stroke: none;
}
section#twitter figure {
  border: 2px solid var(--polarisblue);
  position: relative;
  padding: 2em;
  padding-top: 0em;
}
section#twitter figure img {
  width: 80px;
  height: auto;
  border-radius: 80px;
  margin: auto;
  position: relative;
  top: -40px;
}
section#twitter figure figcaption {
  color: var(--starwhite);
}
section#twitter figure a {
  text-decoration: none;
  color: var(--cosmicteal);
  font-weight: 800;
}

@media (max-width: 992px) {
  section#twitter div.grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 688px) {
  section#twitter {
    margin-left: 1.5em;
    margin-right: 1.5em;
  }
  section#twitter div.grid {
    grid-template-columns: 1fr;
  }
}
section#newsletter {
  margin: 0em 3em;
  margin-top: 12em;
  text-align: center;
  border: 2px solid var(--vinuspurple);
  padding-top: 1.5em;
  padding-bottom: 1em;
}
section#newsletter h2 {
  margin-bottom: 1.5em;
}
section#newsletter div.options {
  margin-bottom: 1.5em;
}
section#newsletter span {
  padding-right: 0.3rem;
}
section#newsletter label {
  padding: 0rem 0.3rem;
}
section#newsletter input[type=email] {
  padding: 1em 1.5em;
  border-radius: 3px;
  cursor: pointer;
  margin-bottom: 1rem;
  color: var(--polarisblue);
  background-color: var(--starwhite);
  border: 0;
  outline: 0;
  font-size: 100%;
}
section#newsletter form {
  margin: 0;
  padding: 0;
  display: block;
}
section#newsletter button.btn {
  background-color: var(--vinuspurple);
}

@media (max-width: 688px) {
  section#newsletter {
    margin-left: 1.5em;
    margin-right: 1.5em;
  }
  section#newsletter h2 {
    padding: 0rem 1rem;
  }
  section#newsletter span {
    display: block;
    margin-bottom: 1rem;
  }
  section#newsletter label {
    padding: 0rem 0rem;
  }
}
section#footernavigation {
  margin: 0em 3em;
  margin-top: 6em;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-bottom: 3em;
}
section#footernavigation div h2 {
  margin-bottom: 2em;
}
section#footernavigation div a {
  display: block;
  text-decoration: none;
  color: var(--starwhite);
  margin-bottom: 1em;
}
section#footernavigation div a:hover {
  color: var(--cosmicteal);
}

@media (max-width: 688px) {
  section#footernavigation {
    margin-left: 1.5em;
    margin-right: 1.5em;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 3em;
    grid-column-gap: 3em;
  }
}
section#footersocial {
  margin-top: 0em;
  margin-left: 3em;
  margin-right: 3em;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  justify-content: end;
  padding: 1.5em 0em;
  background-color: var(--vinuspurple);
}
section#footersocial figure {
  margin: auto;
}
section#footersocial figure svg {
  background-color: none;
  stroke: var(--starwhite);
  stroke-width: 2;
  stroke-miterlimit: 5;
  width: 64px;
  height: 64px;
  fill: none;
  transition: all 500ms ease;
}
section#footersocial figure svg:hover {
  stroke: var(--milkywayblue);
  stroke-width: 4;
}

@media (max-width: 688px) {
  section#footersocial {
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 3em;
    margin-left: 1.5em;
    margin-right: 1.5em;
  }
}
section#footerconsensys figure {
  width: 200px;
  margin: auto;
  padding: 3em 0em;
}

@keyframes pulse {
  from { transform: scale(1); }
  50% { transform: scale(0.9); }
  to { transform: scale(1); }
}

.fe-pulse:hover {
  animation-name: pulse;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

.hover-logo div{
  border-radius: 5px;
  cursor: pointer;
  padding: 20px;
  margin-right: 10%;
  margin-left: 10%;
}
.hover-logo div:hover{
  background: rgba(55, 0, 200, 0.3);
}