section#trust{
	
  margin: 0em 3em;
  margin-top: 12em;

  text-align: center;


  h1{
    text-align: center;
    margin-bottom: 2em;
  }

  div.grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 3em;

    div{

      border-left: 2px solid var(--polarisblue);
			

      &:first-child{
        border-left: none;
      }

      h1{
        color: var(--regulusred);
				
        margin-bottom: 0.5em;
      }

      h2{
        color: var(--vinuspurple);
				
      }
    }

  }

}



@media #{$phone} { 
  section#trust{

    div.grid{
      grid-template-columns: 1fr;

      div{
        border: initial;
        border-bottom: 2px solid var(--polarisblue);

        h1{
          margin-top: 1em;
        }

        h2{
          margin-bottom: 2em;
        }

        &:last-child{
          border-bottom: none;
        }

      }
    }

  }
}

