section#intro{

	height: 100vh;
	margin-left: 3em;

	display: grid;
	grid-template-columns: 1.5fr 1fr;
	padding-top: 1rem;

	div{
		align-self: center;
		max-width: 100%;

		p{
			max-width: 20rem;
		}
		.big{
			font-size: 1.5em;
		}
  }

	figure{
		align-self: center;
		//align-self: end;

		img{
			max-height: 100vh;
		}

		.hidden{
			display: none;
		}
	}

}




@media #{$tablet} { 
	section#intro{

    	height: inherit;
    	grid-template-columns: 1fr;

    	margin: 0em 3em;

    	div{
    		grid-row: 2;

    	}

    	figure{
    		grid-row: 1;
    		margin-top:8em;
    	}


    }
}



@media #{$phone} { 
	section#intro{

		margin-left: 1.5em;
		margin-right: 1.5em;

    }
}


