section#whatisgitcoin{
	
	margin: 0em;
	margin-top: 12em;

	h1{
		text-align: center;
		margin-bottom: 1em;
	}

	figure{
		margin-bottom: 3em;

		img{
			width: 100%;
		}
	}

	div.grid{

		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 3em;

		margin: 0em 3em;

		div{
			p{
				max-width: 600px;
			}
		}

	}


}




@media #{$phone} { 
	section#whatisgitcoin{

		

		div.grid{
			grid-template-columns: 1fr;

			margin-left: 1.5em;
			margin-right: 1.5em;

		}

    }
}








