.pagination .step-links {
  margin: 10px auto;
}
.fixed-balance {
  position: fixed;
  left: 0px;
  top: 83px;
  z-index: 1;
}

.body{
  background-image: url('/static/v2/images/background.png');
  background-repeat: repeat;
}

.offchain .alternative-balance{
  display: none !important;
}
.offchain_new .body .container{
  background-color: white;
  padding: 20px;
}

#sort_options{
  padding: 5px 10px;
  text-align: right;
  font-size: 12px;
}
#sort_options .active{
  font-weight: bold;
}
#msg {
  padding: 10px;
  background-color: #29cd7f;
  color: white;
  text-align: center;
  width: 100%;
  display: block;
}

.alternative-balance #sidebar_p {
  padding: 0;
}

.alternative-balance #sidebar_head img {
  margin: 10px 0;
  width: 25px;
}

.alternative-balance#upper_left {
  text-align: center;
  padding: 10px;
  width: 130px;
}

.container {
  position: relative;
  z-index: 2;
}

.bounties-header {
  align-items: center;
  display: flex;
  padding: 2rem 0;
}

.bounties-header__title {
  align-items: center;
  display: flex;
  margin-right: 30px;
  flex: 0 0 200px;
  max-width: 100%;
}

.offchain_show .bounties-header__title,
.offchain_new .bounties-header__title {
  flex: none;
}
.offchain_new form{
  margin: 0px auto;
}

.bounties-header__title--active:hover {
  opacity: 0.6;
}

.bounties-header__title--active::before {
  border-color: transparent black transparent transparent;
  border-style: solid;
  border-width: 10px 10px 10px 0;
  content: '';
  height: 0;
  margin-right: 1rem;
  width: 0;
}

.bounties-header__search {
  display: flex;
  flex: 1 auto;
  justify-content: space-between;
}

.bounties-header__info a,
.bounties-header__info,
.bounty__source {
  color: #8e8e8e;
}

.bounties-header__info {
  margin-bottom: 0;
  margin-top: 0;
  line-height: 2;
}

.bounties-header__search .search_area {
  width: 300px;
}

.search_area--append {
  position: relative;
}

.search_area--append .icon {
  display: inline-block;
  position: absolute;
  right: 15px;
  top: 5px;
  width: 20px;
}

.search_area--append .icon svg {
  fill: #000;
  width: 100%
}

.search_area--append input {
  padding-right: 40px;
}

.bounties-header__title .title,
.bounties-header__title .sub-title,
.aside .title,
.aside .sub-title {
  font-family: Futura;
  text-transform: uppercase;
  font-weight: bolder;
  letter-spacing: 0;
  margin-bottom: 0;
}

.bounties-header__title .title,
.aside .title {
  font-size: 2em;
}

.bounties-header__title .title {
  color: black;
  cusor: pointer;
}

.bounties-header__title .title a {
  color: black;
  text-decoration: none;
}

.bounties-header__title .sub-title,
.aside .sub-title {
  font-size: 1.2em;
}

.categories-list {
  padding: 1em 0;
}

#bounties .categories-list .checkbox {
  margin-bottom: 1rem;
  display: block !important;
  line-height: 15px;
  margin-bottom: 35px;
  background-color: white;
  border: none;
}
#bounties .categories-list .checkbox-label{
  padding-left: 20px;
}

.main-content {
  align-items: flex-start;
  display: flex;
}

.main-content .aside,
.main-content .bounties-container {
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.05);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.05);
}

.aside {
  background-color: #fff;
  margin-right: 30px;
  padding: 1rem;
  flex: 0 0 200px;
}

.aside .sub-title {
  margin-bottom: 0.5rem;
}

.bounties-container {
  background-color: #fff;
  flex: 1 auto;
  min-height: 400px;
}

.bounty {
  color: #212529;
  display: flex;
  padding: 2.5rem;
  position: relative;
}

.bounty:hover {
  background-color: #fafafa;
  cursor: pointer;
  color: currentColor;
  text-decoration: none;
}

.bounty:not(:last-of-type) {
  border-bottom: 1px solid #ECECEC;
}

.bounty__image {
  display: block;
  width: 100px;
  text-align: center;
}

.bounty__image img {
  border-radius: 50%;
  height: auto;
  max-width: 100px;
}

.bounty__info {
  flex: 1;
  padding: 0 2rem;
  position: relative;
}

.bounty__title-wrapper {
  width: 80%;
}

.bounty__title {
  font-weight: bold;
  letter-spacing: 1px;
  margin-bottom: 0;
  padding-top: 0;
  text-align: left;
  text-transform: none;
}

.bounty__source {
  font-weight: bold;
  font-size: 0.9rem;
  letter-spacing: 1px;
}

.bounty__tags {
  margin-top: 1rem;
}

.bounty__tag-pill {
  background-color: #eff4ee;
  border-radius: 30px;
  font-size: 0.9rem;
  font-weight: 600;
  padding: 0.2rem 0.8rem;
}

.bounty__price-wrapper {
  position: absolute;
  right: 0;
  z-index: 1;
}

.bounty__crypto-price {
  position: relative;
  margin-bottom: 0.5rem;
}

.bounty__crypto-price-pill {
  align-items: center;
  border-radius: 30px 0 0 30px;
  display: flex;
  color: #fff;
  font-family: Futura;
  font-weight: bolder;
  justify-content: space-around;
  text-align: right;
  padding: 0.5rem;
}

.bounty__crypto-price-pill::after {
  content: "";
  border-radius: 30px 0 0 30px;
  height: 100%;
  left: 3px;
  position: absolute;
  top: 3px;
  width: 100%;
  z-index: -1;
}

.bounty__crypto-price-pill--purple {
  background-color: #333366;
}

.bounty__crypto-price-pill--purple::after {
  background-color: #5F5FB6;
}

.bounty__crypto-price-pill--orange {
  background-color: #F6921E;
}

.bounty__crypto-price-pill--orange::after {
  background-color: #FFB967;
}

.bounty__crypto-price-pill--grey {
  background-color: #9B9B9B;
}

.bounty__crypto-price-pill--grey::after {
  background-color: #CDCDCD;
}

.bounty__price--mobile {
  display: none;
}

.bounty__fiat-price {
  color: #15D17C;
  font-family: Futura;
  font-size: 0.9rem;
  font-weight: bolder;
  padding: 0 0.5em;
}

label {
    display: block;
}


@media (max-width: 992px) {
  .fixed-balance,
  .bounty__image,
  .bounties-header__info,
  .bounty__tags,
  .bounty__price--desktop {
    display: none;
  }

  .bounty__title-wrapper,
  .bounties-header__search .search_area {
    width: 100%;
  }

  .bounty__info {
    padding: 0;
  }

  .bounties-header__search {
    flex-direction: column;
    justify-content: center;
  }

  .bounty__price {
    color: #fff;
    position: relative;
  }

  .bounty__price--mobile {
    display: block;
  }
}

@media (max-width: 768px) {
  .aside {
    display: none;
  }
}

.icon {
  display: inline-block;
  line-height: 1;
  width: 24px;
}

.bounty__crypto-price .icon {
  margin-right: 0.5rem;
}

.bounty__crypto-price .icon svg {
  fill: #fff;
  height: auto;
  width: 100%;
}

.link-red {
  align-items: center;
  color: #f9006c;
  display: inline-flex;
}

.link-red:hover {
  color: #f9006c;
}

.link-red::before {
  border-color: transparent #f9006c transparent transparent;
  border-style: solid;
  border-width: 7px 7px 7px 0;
  content: '';
  height: 0;
  margin-right: 0.5rem;
  width: 0;
}
