.alternative-balance img,
.alternative-balance br {
  display: none;
}

.body {
  background-image: url('/static/v2/images/background.png');
  background-repeat: repeat;
}

#bounties .bounty-container {
  display: flex;
  padding: 2rem;
}

.bounty-container .bounty__info {
  padding-left: 2rem;
  padding-right: 0;
}

.bounty-container .bounty__title {
  letter-spacing: 1px;
}

.bounty-container .bounty__header {
  margin-bottom: 2.5rem;
  width: 70%;
}

.bounty-container .sub-title {
  font-family: 'futura-pt', sans-serif;
  text-transform: none;
  letter-spacing: 0;
  margin-bottom: 1rem;
}

.bounty__header-wrapper {
  display: flex;
}

.bounty__action {
  flex: 1 auto;
  text-align: right;
}

.bounty-header .bounty__image,
.bounty-header .bounty__action {
  flex: 1 auto;
  flex-shrink: 0;
}

.bounty-container .bounty__title-wrapper {
  padding: 0 2rem;
}

.bounty__content {
  align-items: center;
  background-color: #F8F8F8;
  display: flex;
  margin-bottom: 2.5rem;
  padding: 0.5rem;
}

.bounty__crypto-price,
.bounty__fiat-price {
  font-family: 'futura-pt', sans-serif;
  text-transform: none;
  font-weight: bolder;
  letter-spacing: 0;
}

.bounty-container .bounty__crypto-price,
.bounty__fiat-price {
  align-items: center;
  display: inline-flex;
  margin-bottom: 0;
}

.bounty-container .bounty__crypto-price {
  color: #5F5FB6;
  margin-right: 1rem;
}

.bounty__fiat-price {
  color: #15D17C;
}

.bounty__fiat-price .icon {
  width: 24px;
  margin-right: 0.5rem;
  transform: scale(1.5);
}

.bounty__fiat-price .icon i {
  fill: #15D17C;
}

.bounty-container .bounty__crypto-price .icon i {
  fill: #5F5FB6;
}

.bounty__footer {
  text-align: center;
}

pre {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

@media (max-width: 992px) {
  .alternative-balance,
  .bounty__action {
    display: none !important;
  }

  .bounty-container .bounty__header {
    width: 100%;
  }
}
