/* Using checkbox
	<div class="checkbox_container">
		<input name="network" id="foobar" type="checkbox" />
		<span class="checkbox"></span>
		<div class="filter-label">
			<label for=foobar>gitcoin</label>
		</div>
	</div>
*/

.filter-label {
  display: inline-block;
  margin-left: 10px;
}

.checkbox_container .checkbox:after {
  left: 4px;
  top: 0px;
  width: 5px;
  height: 11px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.checkbox_container input {
  position: absolute;
  opacity: 0;
  height: 20px;
  width: 100%;
  z-index: 1;
}

.checkbox {
  position: relative;
  display: inline-block !important;
  left: 0px;
  top: 3px;
  height: 15px;
  width: 15px;
  background-color: #FFF;
  border: 1px solid #D3D3D3;
  border-radius: 2px;
}

.checkbox::after {
  content: '';
  position: absolute;
  display: none;
}

.checkbox_container input:checked ~ .checkbox {
  background-color:#3E00FF;
  border: 1px solid #3E00FF;
}

.checkbox_container input:checked ~ .checkbox:after {
  display: block;
}

/* Below needs refactoring */

.checkbox .checkbox-label {
  align-items: center;
  cursor: pointer;
  display: inline-flex;
  margin-bottom: 0;
  width: 100%;
}

.checkbox .checkbox-label::before {
  background-color: #fff;
  border: 1px solid #0d023b;
  content: '';
  display: inline-block;
  height: 18px;
  margin-right: 10px;
  transition: all 0.04s linear;
  vertical-align: text-top;
  width: 18px;
}

.checkbox .checkbox-input {
  position: absolute;
  opacity: 0;
}

.checkbox .checkbox-input:checked + .checkbox-label::before {
  background-color: #26cd7f;
  border: 3px solid #36E69B;
}

/* border checkbox  */

.gc-checkbox {
  display: flex;
  align-items: center;
}

.gc-checkbox input[type="checkbox"] {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  margin-top: .75em;
  opacity: .00001;
  position: relative;
  vertical-align: top;
  z-index: 2;
}

.gc-checkbox label {
  position: relative;
  display: inline-block;
  padding-left: 22px;
  min-height: 16px;
  vertical-align: middle;
}

.gc-checkbox label::before,
.gc-checkbox label::after {
  position: absolute;
  content: "";
  display: inline-block;
}

.gc-checkbox label::before{
  height: 18px;
  width: 18px;
  border: 2px solid #9F9F9F;
  border-radius: 3px;
  left: 0px;
  top: 3px;
}

.gc-checkbox label::after {
  height: 6px;
  width: 10px;
  border-left: 2px solid;
  border-bottom: 2px solid;
  transform: rotate(-45deg);
  left: 4px;
  top: 8px;
}

.gc-checkbox input[type="checkbox"] + label::after {
  content: none;
}

.gc-checkbox input[type="checkbox"]:checked + label::after {
  content: "";
}

.gc-checkbox input[type="checkbox"]:focus + label::before {
  outline: rgb(59, 153, 252) auto 5px;
}

