{
  "extends": "stylelint-config-recommended",
  "rules": {
    "no-descending-specificity": null,
    "at-rule-no-unknown": [
      true, {
        "ignoreAtRules": [
          "extends",
          "ignores",
          "mixin",
          "for",
          "each",
          "include",
          "if",
          "else"
        ]
      }
    ],
    "indentation": 2,
    "number-leading-zero": null,
    "selector-combinator-space-after": "always",
    "selector-combinator-space-before": "always",
    "unit-whitelist": [
      "px",
      "em",
      "rem",
      "s",
      "ms",
      "%",
      "deg",
      "vw",
      "vh",
      "pt",
      "vmin",
      "fr",
      "turn"
    ]
  },
  "plugins": [
    "stylelint-scss"
  ],
}
