{
  "extends": "stylelint-config-recommended",
  "rules": {
    "at-rule-no-unknown": [
      true, {
        "ignoreAtRules": [
          "extends",
          "ignores"
        ]
      }
    ],
    "indentation": 2,
    "number-leading-zero": null,
    "selector-combinator-space-after": "always",
    "selector-combinator-space-before": "always",
    "unit-whitelist": [
      "px",
      "em",
      "rem",
      "s",
      "ms",
      "%",
      "deg",
      "vw",
      "vh",
      "pt",
      "vmin"
    ]
  }
}
