bs4
django==1.11
django-bootstrap3==8.2.3
django-filter
django-ratelimit
djangorestframework==3.4.0
django-filter
gunicorn
markdown
reportlab
requests
requests_oauthlib
Pillow==4.0.0
premailer
populus==2.0.0a4
psycopg2
PIL
PyPdf
python-twitter==3.2
sendgrid
web3
