bs4
ccxt
django==1.11
django-bootstrap3==8.2.3
django-filter
django-ratelimit
djangorestframework==3.4.0
django-filter
gunicorn
markdown
reportlab
requests
requests_oauthlib
Pillow==4.0.0
premailer
populus==2.0.0a4
psycopg2
PyPdf
python-twitter==3.2
sendgrid
slackclient
web3
mailchimp3
django_chartit==0.2.9
