{% load i18n %}
<div id="CookielawBanner">
  <div class="container">
    <h6>{% trans "COOKIE_INFO_HEADER" %}</h6>
    <div class="d-flex">
      <p class="cookie-info font-body">
        {% trans "By continuing to browse the site, you are agreeing to our use of cookies. Learn more in " %}
        <a href="{% url 'cookie' %}">{% trans "Privacy Policy" %}</a>
      </p>
      <a class="button button--primary pull-right" href="javascript:Cookielaw.createCookielawCookie();">{% trans "COOKIE_INFO_OK" %}</a>
    </div>
  </div>
</div>
