'''
    Copyright (C) 2017 Gitcoin Core

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published
    by the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program. If not, see <http://www.gnu.org/licenses/>.

'''
import os

####################################################################
# CONFIG
####################################################################

# SECURITY WARNING: don't run with debug turned on in production!
#required
DEBUG = True
ENV = 'local'
ALLOWED_HOSTS = [
    '*'
]
BASE_URL = 'http://localhost:8000/'


#optional
TWITTER_USERNAME = 'TODO'
CONTACT_EMAIL = 'TODO'
BCC_EMAIL = 'TODO'
PERSONAL_CONTACT_EMAIL = 'you@foo.bar'

# -------------------------------------------------------

#optional
TIME_ZONE = 'MST'
LOGGING = {}
DEBUG_APPS = []
STATIC_URL = '/static/'

####################################################################
# SECRETS
####################################################################

# SECURITY WARNING: keep the secret key used in production secret!
# required
SECRET_KEY = 'TODO'
DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.postgresql',
        'NAME': 'postgres',
        'USER': 'postgres',
        'HOST': 'db',
        'PORT': 5432,
    }
}

if 'TRAVIS' in os.environ:
    DATABASES['default']['HOST'] = 'localhost'
    DATABASES['default']['PORT'] = ''

SENDGRID_API_KEY = 'TODO' # required only needed if you send emails
SERVER_EMAIL = 'server@TODO.co'
ADMINS = (
  ('TODO', 'todo@todo.net'),
)
EMAIL_HOST = 'smtp.sendgrid.net'
EMAIL_HOST_USER = 'TODO'
EMAIL_HOST_PASSWORD = 'TODO'
EMAIL_PORT = 587
EMAIL_USE_TLS = True

# optional:  only if you're syncing web3 (mostly used for bounty flow)
CUSTOM_MAINNET_GETH_HOST = 'TODO'
CUSTOM_MAINNET_GETH_PORT = '8545'
CUSTOM_RINKEBY_GETH_HOST = 'TODO'
CUSTOM_RINKEBY_GETH_PORT = '8545'
CUSTOM_TESTRPC_GETH_HOST = 'localhost'
CUSTOM_TESTRPC_GETH_PORT = '8545'
TESRPC_CONTRACT_ADDRESS = '0x0ed0c2a859e9e576cdff840c51d29b6f8a405bdd' #run `scripts/testrpc.bash` and `scripts/prepTestRPC.bash` from https://github.com/gitcoinco/smart_contracts
DEFAULT_NETWORK = 'testrpc'
INFURA_KEY = 'TODO' # requied only needed if you use infura

CSRF_TRUSTED_ORIGINS = [
    'localhost'
]

# optional: only needed if you run the github management commands
# Login/logout functionality will not work without defining these fields.
# Setup instructions: https://github.com/gitcoinco/web#setup-github-oauth2-app-integration
GITHUB_CLIENT_ID = 'TODO'
GITHUB_CLIENT_SECRET = 'TODO'
GITHUB_API_USER = 'TODO'
GITHUB_API_TOKEN = 'TODO'
GITHUB_APP_NAME = 'TODO'

#global on / off switch for notifciations
ENABLE_NOTIFICATIONS_ON_NETWORK = False

# optional: only needed if you tweet hings
TWITTER_CONSUMER_KEY = 'TODO'
TWITTER_CONSUMER_SECRET = 'TODO'
TWITTER_ACCESS_TOKEN = 'TODO'
TWITTER_ACCESS_SECRET = 'TODO'

MAILCHIMP_USER = ''
MAILCHIMP_API_KEY = ''
MAILCHIMP_LIST_ID = ''

MIXPANEL_TOKEN=''

GOOGLE_ANALYTICS_AUTH_JSON = '' #get from https://developers.google.com/analytics/devguides/reporting/core/v4/quickstart/service-py

GITTER_TOKEN = '' #https://developer.gitter.im/docs/authentication

# optional: only needed if you slack things
SLACK_TOKEN = 'TODO'

# Rollbar tokens
ROLLBAR_CLIENT_TOKEN = os.environ.get('ROLLBAR_CLIENT_TOKEN', '')
ROLLBAR_SERVER_TOKEN = os.environ.get('ROLLBAR_SERVER_TOKEN', '')

# IMAP Settings
IMAP_EMAIL='<email>'
IMAP_PASSWORD='<password>'

# optional: only needed if you run the activity-report management command
AWS_ACCESS_KEY_ID = 'TODO'
AWS_SECRET_ACCESS_KEY = 'TODO'
S3_REPORT_BUCKET = 'TODO'
S3_REPORT_PREFIX = 'TODO'

# WEB3
WEB3_HTTP_PROVIDER = 'https://mainnet.infura.io'

# COLO Coin
COLO_ACCOUNT_ADDRESS = 'TODO'
COLO_ACCOUNT_PRIVATE_KEY = 'TODO'

####################################################################
