DEBUG=on
ENV=local
ALLOWED_HOSTS=*
BASE_URL=http://localhost:8000/
CSRF_TRUSTED_ORIGINS=localhost

# Global on / off switch for notifications
ENABLE_NOTIFICATIONS_ON_NETWORK=off

# Email

CONTACT_EMAIL=TODO
BCC_EMAIL=TODO
PERSONAL_CONTACT_EMAIL=you@foo.bar
STATIC_URL=/static/
SECRET_KEY=YOUR-SupEr-SecRet-KeY
DATABASE_URL=psql://postgres:postgres@db:5432/postgres
CACHE_URL=dbcache://my_cache_table
SENDGRID_API_KEY=TODO
SERVER_EMAIL=server@TODO.co
ADMINS=(TODO,todo@todo.net)
EMAIL_HOST=smtp.sendgrid.net
EMAIL_HOST_USER=TODO
EMAIL_HOST_PASSWORD=TODO
EMAIL_PORT=587
EMAIL_USE_TLS=on

# Optional:  only if you're syncing web3 (mostly used for bounty flow)
CUSTOM_MAINNET_GETH_HOST=TODO
CUSTOM_MAINNET_GETH_PORT=8545
CUSTOM_RINKEBY_GETH_HOST=TODO
CUSTOM_RINKEBY_GETH_PORT=8545
CUSTOM_TESTRPC_GETH_HOST=localhost
CUSTOM_TESTRPC_GETH_PORT=8545
TESRPC_CONTRACT_ADDRESS=0x0ed0c2a859e9e576cdff840c51d29b6f8a405bdd
DEFAULT_NETWORK=testrpc
INFURA_KEY=TODO

# Github Integration
GITHUB_CLIENT_ID=TODO
GITHUB_CLIENT_SECRET=TODO
GITHUB_API_USER=TODO
GITHUB_API_TOKEN=TODO
GITHUB_APP_NAME=gitcoint-test

# Twitter Integration
TWITTER_CONSUMER_KEY=TODO
TWITTER_CONSUMER_SECRER=TODO
TWITTER_ACCESS_TOKEN=TODO
TWITTER_ACCESS_SECRET=TODO
TWITTER_USERNAME=TODO

# Mailchimp Integration
MAILCHIMP_USER=
MAILCHIMP_API_KEY=
MAILCHIMP_LIST_ID=

# Tracking / Statistics Integrations
TRACKJS_TOKEN=
MIXPANEL_TOKEN=

# Slack Integration
SLACK_TOKEN=TODO

# IMAP Settings
IMAP_EMAIL=<email>
IMAP_PASSWORD=<password>
