body {
  background: #000;
  color: #ffffff !important;
}

.profile-card {
  background: none !important;
}

.profile-header__stats {
  background: #000 !important;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  color: #ffffff;
  background-color: #000000;
}

.flip-card__front {
  position: relative;
  background: #000000;
  border: 1px solid #111111;
  border-radius: 0.25rem;
  z-index: 2;
  transform: rotateY(0);
}
