<!DOCTYPE html>
{% load i18n static %}
<html lang="en">
<head>
  {% include 'shared/head.html' %}
  <link rel="stylesheet" href="{% static "v2/css/dashboard.css" %}">
  <link rel="stylesheet" href="{% static "v2/css/ethhack2019.css" %}">
</head>
  <body class="text-center" style="background-color: #180944; color: white">

    <div class="text-center topnav" style="width: 100%; line-height: 2.75em; background-color: #3E00FF; font-size: 7px">
      <div class="container">
        <span>Join Gitcoin for a pre-Ethereal NY virtual hackathon this April!</span>
        <span style="float: right;">Fund a Prize</span>
      </div>
    </div>
    <img class="img-fluid ethsvg" style="max-width: 30%; height: auto; margin-top: 2rem" src="{% static "v2/images/hackathon/ethereal.svg" %}" />
    <h1 class="font-weight-bolder mt-3 ethtitle" style="font-size: 1.25rem">Ethereal Virtual Hackathon</h1>

    <h3 class="font-weight-bold poweredby" style="font-size: .6rem; margin-top: 1rem; opacity: .7">Powered by</h3>
    <img class="img-fluid" style="max-width: 25%; height: auto" src="{% static "v2/images/logo.png" %}">
    <img class="img-fluid ethsvg2" style="max-width: 2%; height: auto; margin-right: 1rem; margin-left: 1rem" src="{% static "v2/images/hackathon/plus.svg" %}">
    <img class="img-fluid ethsvg2" style="max-width: 25%; height: auto; margin-top: 0.2rem" src="{% static "v2/images/hackathon/microsoft.svg" %}" />

    <div class="btns-wrapper" style="margin: 1rem">
      <a class="btn font-weight-bold mr-2 btns" style="background-color: #f9006c; border-radius: 30px; width: 100px; font-size: .4rem">Register</a>
      <a class="btn font-weight-bold ml-2 btns" style="background-color: #3e00ff; border-radius: 30px; width: 100px; font-size: .4rem">Fund a Prize</a>
    </div>

    <section class="container-fluid header" style="overflow: visible; background-image: url(/static/v2/images/hackathon/ethback.jpg);">
      <h2 class="font-weight-bolder part" style="color: white; padding-top: 3rem; font-size: 1.2rem; text-decoration: underline; text-underline-position: under;">April 1st &#8212; 30th</h2>
      <h2 class="pdesc3" style="color: white; padding-top: 1.25rem; padding-left: 3rem; padding-right: 3rem; padding-bottom: 3rem; font-size: 0.6rem">Hackathon challenges will be posted as bounties, with the best hacks receiving prizes in ETH & ERC-20 tokens. Main track winners will receive free tickets to Ethereal NY to present their project live on stage.</h2>
    </section>

    <section class="bg-white">
      <h2 class="font-weight-bolder part" style="color: black; padding-top: 3rem; font-size: 1.2rem; text-decoration: underline; text-underline-position: under">Participate</h2>
      <h2 class="pdesc" style="color: black; padding-top: 1.25rem; padding-right: 3rem; padding-left: 3rem; font-size: 0.6rem">Register by April 1st for updates on key dates, prizes, teams, and instructions on how to start bounty hunting.</h2>
      <a class="btn font-weight-bold pbtn" style="background-color: #f9006c; border-radius: 30px; width: 12rem; font-size: 1rem; margin-top: 2rem; margin-bottom: 3rem">Register</a>
    </section>

    <section class="container-fluid header" style="overflow: visible; background-image: url(/static/v2/images/hackathon/ethback2.png);">
      <h2 class="font-weight-bolder part" style="color: white; padding-top: 3rem; font-size: 1.2rem; text-decoration: underline; text-underline-position: under;">Fund a Prize Bounty</h2>
      <div class="container">
        <div class="row align-items-center">
          <div class="col-8 text-left">
            <h2 class="pdesc2" style="color: white; padding-top: 1.25rem; padding-right: 3rem; font-size: 0.6rem">Have an epic challenge you want to see the community tackle? Want to see how bounty hunters from around the world use your tools? Reach out to us to sponsor and post a prize bounty!</h2>
            <a class="btn font-weight-bold pbtn" style="background-color: #f9006c; border-radius: 30px; width: 12rem; font-size: 1rem; margin-top: 2rem; margin-bottom: 3rem">Fund a Prize</a>
          </div>
          <div class="col-4">
            <img class="img-fluid bot" style="width: 100%; padding-bottom: 5rem" src="{% static "v2/images/hackathon/bot.svg" %}" />
        </div>
      </div>
    </section>

    <section class="bg-white">
      <h2 class="font-weight-bolder part" style="color: black; padding-top: 3rem; font-size: 1.2rem; text-decoration: underline; text-underline-position: under">Join the Commmunity</h2>
      <h2 class="pdesc" style="color: black; padding-top: 1.25rem; padding-right: 3rem; padding-left: 3rem; font-size: 0.6rem">Register by April 1st for updates on key dates, prizes, teams, and instructions on how to start bounty hunting.</h2>
      <a class="btn font-weight-bold pbtn" style="background-color: #f9006c; border-radius: 30px; width: 12rem; font-size: 1rem; margin-top: 2rem; margin-bottom: 3rem">Join</a>
    </section>

    <section style="background: black">
      <div class="row align-items-center bottomnav" style="padding: 1rem">
        <div class="col-3">
          <img class="img-fluid" style="width: 100%" src="{% static "v2/images/logo.png" %}" />
        </div>
        <div class="col-3">
          <img class="img-fluid" style="width: 100%" src="{% static "v2/images/hackathon/microsoft.svg" %}" />
        </div>
        <div class="col-3">
          <img class="img-fluid align-middle" style="width: 100%" src="{% static "v2/images/hackathon/consensys.png" %}" />
        </div>
        <div class="col-3">
          <img class="img-fluid" style="width: 100%" src="{% static "v2/images/hackathon/ethmain.svg" %}" />
        </div>
      </div>
    </section>

    <script src="{% static "v2/js/bootstrap.min.js" %}"></script>
    <script src="{% static "v2/js/popper.min.js" %}"></script>
  </body>
</html>
