{% load static %}
<div class="modal no-bg fade" style="color: #212529; font-size: 12pt;" id="onboarding_v2" tabindex="-1" role="dialog" aria-labelledby="onboarding_v2" >
  <div class="modal-dialog modal-lg " role="document">
    <div class="modal-content" >
      <img src="{% static 'v2/images/hackathon/onboarding_v2/achievement.svg'%}" class="achievement-img d-none d-lg-inline"/>
      <img src="{% static 'v2/images/hackathon/onboarding_v2/achievement-sm.svg'%}" class="achievement-img-sm d-lg-none"/>
      <div class="modal-header border-0 px-3">
        <div class="modal-title block text-center pt-4">
          <h1>How to Earn in a Gitcoin Hackathon </h1>
          <h4 class="font-weight-semibold mt-1 pt-0">Gitcoin helps you earn by building open source development projects and
            participating in hackathons</h5>
          </div>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
      </div>

      <hr class="mx-3 d-none d-lg-block"/>

      <div class="modal-body py-0 px-3">
        <div style="font-size: 10pt; font-weight: bold; width: 100%;"
                      class="list-group list-group-horizontal-lg d-flex justify-content-between text-lg-center" width="100%" horizontal="lg">
          <div class="list-group-item py-1 border-lg-0 border-left-0 border-right-0">
            <div class="row">
              <div class="col col-3 col-lg-12 order-lg-12">
                <img class="img-fluid" src="{% static 'v2/images/hackathon/onboarding_v2/icon-01-pick.svg'%}"
                      class="d-block mx-auto p-0" style="max-width: 60%; display: block; margin: auto;"/>
              </div>
              <div class="py-3 col col-9 col-lg-12 order-lg-1">
                Pick a hackathon
              </div>
            </div>
          </div>
          <div class="list-group-item py-1 border-lg-0 border-left-0 border-right-0">
            <div class="row">
              <div class="col col-3 col-lg-12 order-lg-2">
                <img class="img-fluid" src="{% static 'v2/images/hackathon/onboarding_v2/icon-02-register.svg'%}"
                      class="d-block mx-auto p-0" style="max-width: 60%; display: block; margin: auto;"/>
              </div>
              <div class="py-3 col col-9 col-lg-12 order-lg-1">
                Register to participate
              </div>
            </div>
          </div>
          <div class="list-group-item py-1 border-lg-0 border-left-0 border-right-0">
            <div class="row">
              <div class="col col-3 col-lg-12 order-lg-2">
                <img class="img-fluid" src="{% static 'v2/images/hackathon/onboarding_v2/icon-03-choose.svg'%}"
                      class="d-block mx-auto p-0" style="max-width: 60%; display: block; margin: auto;"/>
              </div>
              <div class="col col-9 col-lg-12 order-lg-1 py-3">
                Choose prize & build
              </div>
            </div>
          </div>
          <div class="list-group-item py-1 border-lg-0 border-left-0 border-right-0">
            <div class="row">
              <div class="col col-3 col-lg-12 order-lg-2">
                <img class="img-fluid" src="{% static 'v2/images/hackathon/onboarding_v2/icon-04-meet.svg'%}"
                      class="d-block mx-auto p-0" style="max-width: 60%; display: block; margin: auto;"/>
              </div>
              <div class="py-3 col col-9 col-lg-12 order-lg-1">
                Meet great devs & workshop
              </div>
            </div>
          </div>
          <div class="list-group-item py-1 border-lg-0 border-left-0 border-right-0">
            <div class="row">
              <div class="col col-3 col-lg-12 order-lg-2">
                <img class="img-fluid" src="{% static 'v2/images/hackathon/onboarding_v2/icon-05-submit.svg'%}"
                      class="d-block mx-auto p-0" style="max-width: 60%; display: block; margin: auto;"/>
              </div>
              <div class="py-3 col col-9 col-lg-12 order-lg-1">
                Submit work & get paid
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr class="mx-3 d-none d-lg-block"/>

      <div class="modal-footer border-0 pb-0">
        <div class="container">
          <h5 class="mx-3 mt-0 d-flex justify-content-center justify-content-md-start">Benefits</h5>
          <div class="row ml-2 benefits" style="color: #757087; font-size: 12pt;">
            <div class="col col-6 col-lg-5 order-lg-0">
              <p><span class="fa fa-smile fa-2x "></span> <span class="mt-1"> Meet great devs</span></p>
            </div>
            <div class="col col-6 col-lg-5 order-lg-2">
              <p><span class="fa fa-trophy fa-2x "></span><span class="mt-1"> Build great portfolio </span></p>
            </div>
            <div class="col col-6 col-lg-5 order-lg-4">
              <p><span class="fa fa-key fa-2x "></span> <span class="mt-1"> Learn about Ethereum</span></p>
            </div>
            <div class="col col-6 col-lg-7 order-lg-1">
              <p><span class="fa fa-building fa-2x"></span> <span class="mt-1"> Build with great companies</span></p>
            </div>
            <div class="col col-6 col-lg-7 order-lg-3">
              <p><span class="fa fa-american-sign-language-interpreting fa-2x"></span><span class="mt-1"> Work alongside great founders </span>
              </p>
            </div>
            <div class="col col-6 col-lg-7 order-lg-5">
              <p><span class="fa fa-heart fa-2x"></span> <span
                class="mt-1"> Receive project support from the community</span></p>
            </div>
          </div>
          <div class="list-group list-group-flush" style="color: #757087; font-size: 10pt;">
            <div class="list-group-item ">You’ll need a Github account to work on Gitcoin</div>
            <div class="list-group-item truncate-lg">
            Common languages used in our hackathons: JavaScript, HTML, Python, CSS, Java, C++.
            </div>
            <div class="list-group-item">
              Read the rules of a Gitcoin hackathon  <a href="#rules-accordion" data-toggle="collapse" role="button">here</a>
              <div class="collapse" id="rules-accordion" role="tabpanel">
                <p class="pt-2"> Whether you are a novice or experienced designer, developer, or curious learner,
                  all are welcome to participate in a Gitcoin Hackathon.
                </p><p class="mb-2"> Hackers are welcome to work alone or with a team - unless otherwise specified,.
                  All work must be original and developed during the hackathon prize period.
                  </p><p class="mb-2"> Each hackathon “Bounty” represents a unique challenge and/or prize - hackers
                  can work on multiple bounties, but only one submissions is allowed per bounty
                  unless otherwise specified.
                  </p><p class="mb-2">
                  Projects must be submitted officially through the Gitcoin bounty page,
                  before the hackathon end date and time. Make sure to check when the end is
                  in your time zone. Sponsors do reserve the right to extend the deadline,
                  however this must be communicated publicly to everyone to ensure fairness.
                  </p><p class="mb-2">
                  Typically hackathon projects must be entirely built during the length of the event,
                  unless the bounty indicates you can use a pre-existing project with new additions.
                  </p><p class="mb-2">Every bounty is unique with different criteria and requirements - make sure to read the details on
                  the bounty page, and reach out to the sponsor or a Gitcoin staff member for help or
                  Questions. Discord link: <a target="_blank" href="https://discord.gg/6PZUM3cFpz">https://discord.gg/6PZUM3cFpz</a>
                </p>
              </div>
            </div>
          </div>

          <div class="py-5">
            <div class="row px-4">
              <div class="col col-12 col-lg-3 testimonial">
                <div>
                  <img src="{% static 'v2/images/hackathon/onboarding_v2/matt-solomon.png'%}" class="rounded-circle"/>
                </div>
                <p class="mt-2 font-weight-semibold">Matt Solomon
                  {% comment %} <small class="d-block" style="color: #9498AB"> Lead Designer </small> {% endcomment %}
                </p>

              </div>
              <div class="col col-12 col-lg-9">
                Transitioning to a career in crypto can be tough, but Gitcoin was a big help for me.
                Completing Gitcoin bounties and participating in Hackathons were invaluable for gaining
                exposure, experience, and of course making some money!
              </div>
            </div>
          </div>
          {% if next %}
            <a class="btn btn-outline-primary px-5 my-3 mx-auto d-table" href="{{ next }}">
              I’m ready to explore hackathons!
            </a>
          {% else %}
            <div class="d-block mx-auto text-center pt-2 custom-control custom-checkbox">
              <input onchange="hideNextTime(this)" type="checkbox" class="custom-control-input" id="hide-hackaton-onboarding">
              <label class="custom-control-label pb-2" for="hide-hackaton-onboarding">Got it! Don’t show me again</label>
            </div>
            <button class="btn btn-outline-primary px-5 mb-5 d-block mx-auto"  onclick="dismiss()">
              I’m ready to explore hackathons!
            </button>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" defer>

  let showOnboarding = true
  let hideModal = false
  const storageKey = "onboarding-v2-modal-visibility"

  const hideNextTime = (checkbox) => {
    hideModal = checkbox.checked ? true : false
  }

  const dismiss = () => {
    window.localStorage.setItem(storageKey, hideModal ? 0 : 1)
    showOnboarding = false
    $('.jquery-modal').remove()
    $('body').css('overflow', 'scroll')
    $('#onboarding_v2').bootstrapModal('hide');
  }

  const loadOnboardingModal = () => {
    if (showOnboarding) {
      $('#onboarding_v2').bootstrapModal('show');
    }
  }

  $(window).on('load', function () {
    {% if not hideModal %}
    loadOnboardingModal()
    {% endif %}
  });

  $(document).on('readystatechange', () => {
    const status = window.localStorage.getItem(storageKey)
      if (status !== null) {
        showOnboarding = Boolean(+status)
      } else {
        showOnboarding = true
      }
  })

</script>
