path.lineTrajectory, path.subTrajectory {
  stroke-width: 2;
  stroke-opacity: 0.2;
  opacity: 0.5;
  fill-opacity: 0.3;
  stroke: gray;
  fill: none;
  pointer-events: none;
}

path.lineTrajectoryMonotone {
  stroke-width: 2;                            
  fill: none;   
  pointer-events: none;   
  stroke: lightgray;   
}

circle.pointTrajectory {
  pointer-events: none;
  stroke: lightgray;
  fill: black;
  opacity: .5;
}

line.lineClosestTrajectory {
  stroke: black;
  stroke-dasharray: 4,4;
  display: block;
}

line.lineClosestPoint {
  stroke: black;
  opacity: .1;
  display: block;
}

.selected {
  opacity: .5;
}

circle.pointClosestTrajectory {
  opacity: .1;
  display: block;
}

circle.focusGuide {
  opacity: 1;
  display: block;
  fill: none;
  stroke: black;
}