section.dashboard .content-tx-error{


  .wrapper{
    margin: auto;
    max-width: 900px;
  }

  .text{
    margin-top:2em;
  }

  p{
    text-align: center;
  }


}




@media #{$tablet} { 

}

@media #{$phone} { 

}



