section.dashboard .content-leaderboard{

  .wrapper{

  }

  .col{
    display: flex;
    align-items: center;
    margin-bottom: 1em;
  }

  .place{
    margin-right: 1em;
  }

  .adress{

  }

  .score{
    margin-left: auto;
  }


}