section.dashboard .content-delegation{

	.wrapper{
		
	}

	.amount{
	    font-family: 'Space Mono', monospace;
	    color: var(--aqua_light);
	    font-size: 200%;
	    font-weight: 400;
	    margin-bottom: 0.2em;
	  	line-height: 1.3em;
	    text-align: center;
	}

	.status{
    	font-size: 100%;
    	font-weight: 400;
    	text-align: center;
	}

}