/* core */
@media (min-width: 1313px) {
  :root {
    --device: "desktop";
  }
}
@media (max-width: 1312px) {
  :root {
    --device: "laptop";
  }
}
@media (max-width: 992px) {
  :root {
    --device: "tablet";
  }
}
@media (max-width: 688px) {
  :root {
    --device: "phone";
  }
}
:root {
  --purple_light: #9760FF;
  --purple: #7F51D6;
  --purple_dark: #6A43B3;
  --purple_half: #7F51D688;
  --pink_light: #FA72AF;
  --pink: #DA5892;
  --pink_dark: #B44878;
  --pink_half: #DA589288;
  --aqua_light: #7AFFF7;
  --aqua: #54D8D0;
  --aqua_dark: #42AFA9;
  --aqua_half: #54D8D088;
  --white: #FFF;
  --space: #0E0333;
  --space_glass: #0E033322;
  --space_pink: #2D1041;
  --space_light: #180D3B;
  --stone: #6E6885;
  --smoke: #3E355C;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
  width: 100%;
}

body {
  background-color: var(--space);
  color: var(--stone);
}

html {
  font-family: "Poppins", sans-serif;
  font-kerning: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  line-height: 1.66em;
}

h1 {
  font-family: "Space Mono", monospace;
  color: var(--white);
  font-size: 200%;
  font-weight: 400;
  line-height: 1.6em;
  margin-bottom: 2rem;
  animation: colorcycle-shadow 3s ease-in-out infinite;
}

h2 {
  font-family: "Space Mono", monospace;
  color: var(--white);
  font-size: 150%;
  font-weight: 400;
  line-height: 1.6em;
  margin-bottom: 2rem;
}
h2 span {
  animation: colorcycle-text 1s ease-in-out infinite;
}

h3 {
  font-family: "Poppins", sans-serif;
  font-size: 100%;
  font-weight: 500;
  color: var(--purple_light);
  margin-bottom: 2rem;
}
h3 span {
  animation: colorcycle-text 1s ease-in-out infinite;
}

p {
  font-size: 100%;
  font-weight: 400;
  margin-bottom: 2rem;
}

ol, ul {
  margin-bottom: 2rem;
}

li {
  margin-bottom: 0.5em;
}

a {
  color: var(--white);
}
a:hover {
  color: var(--space);
  animation: colorcycle-text 1s ease-in-out infinite;
}
a:focus {
  outline: none;
  color: var(--pink);
}

@media (min-width: 1313px) {
  html {
    font-size: 140%;
  }
}
@media (max-width: 1312px) {
  html {
    font-size: 120%;
  }
}
@media (max-width: 992px) {
  html {
    font-size: 110%;
  }
}
@media (max-width: 688px) {
  html {
    font-size: 100%;
  }

  h1 {
    font-size: 180%;
  }
}
/* nav */
nav {
  display: flex;
}

#nav-user {
  align-self: center;
  margin-right: 30px;
}
#nav-user a {
  text-decoration: none;
  color: var(--purple_light);
}
#nav-user a:hover {
  color: var(--white);
}
#nav-user div {
  display: flex;
}
#nav-user div img {
  width: 40px;
  height: 40px;
  display: block;
  border-radius: 32px;
  align-self: center;
}
#nav-user div span {
  align-self: center;
  margin-left: 5px;
}
#nav-user.hide {
  display: none;
}

@media (max-width: 992px) {
  #nav-user {
    margin-right: 15px;
  }
  #nav-user span {
    display: none;
  }
}
#nav-links {
  align-self: center;
  white-space: nowrap;
  margin-right: 30px;
}
#nav-links a {
  color: var(--purple_light);
  margin-right: 30px;
}
#nav-links a[aria-current=page] li {
  color: var(--white);
}
#nav-links a:hover li {
  color: var(--white);
}
#nav-links a:last-child {
  margin-right: initial;
}
#nav-links a li {
  color: var(--purple_light);
  display: inline-block;
  margin-bottom: initial;
  /* token ammount in menu bar*/
}
#nav-links a li span {
  background-color: var(--aqua_light);
  color: var(--space);
  font-size: 80%;
  font-weight: 600;
  font-family: "Space Mono", monospace;
  padding: 0.5em 0.5em;
  margin-left: 0.5em;
  animation: colorcycle-shadow 3s ease-in-out infinite;
}
#nav-links ul {
  margin-bottom: initial;
}

@media (max-width: 992px) {
  #nav-links {
    margin-right: 15px;
  }
  #nav-links a {
    margin-right: 15px;
  }
}
@media (max-width: 688px) {
  #nav-links {
    display: flex;
  }
  #nav-links ul {
    background-color: var(--space);
    box-shadow: 0px 0px 100px 0px var(--pink);
    animation: menu-background 4s ease-in-out infinite;
    position: absolute;
    display: none;
    top: 130px;
    right: 1em;
    left: 1em;
    z-index: 1000;
  }
  #nav-links ul.active {
    display: block;
  }
  #nav-links ul a {
    text-decoration: none;
    margin: initial;
    padding: initial;
  }
  #nav-links ul a li {
    color: var(--purple);
    display: block;
    padding: 1.3em 1.3em;
  }
  #nav-links ul a:hover {
    animation: inherit;
  }
  #nav-links ul a:hover li {
    background-color: var(--purple);
    color: var(--space);
  }
  #nav-links ul a[aria-current=page] {
    color: var(--white);
  }
}
#nav-wallet {
  align-self: center;
  display: flex;
  cursor: pointer;
}
#nav-wallet img, #nav-wallet svg {
  width: 32px;
  height: 32px;
  display: block;
  align-self: center;
  cursor: pointer;
}
#nav-wallet #noproviderIcon.hide {
  display: none;
}
#nav-wallet #providerIcon img.hide, #nav-wallet #providerIcon svg.hide {
  display: none;
}
#nav-wallet.hide {
  display: none;
}

#nav-signin {
  align-self: center;
}
#nav-signin .btn {
  margin-bottom: 0px;
}
#nav-signin.hide {
  display: none;
}

#burger {
  display: none;
}

@media (max-width: 688px) {
  #burger {
    display: block;
    margin-right: 0px;
    align-self: center;
  }
  #burger img, #burger svg {
    width: 32px;
    height: 32px;
    display: block;
    align-self: center;
    cursor: pointer;
  }
  #burger .burgerIcon {
    display: inline-block;
  }
  #burger .closeIcon {
    display: inline-block;
  }
}
header {
  display: grid;
  grid-template-columns: 48px auto;
  grid-column-gap: 1em;
  height: 130px;
  font-weight: 600;
  font-size: 80%;
  margin: 0em 30px;
}
header .logo {
  height: 48px;
  width: 48px;
  margin: auto;
}
header .logo img, header .logo svg {
  height: 100%;
  width: 100%;
  display: block;
}
header nav {
  align-self: center;
  justify-self: end;
}

@media (max-width: 992px) {
  header {
    margin: 0em 20px;
  }
}
@media (max-width: 688px) {
  header {
    margin: 0em 10px;
  }
}
/* components */
.btn {
  margin: 0;
  margin-bottom: 1rem;
  display: inline-block;
  padding: 0.66rem 1.66em;
  font-size: 100%;
  font-weight: 600;
  text-decoration: none;
  white-space: nowrap;
  border: none;
  cursor: pointer;
  line-height: 1.5em;
  background-color: var(--pink_light);
  color: var(--space);
}
.btn:hover {
  animation: colorcycle 1s ease-in-out infinite;
  opacity: 1;
}
.btn:focus {
  outline: none;
  color: var(--space);
}

/* sizes */
.btn.sm {
  padding: 0.3rem 1em;
  font-size: 80%;
}

/* colors */
.btn.purple {
  background-color: var(--purple_light);
}

.btn.aqua {
  background-color: var(--aqua_light);
}

#wallet-provider {
  background-color: var(--space);
  animation: menu-background 4s ease-in-out infinite;
  position: absolute;
  top: 1em;
  right: 1em;
  z-index: 1001;
  min-width: 280px;
  display: none;
}
#wallet-provider.active {
  display: block;
}
#wallet-provider div.header {
  display: grid;
  grid-template-columns: auto 32px;
  grid-column-gap: 1em;
  padding: 0.7em 1em;
  cursor: pointer;
  background-color: var(--space);
  border-bottom: 1px solid var(--smoke);
  color: var(--stone);
  font-size: 80%;
  font-weight: 600;
  align-self: center;
}
#wallet-provider div.header img, #wallet-provider div.header svg {
  width: 32px;
  height: 32px;
  display: block;
  align-self: center;
  cursor: pointer;
}
#wallet-provider div.status {
  padding: 1em 2em;
  border-bottom: 1px solid var(--smoke);
  background-color: var(--aqua);
  background-color: var(--purple);
  font-size: 80%;
  font-weight: 600;
  color: var(--space);
  cursor: default;
}
#wallet-provider div.status small {
  font-size: 100%;
}
#wallet-provider div.provider {
  display: grid;
  grid-template-columns: auto 32px;
  grid-column-gap: 1em;
  padding: 0.7em 1em;
  cursor: pointer;
  color: var(--stone);
  font-size: 80%;
  font-weight: 600;
  align-self: center;
  cursor: pointer;
}
#wallet-provider div.provider img, #wallet-provider div.provider svg {
  width: 32px;
  height: 32px;
  display: block;
  align-self: center;
  cursor: pointer;
}
#wallet-provider div.provider:hover {
  color: var(--space);
  background-color: var(--purple);
}

[data-sal] {
  transition-duration: 0.2s;
  transition-duration: var(--sal-duration, 0.2s);
  transition-delay: 0s;
  transition-delay: var(--sal-delay, 0s);
  transition-timing-function: ease;
  transition-timing-function: var(--sal-easing, ease);
}

[data-sal][data-sal-duration="200"] {
  transition-duration: 0.2s;
}

[data-sal][data-sal-duration="250"] {
  transition-duration: 0.25s;
}

[data-sal][data-sal-duration="300"] {
  transition-duration: 0.3s;
}

[data-sal][data-sal-duration="350"] {
  transition-duration: 0.35s;
}

[data-sal][data-sal-duration="400"] {
  transition-duration: 0.4s;
}

[data-sal][data-sal-duration="450"] {
  transition-duration: 0.45s;
}

[data-sal][data-sal-duration="500"] {
  transition-duration: 0.5s;
}

[data-sal][data-sal-duration="550"] {
  transition-duration: 0.55s;
}

[data-sal][data-sal-duration="600"] {
  transition-duration: 0.6s;
}

[data-sal][data-sal-duration="650"] {
  transition-duration: 0.65s;
}

[data-sal][data-sal-duration="700"] {
  transition-duration: 0.7s;
}

[data-sal][data-sal-duration="750"] {
  transition-duration: 0.75s;
}

[data-sal][data-sal-duration="800"] {
  transition-duration: 0.8s;
}

[data-sal][data-sal-duration="850"] {
  transition-duration: 0.85s;
}

[data-sal][data-sal-duration="900"] {
  transition-duration: 0.9s;
}

[data-sal][data-sal-duration="950"] {
  transition-duration: 0.95s;
}

[data-sal][data-sal-duration="1000"] {
  transition-duration: 1s;
}

[data-sal][data-sal-duration="1050"] {
  transition-duration: 1.05s;
}

[data-sal][data-sal-duration="1100"] {
  transition-duration: 1.1s;
}

[data-sal][data-sal-duration="1150"] {
  transition-duration: 1.15s;
}

[data-sal][data-sal-duration="1200"] {
  transition-duration: 1.2s;
}

[data-sal][data-sal-duration="1250"] {
  transition-duration: 1.25s;
}

[data-sal][data-sal-duration="1300"] {
  transition-duration: 1.3s;
}

[data-sal][data-sal-duration="1350"] {
  transition-duration: 1.35s;
}

[data-sal][data-sal-duration="1400"] {
  transition-duration: 1.4s;
}

[data-sal][data-sal-duration="1450"] {
  transition-duration: 1.45s;
}

[data-sal][data-sal-duration="1500"] {
  transition-duration: 1.5s;
}

[data-sal][data-sal-duration="1550"] {
  transition-duration: 1.55s;
}

[data-sal][data-sal-duration="1600"] {
  transition-duration: 1.6s;
}

[data-sal][data-sal-duration="1650"] {
  transition-duration: 1.65s;
}

[data-sal][data-sal-duration="1700"] {
  transition-duration: 1.7s;
}

[data-sal][data-sal-duration="1750"] {
  transition-duration: 1.75s;
}

[data-sal][data-sal-duration="1800"] {
  transition-duration: 1.8s;
}

[data-sal][data-sal-duration="1850"] {
  transition-duration: 1.85s;
}

[data-sal][data-sal-duration="1900"] {
  transition-duration: 1.9s;
}

[data-sal][data-sal-duration="1950"] {
  transition-duration: 1.95s;
}

[data-sal][data-sal-duration="2000"] {
  transition-duration: 2s;
}

[data-sal][data-sal-delay="50"] {
  transition-delay: 0.05s;
}

[data-sal][data-sal-delay="100"] {
  transition-delay: 0.1s;
}

[data-sal][data-sal-delay="150"] {
  transition-delay: 0.15s;
}

[data-sal][data-sal-delay="200"] {
  transition-delay: 0.2s;
}

[data-sal][data-sal-delay="250"] {
  transition-delay: 0.25s;
}

[data-sal][data-sal-delay="300"] {
  transition-delay: 0.3s;
}

[data-sal][data-sal-delay="350"] {
  transition-delay: 0.35s;
}

[data-sal][data-sal-delay="400"] {
  transition-delay: 0.4s;
}

[data-sal][data-sal-delay="450"] {
  transition-delay: 0.45s;
}

[data-sal][data-sal-delay="500"] {
  transition-delay: 0.5s;
}

[data-sal][data-sal-delay="550"] {
  transition-delay: 0.55s;
}

[data-sal][data-sal-delay="600"] {
  transition-delay: 0.6s;
}

[data-sal][data-sal-delay="650"] {
  transition-delay: 0.65s;
}

[data-sal][data-sal-delay="700"] {
  transition-delay: 0.7s;
}

[data-sal][data-sal-delay="750"] {
  transition-delay: 0.75s;
}

[data-sal][data-sal-delay="800"] {
  transition-delay: 0.8s;
}

[data-sal][data-sal-delay="850"] {
  transition-delay: 0.85s;
}

[data-sal][data-sal-delay="900"] {
  transition-delay: 0.9s;
}

[data-sal][data-sal-delay="950"] {
  transition-delay: 0.95s;
}

[data-sal][data-sal-delay="1000"] {
  transition-delay: 1s;
}

[data-sal][data-sal-easing=linear] {
  transition-timing-function: linear;
}

[data-sal][data-sal-easing=ease] {
  transition-timing-function: ease;
}

[data-sal][data-sal-easing=ease-in] {
  transition-timing-function: ease-in;
}

[data-sal][data-sal-easing=ease-out] {
  transition-timing-function: ease-out;
}

[data-sal][data-sal-easing=ease-in-out] {
  transition-timing-function: ease-in-out;
}

[data-sal][data-sal-easing=ease-in-cubic] {
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

[data-sal][data-sal-easing=ease-out-cubic] {
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

[data-sal][data-sal-easing=ease-in-out-cubic] {
  transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
}

[data-sal][data-sal-easing=ease-in-circ] {
  transition-timing-function: cubic-bezier(0.6, 0.04, 0.98, 0.335);
}

[data-sal][data-sal-easing=ease-out-circ] {
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

[data-sal][data-sal-easing=ease-in-out-circ] {
  transition-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

[data-sal][data-sal-easing=ease-in-expo] {
  transition-timing-function: cubic-bezier(0.95, 0.05, 0.795, 0.035);
}

[data-sal][data-sal-easing=ease-out-expo] {
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}

[data-sal][data-sal-easing=ease-in-out-expo] {
  transition-timing-function: cubic-bezier(1, 0, 0, 1);
}

[data-sal][data-sal-easing=ease-in-quad] {
  transition-timing-function: cubic-bezier(0.55, 0.085, 0.68, 0.53);
}

[data-sal][data-sal-easing=ease-out-quad] {
  transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

[data-sal][data-sal-easing=ease-in-out-quad] {
  transition-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

[data-sal][data-sal-easing=ease-in-quart] {
  transition-timing-function: cubic-bezier(0.895, 0.03, 0.685, 0.22);
}

[data-sal][data-sal-easing=ease-out-quart] {
  transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}

[data-sal][data-sal-easing=ease-in-out-quart] {
  transition-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
}

[data-sal][data-sal-easing=ease-in-quint] {
  transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
}

[data-sal][data-sal-easing=ease-out-quint] {
  transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
}

[data-sal][data-sal-easing=ease-in-out-quint] {
  transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
}

[data-sal][data-sal-easing=ease-in-sine] {
  transition-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715);
}

[data-sal][data-sal-easing=ease-out-sine] {
  transition-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
}

[data-sal][data-sal-easing=ease-in-out-sine] {
  transition-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

[data-sal][data-sal-easing=ease-in-back] {
  transition-timing-function: cubic-bezier(0.6, -0.28, 0.735, 0.045);
}

[data-sal][data-sal-easing=ease-out-back] {
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

[data-sal][data-sal-easing=ease-in-out-back] {
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

[data-sal|=fade] {
  opacity: 0;
  transition-property: opacity;
}

[data-sal|=fade].sal-animate, body.sal-disabled [data-sal|=fade] {
  opacity: 1;
}

[data-sal|=slide] {
  opacity: 0;
  transition-property: opacity, transform;
}

[data-sal=slide-up] {
  transform: translateY(20%);
}

[data-sal=slide-down] {
  transform: translateY(-20%);
}

[data-sal=slide-left] {
  transform: translateX(20%);
}

[data-sal=slide-right] {
  transform: translateX(-20%);
}

[data-sal|=slide].sal-animate, body.sal-disabled [data-sal|=slide] {
  opacity: 1;
  transform: none;
}

[data-sal|=zoom] {
  opacity: 0;
  transition-property: opacity, transform;
}

[data-sal=zoom-in] {
  transform: scale(0.5);
}

[data-sal=zoom-out] {
  transform: scale(1.1);
}

[data-sal|=zoom].sal-animate, body.sal-disabled [data-sal|=zoom] {
  opacity: 1;
  transform: none;
}

[data-sal|=flip] {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transition-property: transform;
}

[data-sal=flip-left] {
  transform: perspective(2000px) rotateY(-91deg);
}

[data-sal=flip-right] {
  transform: perspective(2000px) rotateY(91deg);
}

[data-sal=flip-up] {
  transform: perspective(2000px) rotateX(-91deg);
}

[data-sal=flip-down] {
  transform: perspective(2000px) rotateX(91deg);
}

[data-sal|=flip].sal-animate, body.sal-disabled [data-sal|=flip] {
  transform: none;
}

section#particles {
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100vw;
  z-index: -1;
}
section#particles svg {
  display: grid;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  width: 0px;
  height: 0px;
  fill: none;
  transition: all 300ms linear;
}

/*keyframes*/
@keyframes colorcycle {
  0% {
    background-color: var(--pink);
  }
  33% {
    background-color: var(--aqua);
  }
  66% {
    background-color: var(--purple);
  }
  100% {
    background-color: var(--pink);
  }
}
@keyframes colorcycle-text {
  0% {
    color: var(--pink);
  }
  33% {
    color: var(--aqua);
  }
  66% {
    color: var(--purple);
  }
  100% {
    color: var(--pink);
  }
}
@keyframes colorcycle-stroke {
  0% {
    stroke: var(--pink);
  }
  33% {
    stroke: var(--aqua);
  }
  66% {
    stroke: var(--purple);
  }
  100% {
    stroke: var(--pink);
  }
}
@keyframes colorcycle-shadow {
  0% {
    filter: drop-shadow(0px 0px 44px var(--pink)) drop-shadow(0px 0px 6px var(--pink));
  }
  33% {
    filter: drop-shadow(0px 0px 44px var(--aqua)) drop-shadow(0px 0px 6px var(--aqua));
  }
  66% {
    filter: drop-shadow(0px 0px 44px var(--purple)) drop-shadow(0px 0px 6px var(--purple));
  }
  100% {
    filter: drop-shadow(0px 0px 44px var(--pink)) drop-shadow(0px 0px 6px var(--pink));
  }
}
@keyframes menu-background {
  0% {
    box-shadow: 0px 0px 100px 0px var(--pink_half);
  }
  33% {
    box-shadow: 0px 0px 100px 0px var(--aqua_half);
  }
  66% {
    box-shadow: 0px 0px 100px 0px var(--purple_half);
  }
  100% {
    box-shadow: 0px 0px 100px 0px var(--pink_half);
  }
}
@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 15px);
  }
  100% {
    transform: translate(0, 0px);
  }
}
@keyframes floating-reverse {
  0% {
    transform: translate(0, 15px);
  }
  50% {
    transform: translate(0, 0px);
  }
  100% {
    transform: translate(0, 15px);
  }
}
.collapse {
  cursor: pointer;
}
.collapse .question {
  padding: 1em 0em;
  border-bottom: 1px solid var(--smoke);
  color: var(--white);
}
.collapse .answer {
  display: none;
  padding: 1em 0em;
}
.collapse:hover .question {
  color: var(--purple_light);
}
.collapse.visible .answer {
  display: block;
}

.web3modal-modal-lightbox {
  background-color: rgba(0, 0, 0, 0.1) !important;
  background-color: var(--space_glass) !important;
  backdrop-filter: blur(18px) !important;
}

.web3modal-modal-card {
  background-color: transparent !important;
  padding: 0em !important;
  border-radius: initial !important;
}

.web3modal-provider-wrapper {
  border: none !important;
  border-radius: inherit !important;
}

.web3modal-modal-container {
  padding: 0px !important;
}

.web3modal-provider-wrapper {
  padding: 10px !important;
}

.web3modal-provider-container {
  background-color: var(--space) !important;
  border-radius: initial !important;
  cursor: pointer;
  border: 1px solid var(--smoke) !important;
}
.web3modal-provider-container .web3modal-provider-icon {
  margin-top: 0.5em !important;
}
.web3modal-provider-container .web3modal-provider-name {
  color: var(--purple_light) !important;
  font-family: "Space Mono", monospace !important;
  font-weight: 400 !important;
  font-size: 150% !important;
}
.web3modal-provider-container .web3modal-provider-description {
  color: var(--stone) !important;
}
.web3modal-provider-container:hover .web3modal-provider-name {
  color: var(--white) !important;
  animation: colorcycle-shadow 3s ease-in-out infinite;
}

table {
  display: table;
  box-sizing: border-box;
  border-collapse: collapse;
  margin-bottom: 2rem;
}
table td {
  vertical-align: top;
  order-collapse: collapse;
  border: 1px solid var(--smoke);
  padding: 0.5rem;
}
table thead td {
  color: var(--white);
}

#flashMessageContainer {
  z-index: 10000;
  position: fixed;
  top: 1em;
  right: 1em;
  width: 300px;
}
#flashMessageContainer div {
  display: block;
  background-color: var(--aqua_light);
  color: var(--space);
  line-height: 1.3em;
  margin-bottom: 0.5em;
  padding: 0.5em 1em;
  font-size: 75%;
  font-family: "Space Mono", monospace;
  font-weight: 400;
  transition: all 1s linear;
  animation: colorcycle 1s ease-in-out infinite;
}

/* section */
section.column {
  margin-bottom: 6em;
  margin: auto;
  max-width: 1200px;
  padding: 0em 6em;
}
section.column.centered {
  text-align: center;
}
section.column figure {
  margin: 0;
  padding: 0;
  background-color: var(--smoke);
}

@media (min-width: 1313px) {
  section.column {
    padding: 0em 3em;
  }
}
@media (max-width: 688px) {
  section.column {
    padding: 0em 1.5em;
  }
}
section.grid {
  display: grid;
  grid-template-columns: 50% 50%;
  margin-bottom: 6em;
  max-width: 1600px;
  margin: auto;
}
section.grid div {
  align-self: center;
  text-align: right;
  margin: 0em 3em;
}
section.grid figure img, section.grid figure svg {
  object-fit: cover;
  height: 100%;
  padding: 3em;
}
section.grid figure.floating {
  animation: floating 3s ease-in-out infinite;
}
section.grid.reverse {
  grid-template-columns: 50% 50%;
}
section.grid.reverse div {
  grid-column: 1;
  grid-row: 1;
  text-align: left;
}
section.grid.reverse figure {
  grid-column: 2;
  grid-row: 1;
}
section.grid.reverse figure.floating {
  animation: floating-reverse 3s ease-in-out infinite;
}

@media (max-width: 1312px) {
  section.grid figure img, section.grid figure svg {
    padding: 1em;
  }
}
@media (max-width: 992px) {
  section.grid {
    display: block;
  }
  section.grid figure img, section.grid figure svg {
    object-fit: contain;
    height: 700px;
    padding: initial;
  }
  section.grid div {
    padding: 3em 0em;
    text-align: left;
  }
}
@media (max-width: 688px) {
  section.grid figure img, section.grid figure svg {
    object-fit: contain;
    height: 500px;
    padding: inherit;
  }
  section.grid div {
    margin: 0em 1.5em;
  }
}
section.dashboard {
  display: grid;
  grid-template-columns: 50% 50%;
  margin: auto;
  margin: 0em 30px;
}
section.dashboard article {
  background-color: #180D3B;
  margin: 0.5em;
}

section.hero {
  width: 100%;
  height: 100vh;
  margin-top: -130px;
  display: grid;
  margin-bottom: 3em;
}
section.hero div.content {
  align-self: center;
  grid-column: 1;
  grid-row: 1;
  max-width: 600px;
  margin-left: 3em;
}
section.hero div.background {
  grid-column: 1;
  grid-row: 1;
  z-index: -2;
}
section.hero img, section.hero svg {
  height: 100vh;
  object-fit: cover;
}
section.hero h1 {
  color: var(--white);
  animation: inherit;
}
section.hero h1 span {
  background-color: var(--space_pink);
}
section.hero.widescreen {
  height: 70vh;
}
section.hero.widescreen img, section.hero.widescreen svg {
  height: 70vh;
}
section.hero.widescreen div.content {
  width: 100%;
  max-width: 100%;
  margin: initial;
  text-align: center;
}
section.hero.widescreen h1 {
  margin: initial;
  margin: 3em;
}

@media (max-width: 688px) {
  section.hero div.content {
    margin-left: 1.5em;
    max-width: 80%;
  }
}
section.quest {
  display: grid;
  grid-template-rows: 1fr 2px 130px;
  height: 100vh;
  width: 100vw;
}
section.quest main {
  display: grid;
}
section.quest main div.wrapper {
  justify-self: center;
  align-self: center;
}
section.quest main div.question {
  text-align: center;
  margin: 0em 3em;
}
section.quest main div.result h1 {
  margin-bottom: 0;
  animation: colorcycle-text 1s ease-in-out infinite;
}
section.quest main div.claim {
  background-color: var(--space_glass);
  backdrop-filter: blur(18px);
  max-width: 600px;
  padding: 2em;
  text-align: center;
  animation: menu-background 4s ease-in-out infinite;
}
section.quest main div.claim p {
  margin-bottom: initial;
}
section.quest main div.claim .claimAdress {
  width: 100%;
}
section.quest main div.claim div.grid {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-row-gap: 0.2em;
  font-family: "Space Mono", monospace;
  line-height: 1.5em;
}
section.quest main div.claim div.grid span.description {
  justify-self: start;
  text-align: left;
}
section.quest main div.claim div.grid span.token {
  justify-self: end;
  text-align: right;
}
section.quest main div.claim div.grid.total {
  margin-top: 0.5em;
  padding-top: 0.5em;
  border-top: 1px solid var(--smoke);
  color: var(--white);
  font-weight: 600;
}
section.quest main div.reply {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1em;
  margin: 0em 3em;
}
section.quest main div.reply a {
  background-color: var(--purple_light);
  height: 100px;
  cursor: pointer;
  display: grid;
  padding: 0.5em;
  text-decoration: none;
}
section.quest main div.reply a div {
  display: inline-block;
  font-weight: 600;
  color: var(--space);
  justify-self: center;
  align-self: center;
  text-align: center;
}
section.quest main div.reply a:hover {
  animation: colorcycle 1s ease-in-out infinite;
}
section.quest main div.video {
  width: 70vw;
  height: 45.675vw;
  max-height: calc(90vh - 130px);
}
section.quest main div.video iframe, section.quest main div.video object, section.quest main div.video embed {
  width: 100%;
  height: 100%;
  border: 0;
}
section.quest div.seperator {
  height: 2px;
}
section.quest div.seperator div#progressbar {
  width: 100%;
  background-color: var(--purple_light);
  height: 2px;
  transition: all 1000ms linear;
}
section.quest div.seperator div#progressbar.halftime {
  background-color: var(--aqua_light);
}
section.quest div.seperator div#progressbar.hurryup {
  animation: colorcycle 1s ease-in-out infinite;
}
section.quest nav {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-gap: 1em;
  font-weight: 600;
  color: var(--white);
  background-color: var(--space_glass);
  backdrop-filter: blur(18px);
}
section.quest nav div {
  align-self: center;
}
section.quest nav .left {
  justify-self: left;
  margin-left: 2em;
}
section.quest nav .center {
  text-align: center;
}
section.quest nav .right {
  justify-self: right;
  margin-right: 2em;
}
section.quest nav .btn {
  margin-bottom: initial;
}
section.quest nav svg {
  display: block;
  margin: 0;
  padding: 0;
  width: 64px;
  height: 64px;
}
section.quest nav a {
  text-decoration: none;
}

@media (max-width: 688px) {
  section.quest {
    height: 90vh;
  }
  section.quest main div.question {
    text-align: center;
    margin: 1em;
  }
  section.quest main div.question h1 {
    font-size: 120%;
  }
  section.quest main div.reply {
    margin: 0em 1em;
    grid-gap: 0.5em;
  }
  section.quest main div.claim {
    padding: 2em 1em;
    margin: 1em;
  }
  section.quest main div.video {
    width: 100vw;
    height: 56.25vw;
  }
}
section.mission {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0em 1.5em;
  grid-column-gap: 1em;
}
section.mission article figure img, section.mission article figure svg {
  width: 100%;
}
section.mission article .caption {
  display: flex;
  justify-content: space-between;
  margin-top: 1em;
}
section.mission article .caption .title a {
  text-decoration: none;
}
section.mission article .caption .title h3 {
  margin: initial;
}
section.mission article .caption span {
  font-size: 80%;
}
section.mission article .caption .badges {
  display: flex;
  align-items: center;
}
section.mission article .caption .badges .kudos {
  display: flex;
  background-color: var(--space_pink);
  padding: 0.5em;
  margin-left: 0.5em;
}
section.mission article .caption .badges .kudos svg {
  width: 32px;
  height: 32px;
  fill: var(--space);
}
section.mission article .caption .badges .kudos span {
  font-size: 80%;
  line-height: initial;
  font-family: "Space Mono", monospace;
}
section.mission article .caption .badges .gtc {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--aqua_light);
  padding: 0.5em;
  margin-left: 0.5em;
}
section.mission article .caption .badges .gtc svg {
  width: 32px;
  height: 32px;
}
section.mission article .caption .badges .gtc span {
  font-size: 80%;
  line-height: initial;
  font-family: "Space Mono", monospace;
  color: var(--space);
  font-weight: 700;
}

section.background {
  position: fixed;
  height: 100vh;
  width: 100vw;
  z-index: -1;
}
section.background img, section.background svg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

section#footersocial {
  display: flex;
  justify-content: space-between;
  margin: 0em 3em;
  margin-top: 8em;
}
section#footersocial a {
  display: block;
}
section#footersocial a svg {
  display: block;
  background-color: none;
  stroke: var(--purple_light);
  stroke-width: 2;
  stroke-miterlimit: 5;
  width: 48px;
  height: 48px;
  fill: none;
}
section#footersocial a svg:hover {
  animation: colorcycle-stroke 3s ease-in-out infinite;
}

@media (max-width: 688px) {
  section#footersocial {
    margin-left: 1.5em;
    margin-right: 1.5em;
    margin-top: 6em;
    margin-bottom: 3em;
  }
  section#footersocial a svg {
    width: 36px;
    height: 36px;
  }
}
section#footer {
  text-align: center;
  margin: 3em 3em;
  padding: 3em;
  border-top: 1px solid var(--smoke);
}
section#footer a {
  margin-right: 1.5em;
  text-decoration: none;
  font-weight: 600;
  font-size: 80%;
  color: var(--purple_light);
}
section#footer a[aria-current=page] {
  color: var(--white);
}
section#footer a:last-child {
  margin-right: initial;
}
section#footer a:hover {
  animation: inherit;
  color: var(--white);
}

@media (max-width: 688px) {
  section#footer {
    margin: 0em 1.5em;
    padding: 3em;
  }
  section#footer a {
    display: block;
    margin-right: initial;
    padding-bottom: 2em;
  }
}
/*layout*/
.hide {
  display: none !important;
}

.d-none {
  display: none !important;
}

.receiveadress {
  display: block;
  padding: 0.5em 1em;
  color: var(--aqua_light);
  font-family: "Space Mono", monospace;
  background-color: var(--space_pink);
  font-size: 100%;
  text-align: center;
  margin-bottom: 2em;
  word-break: break-all;
}

::-moz-selection {
  background: var(--aqua_light);
  color: var(--space);
}

::selection {
  background: var(--aqua_light);
  color: var(--space);
}
