{% load sekizai_tags i18n wiki_tags static %}<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    {% include 'shared/favicon.html' %}
    <title>{% block wiki_pagetitle %}{% endblock %}{% block wiki_site_title %} - django-\/\/  i K |{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="author" content="www.django-wiki.org">

    {% include 'shared/head.html' %}

    <style>

      #article-breadcrumbs {
        margin: 0;
      }

      #article-menu {
        border-bottom: 1px solid #EEE;
        padding: 0px;
        padding-bottom: 0px;
        margin-bottom: 20px;
      }

      .form-group.form-actions {
          background: #ececec;
          padding: 1em 0;
      }

      .page-header {
        margin: 1em 0;
        padding-bottom: 9px;
        margin: 40px 0 20px;
        border-bottom: 1px solid #eee;
      }

      .panel-heading, .card {
        margin: 5px 0;
        width: 100%;
      }

      .dropdown-menu .dropdown-item i {
        margin-right: 10px;
        width: 15px;
      }

      .dropdown-menu .dropdown-divider:first-child {
        display: none;
      }

    </style>
    {% render_block "css" %}

  </head>

  <body>

  {% block wiki_body %}

    <div class="content__main min-vh-100 d-md-flex flex-column">

      {% block wiki_navbar %}
        {% include 'shared/tag_manager_2.html' %}
        {% include 'shared/top_nav.html' with class='d-md-flex' %}

        <div class="header" style="z-index: 4;">
          {% include 'home/nav.html' %}
        </div>
      {% endblock %}

      <div class="container my-4">

        <div class="row">
          <div class="col">
            <!-- Reserved for breadcrumbs -->
            {% block wiki_breadcrumbs %}{% endblock %}

            {% if '/_search' in request.path %}
              <div style="width: fit-content;">
                <nav aria-label="breadcrumb">
                  <ol class="breadcrumb my-0">
                    <li class="breadcrumb-item"><a href="{% url 'wiki:root' %}">Home</a></li>
                  </ol>
                </nav>
              </div>
            {% endif %}

          </div>
          <div class="col-12 col-lg-auto mt-3 mt-lg-0">
            <div>
              {% if user.is_authenticated %}
                <ul class="list-unstyled p-0 p-lg-2 mb-0">
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-display="dynamic">
                      <span class="notification-cnt">0 </span>Notifications<b class="caret"></b>
                    </a>
                    <div class="dropdown-menu">
                      {% if "wiki.plugins.notifications"|plugin_enabled %}
                        {% include "wiki/plugins/notifications/menubaritem.html" %}
                      {% endif %}
                      {% if "wiki.plugins.globalhistory"|plugin_enabled %}
                        {% include "wiki/plugins/globalhistory/menubaritem.html" %}
                      {% endif %}
                      {% if user.is_superuser %}
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{% url 'wiki:deleted_list' %}">
                          <i class="fas fa-trash"></i>
                          {% trans "Deleted articles" %}
                        </a>
                      {% endif %}
                    </div>
                  </li>
                </ul>
              {% endif %}
            </div>

          </div>
          {% if '/_search' not in request.path %}
            <div class="col-12 col-lg-auto mt-3 mt-lg-0">
              <form class="navbar-form navbar-right" id="wiki-search-form" method="GET" action="{% spaceless %}
                  {% if article or urlpath %}
                    {% url 'wiki:search' article_id=article.id path=urlpath.path %}
                  {% else %}
                    {% url 'wiki:search' %}
                  {% endif %}
                {% endspaceless %}"
              >
                <div class="input-group">
                  <input type="search" class="form-control" name="q" placeholder="{% spaceless %}
                    {% if article or urlpath %}
                      {% trans "Search ..." %}
                    {% else %}
                      {% trans "Search whole wiki..." %}
                    {% endif %}
                  {% endspaceless %}" />
                  <span class="input-group-append">
                    <button class="btn btn-secondary" type="submit">
                      <span class="fa fa-search"></span>
                    </button>
                  </span>
                </div><!-- /input-group -->
              </form>
            </div>
          {% endif %}

        </div>

        <div class="mt-5">

          <!-- Main page contents go here -->
          {% block wiki_contents %}{% endblock %}

          <footer id="wiki-footer">
            <hr />
            {% block wiki_footer_prepend %}
            {% endblock %}
          </footer>

        </div>

      </div>

      {% include 'shared/footer.html' %}

    </div>

  {% endblock %}

  {% include 'shared/footer_scripts.html' with slim=1 %}

  {% render_block "js" %}

  <script src="{% static "wiki/js/core.js" %}"></script>
  <script type="text/javascript">
    $.fn.modal = $.fn.bootstrapModal;
  </script>

  </body>
</html>
