{% load static%}

<div class="clr_estimate {{class}}">
  <img src="{% static "v2/images/diamonds_high_fiving.gif" %}" alt="grant-clr">
  <h3>
    <span>{{ round_num }} Match Round</span>
  </h3>

  <h4>
    <span class="clr_match_prediction">{{ clr_prediction_curve.0|floatformat:2 }}</span>
    <span>DAI</span>
    of {{ total_clr_pot }} DAI
  </h4>
  <p class="mb-0">
    Your contribution at this moment would <span class="est_direction">increase</span> the CLR Match amount
    for this grant by
    <strong>
      <span class="clr_increase">0.00</span> DAI
    </strong>.
  </p>
</div>
