<script type="text/x-template" id="form-wrapper">
  <div class="create-wrapper">
    <div>
      <p>Step [[currentStep]] of [[totalSteps]]</p>
      <h4>[[heading]]</h4>
      <slot></slot>
    </div>
    <div class="d-flex justify-content-center navigation">
      <button
        :aria-disabled="currentStep === 1"
        :disabled="currentStep === 1"
        type="button"
        @click="$emit('update-navigation', -1)"
      >
        <i class="text-primary pr-2 fa fa-arrow-left"></i> Back
      </button>
      <button
        type="button"
        :aria-disabled="disableConfirm"
        :disabled="disableConfirm"
        @click="$emit('update-navigation', 1)"
      >
        [[ currentStep === totalSteps ? 'Confirm' : 'Next']] <i class="text-primary pl-2 fa fa-arrow-right"></i>
      </button>
    </div>
  </div>
</script>
