:root{
  --cosmicteal : #25E899;
  --darkcosmicteal: #0FCE7C;
  --stardustyellow: #FFCE08;
  --polarisblue: #6F3FF5;
  --vinuspurple: #8E2ABE;
  --regulusred: #F9006C;
  --milkywayblue : #15003E;
  --starwhite: #FFFFFF;
  --athensgrey: #F8F9FA;
  --alto: #DDDDDD;
  --silver: #AAAAAA;
}


*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

img{
  display: block;
  width: 100%;
}



html{
  font-family: 'Mulish', sans-serif;
}

body{
  background-color: var(--milkywayblue);
  color : var(--starwhite);
}






