#fixed-signup-button{
  position: fixed;
  top: 2em;
  right: -100vh;
  z-index: 10000;

  transition: all 1s ease;

  &.show{
    right: 2em;
  }

}



@media #{$phone} { 
  #fixed-signup-button{

    display: none;

  }
}
