section#town{
  height:100vh;
  width:100vw;
  position: fixed;
  z-index: -1;

  opacity: 1;

  figure{
    position: absolute;
    bottom: -50px;
    height: 100vh;

    img{
      width: auto;
      height: 100%;
      display: block;			
    }	
  }

  transition: all 1s ease;

  &.dim{
    opacity: 0.1;
  }

}