.txt-rotate{

  .wrap{
    padding-right: 0.1rem;
    border-right: 3px solid var(--cosmicteal);
    animation: cursor0 500ms infinite;

    &.styleLearn{
      color: var(--stardustyellow);
      animation: cursorLearn 500ms infinite;
    }

    &.styleEarn{
      color: var(--polarisblue);
      animation: cursorEarn 500ms infinite;
    }

    &.styleNetwork{
      color: var(--vinuspurple);
      animation: cursorNetwork 500ms infinite;
    }

    &.styleBuild{
      color: var(--cosmicteal);
      animation: cursorBuild 500ms infinite;
    }


  }






}


@-webkit-keyframes cursorBuild {
  0% {
    border-color: var(--milkywayblue);
  }
  50% {
    border-color: var(--cosmicteal);
  }
  100% {
    border-color: var(--milkywayblue);
  }
}


@-webkit-keyframes cursorLearn {
  0% {
    border-color: var(--milkywayblue);
  }
  50% {
    border-color: var(--stardustyellow);
  }
  100% {
    border-color: var(--milkywayblue);
  }
}

@-webkit-keyframes cursorEarn {
  0% {
    border-color: var(--milkywayblue);
  }
  50% {
    border-color: var(--polarisblue);
  }
  100% {
    border-color: var(--milkywayblue);
  }
}

@-webkit-keyframes cursorNetwork {
  0% {
    border-color: var(--milkywayblue);
  }
  50% {
    border-color: var(--vinuspurple);
  }
  100% {
    border-color: var(--milkywayblue);
  }
}
