html{
  font-family: 'Mulish', sans-serif;
  font-kerning: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-size: 130%;
  font-size: calc(1vw + 1vh);
}



h1{
  font-size: 250%;
  font-weight: 800;
  line-height: 1.3em;
  margin-bottom: 1rem;
}

h2{
  font-size: 155%;
  font-weight: 800;
  line-height: 1.3em;
  margin-bottom: 1rem; 
}

p{
  font-size: 125%;
  font-weight: 400;
  line-height: 1.6em;
  margin-bottom: 1.6rem;  
}




@media #{$laptop} {
  html{ 
    font-size: 130%;
  }
}

@media #{$tablet} { 
  html{  
    font-size: 130%;
  }
}

@media #{$phone} { 
  html{
    font-size: 115%;
  }
}

@media #{$small} { 
  html{
    font-size: 110%;
  }
}


