{% extends 'ens/ens.html' %}
{% load i18n static humanize %}
{% block 'body_block' %}
  <h1>{% trans "Manage your ENS subdomain" %}</h1>
  <div>
    <br>
    <h2><label id="githubHandle">{{ github_handle|force_escape|lower  }}</label><label>.{{ens_domain}}</label></h2>
    <h2><label>{% trans "Address: "%}{{ owner }}</label></h2>
    {% include "ens/tweet.html" %}
  </div>
  <div>
    <br>
    {% trans "Only 1 request is allowed every "%}{{ limit_reset_days }}{% trans " days. If you have lost access to this wallet,"%} 
    <br>
    {% trans "please either contact admins or try again after "%}<u>{{ try_after|naturaltime }}</u>.
  </div>
{% endblock %}
