{% load humanize %}
      {% if is_staff and profile.sybil_score != -1 %}
          Sybil Risk: <b class="mb-0 mt-1">{{ profile.sybil_score_str }}</b>
          <i class='fa fa-info-circle' data-placement="bottom" data-toggle="tooltip" data-html="true" title="Staff Only: {{profile.latest_sybil_investigation|safe}}"></i>
      {% endif %}

{% if not profile.is_org %}
  <li>
    Reliability: <b>{{profile.reliability}}</b>
    <div id="tooltip" style="display: inline-block;">
      <i class='fa fa-info-circle' data-placement="bottom" data-toggle="tooltip" data-html="true" title="
        <p>Gitcoin's perception of how reliable this user is.</p>
        <p>Reliability on Gitcoin is calculated by looking at the number of attempts <br>
          that have been made at forming a relationship; and then  <br>
          adding reliability points:</p>
        <ul>
          <li>for a high success rate</li>
          <li>for a high repeat relationship rate</li>
          <li>for a good review</li>
          <li>for a low abandonment rate</li>
          <li>for a low dispute rate</li>
        </ul>
      ">
      </i>
    </div>
    <a href="#" style="color: black; text-decoration: underline;  font-size: 12px;" data-toggle="collapse" data-target="#reliability_details">Details
    </a>
  </li>
  <div id="reliability_details" class="collapse">
    <li>
      Joined: <b>{{profile.created_on|naturaltime}}</b>
    </li>
    {% if profile.success_rate != -1 %}
      <li>
        <label id="tooltip">
          <i class='fa fa-info-circle' title="The percentage of bounties that this user has been involved with that was successful."></i>
        </label>
        Success Rate: <b>{{profile.success_rate}}</b>%
      </li>
    {% endif %}
    <li>
      <label id="tooltip">
        <i class='fa fa-info-circle' title="The number of users with whom this user has worked with more than one time.."></i>
      </label>
      Repeat {% if profile.persona_is_funder %}Workers{% else %}Funders{% endif %}: <b>{{profile.num_repeated_relationships}}</b>
    </li>
    {% if profile.persona_is_hunter %}
      <li class=''>
        <label id="tooltip">
          <i class='fa fa-info-circle' title="How many weekdays in a row has the user been active on Gitcoin?"></i>
        </label>
          Longest Streak: <b>{{profile.longest_streak}} weekdays</b>
      </li>
    {% endif %}
  </div>
  {% if profile.avg_hourly_rate %}
  <li class=''>
    Avg Hourly Rate <b>${{profile.avg_hourly_rate|floatformat:2}}</b>
    <label id="tooltip">
      <i class='fa fa-info-circle' title="The average hourly rate of bounties that this user has been involved in."></i>
    </label>
  </li>
  {% endif %}
{% endif %}
