{% load humanize %}

<script type="text/javascript" src="//d3js.org/d3.v3.min.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/cal-heatmap/3.3.10/cal-heatmap.min.js"></script>
<link rel="stylesheet" href="//cdn.jsdelivr.net/cal-heatmap/3.3.10/cal-heatmap.css" />

<div id="heatmap_parent" style="min-height: 120px; max-width: 100%; overflow-y: scroll;">
  <div id="cal-heatmap"></div>
  <script type="text/javascript">
    const oneYearAgo = new Date (
        new Date().getFullYear(),
        new Date().getMonth() - 12, 
        new Date().getDate()
    );    
    var cal = new CalHeatMap();
    cal.init({
      domain: "month",
      range: 13,
      tooltip: true,
      cellSize: 14,
      tooltip: false,
      itemName: ["activity", "activities"],
      start: oneYearAgo,
      end: new Date(),
      data: "/api/v0.1/profile/{{profile.handle}}/activity.json"
    });
  </script>

</div>