{% load i18n email_obfuscator humanize static add_url_schema avatar_tags %}
<!DOCTYPE html>
<html lang="en">
  <head>
    {% include 'shared/head.html' %}
    {% include 'shared/cards_pic.html' %}
    <link rel="stylesheet" href={% static "v2/css/dashboard.css" %}>
    <link rel="stylesheet" href={% static "v2/css/profile.css" %}>
    <link rel="stylesheet" href={% static "v2/css/tag.css" %}>
    <link rel="stylesheet" href={% static "v2/css/tabs.css" %}>
  </head>
  <body class="interior {{ active }} g-font-muli">
    {% include 'shared/tag_manager_2.html' %}
    <div class="container-fluid header profile-header dash">
      {% include 'shared/nav.html' %}
      <div class="container">
        <div class="row">
          <div class="col-12 col-lg-4 profile-header__main-infos">
            <div class="clearfix">
              <img class="profile-header__avatar mb-4 mr-4" src="{% avatar_url profile %}">
              <p class="profile-header__handle font-title">
                {% if profile.data.name %}
                  {{ profile.data.name }}
                {% endif %}
              </p>
              <p class="mb-0">{{ profile.handle }}</p>
              <p class="profile-header__links clearfix mt-1">
                <a href="{{ profile.data.html_url }}?tab=repositories" target="_blank" rel="noopener noreferrer" >
                  <i class="fab fa-github"></i>
                </a>
                {% if profile.data.blog and user.is_authenticated %}
                  <a href="{{ profile.data.blog|add_url_schema }}" target="_blank" rel="noopener noreferrer" >
                    <i class="fas fa-home"></i>
                  </a>
                {% endif %}
                {% if profile.data.email and user.is_authenticated %}
                  <a href="mailto:{{profile.data.email | obfuscate}}">
                    <i class="far fa-envelope"></i>
                  </a>
                {% endif %}
              </p>
            </div>
            {% if profile.data.bio %}
              <div class="profile-header__bio my-2">
                {{ profile.data.bio }}
              </div>
            {% endif %}
          </div>
          {% if not hidden %}
            {% if profile.is_org %}
              {% include 'profiles/organization.html' %}
            {% else %}
              <div class="col-12 col-lg-4">
                <div class="profile-header__stats profile-header__stats--contributor card mb-4">
                  <div class="card-header font-subheader">
                    {% trans "Contributor" %}
                  </div>
                  <div class="card-body font-subheader">
                    <ul>
                      <li><span class="highlight">{{ count_bounties_completed }}</span> {% trans "bounties completed" %}</li>
                      <li><span class="highlight">{{ sum_eth_collected|floatformat:2 }}</span> {% trans "ETH collected" %}</li>
                      {% if no_times_been_removed %}
                          <li> - {% trans "removed from" %} <span class="highlight">{{ no_times_been_removed }}</span> {% trans "bounties" %}</li>
                      {% endif %}
                      {% if scoreboard_position_contributor %}
                          <li><span class="highlight">#{{ scoreboard_position_contributor }}</span> {% trans "contributor" %}</li>
                      {% endif %}
                      <li class="works_with_list">
                        {% if works_with_collected|length != 0 %}
                            <span class="font-body">( <i class="fa fa-code"></i> ) Contributes To:</span>
                            {% if works_with_collected|length > 2 %}
                            <br>
                            {% endif %}
                            {% for profile, num_times in works_with_collected.items %}
                                <a href="{% url 'profile' profile %} ">
                                  <img src='{% avatar_url profile %}' title="<div class='tooltip-info tooltip-xs'>{{ profile }}: {{ num_times }} times</div>">
                                </a>
                            {% endfor %}
                        {% endif %}
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-12 col-lg-4">
                <div class="profile-header__stats profile-header__stats--funder card mb-4">
                  <div class="card-header font-subheader">
                    {% trans "Funder" %}
                  </div>
                  <div class="card-body font-subheader">
                    <ul>
                      <li><span class="highlight">{{ funded_bounties_count }}</span> {% trans "bounties funded" %}</li>
                      <li><span class="highlight">{{ sum_eth_funded|floatformat:2 }}</span> {% trans "ETH funded" %}</li>
                      {% if scoreboard_position_funder %}
                          <li><span class="highlight">#{{ scoreboard_position_funder }}</span> {% trans "funder" %}</li>
                      {% endif %}
                      <li class="works_with_list">
                        {% if works_with_funded|length %}
                            <span class="font-body">( <i class="fab fa-ethereum"></i> ) </i> {% trans "Funds" %}:</span>
                            {% if works_with_funded|length > 2 %}
                            <br>
                            {% endif %}
                            {% for profile, num_times in works_with_funded.items %}
                              <a href="{% url 'profile' profile %} ">
                                <img src='{% avatar_url profile %}' title="<div class='tooltip-info tooltip-xs'>{{ profile }}: {{ num_times }} times</div>">
                              </a>
                            {% endfor %}
                        {% endif %}
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            {% endif %}
          {% endif %}
        </div>
      </div>
    </div>
    <div class="container">
    {% if hidden %}
      {% include 'profiles/hidden.html' %}
    {% else %}
      {% if activities %}
        <div class="row pt-4 py-2">
          <div class="container profile-bounties profile-bounties--activities">
            {% for group in activities %}
              <div class="row">
                <div class="col-12 px-4 px-lg-0">
                  <span class="font-caption profile-bounties__sort_label">{{ group.title }}</span>
                </div>

                {% if group.activity_bounties %}
                <div id="activity-tabs" class="tab-container mt-4 font-body">
                  <button type="button" id="all" class="section-tab">{% trans "All Activity" %} ({{ group.activity_bounties|length }})</button>
                  <button type="button" id="funded" class="section-tab">{% trans "Bounties Funded" %} ({{ funded_bounties_count }})</button>
                  <button type="button" id="completed" class="section-tab">{% trans "Bounties Completed" %}</button>
                  <button type="button" id="tips" class="section-tab">{% trans "Tips Received" %}</button>
                </div>
                <div id="activity-tabs-sections" class="tab-sections section">
                  <div id="section-all" class="tab-section active">
                    <div class="container">
                      <div class="row mb-3 p-2">
                        <div class="col-12">
                          {% for activity in group.activity_bounties %}
                            {% include "shared/profile_activities_bounty.html" %}
                          {% endfor %}
                        </div>
                      </div>
                    </div>
                  </div>
                  <div id="section-funded" class="tab-section">
                    <div class="container">
                      <div class="row mb-3 p-2">
                        <div class="col-12">
                          {% for activity in group.activity_bounties %}
                            {% if activity.activity_type == 'new_bounty' %}
                              {% include "shared/profile_activities_bounty.html" %}
                            {% endif %}
                          {% endfor %}
                        </div>
                      </div>
                    </div>
                  </div>
                  <div id="section-completed" class="tab-section">
                    <div class="container">
                      <div class="row mb-3 p-2">
                        <div class="col-12">
                          {% for activity in group.activity_bounties %}
                            {% if activity.activity_type == 'work_done' %}
                              {% include "shared/profile_activities_bounty.html" %}
                            {% endif %}
                          {% endfor %}
                        </div>
                      </div>
                    </div>
                  </div>
                  <div id="section-tips" class="tab-section">
                    <div class="container">
                      <div class="row mb-3 p-2">
                        <div class="col-12">
                            {% for tip in tips %}
                            <div class="row result bounty_row {% if forloop.counter > 5 %}bounty_row--hidden{% endif %} {{ tip.network }}" {% if tip.github_url %}href="{{ tip.github_url }}"{% endif %}>
                              <div class="avatar-container col-1 justify-content-center special_tag hide_min_viewport">
                                <img src="{% url "avatar" %}?repo=https://github.com/{% if tip.from_username %}{{ tip.from_username }}{% else %}Self{%endif%}" class="avatar">
                              </div>
                              <div class="col-12 col-md-8 d-flex flex-column">
                                <div class="bounty-detail">
                                  {% if tip.comments_public %}
                                    <div class="title font-subheader">
                                      {% trans "Comments" %}: {{ tip.comments_public }}
                                    </div>
                                  {% endif %}
                                  <div class="bounty-summary col-12">
                                    <div class="info font-caption">
                                      from
                                      {% if tip.from_username %}
                                        {{ tip.from_username }}
                                      {% else %}
                                        {% trans "an anonymous user" %}
                                      {% endif %}
                                      {% if tip.received_on %}
                                        &bull; {{ tip.received_on | naturaltime }}
                                      {% endif %}
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="col-12 col-md-3 tags font-caption align-items-center">
                                {% if tip.network != 'mainnet' %}
                                <div class="tag network_warning">
                                  <p>
                                    <span>{{ tip.network }}</span>
                                  </p>
                                </div>
                                {% endif %}
                                <div class="tag token">
                                  <p>
                                    {{ tip.amount }}
                                    <span>{{ tip.tokenName }}</span>
                                  </p>
                                </div>
                                {% if tip.value_in_usdt_now %}
                                  <div class="tag usd">
                                    <p>
                                      {{ tip.value_in_usdt_now }}
                                      <span>USD</span>
                                    </p>
                                  </div>
                                {% endif %}
                              </div>
                            </div>
                          {% endfor %}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                {% endif %}
              </div>
            {% endfor %}
          </div>
        </div>
      {% endif %}
    {% endif %}
    </div>

    {% include 'shared/result.html' %}

    {% include 'shared/bottom_notification.html' %}
    {% include 'shared/analytics.html' %}
    {% include 'shared/footer_scripts.html'%}
    {% include 'shared/footer.html' %}
    {% include 'shared/messages.html' %}

    <!-- jQuery -->
    <script src="{% static "v2/js/abi.js" %}"></script>
    <script src="/dynamic/js/tokens_dynamic.js"></script>
    <script src="{% static "v2/js/tokens.js" %}"></script>
    <script src="{% static "v2/js/pages/profile_details.js" %}"></script>
    <script src="{% static "v2/js/shared.js" %}"></script>
    <script src="{% static "v2/js/pages/tabs.js" %}"></script>

    <script type="text/javascript">
      $(document).ready(function() {
        if ($('.profile-bounties--tips .bounty_row--hidden').length > 0) {
          var $button = $('.profile-bounties--tips .profile-bounties__btn-show-all');
          $button.removeClass('hidden');
          $button.on('click', function(event) {
            $(this).remove();
            $('.profile-bounties--tips .bounty_row').removeClass('bounty_row--hidden');
          });
        }
        setupTabs('#activity-tabs'); 


      });
    </script>
  </body>
</html>
