{% load i18n humanize static avatar_tags kudos_extras %}
<!DOCTYPE html>
<html lang="en">
  <head>
    {% if hidden %}
      <meta name="robots" content="noindex">
    {% endif %}
    {% include 'shared/head.html' %}
    {% include 'shared/cards_pic.html' %}
    {% if not hidden %}
      <link rel="canonical" href="{{profile.url}}/{{tab}}" />
    {% endif %}
    <link rel="stylesheet" href={% static "v2/css/dashboard.css" %} />
    <link rel="stylesheet" href={% static "v2/css/profile.css" %} />
    <link rel="stylesheet" href={% static "v2/css/tag.css" %} />
    <link rel="stylesheet" href={% static "v2/css/kudos/styles.css" %} />
    <link rel="stylesheet" href={% static "v2/css/tabs.css" %} />
    <link rel="stylesheet" href={% static "v2/css/rating.css" %} />
    <link rel="stylesheet" href={% static "v2/css/scroll-carousel.css" %} />
    <link rel="stylesheet" href="{% static "v2/css/activity_stream.css" %}">
  </head>
  <body class="interior {{ active }} g-font-muli">
    {% include 'shared/tag_manager_2.html' %}
    {% include 'shared/top_nav.html' with class='d-md-flex' %}
    {% include 'home/nav.html' %}
    <div class="container-fluid header profile-header dash {% if not profile.profile_wallpaper %}basic {% endif %}" style="{% if profile.profile_wallpaper %} background-image: url( {{ profile.profile_wallpaper }} ) {% endif %}">
      {% csrf_token %}
      {% if not hidden and is_staff %}
        <div class="alpha-warning font-caption mb-0">
          <span class="font-weight-bold">Staff only</span>
          <a style="color:white;" href="{{profile.admin_url}}">{% trans "Profile Admin" %}</a>
        </div>
      {% endif %}
      {% if is_editable %}
        <div class="position-relative profile-banner">
          <div class="container mt-5">
            <div class="row">
              <div class="col-12">
                <p class="profile-banner-cta text-center">
                  <i class="fa fa-camera"></i>
                  Update Header Image
                </p>
              </div>
            </div>
          </div>
        </div>
      {% endif %}
    </div>
    <div class="container-fluid bg-light">
      <div class="container profile-card mt-md-n5 mh-150">
        <div class="row">
          {% if total_kudos_count %}
            <div id="kudos_header" class="d-md-block d-none">
              {% for kudos_group in my_kudos %}
                <img src="{{ kudos_group.kudos_token_cloned_from.preview_img_url }}" title="{{ kudos_group.kudos_token_cloned_from.name|humanize_name }}" class="img-thumbnail border-transparent kd-shadow" width="70">
              {% endfor %}
            </div>
          {% endif %}

          <div class="col-12 col-lg-6 profile-header__main-infos">
            {% if not hidden %}
              {% include 'profiles/header_avatar.html' %}
              {% include 'profiles/header_details.html' %}

            {% if not hidden %}
              {% if profile.is_org %}
                {% include 'profiles/organization.html' %}
              {% else %}
              {% if profile.cascaded_persona == 'funder' %}
                {% include 'profiles/scorecard_funder.html' %}
              {% elif profile.cascaded_persona == 'hunter' %}
                {% include 'profiles/scorecard_hunter.html' %}
              {% else %}
                {% include 'profiles/scorecard_hunter.html' %}
              {% endif %}
          </div>
        </div>
          {% endif %}
        {% endif %}
      </div>
    </div>
    {% endif%}

      {% include 'profiles/tabs.html' %}

    </div>
    <div class="container">
      {% if hidden %}
        {% include 'profiles/hidden.html' %}
      {% endif %}
    </div>

    {% include 'profiles/tabs_close.html' %}

    </div>
  </div>

    {% include 'shared/result.html' %}
    {% include 'shared/bottom_notification.html' %}
    {% include 'shared/footer.html' %}
    {% include 'shared/analytics.html' %}
    {% include 'shared/footer_scripts.html'%}


    <!-- jQuery -->
    <script src="{% static "v2/js/abi.js" %}"></script>
    <script src="/dynamic/js/tokens_dynamic.js"></script>
    <script src="{% static "v2/js/tokens.js" %}"></script>
    <script>
      $('[data-toggle="popover"]').popover()
      $('[data-toggle="tooltip"]').bootstrapTooltip();
    </script>
    <script src="{% static "v2/js/pages/tabs.js" %}"></script>
    <script src="{% static "v2/js/pages/profile.js" %}"></script>
    <script src="{% static "v2/js/pages/join_tribe.js" %}"></script>
    <script src="{% static "v2/js/pages/profile-edit.js" %}"></script>
    <script src="{% static "v2/js/rating.js" %}"></script>
    <script src="{% static "v2/js/status.js" %}"></script>
    <script>
      {% if profile.preferred_payout_address %}
        document.hasPreferredPayoutAddress = true;
      {% endif %}
    </script>
    <script>


      var quill;
      $('#edit-btn').on('click', function() {
        const activateQuill = () => {
          if (quill) {
            console.log(',mama', quill)
            return quill.isEnabled() ? destroyQuill() : rebuildQuill();
          }
          quill = new Quill('#description-tribes', {
            modules: {
              toolbar: [
                [{ header: [1, 2, false] }],
                ['bold', 'italic', 'underline'],
                [{ 'align': [] }],
                ['link', 'image', 'code-block'],
                ['clean']
              ]
            },
            theme: 'snow',
            placeholder: 'Compose an epic description for your Tribe...',
          });
          console.log(quill)
          $('#save-description-btn').removeClass('d-none');
          return quill
        }

        if (!document.getElementById('quill-js')){
          var style = document.createElement('link');
          style.href = '//cdn.quilljs.com/1.3.6/quill.snow.css';
          style.type = "text/css";
          style.rel = "stylesheet";
          document.getElementsByTagName('head')[0].appendChild(style);
        }
        loadDynamicScript(activateQuill, 'https://cdn.quilljs.com/1.3.6/quill.js', 'quill-js')

      })

      const loadDynamicScript = (callback, url, id) => {
        const existingScript = document.getElementById(id);

        if (!existingScript) {
          const script = document.createElement('script');
          script.src = url;
          script.id = id;
          document.body.appendChild(script);

          script.onload = () => {
            if (callback) callback();
          };
        }

        if (existingScript && callback) callback();
      };

      $('[data-savetribe]').on('click', function() {
        // # quill.root.innerHTML

        let tribe = $(this).data('savetribe');
        let url = `/savetribe/${tribe}/`;
        var sendSave = fetchData (
          url,
          'POST',
          {'tribe_description': quill.root.innerHTML},
          {'X-CSRFToken': $("input[name='csrfmiddlewaretoken']").val()}
        );

        $.when(sendSave).then(function(response) {
          // $(this).attr('disabled', false);
          destroyQuill();
          _alert('Description saved');
        }).fail(function(test){
          _alert('Error saving description', 'error');
        })
      })

      const destroyQuill = () => {
        var editorContainer = $('.editor-container')
        editorContainer.addClass('inactive');
        quill.enable(false)
        $('#save-description-btn').addClass('d-none');
      }

      const rebuildQuill = () => {
        var editorContainer = $('.editor-container')
        editorContainer.removeClass('inactive');
        quill.enable(true)
        $('#save-description-btn').removeClass('d-none');
      }
      </script>

  </body>
</html>
