{% load i18n static humanize %}

{% if not profile.is_org and is_my_profile %}
  <h3 class="py-3 font-weight-bold">Trust Bonus</h3>
  Trust Bonus ensures that Gitcoin is sybil-resistant, which means the higher the Trust
  Bonus of a user is, the more we can be confident that the user is real. Higher
  Trust Bonuses come with benefits, such as higher CLR match for grants.
  To increase your Trust Bonus, here are some steps you can take:
  {% for call in upcoming_calls %}
    <form class="js-upcomingBrightIDCalls-form">
      <input type="hidden" id="id" name="id" value="{{ call.id }}">
      <input type="hidden" id="title" name="title" value="{{ call.title }}">
      <input type="hidden" id="date" name="date" value="{{ call.date.timestamp }}">
      <input type="hidden" id="url" name="url" value="{{ call.url }}">
    </form>
  {% endfor %}
  <div class="container mt-3">
    <div class="row">
      {% if brightid_status == 'unknown' %}
        <div class="col-md-12">
          Failed to load BrightID Status
        </div>
      {% else %}
        <div class="col-12 col-md-1 mx-auto text-center">
          <img src="/static/v2/images/project_logos/brightid.png" alt="BrightID Logo" class="img-fluid">
        </div>
        <div class="col-12 col-md-7 mb-3 mb-md-0">
          {% if brightid_status == 'not_connected' %}
            <div class="font-weight-bold">
              Connect with BrightID
            </div>
            <div>
              Connect to BrightID and verify yourself by connecting with other humans.
            </div>
          {% elif brightid_status == 'not_verified' %}
            <div class="font-weight-bold">
              Get Verified with BrightID
            </div>
            <div>
              Verify yourself on BrightID by proving you're human to other humans. Connect
              with other users and join groups to meet the threshold. <a href="https://brightid.org">Learn more.</a>
            </div>
          {% elif brightid_status == 'verified' %}
            <div class="font-weight-bold">
              Verified With BrightID
            </div>
            <div>
              You're verified with BrightID, the unique, decentralized digital identity solution.
              This qualifies your grant donations for a trust bonus.
              <a href="https://brightid.org" target="_blank">Learn more.</a>
            </div>
          {% endif %}
        </div>
        <div class="col-6 col-md-2 text-center">
          <div class="font-weight-bold">
            +25%
          </div>
          <div style="color:grey">
            <small>Grants CLR Match</small>
          </div>
        </div>
        <div class="col-6 col-md-2">
          {% if brightid_status == 'not_connected' %}
            <a href="javascript:show_brightid_connect_modal(%22{{profile.brightid_uuid}}%22);" class="button button--primary">Connect</a>
          {% elif brightid_status == 'not_verified' %}
            <a href="javascript:show_brightid_verify_modal(%22{{profile.brightid_uuid}}%22);" class="button button--primary">Verify</a>
          {% elif brightid_status == 'verified' %}
            <span style="color:limegreen"><i class="fas fa-check"></i> Verified</span>
          {% endif %}
        </div>
      {% endif %}
    </div>
  </div>
{% endif %}