{% load i18n static %}

    <div class="container tab5" >
      <div>
        Built <a href="">Foo the Bar now</a> for <a href="#">@owocki</a> 10 days ago, for the <a href="#">Grow Ethereum Hackathon</a>.  Skills used: Python, Django
      </div>
      <div>
        Built <a href="">Foo the Bar now</a> for <a href="#">@owocki</a> 10 days ago, for the <a href="#">Grow Ethereum Hackathon</a>.  Skills used: Python, Django
      </div>
      <div>
        Built <a href="">Foo the Bar now</a> for <a href="#">@owocki</a> 10 days ago, for the <a href="#">Grow Ethereum Hackathon</a>.  Skills used: Python, Django
      </div>
      <div>
        Built <a href="">Foo the Bar now</a> for <a href="#">@owocki</a> 10 days ago, for the <a href="#">Grow Ethereum Hackathon</a>.  Skills used: Python, Django
      </div>
    </div>