{% load i18n static humanize %}

{% if not profile.is_org %}
    <h3 class="py-3 font-weight-bold">Trust Score</h3>
    Lorem Ipsum Copy...
    <div class="container mt-3">
        <div class="row">
            <div class="col-md-9">
                <div class="font-weight-bold">
                    Connect with BrightID
                </div>
                <div>
                    Connect to BrightID and verify yourself by connecting with other humans.
                    <br />{{profile.brightid_uuid}}
                    <br /> {{ brightid_status }}
                </div>
            </div>
            <div class="col-md-3">
                <button class="button button--primary">Connect</button>
            </div>
        </div>
    </div>
{% endif %}