{% load i18n static %}


      {% if not profile.is_org and profile.organizations|length %}
        <div class="container px-md-0 tab1 mh-150">
          <div class="row">
          <div class="col py-4 px-md-0">
            <div class="pb-2 profile-section-title">
              {% trans "Organizations" %} ({{ profile.organizations|length }})
            </div>
          </div>
          </div>
          <div class="row">
            <div class="profile-organizations">
              <div class="px-md-0 col-12">
                {% for org in profile.organizations %}
                  <div class="organization">
                    <a href="{% url 'profile' %}{{org}}" title="{{ org }}">
                      <img src="/dynamic/avatar/{{ org }}" title="{{ org }}" height="100px" width="100px">
                    </a>
                  </div>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
    {% endif %}

    {% if not hidden and not profile.is_org %}
    <div class="container tab1" >
      <div id="kudos-section">
        {% include "shared/profile_kudos.html" %}
      </div>
    </div>
    {% endif %}
