{% load i18n static humanize %}

    {% if not hidden %}
     {% if is_editable %}
        <div class="tab3">
          {% include "shared/rate_bounties.html" %}
        </div>
      {% endif %}


     {% if is_editable %}
        <div class="tab3">
          Whos Viewed My Profile
          {% for viewer in profile.viewed_by.all %}
            <div>
              - {{viewer.viewer.handle}} {{viewer.created_on | naturaltime}}
            </div>
          {% endfor %}
        </div>
      {% endif %}

      <div class="tab3">
        Reviews Received
        {% for feedback in feedbacks_got %}
          {% include "shared/feedback.html" %}
        {% endfor %}
      </div>

      <div class="tab3">
        Reviews Sent
        {% for feedback in feedbacks_sent %}
          {% include "shared/feedback.html" %}
        {% endfor %}
      </div>

    {% endif %}
