{% load i18n static avatar_tags humanize %}
{% if not hidden %}

  {% include 'profiles/tribe/suggest_bounty.html' %}

  {% if profile.is_org %}
    <div class="d-flex justify-content-between my-4">
      <h5 class="font-weight-bold">About {{profile.name}}</h5>
      {% if is_my_org %}
        <div>
          <button class="btn btn-gc-blue btn-sm d-none font-caption px-3" id="save-description-btn" data-savetribe="{{profile.handle}}">
            <i class="fas fa-save mr-1"></i>
            SAVE
          </button>
          <button class="btn btn-gc-blue btn-sm font-caption px-3" id="edit-btn">
            <i class="fas fa-edit mr-1"></i>
            <span>EDIT</span>
          </button>
        </div>
      {% endif %}
    </div>

    <div class="editor-container">
      <div id="description-tribes" class="description-tribes">
        {{profile.tribe_description | safe}}
      </div>
    </div>

    <div class="my-5">
      <h5 class="font-weight-bold">
        Core Team <span class="badge badge-pill badge--bluelight">{{team.count}}</span>
      </h5>
      <div class="tribe-members pt-4 mt-4">
        {% for member in team %}
          <div class="card border-0 card-shadow">
            <div class="bg-lightblue text-center">
              <img height="80" width="80" class="rounded-circle mt-n4 mx-auto mb-2 d-block" src="{% avatar_url member.handle %}" />

              <span class="badge-tribe">
                <img height="20" width="20" class="rounded-circle m-auto d-block" src="{% avatar_url profile.handle %}" />
              </span>

              <span class="d-block text-truncate">{{member.name}}</span>
              <a class="font-body" href="{% url 'profile' member %}">
                {{member}}
              </a>
            </div>
            <div class="p-2 card-body d-flex flex-column justify-content-end">

              <div class="tag-list mt-1 text-center mb-3">
                {% for keyword in member.keywords %}
                  <small class="tag-list__item">{{keyword}}</small>
                {% endfor %}
              </div>
              {% if user.is_authenticated %}
                <div class="d-flex justify-content-between mt-2">
                  {% if is_staff %}
                    <button class="btn btn-outline-gc-blue btn-sm flex-grow-1" data-openchat="{{member}}"> <i class="fas fa-comment-dots"></i></button>
                  {% endif %}
                  <a href="{% url 'bounty_requests' %}" class="btn btn-outline-gc-blue btn-sm ml-2">Suggest a Bounty</a>
                </div>
              {% endif %}
            </div>
          </div>
        {% endfor %}
      </div>
    </div>

    <div class="my-5">
      <h5 class="font-weight-bold">
        Tribe members <span class="badge badge-pill badge--bluelight">{{profile.tribe_members.count}}</span>
      </h5>
      <p class="text-muted">
        Members of the {{profile.name}} Tribe. <a class="underline" data-container="body" data-toggle="popover" data-html="true" data-placement="bottom" data-trigger="hover click" data-content='<p class="title">Gitcoin Tribes</p><p>Takes hackathon sponsorship to the next level, with features for maintaining relationships / creating relationships in ways never before possible in a virtual context.</p><p>Build your Gitcoin Tribe through monthly Gitcoin hackathons and a variety of tools to incentivize open source developers and build increasingly interesting projects together.</p>' href="#">What is a Tribe?</a>
      </p>
      <div class="tribe-members pt-4 mt-4">
        {% for follower in profile.tribe_members %}
          {% if not follower.status == 'rejected' %}
            <div class="card border-0 card-shadow">
              <div class="bg-lightblue text-center">
                <img height="80" width="80" class="rounded-circle mt-n4 mx-auto mb-2 d-block" src="{% avatar_url follower.profile.handle %}" />
                <span class="badge-tribe badge-tribe_leader {% if not follower.leader %}d-none{% endif %}"><i class="fas fa-star white"></i></span>

                <span class="d-block text-truncate">{{follower.profile.name}}</span>
                <a class="font-body" href="{% url 'profile' follower.profile %}">
                  {{follower.profile}}
                </a>
              </div>
              <div class="p-2 card-body d-flex flex-column justify-content-end">
                <div class="tag-list mt-1 text-center mb-3">
                  {% for keyword in follower.profile.keywords %}
                    <small class="tag-list__item">{{keyword}}</small>
                  {% endfor %}
                </div>
                {% if is_my_org and not follower.leader %}
                  <button class="btn btn-gc-blue btn-sm btn-block" data-tribeleader="{{follower.pk}}">Promote to Tribe Leader</button>
                {% elif follower.leader %}
                  <span class="text-center text-uppercase font-weight-bold p-1 text-highlight-yellow">Tribe Leader</span>
                {% endif %}

                {% if follower.title %}
                  <span class="tribe_title text-center p-1 text-highlight-green">{{ follower.title }}</span>
                {% endif %}

                {% if is_my_org %}
                  <button class="btn btn-gc-blue btn-sm btm-block font-body" data-tribetitle="{{follower.pk}}">Set Title</button>
                {% endif %}

                {% if user.is_authenticated %}
                  <div class="d-flex justify-content-between mt-2">
                    {% if is_staff %}
                      <button class="btn btn-outline-gc-blue btn-sm flex-grow-1" data-openchat="{{follower.profile}}"> <i class="fas fa-comment-dots"></i></button>
                    {% endif %}
                    <a href="{% url 'users_directory' %}?invite={{follower.profile}}" class="btn btn-outline-gc-blue btn-sm ml-2">Invite to Bounty</a>
                  </div>
                {% endif %}
              </div>
            </div>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  {% else %}
    <div class="tribe-members pt-4 mt-4">
      {% for tribe in profile.tribe_members %}
        <div class="card border-0 card-shadow">
          <div class="bg-lightblue text-center">
            <img height="80" width="80" class="rounded-circle mt-n4 mx-auto mb-2 d-block" src="{% avatar_url tribe.org.handle %}" />
            <span class="d-block text-truncate">{{tribe.org.name}}</span>
            <a class="font-body" href="{% url 'profile' tribe.org %}">
              {{tribe.org}}
            </a>
          </div>
          <div class="p-2 card-body d-flex flex-column justify-content-end">
            {% if user.is_authenticated %}
              <div class="d-flex justify-content-between mt-2">
                  <a href="{% url 'bounty_requests' %}" class="btn btn-outline-gc-blue btn-sm btn-block">Suggest a Bounty</a>
              </div>
            {% endif %}
          </div>
        </div>
      {% endfor %}
    </div>
  {% endif %}
{% endif %}