{% load i18n static %}

    {% if not hidden %}
     {% if is_editable %}
        <div class="tab3">
          {% include "shared/rate_bounties.html" %}
        </div>
      {% endif %}

      <div class="tab3">
        <h3>Reviews Received</h3>
        {% include "profiles/skillchart.html" %}
        {% for feedback in feedbacks_got %}
          {% include "shared/feedback.html" %}
        {% endfor %}
      </div>

      <div class="tab3">
        <h3>Reviews Sent</h3>
        {% for feedback in feedbacks_sent %}
          {% include "shared/feedback.html" %}
        {% endfor %}
      </div>

    {% endif %}
