{% load i18n static avatar_tags humanize %}
{% if not hidden %}

<div class="tab-projects d-flex flex-column">

  <h3 class="font-body mt-1 mb-1">Cumulative Quest Points</h3>
  {% include "profiles/earningsgraph.html" with graph_type="quests" %}

  {% if quest_wins.count == 0 %}
    No Quest Wins
  {% endif %}

  <h3 class="font-body mt-1 mb-1">Quests Beaten ({{quest_wins.count}})<h3>
  {% for quest in quest_wins %}
    <div class="tab-projects__item d-flex mb-0 {% cycle 'odd' 'even' %} pt-1 pb-1">
      <div class="activity-avatar ml-5">
      <img height="72" width="72" class="avatar card-rating__avatar rounded-circle" src="{% avatar_url profile.handle %}"/>
      <img height="24" width="24" class="avatar secondary_avatar rounded-circle align-self-end" style="margin-left: -30px; margin-top:30px;" src="{{quest.quest.enemy_img_url}}" />
    </div>
      <div class="tab-projects__item-details ml-5" style="width: 60%">
        <div class="d-flex">
          <h5 class="font-weight-semibold">Beat {{quest.quest.title}}</h5>&nbsp;
        </div>
        <small class="align-self-center"> {{quest.created_on | naturaltime}}
        </small>
      </div>
      <div class="float-right mt-3">
        <a class="btn btn-primary btn-sm " href="{{quest.quest.url}}">Play Quest &gt;</a>
      </div>
    </div>
  {% endfor %}
</div>
{% endif %}
