{% load i18n bundle static humanize %}

{% if not profile.is_org and is_my_profile %}

  <div id="gc-trust-manager-app" v-cloak>
    <active-trust-manager inline-template>
      <div>

        <why-this-matters-modal
          :show-modal="modalShow && modalName === 'why-this-matters-modal'"
          @modal-dismissed="hideModal()">
        </why-this-matters-modal>

        <state-modal
          :show-modal="modalShow" :type="modalName"
          @modal-dismissed="hideModal()">
        </state-modal>

        <div class="bg-violet-300 text-white spacer-p-4 spacer-mt-5">
          <div class="row">
            <div class="col-12 col-lg-9">
              <h2>Increase Your Impact Up to 150%</h2>
              <span class="font-smaller-1 line-height-2">On Gitcoin verified users have 100% (or more) of their donation amount count towards the match fund algorithm. Unverified users begin with 50%. To ensure sybil resistance and protect Quadratic Funding, please verify your account below.</span>
              <div class="row spacer-mt-2 font-smaller-1 line-height-2">
                {% if show_round_banner %}
                  <div class="col-12 col-lg-6 spacer-mt-2">
                    <a><i class="far fa-calendar-alt spacer-pr-2"></i> Verify during [[roundStartDate]] - [[roundEndDate]]</a>
                  </div>
                {% endif %}
                <div class="col-12 col-lg-6 spacer-mt-2">
                  <span @click="showModal('why-this-matters-modal')" class="cursor-pointer hover-underline"><i class="fas fa-play-circle spacer-pr-2"></i> Why this matters</span>
                </div>
              </div>
            </div>
            <div class="col-12 col-lg-3 text-center text-lg-right">
              <object class="spacer-mr-4 spacer-mt-3 spacer-mt-lg-0" type="image/svg+xml" data="{% static 'v2/images/trust/64x64.svg' %}" width="158" height="158"></object>
            </div>
          </div>
        </div>

        <div class="row spacer-mt-6 text-grey-500 font-smaller-1">
          <div class="col-12 col-lg-8 spacer-pb-3">
            <h3>Trust Verification</h3>
           <span class="line-height-2">On Gitcoin verified users have 100% (or more) of their donation amount count towards the match fund algorithm. Unverified users begin with 50%. To ensure sybil resistance and protect Quadratic Funding, please verify your account below.</span>
          </div>
        </div>

        <div class="row spacer-mt-4 spacer-mt-lg-6">
          <div class="col-12 col-lg-4 col-xl-6 d-flex spacer-pb-3">
            <img class="w-100 my-auto" src={% static "v2/images/dpopp-landing-1.png" %} />
          </div>

          <div class="col-12 col-lg-8 col-xl-6 spacer-pb-3">

            <h1>dPassport</h1>
            <h4>Decentralized Proof Of Personhood Passport</h4>
            <span class="line-height-2">
              dPassport verifies your personhood strengthening your sybil resistance.
              It is fully decentralized on the Ceramic Network. Your Trust Bonus Score is calculated by the identification stamps completed on your passport.
              The scorer is designed to provide proof of identity through your passport.
            </span>

            <div class="d-block d-md-flex spacer-my-5" style="min-height: 52px;">
              <b-button :variant="`${passportVerified ? 'dark' : 'primary'}`" :class="`col-12 col-md-auto btn btn-lg px-5 flex-shrink-0 btn-${passportVerified ? 'dark' : 'primary'}`" @click="connectPassport">
                [[!passport && !loading ? "Connect Passport" : "Refresh Passport"]]
              </b-button>
              <div v-if="passport && !passportVerified && !verificationError" class="col-12 col-md d-flex px-0 pt-4 pt-md-0 my-auto">
                <div class="d-inline ml-md-5 my-auto">
                  <a class="link cursor-pointer" @click="savePassport">Verify Passport</a>
                </div>
              </div>
              <div v-else-if="passport && passportVerified && !verificationError" class="col-12 col-md d-flex px-0 pt-4 pt-md-0 my-auto">
                <i class="fa fa-check my-auto ml-md-5 px-1" style="color: #059669"></i>
                <div class="d-inline ml-2 my-auto">
                  <span style="color: #059669">Passport Verified!</span>
                </div>
              </div>
              <div v-else-if="verificationError" class="col-12 col-md d-flex px-0 pt-4 pt-md-0 my-auto">
                <i class="fa-shield-virus fas my-auto ml-md-5 px-1" style="color: #d03e63"></i>
                <div class="d-inline ml-2 my-auto">
                  <span style="color: #d03e63">Verification Failed <div class="font-smaller-5">[[ verificationError ]]</div></span>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-12 col-lg-6">
                <div class="spacer-mb-2 font-weight-semibold">Verification Level</div>
                <div class="progress rounded-0" style="height: 0.4rem;">
                  <div class="progress-bar bg-secondary disabled" role="progressbar" :style="{width: `${!passport ? 0 : 100/150 * trustBonus}%`}" :aria-valuenow="`${100/150 * trustBonus}%`" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <div :class="`spacer-mt-2 font-weight-semibold ${!passport ? 'text-grey-300' : ''}`">You'll receive [[trustBonus]]% of 150% Match</div>
                <div class="spacer-mt-5">
                  <a href="https://orange-sky-5671.on.fleek.co/" target="_blank" target="_blank" rel="noopener noreferrer" class="font-weight-semibold">Go to dPassport<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M12.2929 5.29289C12.6834 4.90237 13.3166 4.90237 13.7071 5.29289L17.7071 9.29289C18.0976 9.68342 18.0976 10.3166 17.7071 10.7071L13.7071 14.7071C13.3166 15.0976 12.6834 15.0976 12.2929 14.7071C11.9024 14.3166 11.9024 13.6834 12.2929 13.2929L14.5858 11H3C2.44772 11 2 10.5523 2 10C2 9.44772 2.44772 9 3 9H14.5858L12.2929 6.70711C11.9024 6.31658 11.9024 5.68342 12.2929 5.29289Z" fill="#664AEC"/>
                    </svg>
                  </a>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </active-trust-manager>


  </div>

{% endif %}
