{% load i18n static humanize %}

{% if not profile.is_org and is_my_profile %}

<!-- Passport Modal -->
<div class="modal fade" id="passportModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Generate your Proof of Personhood Passport</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <img class="float-left p-2" src="/static/v2/images/passport-cover.png" style="max-width:200px;">
        <div class="subbody">
          <strong>What:</strong> PoPP aggregates the top personhood-identity providers in the web3 space into one transportable identity that proves your personhood.
          <hr>
          <strong>How:</strong> You can generate your Proof of Personhood Passport via the following methods.
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" id="gen_passport" class="btn btn-primary">NFT</button>
        <button type="button" class="btn btn-secondary disabled">3Box (coming soon)</button>
        <button type="button" class="btn btn-secondary disabled">SpruceID (coming soon)</button>
      </div>
    </div>
  </div>
</div>

  <div id="gc-trust-manager-app" v-cloak>
    <active-trust-manager inline-template>
      <div>

        <brightid-verify-modal
          :show-validation="visibleModal === 'brightid-modal'"
          @modal-dismissed="hideModal()"
          brightid-uuid="{{profile.brightid_uuid}}"
          :validation-step="'{{brightid_status}}' === 'not_connected' ? 'connect-brightid' : ( '{{brightid_status}}' === 'unknown' ? 'pull_status' : 'verify-brightid')"
          >
        </brightid-verify-modal>

        <sms-verify-modal
          :show-validation="visibleModal === 'sms-modal'"
          @modal-dismissed="hideModal()">
        </sms-verify-modal>


        <sms-verify-modal
          :show-validation="visibleModal === 'sms-modal'"
          @modal-dismissed="hideModal()">
        </sms-verify-modal>

        <twitter-verify-modal
          :show-validation="visibleModal === 'twitter-modal'"
          @modal-dismissed="hideModal()">
        </twitter-verify-modal>

        <poap-verify-modal
          :show-validation="visibleModal === 'poap-modal'"
          @modal-dismissed="hideModal()">
        </poap-verify-modal>

        <ens-verify-modal
          :show-validation="visibleModal === 'ens-modal'"
          @modal-dismissed="hideModal()">
        </ens-verify-modal>
        <duniter-verify-modal :show-validation="visibleModal === 'duniter-modal'" @modal-dismissed="hideModal()">
        </duniter-verify-modal>
        {% if is_staff %}
        <div class="float-right text-right" style="padding: 5px;">
          <img class="float-right p-2" src="/static/v2/images/passport-cover.png" style="max-width:100px; margin-top: -10px;">
          <strong>STAFF ONLY</strong> Take your TrustBonus with you across the web <br>with <a href="https://proofofpersonhood.com/">your Proof of Personhood Passport</a>.
          <br>
          <a data-toggle="modal" data-target="#passportModal" href="#" role="button" class="btn btn-primary float-right text-nowrap">Try It!</a>
        </div>
        {% endif %}

        <h3 class="py-3 font-weight-bold">Trust Bonus</h3>
        The higher the Trust
        Bonus of a user is, the more we can be confident that the user is real. Higher
        Trust Bonuses come with benefits, such as higher match for your grants contributions.
        <hr>
        Trust Bonus ensures that Gitcoin is sybil-resistant, which is important for <a href="https://wtfisqf.com/" target=new>Quadratic Voting</a> (and many other voting applications in web3!).
        <br>
        <br>
        To increase your Trust Bonus, here are some steps you can take:
        <div class="container mt-4">
          <h5>Active Now</h5>

          <active-trust-row-template
            icon-type="image"
            icon-path="/static/v2/images/project_logos/brightid.png"
            :title="'{{brightid_status}}' === 'not_connected' ? 'Connect with BrightID' : 'Verify with BrightID'"
            :match-percent=25
            :is-verified="'{{brightid_status}}' === 'verified'"
            :button-text="'{{brightid_status}}' === 'not_connected' ? 'Connect' : ('{{brightid_status}}' === 'unknown' ? 'Check' : 'Verify')"
            @verify-button-pressed="showModal('brightid-modal')"
            >
            <template v-slot:description>
              {% if brightid_status == 'not_connected' %}
                Connect to <a href="https://brightid.org" target="new">BrightID</a> and verify yourself by connecting with other humans.
              {% elif brightid_status == 'unknown' %}
                Check your <a href="https://brightid.org" target="new">BrightID</a> verification status to continue.

              {% elif brightid_status == 'not_verified' %}
                Verify yourself on <a href="https://brightid.org" target="new">BrightID</a> by proving you're human to other humans. 

                <br><br>Connect
                with other users and join groups to meet the threshold.
                
              {% elif brightid_status == 'verified' %}
                You're verified with <a href="https://brightid.org" target="new">BrightID</a>, the unique, decentralized digital identity solution.
                <br><br>
                This qualifies your grant donations for a trust bonus.
              {% endif %}
            </template>
          </active-trust-row-template>

          <active-trust-row-template
            icon-type="image"
            :icon-path="'{{is_idena_connected}}' === 'True' ? 'https://robohash.org/{{ idena_address }}' : '/static/v2/images/project_logos/idena.svg'"
            :title="'{{is_idena_connected}}' === 'True' ? 'Idena {{ idena_address }}' : 'Verify with Idena'"
            :match-percent=25
            :is-verified="'{{is_idena_verified}}' === 'True'"
          >
            <template v-slot:description>
              {% if is_idena_connected %}
                {% if not is_idena_verified %}
                  Take part in the Idena validation ceremony {{ idena_next_validation }} GMT <br>
                {% endif %}
                  {% if is_idena_verified %}
                    <span style="color:limegreen"><i class="fas fa-circle"></i>
                  {% else %}
                    <span style="color:gray"><i class="fas fa-circle"></i>
                  {% endif %}
                  &nbsp; Status: {{ idena_status }}.
                  <a href={{ recheck_idena_status }} id="recheck-idena-status" class="text-nowrap">Re-Check.</a>
                  <a href={{ logout_idena_url }} id="disconnect-idena-link" class="text-nowrap">Disconnect.</a>
              {% else %}
                  <a href="https://idena.io/" target="blank">Idena</a> is a Proof-Of-Person Blockchain <br><br> Install <a href="https://idena.io/?view=download" target="_blank">Idena app</a> to verify your account.
              {% endif %}
            </template>
            <template v-slot:verify>
              {% if is_idena_connected %}
                  {% if not is_idena_verified %}
                    <span style="color:orange"><i class="fal fa-exclamation-circle"></i> Pending Validation</span>
                  {% endif %}
              {% else %}
                <a href="{{ login_idena_url }}" role="button" id="connect-idena-link" class="btn btn-primary text-nowrap">Connect</a>
              {% endif %}
            </template>
          </active-trust-row-template>

          <active-trust-row-template
            icon-type="image"
            icon-path="/static/v2/images/project_logos/poap.svg"
            title="Verify with POAP"
            :match-percent=10
            :is-verified="'{{is_poap_verified}}' === 'True'"
            button-text="Verify"
            @verify-button-pressed="showModal('poap-modal')"
            >
            <template v-slot:description>
              <a href="https://www.poap.xyz/" target="new">POAP</a> is The Proof of Attendance Protocol 
              <br><br>
              Verify your POAP badges.
            </template>
          </active-trust-row-template>

          <active-trust-row-template
            icon-type="markup"
            title="Verify with Twitter"
            :match-percent=5
            :is-verified="'{{is_twitter_verified}}' === 'True'"
            button-text="Verify"
            @verify-button-pressed="showModal('twitter-modal')"
            >
            <template v-slot:icon>
              <span style="color: #00aced">
                <i class="fab fa-twitter fa-3x" aria-hidden="true"></i>
              </span>
            </template>
            <template v-slot:description>
              Verify your Twitter account.
            </template>
          </active-trust-row-template>

          <active-trust-row-template
            icon-type="image"
            icon-path="/static/v2/images/project_logos/google.png"
            title="Verify with Google"
            :match-percent=2
            :is-verified="'{{is_google_verified}}' === 'True'"
            button-text="Verify"
            >
            <template v-slot:description>
              Verify your Google account.
            </template>
            {% if not is_google_verified %}
              <template v-slot:verify>
                <form method="post" action={% url 'request_verify_google' profile.handle.lower %}>
                  {% csrf_token %}
                  <input type="submit" value="Verify" class="btn btn-primary text-nowrap"/>
                </form>
              </template>
            {% endif %}
          </active-trust-row-template>

          <active-trust-row-template
            icon-type="markup"
            title="Verify with SMS"
            :match-percent=2
            :is-verified="'{{is_sms_verified}}' === 'True'"
            button-text="Verify"
            @verify-button-pressed="showModal('sms-modal')"
            >
            <template v-slot:icon>
              <i class="fa fa-mobile-alt fa-3x" aria-hidden="true"></i>
            </template>
            <template v-slot:description>
              To protect your privacy, <a href="https://twitter.com/owocki/status/1272149204287160320">Gitcoin doesn't store your phone number.
              </a>
              <br><br>
              Verify your phone number through SMS. 
            </template>
          </active-trust-row-template>

          <active-trust-row-template
            icon-type="markup"
            title="Verify with ENS"
            :match-percent=0
            :is-verified="'{{is_ens_verified}}' === 'True'"
            button-text="Verify"
            @verify-button-pressed="showModal('ens-modal')"
            >
            <template v-slot:icon>
              <img src="/static/v2/images/project_logos/ens.svg" alt="ENS Logo" class="img-fluid">
            </template>
            <template v-slot:description>
              Verify with your ENS domain.
            </template>
          </active-trust-row-template>


          <active-trust-row-template
            icon-type="markup"
            title="Verify with Facebook"
            :match-percent=0
            :is-verified="'{{is_facebook_verified}}' === 'True'"
            button-text="Verify"
            >
            <template v-slot:icon>
              <span style="color: #1877F2">
                <i class="fab fa-facebook fa-3x" aria-hidden="true"></i>
              </span>
            </template>
            <template v-slot:description>
              Verify your Facebook account.
            </template>
            {% if not is_facebook_verified %}
              <template v-slot:verify>
                <form method="post" action={% url 'request_verify_facebook' profile.handle.lower %}>
                  {% csrf_token %}
                  <input type="submit" value="Verify" class="btn btn-primary text-nowrap" />
                </form>
              </template>
            {% endif %}
          </active-trust-row-template>

        </div>

        <div class="container mt-4">
          <h5>Coming Soon ™️</h5>
          <p>
            Verifying with these services doesn't provide a matching bonus yet, but will in future Grants rounds.
          </p>

          <!-- <active-trust-row-template icon-type="image" icon-path="/static/v2/images/project_logos/duniter_brand.png"
            title="Verify with Duniter" :match-percent=0 :is-verified="'{{is_duniter_verified}}' === 'True'" button-text="Verify"
            @verify-button-pressed="showModal('duniter-modal')">
            <template v-slot:description>
              Verify your Duniter Account
            </template>
          </active-trust-row-template> -->
          {% include "profiles/trust_soon_row.html" with service="Duniter" when="Coming Soon" %}

        </div>
      </div>
    </active-trust-manager>
    <div>
      <div class="container mt-4">
        <h5>Roadmap</h5>
        <a class="py-2 d-block" href="https://twitter.com/owocki/status/1304422182043303937" target="_blank">To view our full roadmap click here</a>

          {% include "profiles/trust_soon_row.html" with service="Proof of Humanity" when="On the Roadmap" %}
        {% include "profiles/trust_soon_row.html" with service="Upala" when="On the Roadmap" %}
        {% include "profiles/trust_soon_row.html" with service="PASS" when="On the Roadmap" %}
        {% include "profiles/trust_soon_row.html" with service="Equality Protocol" when="On the Roadmap" %}
        {% include "profiles/trust_soon_row.html" with service="Zero Knowledge KYC" when="On the Roadmap" %}
        {% include "profiles/trust_soon_row.html" with service="Activity on Gitcoin" when="On the Roadmap" %}
      </div>
    </div>
  </div>

  {{upcoming_calls | json_script:"calendarData" }}
  <script>
    const calendarData = JSON.parse(document.getElementById('calendarData').textContent);
    const trustHandle = '{{profile.handle}}'.toLowerCase();
    const verifyTweetText = '{{verify_tweet_text}}';
  </script>

{% endif %}
