<!-- MORE ROW -->
<div class="row mb-4">
  <div class="col-12 col-md-1 mx-auto text-center pt-1">
    <span style="color: #dddddd">
      <i class="fas fa-fingerprint fa-3x" aria-hidden="true"></i>
    </span>
  </div>
  <div class="col-12 col-md-7 mb-3 mb-md-0">
    <div class="font-weight-bold">
      Verify With {{ service }}
    </div>
    <div>
      Tentatively Coming Soon
    </div>
  </div>
  <div class="col-6 col-md-2 text-center">
    <div class="font-weight-bold">
      +?%
    </div>
    <div style="color:grey">
      <small>Grants CLR Match</small>
    </div>
  </div>
  <div class="col-6 col-md-2 text-center">
    <div>
      🚧
    </div>
    <div style="color:grey">
      <small>Coming Soon</small>
    </div>
  </div>
</div>