.g-button {
  border: none;
  border-radius: 2px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  color: #FFFFFF;
  cursor: pointer;
  font-size: 14px;
  font-weight: 300;
  padding: 10px 20px;
  -webkit-appearance: none;
}
.g-button:hover {
  color: #FFFFFF;
  text-decoration: none;
}
.g-button:disabled, .g-button:disabled:hover, .g-button.disabled, .g-button.disabled:hover {
  background-color: rgba(79, 79, 79, 0.26);
  box-shadow: none;
  color: rgba(0, 0, 0, 0.26);
  border-color: rgba(0, 0, 0, 0.3);
}
.g-button.g-button__cookielaw {
  max-height: 2.5rem;
}
.g-button--primary {
  background-color: #0D0764;
}
.g-button--primary:hover {
  background-color: #280076;
}
.g-button--primary:active {
  background-color: #1B0050;
}
.started-status-column .g-button--primary, #right_actions .g-button--primary,
.g-button--primary #btn-white {
  padding: 6px 15px;
  box-shadow: none;
  font-size: 12px;
}
#right_actions .g-button--primary {
  margin-right: 5px;
  position: relative;
  top: 1px;
  display: inline-block;
  margin-bottom: 10px;
}
.g-button--warning {
  background-color: #CA001A;
}
.g-button--warning:hover {
  background-color: #D43247;
}
.g-button--blue {
  background-color: #3E00FF;
}
.g-button--blue:hover {
  background-color: #5b24ff;
}
.g-button--green {
  background-color: #05B66A;
}
.g-button--green:hover {
  background-color: #15ef91;
}
.g-button--controls {
  display: inline-block;
  margin: 5px 0 5px 5px;
  text-transform: capitalize;
  border-radius: 3px;
  cursor: pointer;
  font-size: 12px;
  box-shadow: none;
}
.g-button--votes {
  border: none;
  cursor: pointer;
}
.g-button--votes:hover {
  color: #AAAAAA;
}
.g-button--votes.active:hover {
  color: #FFFFFF;
}
.g-button--primary-o, .g-button--warning-o, .g-button--blue-o, .g-button--green-o {
  background-color: #FFFFFF;
  padding: 9px 18px;
}
.g-button--primary-o {
  border: 1px solid #0D0764;
  color: #0D0764;
}
.g-button--primary-o:hover {
  background-color: #0D0764;
}
.g-button--warning-o {
  border: 1px solid #CA001A;
  color: #CA001A;
}
.g-button--warning-o:hover {
  background-color: #CA001A;
}
.g-button--blue-o {
  border: 1px solid #3E00FF;
  color: #3E00FF;
}
.g-button--blue-o:hover {
  background-color: #3E00FF;
}
.g-button--green-o {
  border: 1px solid #05B66A;
  color: #05B66A;
}
.g-button--green-o:hover {
  background-color: #05B66A;
}
.g-button--white-o {
  border: 1px solid #05B66A;
  color: #05B66A;
  padding: 9px 18px;
}
.g-button--white-o:hover {
  background-color: #05B66A;
}
.step .g-button {
  margin-top: 5px;
  padding-left: 25px;
  padding-right: 25px;
  font-size: 12px;
  box-shadow: none;
}
.g-button svg:first-child {
  margin-right: 0.5rem;
}

#later-button {
  margin: 0;
  position: absolute;
  right: 0;
}

button.avatar-option {
  border: none;
  width: 80px;
  height: 80px;
  background-color: #D8E7FF;
  margin: 0 0 8px 8px;
  cursor: pointer;
  padding: 0;
  position: relative;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.uninterest-button {
  margin: 5px;
}

.form__footer button {
  margin-bottom: 0.5rem;
}

div.button-pink {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #f9006c;
  font-size: 0.95rem;
  font-weight: bold;
  line-height: 42px;
  text-transform: uppercase;
  background: none;
  width: 130px;
  height: 39px;
  border-radius: 19px;
  border: 3px solid #f9006c;
  letter-spacing: 0.1em;
}

.lil-white-button {
  height: 1rem;
  width: 1rem;
  cursor: pointer;
}

@media (max-width: 767.98px) {
  .g-button.g-button__cookielaw {
    float: right;
    font-size: 0.775rem;
  }

  .button--fund {
    padding-left: 1rem;
    text-align: left;
  }
}
