section.dashboard .content-proposals {

	.wrapper{

		.item{
			width: 100%;
			display: flex;
			margin-bottom: 1em;

			.item-link{

			}

			.item-stats{
				margin-left: auto;
				&.aqua{
					color: var(--aqua);
				}
			}

		}



	}


}
