section.dashboard .content-tx-pending {
  .wrapper {
    margin: auto;
    max-width: 900px;
  }

  p {
    text-align: center;
  }

  .spinner {
    text-align: center;
    margin-top: 2em;
    svg {
      width: 128px;
      height: 128px;
    }
  }
}