.bg-blue {
  background-color: #170640;
  color: white;
}

.tribes-landing .title {
  border-bottom: 7px solid;
}

.features {
  max-width: 20rem;
}

.work-section {
  background: #170640;
  color: #fff;
}

.white-line {
  border-bottom: 5px solid white;
  max-width: 10rem;
}

.strip {
  position: relative;
  top: 1px;
}

.plan {
  min-height: 3rem;
}

.plan-header img {
  height: 120px;
}

.why-section {
  background: #170640;
  color: #fff;
}

.why-section .square-1 {
  top: -9rem;
  right: 0;
  opacity: 0.2;
}

.why-section .square-2 {
  height: 25rem;
  top: 25rem;
  opacity: 0.3;
}

.why-section .reasons img {
  height: 2.2rem;
}

.zoom-on-hover {
  transition: all .3s;
}

.zoom-on-hover:hover {
  transform: scale(1.15);
}

.testimonial-section {
  background: #F0F2F8;
}

.testimonial-section .testimonial-box {
  border: 3px solid #6F3FF5;
  border-radius: 5px;
}

.testimonial-section .testimonial-box  .img-container {
  border: 2px solid #6F3FF5;
  height: 5rem;
  width: 5rem;
  top: -7px;
  position: relative;
  background: #fff;
}

.testimonial-section .testimonial-box .img-container.org-container {
  left: -1rem;
}

.testimonial-section .testimonial-box .img-container.org-container img {
  left: -2px;
  top: 6px;
}

.testimonial-section .quote-container {
  min-height: 9.8rem;
}

.testimonial-section .quote-text {
  font-size: 1.2rem;
}

.testimonial-section img {
  max-width: 5rem;
  top: -5px;
  background: white;
}

.testimonial-section .testimonial-photo-container {
  top: -2rem;
  left: 0;
  right: 0;
}

#pro,
#pro h3,
#pro h2,
#pro .plan-header span {
  background-color: #170640;
  color: white;
}

.ribbon-green span {
  background: #0FCE7C;
}

.tribes-section img {
  height: 5rem;
}

@media (min-width:1200px) and (max-width: 1500px) {
  #plans-container {
    min-width: 100% !important;
  }
}

@media screen and (max-width: 780px) {
  .testimonial-card {
    margin: 45px 0 !important;
    width: 100% !important;
    height: auto !important;
  }
}

.newsletter {
  border-top: none !important;
}
