/* core */
@import "breakpoints";
@import "core";
@import "typography";

/* nav */
@import "nav";
@import "nav/user";
@import "nav/links";
@import "nav/wallet";
@import "nav/signin";
@import "nav/burger";

/* components */
@import "header";
@import "buttons";
@import "figure";
@import "wallet-provider";
@import "sal";
@import "particles";
@import "keyframes";
@import "web3modal";
@import "table";
@import "flashmessage";
@import "cookielaw";
@import "glass";
@import "selection";

/* sections */
@import "section_column";
@import "section_grid";
@import "section_headline";
@import "section_hero";
@import "section_faq";
@import "section_mission";
@import "section_leaderboard";
@import "section_background";
@import "section_footersocial";
@import "section_footer";

/* section quest */
@import "quest/section";
@import "quest/quest-intro";
@import "quest/quest-video";
@import "quest/quest-quiz";
@import "quest/quest-claim";
@import "quest/quest-vote";
@import "quest/quest-setup";
@import "quest/progressbar";



/* section dashboard */
@import "dashboard/section_dashboard";
@import "dashboard/header";
@import "dashboard/content-delegation";
@import "dashboard/content-leaderboard";
@import "dashboard/content-mission";
@import "dashboard/content-proposals";
@import "dashboard/content-wallet";


/* element overrides */
@import "figure_introoutro";



/* some little modules / playground not worth a file right now ^^ */

.hide{
	display: none !important;
}

.d-none{
	display: none !important;
}

.receiveadress{
	display: block;
	padding: 0.5em 1em;

	color : var(--aqua_light);
	font-family: 'Space Mono', monospace;
	background-color: var(--space_pink);
	
	font-size: 90%;
	text-align: center;

	word-break: break-all;
	margin-bottom: 1em;
}







