.collapse{

	cursor: pointer;

	.question{
		padding: 1em 0em;
		border-bottom: 1px solid var(--smoke);
		color: var(--white);
	}

	.answer{
		display: none;
		
		padding: 1em 0em;
	}


	&:hover{
		.question{
			color: var(--purple_light);
		}
	}


	&.visible{
		.answer{
			display: block;
		}
	}


}