/* template for fullscreen experience with bottom nav and seperator*/

section.quest{

	display: grid;
	grid-template-rows: 1fr 2px 130px;
	height: 100vh;
	width: 100vw;
	
	main{

		display: grid;

		/* center content*/
		.wrapper{
			justify-self: center;
			align-self: center;
		}

	}

	div.seperator{
		height: 2px;
	}

	nav{
		display: grid;
		grid-template-columns: 1fr 2fr 1fr;
		grid-gap: 1em;
		font-weight: 600;
		color: var(--white);

		user-select: none;

		div{
			align-self: center;
		}

		.left{
			justify-self: left;
			margin-left: 2em;
		}	

		.center{
			text-align: center;
		}

		.right{
			justify-self: right;
			margin-right: 2em;
		}

		.btn{
			margin-bottom: initial;
		}

		svg{
			display: block;
			margin: 0;
			padding: 0;
			width: 64px;
			height: 64px;
		}

		a{
			text-decoration: none;
		}

	}


}



@media #{$phone} { 
	section.quest{
		height: 90vh;
	}
}




