section.dashboard{

	display: grid;
	grid-template-columns: 1fr 1fr;
	margin: auto;
	margin: 0em 1.5em;
	grid-gap: 1em;

	.section{
		background-color: var(--space_light_alpha);
	}

	.header{
		background-color: var(--space_pink);
		display: flex;
		align-items: center;
		height: 90px;
		user-select: none;
	}

	.content{
		margin: 50px 30px;
	}

	a{
		text-decoration: none;
	}

}



section.dashboard .header{

	svg{
		width: 50px;
		height: 50px;
		display: block;
	}

	.icon{
		margin-left: 1em;
	}

	.title{
		margin-left: 1em;
		font-weight: 500;
		color: var(--purple_light);
		span{
			color: var(--aqua_light);
		}
	}

	.arrow{
		margin-left: auto;
		svg{
			margin-right: 0.5em;
			stroke: var(--purple_light);
		}
	}

	&:hover{

		.arrow{
			svg{
				stroke: var(--white);
			}
		}
	};

}



/* content wallet */
section.dashboard .content-wallet{

	.wrapper{
		
	}

	.amount{
	    font-family: 'Space Mono', monospace;
	    color: var(--aqua_light);
	    font-size: 200%;
	    font-weight: 400;
	    margin-bottom: 0.2em;
	  	line-height: 1.3em;
	    text-align: center;
	}

	.status{
    	font-size: 100%;
    	font-weight: 400;
    	text-align: center;
	}

}




/* content delegation */
section.dashboard .content-delegation{

	.wrapper{
		
	}

	.amount{
	    font-family: 'Space Mono', monospace;
	    color: var(--aqua_light);
	    font-size: 200%;
	    font-weight: 400;
	    margin-bottom: 0.2em;
	  	line-height: 1.3em;
	    text-align: center;
	}

	.status{
    	font-size: 100%;
    	font-weight: 400;
    	text-align: center;
	}

}






/* content mission */
section.dashboard .content-mission{

	.wrapper{

	}

	.col{
		display: flex;
		align-items: center;
		margin-bottom: 1em;
	}

	.mission-name{
	}

	.mission-status{
		margin-left: auto;
		color: var(--stone);
		&.active{ color: var(--aqua_light); }
		&.disabled{ color: var(--smoke); }
	}

	.mission-status-icon{
		margin-left: 1em;

		svg{
			fill: var(--stone);
			height: 17px;
			width: 17px;
			display: block;
		}
		&.active{ svg{ fill: var(--aqua_light); } }
		&.disabled{ svg{ fill: var(--smoke); } }
	}



}








/* content leaderboard */
section.dashboard .content-leaderboard{

	.wrapper{

	}

	.col{
		display: flex;
		align-items: center;
		margin-bottom: 1em;
	}

	.place{
		margin-right: 1em;
	}

	.adress{

	}

	.score{
		margin-left: auto;
	}


}





/* content proposals */
section.dashboard .content-proposals{

	.wrapper{

	}

	.col{
		display: flex;
		align-items: center;
		margin-bottom: 1em;
	}

	.proposals{
		
	}


}










@media #{$tablet} { 
	section.dashboard{
		grid-template-columns: 1fr;
	}
}





