section.grid{

	display: grid;
	grid-template-columns: 50% 50%;
	margin-bottom: 6em;

	// theoretisch max width möglich. 
	max-width: 1600px;
	margin: auto;


	div{
		align-self: center;
		text-align: right;
		margin: 0em 3em;
	}

	figure{
		user-select: none;

		padding: 3em;
		img, svg{
  			object-fit: cover;
  			height: 100%;
  			//padding: 3em;
  			//margin: 3em;

  			background-color: var(--space_light);
			border: 1px solid var(--space_light);
		}

		&.floating{
			animation: floating 3s ease-in-out infinite;
		}
	}

	&.reverse{
		grid-template-columns: 50% 50%;

			div{
				grid-column: 1;
				grid-row: 1;
				text-align: left;
			}
			figure{
				grid-column: 2;
				grid-row: 1;
				

				&.floating{
					animation: floating-reverse 3s ease-in-out infinite;
				}

			}

	}


}



@media #{$laptop} { 
	section.grid{
		figure{
			padding: 1em;
			img, svg{
			}	
		}
	}
}




@media #{$tablet} { 
	section.grid{
		display: block;

		figure{
			padding: 0px;
			//border-top: 1px solid var(--pink_light);
			//border-bottom: 1px solid var(--pink_light);
			img, svg{
	  			object-fit: cover;
	  			height: 500px;
	  			padding: initial;
			}	
		}

		div{
			padding: 3em 0em;
			text-align: left;
		}

	}	
}





@media #{$phone} { 
	section.grid{
		figure{
			img, svg{
				//object-fit: contain;
				object-fit: cover;
	  			height: 500px;
	  			padding: inherit;
			}	
		}

		div{
			margin: 0em 1.5em;
		}
	}
}





