<form-wrapper v-if="step === 3" :heading="'Payment Information'" :current-step="step" :total-steps="currentSteps.length"
  @update-navigation="updateNav">


  <!-- Tags -->
  <div class="mb-4">
    <label class="mb-1 font-subheader font-weight-normal letter-spacing" for="">Chain</label>
    <v-select id="bounty_tags" :options="chainOptions" :taggable="true" :multiple="true" placeholder="Select chain you are paying out the bounty with" v-model="form.chainId">
      <template #search="{attributes, events}">
        <input
          class="vs__search"
          :required="!form.tags"
          v-bind="attributes"
          v-on="events"
        />
      </template>
    </v-select>
  </div>
</form-wrapper>