{% load static %}
{% load humanize %}
<!DOCTYPE html>
<html lang="en">
  <head>
    {% include 'shared/head.html' %}
    {% include 'shared/cards.html' %}
  </head>
  <body class="interior {{active}} grant">
    {% include 'shared/tag_manager_2.html' %}
    <div class="container-fluid header dash">
      {% include 'shared/nav.html' %}
    </div>

    {% if grants %}
      <div class="container">
        {% for grant in grants %}
          {% if forloop.counter0|divisibleby:3 %} <div class="row bottom-buffer"> {%  endif %}
            <div class="col-4">
              <a class="grant-item" href="{% url 'grant' grant.id %}">
                <h4 class="grant-item__title">{{ grant.title|truncatechars:60 }}</h4>
                <p class="grant-item__pitch">{{ grant.pitch|truncatechars:135 }}</p>
                <div class="grant-item__footer">
                  <div class="grant-item__owner">
                    <div class="grant-item__owner-image">
                      <img src="{{grant.profile.local_avatar_url}}">
                    </div>
                    <div class="grant-item__owner-handle">by <span>{{ grant.profile.handle }}</span></div>
                  </div>
                  <div class="progress-bar">
                    <div class="progress" style="width: {{ grant.percentage_done }}%"></div>
                  </div>
                  <div class="grant-item__funding">
                    <div class="grant-item__funding-item">
                      <div class="grant-item__funding-number">{{ grant.current_funding|floatformat:2|intcomma }} ETH</div>
                      <div class="grant-item__funding-label">Current</div>
                    </div>
                    <div class="grant-item__funding-item">
                      <div class="grant-item__funding-number">{{ grant.goal_funding|floatformat:2|intcomma }} ETH</div>
                      <div class="grant-item__funding-label">Goal</div>
                    </div>
                  </div>
                </div>
              </a>
            </div>
          {%  if forloop.counter|divisibleby:3 or forloop.last %} </div> {%  endif %}
        {% endfor %}
      </div>
    {% endif %}

    {% include 'shared/bottom_notification.html' %}
    {% include 'shared/analytics.html' %}
    {% include 'shared/footer_scripts.html' %}
    {% include 'shared/rollbar.html' %}
    {% include 'shared/footer.html' %}
  </body>

  <!-- jQuery -->
  <script src="{% static "v2/js/abi.js" %}"></script>
  <script src="{% static "v2/js/tokens.js" %}"></script>
  <script src="{% static "v2/js/pages/shared_bounty_mutation_estimate_gas.js" %}"></script>
  <script src="{% static "v2/js/pages/new_grant.js" %}"></script>
  <script src="{% static "v2/js/shared.js" %}"></script>
  <script src="{% static "v2/js/ipfs-api.js" %}"></script>
  <script src="{% static "v2/js/ipfs.js" %}"></script>

</html>
