
//------ Colors --------//
$gc_white: #FFFFFF;
$gc_dark_white: #D8D8D8;
$gc_light_grey: #AAAAAA;
$gc_grey: #666666;
$gc_dark_grey: rgba(79, 79, 79, 0.26);

$gc_purple: #0D0764;
$gc_purple_dark: #280076;
$gc_purple_darker: #1B0050;

$gc_red: #CA001A;
$gc_red_lighter: #D43247;

$gc_blue: #3E00FF;
$gc_blue_lighter: #5b24ff;

$gc_green: #05B66A;
$gc_green_lighter: #15ef91
