<div class="section">

	<a href="/quadraticlands/leaderboard" class="noparticles">
		<div class="header">
			<div class="icon">
				{% include "quadraticlands/_inlinesvg/leaderboard.svg" %}
			</div>
			<div class="title">
				Leaderboard</span>
			</div>
			<div class="arrow">
				{% include "quadraticlands/_inlinesvg/arrow.svg" %}
			</div>
		</div>
	</a>

	<div class="content">
		<div class="content-leaderboard">
			<div class="wrapper">

				<div class="col">
					<div class="place">
						1.
					</div>
					<div class="adress">
						<a href="/quadraticlands/profile/0x11B221E556c478583087Ae5af5346B485B83E814">0x11B2…3E814</a>
					</div>
					<div class="score">
						80.000
					</div>									
				</div>

				<div class="col">
					<div class="place">
						2.
					</div>
					<div class="adress">
						<a href="/quadraticlands/profile/0x11B221E556c478583087Ae5af5346B485B83E814">0x11B2…3E814</a>
					</div>
					<div class="score">
						70.000
					</div>									
				</div>

				<div class="col">
					<div class="place">
						3.
					</div>
					<div class="adress">
						<a href="/quadraticlands/profile/0x11B221E556c478583087Ae5af5346B485B83E814">0x11B2…3E814</a>
					</div>
					<div class="score">
						60.000
					</div>									
				</div>

				<div class="col">
					<div class="place">
						4.
					</div>
					<div class="adress">
						<a href="/quadraticlands/profile/0x11B221E556c478583087Ae5af5346B485B83E814">0x11B2…3E814</a>
					</div>
					<div class="score">
						50.000
					</div>									
				</div>

				<div class="col">
					<div class="place">
						121.
					</div>
					<div class="adress">
						<a href="/quadraticlands/profile/0x11B221E556c478583087Ae5af5346B485B83E814">0x11B2…3E814</a>
					</div>
					<div class="score">
						1000
					</div>									
				</div>



			</div>
		</div>
	</div>
	
</div>
