{% load static %}

<div class="section">

  <a id="shapshot_link" target="_blank" class="noparticles">
    <div class="header">
      <div class="icon">
        <img loading="lazy" src="{% static "v2/images/quadraticlands/icons/proposals.svg" %}" />
      </div>
      <div class="title">
        Active Proposals
      </div>
      <div class="arrow">
        {% include "quadraticlands/_inlinesvg/arrow.svg" %}
      </div>
    </div>
  </a>

  <div class="content">
    <div class="content-proposals">
      <div class="wrapper" id="proposals">

        <div class="item">
          <div class="item-link"><a target="_blank" href="https://snapshot.org/#/gitcoindao">Snapshot.org</a></div>
          <div class="item-stats" id="stats-snapshot"></div>
        </div>

        <div class="item">
          <div class="item-link"><a target="_blank" href="#">On-chain</a></div>
          <div class="item-stats" id="stats-on-chain"></div>
        </div>

        <div class="item">
          <div class="item-link"><a target="_blank" href="https://gov.gitcoin.co">Discourse Forum</a></div>
          <div class="item-stats" id="stats-discourse"></div>
        </div>

        <div class="item">
          <div class="item-link"><a target="_blank" href="https://gov.gitcoin.co">Learn more</a></div>
          <div class="item-stats"></div>
        </div>

      </div>
    </div>
  </div>

</div>

<script src="{% static "v2/js/quadraticlands/dashboard/proposals.js" %}"></script>
