{% load i18n %}
<div id="mc_embed_signup">
  <form action="//gitcoin.us16.list-manage.com/subscribe/post?u=f9f93e162a8732673b942cbda&amp;id=791d905ad8" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
      <label for="mce-EMAIL">{% trans "(Emails once a week max, &amp; we never sell your data.)" %}</label>
      <br>
      <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="you@domain.com" required>
      <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
      <button type="submit" name="subscribe" id="mc-embedded-subscribe" class="btn btn-sm btn-info subscribe joinlist">
          {% trans "Submit" %} <i class="fas fa-newspaper fa-lg"></i>
      </button>
      <span style="display: block; margin-top: 3px;">
        {% trans "You may withdraw email consent at any time" %} | <a href="{% url 'email_settings' email_key %}">{% trans "Manage preferences" %}</a> | <a href="{% url 'email_settings' email_key %}">{% trans "Opt out" %}</a> | <a href="mailto:privacy@gitcoin.co">{% trans "Email us" %}</a>
      </span>
    </div>
  </form>
</div>
