<div id="mc_embed_signup">
  <form action="//gitcoin.us16.list-manage.com/subscribe/post?u=f9f93e162a8732673b942cbda&amp;id=791d905ad8" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
      <label for="mce-EMAIL">(Emails once a week max, &amp; we never sell your data.)</label>
      <br>
      <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="you@domain.com" required>
      <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
      <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-sm btn-info raise"></div>
  </form>
</div>
