{% load i18n static %}
<div class="container-fluid carousel">
  <div class="row mb-0" style="min-height: 200px;">
    <div class="offset-lg-2 offset-md-1 offset-sm-0 hidden-xs-down col-sm-1 prev" align="center">
      <button class="control" onclick="prevSlide()">
        <i class="fas fa-chevron-left" aria-hidden="true"></i>
      </button>
    </div>
    <div class="col-lg-6 col-md-8 col-sm-10 col-xs-12" id="slides">
      {% for author, avatar, testimonial, url in slides %}
      <div class="slide hide">
          <div class="flex-container col-12">
            <div class="avatar">
              <div class="circles">
                <i class="closed fas fa-circle" aria-hidden="true"></i>
                <i class="circle-large far fa-circle" aria-hidden="true"></i>
                <i class="circle-small far fa-circle" aria-hidden="true"></i>
              </div>
              <div class="upper-line"></div>
              <img src="{{avatar}}">
              <div class="lower-line"></div>
            </div>
            <div class="testimonial">
              <p class="content">{{testimonial}}</p>
              <p class="author">
                <i class="fas fa-minus" aria-hidden="true"></i>
                <a href="{{url}}">
                    {{author}}
                </a>
                <i class="fas fa-minus" aria-hidden="true"></i>
              </p>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
    <div class="hidden-xs-down col-sm-1 next" align="center">
      <button class="control" onclick="nextSlide()">
        <i class="fas fa-chevron-right" aria-hidden="true"></i>
      </button>
    </div>
  </div>
</div>
