{% load static %}
<div class="container-fluid carousel">
    <div class="row pb-1">
        <div class="col text-center">
            <h4 class="pt-1">Who's using Gitcoin?</h4>
        </div>
    </div>
  <div class="row pilot_projects mt-1 mb-1">
        <div class="col text-center">
        <img src="{% static "v2/images/pilot_projects_1.png" %}">
        <p>
            November 16 2017 -- <a href="https://media.consensys.net/gitcoin-joins-consensys-announces-pilot-projects-f5a0955de9d6">Gitcoin Announces Pilot Projects with EtherDelta, Consensys Dilligence, Truffle, Metamask, web3py</a>
        </p>
      </div>
  </div>

  <div class="row mb-0" style="min-height: 200px;">
    <div class="offset-lg-2 offset-md-1 offset-sm-0 hidden-xs-down col-sm-1 prev" align="center">
      <button class="control" onclick="prevSlide()">
        <i class="fa fa-chevron-left" aria-hidden="true"></i>
      </button>
    </div>
    <div class="col-lg-6 col-md-8 col-sm-10 col-xs-12" id="slides">
      {% for author, avatar, testimonial, url in slides %}
      <div class="slide hide">
          <div class="flex-container col-12">
            <div class="avatar">
              <div class="circles">
                <i class="closed fa fa-circle" aria-hidden="true"></i>
                <i class="circle-large fa fa-circle-o" aria-hidden="true"></i>
                <i class="circle-small fa fa-circle-o" aria-hidden="true"></i>
              </div>
              <div class="upper-line"></div>
              <img src="{{avatar}}">
              <div class="lower-line"></div>
            </div>
            <div class="testimonial">
              <p class="content">{{testimonial}}</p>
              <p class="author">
                <i class="fa fa-minus" aria-hidden="true"></i>
                <a href="{{url}}">
                    {{author}}
                </a>
                <i class="fa fa-minus" aria-hidden="true"></i>
              </p>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
    <div class="hidden-xs-down col-sm-1 next" align="center">
      <button class="control" onclick="nextSlide()">
        <i class="fa fa-chevron-right" aria-hidden="true"></i>
      </button>
    </div>
  </div>

    <div class="row mt-2 pb-3 animatedParent" >
        <div class="col d-flex flex-column align-items-center animatedParent youtube">
            <iframe id="gitcoinTestimonials" src="https://www.youtube.com/embed/hpqHJCiqXzA" class="animated fadeInRightShort" frameborder="0" allowfullscreen></iframe>
        </div>

    </div>
    <div class="row mt-2 pb-3 animatedParent">
        <div class="col animated pulse fast">
            <a class="btn btn-lg btn-warning" role="button" href="{% url "casestudies" %}">Read Case Studies</a>
        </div>
    </div>


</div>
