.diplomacy-roomlog {
  margin: auto;
  margin: 0em 1.5em;

  .entry {
    border-top: 1px solid var(--smoke);
    padding: 1em 0em;

    display: flex;
    flex-wrap: wrap;
    row-gap: 0.3em;
    align-items: center;
  }

  .member {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-right: 1em;

    img {
      width: 32px;
      height: 32px;
      border-radius: 32px;
      display: inline;
      margin: 0px;
      padding: 0px;
      margin-right: 0.5em;
    }

    .username {
      color: var(--white);
    }

    .tokens {
      color: var(--aqua);
      margin-left: 0.5em;
      &:before {
        content: "+ ";
      }
      &:after {
        content: " GTC";
      }
    }
  }

  .time {
    color: var(--stone);
    &:before {
      content: "· ";
    }
  }

  .action {
    margin-right: 1em;
  }
}
