.diplomacy-create-room{

  margin: auto;
  margin: 0em 1.5em;

  background-color: var(--space_light);

  .wrapper{
    padding: 2em;
  }

  .info{
    font-weight: 500;
    color: var(--white);
  }

  .input{
    background-color: var(--space_light);
    border: 1px solid var(--smoke);
    display: grid;
    grid-template-columns: 1fr auto;
    grid-column-gap: 1em;
    margin: auto;
    padding: 1em 1.5em;
    margin-top: 1em;
  }

  input{
    background-color: transparent;
    border: none;
    outline: none;
    color: var(--aqua);
    font-family: 'Poppins', sans-serif;
    font-size: 120%;
    width: 100%;

    &.focus{
      border: none;
      outline: none;			
    }
  }

  ::placeholder{
    color: var(--stone);
  }

  button{
    margin: 0;
    margin-left: 0.1em;
    margin-right: 0.1em;

    display: inline;
    padding: 0.66rem 1.66em;
    font-size: 100%;
    font-weight: 600;
    text-decoration: none;
    white-space: nowrap;
    border: none;
    cursor: pointer;
    line-height: 1.5em;

    background-color: var(--purple);
    color: var(--space);

    user-select: none;
    border-radius: 4px;
    opacity: 1;

    &:hover {
      animation: colorcycle 1s ease-in-out infinite;
      opacity: 1;
    }	

    &.disabled{
      opacity: 0.1;
      pointer-events: none;
    }


  }

}



@media #{$phone} {
  .diplomacy-create-room{
    .wrapper{
      padding: 1em;
    }
    .input{
      padding: 0.5em;
    }
  }
}



