.diplomacy-room-members {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(256px, 1fr));
  grid-gap: 1em;

  margin: auto;
  margin: 0em 1.5em;

  ::placeholder {
    color: var(--stone);
  }

  .member-card {
    cursor: pointer;

    .front {
      display: block;
    }
    .back {
      display: none;
    }

    &.flip {
      .front {
        display: none;
      }
      .back {
        display: block;
      }
    }

    &.self {
      .front {
        input {
          pointer-events: none;
          color: var(--smoke);
        }

        .username {
          &:after {
            content: " (you)";
          }
        }

        ::placeholder {
          color: var(--smoke);
        }
      }
    }
  }

  .front {
    background-color: var(--space_light);
    text-align: center;
    border-radius: 6px;

    figure {
      padding: 1em 0em;

      img {
        border-radius: 180px;
        max-width: 180px;
        margin: auto;
      }
    }

    .username {
      color: var(--white);
      margin-bottom: 1em;
    }

    .tokens_in {
      color: var(--aqua);
      &:before {
        content: "+ ";
      }
      &:after {
        content: " GTC";
      }
    }

    .tokens_out {
      color: var(--pink);
      &:before {
        content: "- ";
      }
      &:after {
        content: " GTC";
      }
    }

    input {
      width: 100%;
      padding: 1em 0.2em;
      margin-top: 1em;

      text-align: center;
      color: var(--aqua);
      font-family: "Poppins", sans-serif;
      font-size: 120%;

      border: 1px solid var(--smoke);
      background-color: var(--space);
      outline: none;

      &:focus {
        border: 1px solid var(--smoke);
        outline: none;
        animation: colorcycle-shadow 1s ease-in-out infinite;
      }
    }
  }

  .back {
    background-color: var(--space_light);
    padding: 0.75em 1em;
    border-radius: 6px;

    .wrapper {
      font-size: 80%;
      div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        word-break: break-all;
      }
    }

    .tokens_in {
      &:before {
        content: "incomming";
        color: var(--aqua);
        font-weight: 600;
      }
      span {
        color: var(--aqua);
        text-align: right;
      }
      margin-bottom: 1em;
    }

    .tokens_out {
      &:before {
        content: "outgoing";
        color: var(--pink);
        font-weight: 600;
      }
      span {
        color: var(--pink);
        text-align: right;
      }
    }
  }
}

@media #{$tablet} {
  .diplomacy-room-members {
    .member-card .front figure img {
      border-radius: 128px;
      max-width: 128px;
    }
  }
}

@media #{$phone} {
  .diplomacy-room-members {
    .member-vard .front figure img {
      border-radius: 90px;
      max-width: 90px;
    }
  }
}
