/** Forms embedded by hubspot do not have classes that match up with the bootstrap classes, so let's cater for the Hubspot classes and extend them to be the same as the bootstrap classes */

.hs-form-iframe {
  width: 100% !important;
}
.hs-input {
  @extend .form-control;
}
.hs-form-field {
  @extend .form-group;
  @extend .mb-3;
}
.hs-button {
  @extend .btn;
}
.hs-button.primary {
  @extend .btn-primary;
}
.hs-form-field label {
  margin-bottom: 0.5rem;
}
.hs-error-msgs {
  @extend .list-unstyled;
}
.hs-error-msgs li {
  @extend .invalid-feedback;
  display: block !important;
}
.hs-input.invalid.error {
  @extend .is-invalid;
}
.hs-error-msgs li .hs-error-msg {
  @extend .invalid-feedback;
  display: block !important;
}
.hs_error_rollup .hs-error-msgs li {
  font-size: inherit !important;
}

// The homepage requires a bit of specific styling for the input and submit buttons to sit side by side
.hubspot_form_wrap.simple, .hubspot_form_wrap .hbspt-form { width : 100%; }
.hubspot_form_wrap.simple .hs-form {
  display: flex;
  flex-direction: row;
  padding: 16px 0;
}
.hubspot_form_wrap.simple .hs-form .hs_email { margin-right: 5px; width: 100%; }
.hubspot_form_wrap.simple .hs-form input.hs-button { height: 37px; }
.hubspot_form_wrap.simple .hs-form .hs_email label, .hubspot_form_wrap.simple .hs-form ul.hs-error-msgs
{ display: none !important; }
