
.announce-bot {
  margin-top: 10px;
  text-align: center;
}

.announce-bot img {
  width: 200px;
  max-width: 200px;
}

.announce-bot2 img {
  width: 250px;
  max-width: 250px;
}

.announce-bot3 img {
  width: 250px;
  max-width: 250px;
}

.announce-bot4 img {
  width: 250px;
  max-width: 250px;
}

.announce {
  text-align: center;
  border-radius: 5px;
  background-color: #fdedee;
  padding: 3px;
  position: relative;
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

.announce:after {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  width: 0;
  height: 0;
  border: 20px solid transparent;
  border-bottom-color: #fdedee;
  border-top: 0;
  border-left: 0;
  margin-left: -10px;
  margin-top: -20px;
}

.announce a {
  color: black;
}
.announce a.btn {
  background-color: #f2c3c4;
}
.announce a.decline {
  font-style: italic;
}

.announce h4 {
  border-bottom: 3px solid #fdedee;
}

.announce5 h4 {
  border-bottom: 3px solid #def390 !important;
}

.announce5:after {
  border-bottom-color: #def390 !important;
}

.announce5 {
  background-color: #def390 !important;
}

.announce5 a.btn {
  background-color: #cee370 !important;
}

.announce4 h4 {
  border-bottom: 3px solid #fce5ac !important;
}

.announce4:after {
  border-bottom-color: #fce5ac !important;
}

.announce4 {
  background-color: #fce5ac !important;
}

.announce4 a.btn {
  background-color: #dcc58c !important;
}

.announce3 h4 {
  border-bottom: 3px solid #d0f9f4 !important;
}

.announce3:after {
  border-bottom-color: #d0f9f4 !important;
}

.announce3 {
  background-color: #d0f9f4 !important;
}

.announce3 a.btn {
  background-color: #b0d9d4 !important;
}

.announce2 h4 {
  border-bottom: 3px solid #a4affc !important;
}

.announce2:after {
  border-bottom-color: #a4affc !important;
}

.announce2 {
  background-color: #a4affc !important;
}

.announce2 a.btn {
  background-color: #849ffc !important;
}

.announce6 h4 {
  border-bottom: 3px solid #fde9ed !important;
}

.announce6:after {
  border-bottom-color: #fde9ed !important;
}

.announce6 {
  background-color: #fde9ed !important;
}

.announce6 a.btn {
  background-color: #ddb9bd !important;
}

#announce {
  width: 9%;
  display: block;
  background-color: #d9d8e7;
  border-radius: 5px;
  text-align: center;
  margin-top: 5px;
  padding-top: 0px;
}

#announce img {
  margin: 0px auto;
  margin-top: -150px;
  margin-bottom: -50px;
  width: 200px;
  height: 200px;
}

.announce a.btn:hover {
  color: black;
  font-weight: bold;
  background-color: #f5d3d4;
}
