.avatars-container {
  display: flex;
  flex-wrap: wrap;
}

.avatars-container img {
  height: 235px;
  width: 235px;
}

.avatar-tile {
  height:250px;
  width: 250px;
  position: relative;
  cursor: pointer;
}

.avatar-tile.active div::after {
  position: absolute;
  bottom: 25px;
  right: 5px;
  color: white;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  font-size: 1.2rem;
  line-height: 1.2rem;
  content: url(static('v2/images/check.svg'));
  background-color: #150069;
}

.avatar-tile:not(.active) img:hover {
  border: 2px solid #00BB61;
}

.avatar-tile:not(.active) div:hover::after {
  content: '+';
  background-color: #00BB61;
  z-index: 11;
  position: absolute;
  bottom: 25px;
  right: 5px;
  color: white;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  font-size: 1.2rem;
  line-height: 1.2rem;
}

.action-buttons {
  display:flex;
  justify-content: flex-end;
}
#theme{
  width: 140%;
  margin-left: -20%;
  max-height: 500px;
  overflow-y: scroll;
}
@media (max-width: 1000px) {
  #theme{
    width: 120%;
    margin-left: -10%;
  }
}
#theme .selected{
  border: none !important;
  border-top: 2px solid black !important;
  background-color: #fafafa
}
#theme a.avatar_builder{
  display: inline-block;
  width: 100px;
  height: 150px;
  margin: 10px 5px;
  color: #9a9a9a;
  padding: 5px;
  border-radius: 25px;
  vertical-align: top;
}
#theme a.avatar_builder:hover,
#theme a.avatar_builder.selected{
  background-color: #fafafa;
  text-decoration: none;
}
#theme a.avatar_builder p.title{
  font-size: 12px;
  display: block;
}
#theme a.avatar_builder p.desc{
  font-size: 10px;
}
#theme a.avatar_builder:hover p.title,
#theme a.avatar_builder.selected p.title{
  font-weight: bold;
}

#theme a.avatar_builder:hover{
  border-bottom: 2px solid black !important;
}
#theme img{
  border-radius: 90px;
  width: 90px;
  height: 90px;
  filter: grayscale(90%);
}
#theme a.avatar_builder:hover img,
#theme a.avatar_builder.selected img{
  filter: grayscale(0%);
}
#theme img.unisex{
  size: 25%;
}
#tdavatartarget{
  width: 400px;
  height: 400px;
  margin: 0px auto;
  padding-left: 40px;
}
#tdavatartarget.unisex{
  width: 400px;
  height: 400px;
}
#tdavatartarget.female,
#tdavatartarget.mage_snowglobe_female{
  width: 300px;
  height: 300px;
}
#tdavatartarget.bufficorn{
  width: 500px;
  height: 500px;
}

.tdselection{
  height: 100px;
  width: 100px;
  vertical-align: none;
  background-color: #eee;
  border-radius: 5px;
  margin: 10px;
  cursor: pointer;
}
.tdselection:hover{
  background-color: #bbb;
}
.tdselection.selected{
  background-color: #aaa;
}
.select_avatar_type{
  color: #9a9a9a;
  padding: 5px;
  border-bottom: 1px solid #9a9a9a;
  margin: 0px auto;
}
.select_avatar_type.base{
  display: none;
}
.select_avatar_type.frame{
  display: none;
}
.select_avatar_type:hover{
  color: #9a9a9a;
  font-weight: bold;
  border-bottom: 2px solid #9a9a9a;
  text-decoration: none;
}
.select_avatar_type.active{
  color: #0D0764;
  border-bottom: 1px solid #0D0764;
}
.tones{
  list-style: none;
  margin: 5px;
}
.tones li{
  display: inline-block;
  width: 30px;
  height: 30px;
  cursor: pointer
}

.tones li.selected{
  border: 3px solid #aaa;
}
