.ribbon {
  width: 150px;
  height: 150px;
  overflow: hidden;
  position: absolute;
}

.ribbon::before,
.ribbon::after {
  position: absolute;
  z-index: -1;
  content: '';
  display: block;
  border: 5px solid #000;
}

.ribbon span {
  position: absolute;
  display: block;
  width: 225px;
  padding: 8px 0;
  background-color: #25E899;
  box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
  color: #000;
  font: 700 18px/1 'Lato', sans-serif;
  text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
  text-transform: uppercase;
  text-align: center;
}

/* top left*/
.ribbon-top-left {
  top: -10px;
  left: -10px;
}

.ribbon-top-left::before,
.ribbon-top-left::after {
  border-top-color: transparent;
  border-left-color: transparent;
}

.ribbon-top-left::before {
  top: 0;
  right: 0;
}

.ribbon-top-left::after {
  bottom: 0;
  left: 0;
}

.ribbon-top-left span {
  right: -25px;
  top: 30px;
  transform: rotate(-45deg);
}

/* top right*/
.ribbon-top-right {
  top: -10px;
  right: -10px;
}

.ribbon-top-right::before,
.ribbon-top-right::after {
  border-top-color: transparent;
  border-right-color: transparent;
}

.ribbon-top-right::before {
  top: 0;
  left: 0;
}

.ribbon-top-right::after {
  bottom: 0;
  right: 0;
}

.ribbon-top-right span {
  left: -25px;
  top: 30px;
  transform: rotate(45deg);
}

/* bottom left*/
.ribbon-bottom-left {
  bottom: -10px;
  left: -10px;
}

.ribbon-bottom-left::before,
.ribbon-bottom-left::after {
  border-bottom-color: transparent;
  border-left-color: transparent;
}

.ribbon-bottom-left::before {
  bottom: 0;
  right: 0;
}

.ribbon-bottom-left::after {
  top: 0;
  left: 0;
}

.ribbon-bottom-left span {
  right: -25px;
  bottom: 30px;
  transform: rotate(225deg);
}

/* bottom right*/
.ribbon-bottom-right {
  bottom: -10px;
  right: -10px;
}

.ribbon-bottom-right::before,
.ribbon-bottom-right::after {
  border-bottom-color: transparent;
  border-right-color: transparent;
}

.ribbon-bottom-right::before {
  bottom: 0;
  left: 0;
}

.ribbon-bottom-right::after {
  top: 0;
  right: 0;
}

.ribbon-bottom-right span {
  left: -25px;
  bottom: 30px;
  transform: rotate(-225deg);
}


.show > .btn-secondary.dropdown-toggle {
  background-color: var(--gc-blue-hover) !important;
}


.card-bg {
  background-color: #0C1A27;
  padding: 1.8em;
  background-size: cover;
}

.card-project {
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

.card-badge {
  right: 1em;
  top: 1em;
  filter: drop-shadow(0 0.3rem 0.2rem rgba(0, 0, 0, 0.25));
  width: 4em;
}

.tribes-logo img {
  height: 100%;
  width: 100%;
}

.tribes-logo.badge-secondary {
  background-color: #fff;
}

#sponsor_sidebar {
  background-color: #F9F9F9;
  height: 100%;
}

.card-project-logo {
  background-color: rgba(255, 255, 255, 0.30);
  object-fit: contain;
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 5rem 3rem;
}

@media (min-width: 1200px) {
  .project-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1800px) {
  .project-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

.page-link-gc {
  color: #3e24fb;
}

.page-item.active .page-link-gc {
  background-color: #3e24fb;
  border-color: #3e24fb;
}

.nav-list-dashboard {
  position: absolute;
  bottom: 0;
}


.bounty_row img.avatar {
  max-width: 50px;
}

.hackathon-title {
  font-size: 1.4rem;
}

.hackathon-countdown {
  font-size: 1rem;
}

.bounty_row {
  background-color: white;
  margin-bottom: 15px;
  border-radius: 4px;
}

.hack-logo-wrapper {
  position: absolute;
  max-width: 240px;
  top: -200px;
  left: -32%;
}

.townsquare_header {
  width: 100%;
  height: 100%;
  overflow: hidden;
}


.hackathon-logo img {
  height: 185px;
  object-fit: contain;
}

.register {
  width: 100%;
}
.controls .form-control, .controls .btn, .controls label {
  font-size: 0.7rem;
}

.looking-team {
  background-color: rgba(62, 0, 255, 0.05);
  border-radius: 8px;
  padding: 11px 15px;
}

.info-card-title {
  font-weight: bold;
  font-size: 12px;
  line-height: 22px;
  letter-spacing: 1px;
  color: #6F3FF5;
}

.info-card-desc {
  font-style: italic;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  color: #666666;
}

@media (max-width: 767.98px) {
  li.navigation > a.nav-link {
    font-size: 14px;
  }
}
