// GC colors
$gc-purple: #0D0764;
$gc-grey: #EEEEEE;

// GC colors and shades
$gc-violet-500: #5932C4;
$gc-violet-400: #6F3FF5;
$gc-violet-300: #8C65F7;
$gc-violet-200: #c9b8ff;
$gc-violet-100: #F0EBFF;

$gc-teal-500: #11BC92;
$gc-teal-400: #02E2AC;
$gc-teal-300: #5BF1CD;
$gc-teal-200: #b3ffed;
$gc-teal-100: #E6FFF9;

$gc-pink-500: #D44D6E;
$gc-pink-400: #F3587D;
$gc-pink-300: #F579A6;
$gc-pink-200: #faadbf;
$gc-pink-100: #FDDEE5;

$gc-yellow-500: #E1B815;
$gc-yellow-400: #FFCC00;
$gc-yellow-300: #FFDB4C;
$gc-yellow-200: #ffeea8;
$gc-yellow-100: #FFF8DB;

// Font overrides
$font-family-base: 'Libre Franklin', sans-serif;
$headings-font-family: 'Miriam Libre', sans-serif;

// Vue-select overrides
$vs-state-active-bg: $gc-violet-400;
