h3 {
  font-size: 1.4em;
}

#gitcoin_buttons .btn {
  font-weight: normal;
}

.heading {
  text-transform: uppercase;
  font-weight: bolder;
  font-size: 1.3em;
  text-align: center;
  margin-top: 1em;
  margin-bottom: 1em;
  padding-top: 10px;
}

.sub-heading {
  margin-bottom: 2em;
  text-transform: capitalize;
  text-align: center;
  font-size: 1em;
}

.video-row {
  display: flex;
}

.video-row .video {
  flex-basis: 29%;
  margin: 0 2%;
}

.video-row .video iframe {
  max-width: 100%;
}

.answer {
  font-size: 15px;
}

.question {
  font-size: 18px;
  cursor: pointer;
}

.question:hover {
  color: #6F3FF5;
}

.show {
  animation: .2s accordionIn;
}

.animated a {
  font-size: 1em;
}

@keyframes accordionIn {
  0% {
    opacity: 0;
    transform: scale(0.9) rotateX(-60deg);
    transform-origin: 50% 0;
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@media (max-width: 1180px) {
  .video-row {
    flex-direction: column;
    align-items: center;
  }
}


@media (max-width: 991px) {
  .heading {
    margin-top: 1em;
  }
}
