.navbar {
  min-height: 66px;
}

.nav_avatar {
  width: 40px;
  height: 40px;
  cursor: pointer;
  border-radius: 50%;
  background-size: cover;
}

.navbar-network {
  border: 1px solid #828282;
  color: #fff;
  border-radius: 25px;
  font-size: 0.65rem;
  text-align: center;
}

.navbar-network i {
  font-size: 7px;
  position: relative;
  top: -1px;
}

.navbar-network a {
  text-decoration: underline;
}

.navbar .dropdown-menu .gc-megamenu-content .dropdown-item-small {
  padding: 0.4em 0.7em!important;
}

.nav-item.dropdown:not(.gc-megamenu-fw) > .dropdown-menu {
  max-width: 48rem;
}

.navbar-nav .dropdown-menu {
  min-width: 12rem;
  overflow-y: auto;
  max-height: 88vh;
  margin: -0.125rem 0 0;
  background-color: #FFF;
  border-radius: 0px;
  padding: 0;
  border: 1px solid #bdbdbd;
}

.navbar-nav .dropdown-menu.notifications__box {
  padding: 1em 0;
}

.navbar-nav .dropdown-menu .dropdown-divider {
  margin: 0;
}

.navbar-nav .dropdown-menu .dropdown-item {
  color: inherit;
  padding: 12px 25px;
}

.navbar-nav .dropdown-toggle::after {
  /* stylelint-disable-next-line */
  font-family: 'Font Awesome 5 Pro';
  font-size: 140%;
  content: '\f107';
  vertical-align: sub;
  border: none;
}

#why-gitcoin .dropdown-item {
  padding-left: 15px;
}

.dropdown-menu .dropdown-item i {
  text-align: center;
  margin-left: 0px;
  margin-right: 20px;
  width: 15px;
}

.dropdown-menu .dropdown-item:hover, .dropdown-menu .dropdown-item:hover div,
.dropdown-menu .dropdown-item:focus, .dropdown-menu .dropdown-item:focus div {
  color: white;
}

.dropdown-menu .dropdown-item:hover svg .main-path, .dropdown-menu .dropdown-item:focus svg .main-path  {
  fill: white;
  stroke: white;
}

.dropdown-menu li > a > .gc-megamenu-title:hover {
  color: #212529;
}

/* Megamenu based on https://geedmo.github.io/yamm/ */
.gc-megamenu .collapse,
.gc-megamenu .dropup,
.gc-megamenu .dropdown {
  position: static;
  overflow: auto;
  max-height: 60vh;
}

.gc-megamenu .container {
  position: relative;
}

.gc-megamenu .dropdown-menu {
  left: auto;
}

.gc-megamenu .gc-megamenu-content {
  padding: 1rem;
}

.gc-megamenu .dropdown.gc-megamenu-fw .dropdown-menu,
.gc-megamenu .dropup.gc-megamenu-fw .dropdown-menu {
  left: 0;
  right: 0;
}

.gc-megamenu-active {
  background: rgba(12, 3, 59, 0.1);
  border-radius: 4px;
}

.gc-megamenu-fw .dropdown-menu {
  border-right: 0px solid;
  border-left: 0px solid;
}

.gc-megamenu-caret {
  display: none;
  position: absolute;
  color: transparent;
  padding-bottom: 0.875rem;

  &:after,
  &:before {
    content: '';
    transform: translateX(0.375rem);
    border-left: 0.75rem solid transparent;
    border-right: 0.75rem solid transparent;
    border-bottom: 0.75rem solid #fff;
    bottom: -0.75rem;
    left: 50%;
    margin-left: -0.75rem;
    position: absolute;
  }

  &:after {
    z-index: 1001;
  }

  &:before {
    border-left: 0.813rem solid transparent;
    border-right: 0.813rem solid transparent;
    border-bottom: 0.813rem solid;
    border-bottom-color: #bdbdbd;
    top: -0.813rem;
    margin-left: -0.813rem;
  }
}

@media (max-width: 767.98px) {
  .gc-megamenu-caret {
    display: none!important;
  }

  .navbar {
    max-height: calc(100vh - 82px);
    // max-height: 100vh;
    overflow: scroll;
    align-content: flex-start;
    padding: 1rem 1rem;

    .navbar-collapse {
      min-height: calc(100vh - 154px);
      // min-height: calc(100vh - 106px);
    }

    .navbar-brand:before {
      content: "";
      width: calc(100vw);
      background-color: inherit;
      height: 74px;
      position: absolute;
      top: -0.78rem;
      z-index: -1;
      border-bottom: 1px solid #e2e0e7;
    }

    .dark-mode .navbar .navbar-brand:before {
      background-color: var(--main-bg);
    }

    .navbar-nav .dropdown-menu {
      max-height: unset;
      border: 0px;
      border-top: 1px solid #e2e0e7;
      box-shadow: unset;
      margin-top: 0px;
    }

    .gc-megamenu .dropdown {
      max-height: unset;
      border-bottom: 1px solid #E2E0E7;
    }

    .navbar-toggler {
      top: 16px;
    }

    .navbar-brand {
      top: 11px;
    }

    .nav-link {
      padding: 1rem 1rem;
    }

    .gc-search-box.dropdown-menu {
      top: 0px;
      border-bottom: 1px solid #e2e0e7;
    }

    #nav_auth_user {
      border-top: 1px solid #e2e0e7;
      border-bottom: 1px solid #e2e0e7;
    }

    #navbarDropdownWallet {
      min-height: 52px;
    }

    #gc-notifications.show {
      border-bottom: 1px solid #e2e0e7;
    }

    .dropdown-menu.shadow-lg {
      box-shadow: unset!important;
    }

    .navbar-network {
      display: none;
    }

    .nav_avatar {
      position: absolute;
      margin-top: 0.45rem;
      margin-left: 0.65rem;
    }

    .navbar-nav .dropdown-toggle::after {
      float: right;
      transform: translateX(-0.4rem);
      font-size: 1rem;
    }

    .navbar-nav .nav-item:not(.show) .dropdown-toggle::after {
      transform: rotate(-90Deg) translateY(-0.4rem);
    }
  }
}

@media (min-width: 768px) {
  .navbar-nav .dropdown-toggle-md-no-caret:after {
    content: '';
  }
}

@media (min-width: 768px) and (max-width: 820px) {
  .navbar-nav .nav_avatar {
    display: none !important;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .navbar-brand #logo {
    width: 6.5rem;
    height: auto;
  }

  .navbar-expand-md .navbar-nav .nav-link {
    padding-left: 0.4rem;
    padding-right: 0.4rem;
  }
}

@media (min-width: 768px) and (max-width: 1240px) {
  .navbar-expand-md .navbar-nav .nav-link {
    font-size: 0.8rem;
  }

  .nav-link__text {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 1028px) {

  .nav-link {
    text-align: center;
  }

  .navbar-expand-md .navbar-nav .nav-link {
    font-size: 0.7rem;

    .gc-megamenu-caret {
      padding-bottom: 1rem;
    }
  }

  .nav-link__icon.hidden {
    display: inline !important;
  }

  .navbar-brand img {
    width: 140px;
    height: 47.6px;
  }

  .nav-link.login i {
    font-size: 1.3em !important;
  }
}
