.presskit {
  color: #4a4a4a;
}

.presskit .presskit_section:nth-of-type(even) {
  background-color: #F5F2FF;
}

.presskit h2 {
  color: #43484d;
}

.color-card > .card-header {
  height: 10rem;
}

.color-card p {
  font-size: 75%;
  color: #4a4a4a;
}

.color-card span {
  font-size: 75%;
}

.usage_caption {
  text-transform: uppercase;
  font-size: 75%;
  color: #4a4a4a;
}

.usage_caption > span {
  color: #f9006c;
}

.presskit__resources .card-text {
  font-size: 80%;
}

.presskit_svg {
  width: 100%;
  height: auto;
  object-fit: contain;
  max-height: 15rem;
  padding: 2rem;
}

.figma_svg {
  width: 75%;
  height: auto;
  object-fit: contain;
  max-height: 15rem;
  padding: 2rem;
}
