.gc-search-tab__title {
  font-size: 12px !important;
}

// .navbar-nav .nav-link.gc-search__icon {
//   position: relative;
//   font-size: 18px;
//   color: white;
// }

.gc-search__icon.dropdown-toggle::after {
  content: none;
}

.gc-search-nav.nav-tabs .nav-line {
  color: #666666 !important;
}

.gc-search-nav.nav-tabs .nav-line.active {
  color: #6F3FF5 !important;
  border-color: #6F3FF5;
}

.gc-search-box.dropdown-menu {
  width: 520px;
  background-color: #ffffff;
  border-radius: 4px;
  top: 2.3rem;
}

.gc-search-box input[type=text] {
  width: 78%;
  display: inline;
}
.gc-search-box input[type=submit] {
  width: 17%;
  display: inline;
}

.gc-search__header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #d8d8d8;
  padding-bottom: 0.8em;
}

.gc-search-result {
  max-height: 328px;
  overflow-y: auto;
  padding: 0;
  position: relative;
  z-index: 1;
}

.gc-search-result__content:nth-child(even) {
  background: #F9F9F9;
}

.gc-search-result__title {
  color: #000000;
}

.gc-search-result__description {
  color: #666666;
}

.gc-search__avatar {
  border-radius: 50px;
  width: 47px;
  height: auto;
}

.gc-search__tag {
  background-color: #e7f0fa;
  color: #6700ff;
}

@media (max-width: 768px) {
  .gc-search-box.dropdown-menu {
    width: 100%;
  }
}
