
// SVGs for mobile nav
html {
  --navbar-toggle-open: url("data:image/svg+xml,%3csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M3 8V6H21V8H3ZM3 13H21V11H3V13ZM3 18H21V16H3V18Z' fill='black'/%3e%3c/svg%3e");
  --navbar-toggle-close: url("data:image/svg+xml,%3csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M19 6.41L17.59 5L12 10.59L6.41 5L5 6.41L10.59 12L5 17.59L6.41 19L12 13.41L17.59 19L19 17.59L13.41 12L19 6.41Z' fill='black'/%3e%3c/svg%3e");
}

.top-nav {
  color: #9E9E9E;
  display: flex;
  flex-wrap: wrap;
  flex-shrink: 0;
  background: #0D023B;
  justify-content: space-around;
  border-bottom: 1px solid rgba(255,255,255,0.3);
  padding: 0.5rem 0;
  font-size: 1rem;
  line-height: 1.5;
}

.top-nav a {
  filter: grayscale(1);
  opacity: 0.6;
  transition: all 0.2s linear;
}

.top-nav a.selected {
  filter: grayscale(0);
  opacity: 0.8;
}

.top-nav .link {
  text-decoration: none;
  color: #9E9E9E;
}

.top-nav a img {
  height: 30px;
}

@media (min-width: 768px) {
  .top-nav {
    flex: 1 0 45px;
    background: black;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: none;
    padding: 0;
  }
}

.top-nav a:hover img,
.top-nav a.selected img {
  /* opacity: 1; */
}

.top-nav a:hover {
  filter: grayscale(0);
  opacity: 1;
}

.navbar-toggler[aria-expanded="false"] .navbar-toggler-icon {
  mask: var(--navbar-toggle-open);
  -webkit-mask: var(--navbar-toggle-open);
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
  mask: var(--navbar-toggle-close);
  -webkit-mask: var(--navbar-toggle-close);
}

.dark-mode .navbar-toggler-icon {
  background-color: rgba(255,255,255,0.5)
}

.navbar-toggler-icon {
  background-color: rgba(0,0,0,0.5)
}

.brand-hover .logo-animated {
  display: none;
}
.brand-hover:hover .logo-animated {
  display: block;
}
.brand-hover:hover .logo-static {
  display: none;
}

