
.sidebar-container .container {
  background-color: #ffffff;
}

.grid-4 {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 5rem 2rem;
}

@media (min-width: 768px) {
  .grid-4 {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 992px) {
  .grid-4 {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1200px) {
  .grid-4 {
    grid-template-columns: repeat(4, 1fr);
  }
}

.users .card-user .dropdown-menu {
  min-width: 4rem;
}

.card-user {
  font-size: 12px;
}

.card-user_stars i {
  font-size: 16px;
  color: #CCCED0;
}

.card-user_stars .fas {
  color: #25E899;
}

.card-user_name {
  font-size: 14px;
  font-weight: 600;
  margin: 0;
}

.bounties-box {
  max-height: 342px;
  overflow-y: auto;
  border: 1px solid #D3D3D3;
  border-radius: 4px;
}

.modal-header h3 {
  margin-top: 0;
  color: #42b983;
}

.modal-body {
  margin: 20px 0;
}

.modal-default-button {
  float: right;
}

.bounty-select:hover {
  cursor: pointer;
  color: white;
  background-color: var(--gc-blue-hover);
}

.sidebar-container {
  display: flex;
}


@media (min-width: 992px) {
  .sidebar {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    overflow: auto;
    height: 100vh;
    max-width: 300px;
    will-change: margin-left;
    background-color: #F2F6F9;
  }
}

.select2 {
  width: 100% !important;
}

.fade-enter-active, .fade-leave-active {
  /* transition: opacity .5s; */
  transition: all 0.2s ease-in-out;

}

.fade-enter, .fade-leave-to {
  margin-left: -300px;
}

.fade-enter-to {
  margin-left: 0%;
}

.search-section {
  background: #0C023B;
}

