#CookielawBanner {
  padding: 15px;
  position: fixed;
  bottom: 0;
  background-color: #F2F6F9;
  width: 100%;
  z-index: 999999999;
}

#CookielawBanner .container {
  position: relative;
  max-width: none;
}

#CookielawBanner .container h6 {
  margin-bottom: 0rem;
  font-size: .85rem;
  letter-spacing: 0;
  font-weight: bold;
}

#CookielawBanner .container .button {
  max-height: 2.5rem;
  padding: 5px 24px;
  position: absolute;
  right: 0;
  top: -8px;
  font-size: 12px;
}

#CookielawBanner .container .d-flex {
  justify-content: space-between;
}

#CookielawBanner .container .d-flex .row.cookie-row {
  width: 100%;
  margin-right: 0px;
}

#CookielawBanner .container .cookie-info {
  width: 90%;
}

#CookielawBanner .container .cookie-info.cookie-body-font {
  font-size: 12px;
  margin-bottom: 0;
}

#CookielawBanner #CookielawCross {
  background: url('../img/close.png') no-repeat 0 0;
  cursor: pointer;
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 15px;
  height: 15px;
}

@media (max-width: 767.98px) {

  #CookielawBanner .container .d-flex {
    display: inline !important;
  }

  #CookielawBanner .container .d-flex .row.cookie-row .col-4 {
    padding-right: 5px;
  }

  #CookielawBanner .container .cookie-info {
    width: 100%;
  }

  #CookielawBanner .container a.button {
    float: right;
  }
  
}

@media (max-width: 575.98px) {
  #CookielawBanner .container .button {
    top: 6px;
    text-align: center;
    margin: auto;
  }
}