{% load i18n static %}
<!DOCTYPE html>
<html lang="en">

  <head>
    {% include 'shared/head.html' %}
    {% include 'shared/cards_pic.html' %}
    <link rel="stylesheet" href="{% static "v2/css/jobs.css" %}" />
    <link rel="stylesheet" href="{% static "v2/css/tag.css" %}" />
  </head>

  <body class="interior {{active}}">
    {% include 'shared/tag_manager_2.html' %}
    <div class="container-fluid header dash">
      {% include 'shared/nav.html' %}
    </div>
    <div class="row no-gutter">
      <div class="col-12 col-md-2 left-rails text-center" style="background: #F2F6F9;">
        {% include 'shared/current_balance.html' %}
        <div class="explorer font-body">
          <a href="{% url 'job-list-template' %}"><i class="fa fa-chevron-left"></i> {% trans "Back to Issue Explorer" %}</a>
        </div>
      </div>

      <div class="col-12 offset-md-1 col-md-8 body">

        <div class="row nonefound" style="display:none;">
          <img src="{% static "v2/images/shrug_bot.png" %}">
          <h3>{% trans "No funded issue found." %}</h3>
          <p>{% url 'explorer' as explorerurl %}{% blocktrans %}Check out the <a href="{{ explorerurl }}">Issue Explorer</a>{% endblocktrans %}</p>
          <br>
          <h6>{% trans "Be the OSS Funding you wish to see in the world." %}</h6>
          <p id='submitsolicitation'>{% url 'new_funding' as new_fundingurl %}{% blocktrans %} Looking to fund some work?  You can submit a new Funded Issue <a href="{{ new_fundingurl }}">here</a>.{% endblocktrans %}</p>
        </div>

        <div class="row ml-2 mr-2 pl-4 pr-4 waiting_room_entertainment" style="display: none;">
          {% include 'shared/rain.html' with class="color" %}
          <div class="quote-container">
            <div class="quote_text"></div>
            <div class="quote_author"></div>
            <input id="quoteRefresh" name="refresh" type='submit' onclick='javascript:waitingRoomEntertainment()' value="Refresh Quote" >
          </div>
        </div>

        <div id="rendered_job_detail"></div>

        <script id="job_detail" type="text/x-jsrender">
          <div class="col-12" id="job-details">
            <h3 class="job-title">[[:title]]</h3>
            <div class="job-type-loc">
              <div class="job-type">[[:job_type]]</div>
              <div class="job-location">[[:location]]</div>
              <div class="flex-grow-8"></div>
            </div>
            <div class="job-company-exp">
              <div class="job-company">Company: <span class="company-name">[[:company]]</span></div>
              <div class="job-experience">Experience: <span id="exp-lang">[[:skills]]</span></div>
              <div class="job-posted">Posted: <span id="job-post-duration">2 days ago</span></div>
            </div>
            <a class="btn job-apply-btn btn-white" target="_blank" href="[[:apply_url]]">
              <span class="font-caption">Apply on Company Site</span>
            </a>
            <a class="btn github-profile-btn btn-white" target="_blank" href="[[:github_profile_link]]">
              <span class="font-caption">Github Profile</span>
            </a>
            <h4>Description</h4>
            <div class="job-description">
              [[:description]]
            </div>
            <div class="job-tags tags">
              <div class="job-tag tag keyword">[[:skills]]</div>
            </div>
            <div class="col-12">
              <div class="row box">
                <div class="col-lg-12 col-md-12 col-md-1 funder-avatar">
                  <div id="issuer_avatar_url"><img src="[[:company_avatar]]" /></div>
                </div>
                <div class="col-lg-12 col-md-12 col-md-1 funder-avatar">
                  <span class="company-name">[[:company]]</span>
                </div>
                <div class="col-lg-12 col-md-12 col-md-1">
                  <div id="job-mail">Email <span id="job-poster-mail"><a href="mailto:[[:apply_email]]">[[:apply_email]]</a></span></div>
                </div>
                <div class="col-lg-12 col-md-12">
                <div id="job-profile">Gitcoin Profile
                  <span id="job-poster-profile">
                    [[if posted_by_user_profile_url]]
                    <a href="[[:posted_by_user_profile_url]]">@[[:posted_by_gitcoin_username]]</a>
                    [[else]]
                    Not available
                    [[/if]]
                  </span>
                </div>
                </div>
              </div>
            </div>
          </div>
        </script>

      </div>
    </div>

    {% include 'shared/bottom_notification.html' %}
    {% include 'shared/analytics.html' %}
    {% include 'shared/footer_scripts.html' %}
    {% include 'shared/rollbar.html' %}
    {% include 'shared/footer.html' %}
  </body>

  <script>
    document.job_id = '{{ pk }}';
  </script>

  <!-- jQuery -->
  <script src="{% static "v2/js/showdown.js" %}"></script>
  <script src="{% static "v2/js/abi.js" %}"></script>
  <script src="{% static "v2/js/tokens.js" %}"></script>
  <script src="{% static "v2/js/amounts.js" %}"></script>
  <script src="{% static "v2/js/pages/job_details.js" %}"></script>
  <script src="{% static "v2/js/shared.js" %}"></script>
  <script src="{% static "v2/js/ipfs-api.js" %}"></script>
  <script src="{% static "v2/js/ipfs.js" %}"></script>
  <script src="{% static "v2/js/waiting_room_entertainment.js" %}"></script>
</html>
