<div class="container" align="center" id="kudos-searchbar">
  <form action="/kudos/marketplace/" method="get">
    <div class="form-row align-items-center my-4">
      <div class="col-10">
        <label class="sr-only" for="kudos-search">Name</label>
        <input type="text" class="form-control" name="q" id="kudos-search" placeholder="Search for Kudos">
      </div>
      <div class="col-2">
        <button type="submit" class="btn btn-primary">Search</button>
        <a href="/kudos/marketplace"><button type="button" class="btn btn-secondary">Clear</button></a>
      </div>
    </div>
  </form>
</div>