          <div class="kudos_levitate_container" style="z-index: 9999; position: absolute; transform: scale(3); left: 120px; top: 200px;">
            <div class="row">
              <svg version="1.1" id="Layer_14" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="200px" height="200px"
                 viewBox="0 0 102.5 132.2" style="enable-background:new 0 0 102.5 132.2;" xml:space="preserve">
              <style type="text/css">
                .st0{fill:#D5D5D7;}
                .st1{fill:#80D5F8;}
                .st2{fill:#61C0F6;}
                .st3{fill:#85DCFC;}
                .st4{fill:#379BF1;}
                .st5{fill:#2684EC;}
                .st6{fill:#ada5ea;}
                .st7{fill:#5757A0;}
                .kudos_levitate_container{display: none;}
              </style>
              <polygon id="shadow" class="st0" points="17.4,124.5 46.4,118.8 74.3,118.8 101.1,124.5 77,132.2 41.1,132.2 "/>
              <g id="sparkle1">
                <path class="st6" d="M11,100.2c0,0,2-10.4,3.8,0c0,0,10,1.8,0,3.6c0,0-1.8,10.6-3.8,0C5,102.7,5.3,101.5,11,100.2z"/>
                <path class="st6" d="M6.3,85.1c0,0,1.2-6.4,2.4,0c0,0,6.2,1.1,0,2.2c0,0-1.1,6.6-2.4,0C2.6,86.6,2.7,85.8,6.3,85.1z"/>
                <path class="st6" d="M31.2,108.9c0,0,1.2-6.4,2.4,0c0,0,6.2,1.1,0,2.2c0,0-1.1,6.6-2.4,0C27.5,110.4,27.6,109.6,31.2,108.9z"/>
                <circle class="st7" cx="6.6" cy="96.8" r="1.2"/>
                <ellipse transform="matrix(0.6415 -0.7671 0.7671 0.6415 -64.7766 45.2241)" class="st7" cx="16" cy="91.9" rx="1.2" ry="1.2"/>
                <circle class="st7" cx="37.5" cy="104.8" r="1.2"/>
              </g>
              <g id="sparkle2">
                <path class="st6" d="M17.4,31.5c0,0,2-10.4,3.8,0c0,0,10,1.8,0,3.6c0,0-1.8,10.6-3.8,0C11.4,33.9,11.7,32.7,17.4,31.5z"/>
                <path class="st6" d="M8.2,24.9c0,0,1.2-6.4,2.4,0c0,0,6.2,1.1,0,2.2c0,0-1.1,6.6-2.4,0C4.5,26.4,4.6,25.6,8.2,24.9z"/>
                <circle class="st7" cx="1.2" cy="26.4" r="1.2"/>
                <circle class="st7" cx="25.7" cy="26" r="1.2"/>
                <ellipse transform="matrix(0.6415 -0.7671 0.7671 0.6415 -23.9199 18.6547)" class="st7" cx="8" cy="34.9" rx="1.2" ry="1.2"/>
              </g>
              <g id="sparkle3">
                <path class="st6" d="M82,4.2c0,0,0.7-3.7,1.4,0c0,0,3.6,0.6,0,1.3c0,0-0.7,3.8-1.4,0C79.9,5.1,79.9,4.6,82,4.2z"/>
                <path class="st6" d="M64.2,2.9c0,0,1.2-6.4,2.4,0c0,0,6.2,1.1,0,2.2c0,0-1.1,6.6-2.4,0C60.5,4.4,60.6,3.6,64.2,2.9z"/>
                <path class="st6" d="M76.1,13.8c0,0,0.9-4.7,1.7,0c0,0,4.5,0.8,0,1.6c0,0-0.8,4.8-1.7,0C73.4,14.9,73.6,14.4,76.1,13.8z"/>
                <circle class="st7" cx="71.6" cy="8.8" r="1.2"/>
                <circle class="st7" cx="84.5" cy="11.8" r="1.2"/>
              </g>
              <g id="sparkle4">
                <path class="st6" d="M86.7,92.1c0,0,1.7-8.9,3.3,0c0,0,8.6,1.5,0,3.1c0,0-1.6,9.1-3.3,0C81.6,94.2,81.8,93.2,86.7,92.1z"/>
                <path class="st6" d="M82,101.2c0,0,0.7-3.7,1.4,0c0,0,3.6,0.6,0,1.3c0,0-0.7,3.8-1.4,0C79.9,102.1,79.9,101.6,82,101.2z"/>
                <circle class="st7" cx="97.5" cy="92.8" r="1.2"/>
                <circle class="st7" cx="75.5" cy="103.8" r="1.2"/>
                <ellipse transform="matrix(0.6415 -0.7671 0.7671 0.6415 -47.4552 106.2907)" class="st7" cx="90" cy="103.9" rx="1.2" ry="1.2"/>
              </g>
              </svg>
            </div>
          </div>
