{% extends 'quadraticlands/components/base.html' %}
{% load humanize static i18n %}

{% block 'twittercard' %}
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@gitcoin" />
<meta name="twitter:title" content="The Gitcoin Quadratic Lands - Workstream" />
<meta name="twitter:description"
  content="Gitcoin is where builders, developers, and protocols come together to build and fund the open web. In the quadratic lands, you can own where you earn and govern the future of Gitcoin." />
<meta name="twitter:image" content="{% static " v2/quadraticlands/twitter/default.png" %}" />
{% endblock %}



{% block 'content' %}

<!-- subnavigation -->
{% include 'quadraticlands/workstream/nav.html' %}

<article>

  <section class="column">
    <h2>Anti-Fraud Research Group</h2>
    <div class="intro purple">Gitcoin grants is the number one funding mechanism in the Gitcoin ecosystem, delivering
      $4mm/quarter to builders of digital public goods. Gitcoin Grants is built on <a href="https://wtfisqf.com"
        target="_blank">QF</a>, a mechanism for funding the commons, which is built on the assumption of sybil/collusion
      resistance - These are open research problems.</div>

    <p>This working group will be diving deep on solving these unsolved research issues, with a goal of keeping the
      Gitcoin Grants fraud tax down + maintaining Gitcoin’s legitimacy.</p>
  </section>

  <section class="column">
    <h3 class="aqua">Suggested Quests</h3>
    <li>Quadratic Funding can be gamed by creating multiple identities and multiple grants, but big-tech identity
      systems are intrusive honeypots. Build on & support ecosystem efforts to create sybil resistance</li>
    <li>Analyze Gitcoin Grants data + come up with policy proposals to prevent collusion</li>
    <li>Using <a href="http://proofofpersonhood.com" target="_blank">proofofpersonhood</a>, GTC could allow
      decentralized identity, raising the cost to attack QF without the negative consequences of big-tech</li>
    <li>A product experience that stakes tokens on people you vouch for, giving that person community-earned reputation
    </li>
  </section>

  <section class="column">
    <a href="https://discord.gg/gitcoin" target="_blank" class="btn purple" data-kinetics-attraction
      data-kinetics-attraction-chance=".3" data-kinetics-attraction-force="1.1"
      data-kinetics-attraction-grow="7">Discord</a>
  </section>

</article>

{% endblock %}



{% block 'scripts' %}

<!-- kinetics particles -->
<script>
  document.addEventListener('DOMContentLoaded', function () {
    new Kinetics().interactionHook();
  });
</script>

{% endblock %}