// VARS
$dark-blue: #0d023b;
$gc-blue: #3e00ff;
$bg-cellarius: #4D5858;

@import 'transaction';
@import 'range-slider';
@import 'select2.bootstrap4';

// MIXINS
@mixin square() {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  &:after {
    content: ' ';
    padding-top: 100%;
    display: table;
  }
}

// CODE
.kd-card {
  position: relative;

  .img-thumbnail {
    width: 100%;
    padding: 1.25rem 2.14rem;
    transition: all linear .15s;
  }

  a:hover {
    .img-thumbnail {
      border-color: $gc-blue;
      box-shadow: inset 0 0 0px 2px $gc-blue;
    }
  }

  .kd-name {
    font-weight: 300;
    padding: 0.5em;

    header & {
      color: white;
    }
  }

  .kd-price {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.5em;
  }
}

.kd-date {
  font-size: 1.1rem;
  color: #43484d;
}

.kd-shadow {
  box-shadow: 1px 1px 2px rgba(0,0,0, 0.1);
}

.kd-extended {
  background: #fff;
  border-radius: .25rem;
  height: 100%;
  overflow: hidden;

  &:hover,
  &:active,
  &:focus,
  &:focus-within {
    cursor: pointer;
    .content-hover {
      display: flex;
    }
  }

  .img-thumbnail {
    padding: 2.25rem;
  }

  .kd-title {
    font-size: 1.25rem;
    padding: 0;
  }
}

.kd-content {
  font-size: 0.9rem;
  padding: 1.3rem 2rem;

  a {
    color: #3e00ff;
  }
}

.content-hover {
  position: absolute;
  top: 0;
  bottom: 0;
  background: rgba($gc-blue,.8);
  color: white;
  padding: 1rem;
  display: none;
  overflow-y:auto;
  flex-direction: column;
  justify-content: space-between;

  a {
    color: white;
    font-weight: 700;
  }
}

.listing-kudo {

  a {
    color: #43484d;
  }
}

// GENERAL
.full-height {
  min-height: 100vh;
}

.bg-dark-blue {
  background-color: $dark-blue;
  color: white;
}
.bg-light-blue {
  background-color: $gc-blue;
  color: white;
}

.bg-cellarius {
  background-color: $bg-cellarius;
}

.lh-3 {
  line-height: 3rem;
}

.cta-square {
  @include square;
  border-radius: .25rem;
  color: #fff;
  background-color: $gc-blue;
  font-size: 2em;

  > div {
    display: flex;
    flex-direction: column;
    padding: 0 0.6em 0;
    line-height: 1.1;
    align-self: stretch;
    justify-content: space-evenly;
  }

  &:hover {
    color:rgba(255,255,255, 0.8)
  }
}

#carouselkudos .carousel-inner {
  width: 90%;
  margin: auto;
}
.carousel-control-kudos {
  .carousel-control-next,
  .carousel-control-prev {
    width: 3.3rem;
    height: 3.3rem;
    background: #0d023b;
    top: 0;
    bottom: 0;
    margin: auto;
    border-radius: 40px;
  }

  .carousel-control-next-icon,
  .carousel-control-prev-icon {
    height: 34px;
  }
  .carousel-control-prev-icon {
    background-image: url("data:image/svg+xml,%0A%3Csvg width='19px' height='34px' viewBox='0 0 19 34' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3C!-- Generator: Sketch 50.2 %2855047%29 - http://www.bohemiancoding.com/sketch --%3E%3Cdesc%3ECreated with Sketch.%3C/desc%3E%3Cdefs%3E%3C/defs%3E%3Cg id='Symbols' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='Headers/Header-%239' transform='translate%28-101.000000, -638.000000%29' fill='%23C1C1C1'%3E%3Cpath d='M116.89675,671.709 L101.58275,656.405 C100.80575,655.629 100.80575,654.371 101.58275,653.595 L116.89675,638.291 C117.28475,637.903 117.91475,637.903 118.30275,638.291 L119.70875,639.696 C120.09675,640.084 120.09675,640.713 119.70875,641.101 L106.50275,654.297 C106.11475,654.685 106.11475,655.315 106.50275,655.702 L119.70875,668.899 C120.09675,669.287 120.09675,669.916 119.70875,670.304 L118.30275,671.709 C117.91475,672.097 117.28475,672.097 116.89675,671.709' id='Icon'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  }
  .carousel-control-next-icon {
    background-image: url("data:image/svg+xml,%0A%3Csvg width='19px' height='34px' viewBox='0 0 19 34' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3C!-- Generator: Sketch 50.2 %2855047%29 - http://www.bohemiancoding.com/sketch --%3E%3Cdesc%3ECreated with Sketch.%3C/desc%3E%3Cdefs%3E%3C/defs%3E%3Cg id='Symbols' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='Headers/Header-%239' transform='translate%28-1320.000000, -638.000000%29' fill='%23C1C1C1'%3E%3Cpath d='M1335.89675,671.709 L1320.58275,656.405 C1319.80575,655.629 1319.80575,654.371 1320.58275,653.595 L1335.89675,638.291 C1336.28475,637.903 1336.91475,637.903 1337.30275,638.291 L1338.70875,639.696 C1339.09675,640.084 1339.09675,640.713 1338.70875,641.101 L1325.50275,654.297 C1325.11475,654.685 1325.11475,655.315 1325.50275,655.702 L1338.70875,668.899 C1339.09675,669.287 1339.09675,669.916 1338.70875,670.304 L1337.30275,671.709 C1336.91475,672.097 1336.28475,672.097 1335.89675,671.709' id='Icon' transform='translate%281329.499875, 655.000000%29 scale%28-1, 1%29 translate%28-1329.499875, -655.000000%29 '%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  }
}

.wallet-popover {
  max-width: 490px;
}

.wallets-list {
  max-height: 140px;
  overflow-y: auto;
  // margin-top: 1rem;
  background-color: #f3f3f3;
}

.wallets-list:empty {
  display: none;
}

.btn-lightblue {
  color: white;
  background-color: var(--gc-blue);
}

.btn-orange {
  background-color: #d38971;
  color: white;
  padding: .75rem 1.5rem;

  &:hover {
    color: white;
    background-color: rgba(#d38971,0.9);
  }
}

.hexagon {
  background: red;
  width: 10rem;
  display: block;
  margin: auto;
  height: 11.56rem;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  -webkit-clip-path: polygon(
    50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%
  );

  clip-path: polygon(
    50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%
  );
}


#shape-hexagon {
  // transition: all linear 1s;
}
a:hover {
  #shape-hexagon {
    animation-play-state: paused;
  }
}
  #shape-hexagon {
    // stroke:red;
    animation: rotation 5s linear infinite;
    animation-fill-mode: none;
    animation-direction: alternate;
    animation-iteration-count: infinite;

  }
  #svg-text {

  }

@keyframes rotation {
  // stroke-dasharray: 300
  0% {
    stroke:#0cc67f;
    fill:rgba(#0cc67f,0.6);
  }
  15% {
    stroke:#1e6ee2;
    fill:rgba(#1e6ee2,0.6);
  }
  30% {
    stroke:#662d91;
    fill:rgba(#662d91,0.6);
  }
  50% {
    stroke:#018cb2;
    fill:rgba(#018cb2,0.6);
  }
  65% {
    stroke:#e57418;
    fill:rgba(#e57418,0.6);
  }
  85% {
    stroke:#4d4d4d;
    fill:rgba(#4d4d4d,0.6);
  }
  100% {
    stroke:#0044e0;
    fill:rgba(#0044e0,0.6);
  }
  // stroke:#1e6ee2;
  //   stroke:#662d91;
  //   stroke:#018cb2;
  //   stroke:#e57418;
  //   stroke:#4d4d4d;
  //   stroke:#0044e0;
  // stroke-dasharray: 30
  // -webkit-transform: rotate(360deg);
          // transform: rotate(360deg);
}



.hexagon-group {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  font-size: 16px;
  padding-bottom: 3em;

  display: grid;
  grid-template-columns: repeat(4, 1fr);



  svg {
    height: 16.8em;
    width: 14.4em;
  }


  .paging-animation {
    font-size: 14px;
    margin: 0.8em;
    margin-bottom: -3em;
    // width: 22%;
    perspective: 1000px;
    position: relative;
    height: 208px;

    .faces {
      transform-style: preserve-3d;
      transition: all 0.5s linear;
      width: 100%;
      height: 100%;

    }

    .face {
      position: absolute;
      width: 100%;
      height: 100%;
      backface-visibility: hidden;
    }

    .back {
      display: block;
      transform: rotateY(0.5turn);
      box-sizing: border-box;

    }

    &:hover .faces{
      transform: rotateY(0.5turn);
    }

    &:nth-child(1) {
      color: #FF7200;
      grid-column: 1/4;
    }

    &:nth-child(2) {
      color: #F9006C;
      grid-column: 2/5;
    }

    &:nth-child(3) {
      color: #3E00FF;
      grid-column: 1/4;
    }

    &:nth-child(4) {
      color: #0ECF7C;
      grid-column: 2/5;
    }

    &:nth-child(5) {
      color: #7ED321;
      grid-column: 1/4;
    }

    &:nth-child(6) {
      color: #8E2ABE;
      grid-column: 2/5;
    }

    &:nth-child(7) {
      color: #43D0B0;
      grid-column: 1/4;
    }
  }

  @media(min-width: 400px) {
    .paging-animation {
      height: 260px;
      font-size: 16px;

      &:nth-child(1) {
        grid-column: 1/3;
      }

      &:nth-child(2) {
        grid-column: 2/4;
      }

      &:nth-child(3) {
        grid-column: 1/3;
      }

      &:nth-child(4) {
        grid-column: 3/5;
      }

      &:nth-child(5) {
        grid-column: 2/4;
      }

      &:nth-child(6) {
        grid-column: 1/3;
      }

      &:nth-child(7) {
        grid-column: 3/5;
      }
    }
  }

  @media(min-width: 800px) {
    grid-template-columns: repeat(8, 1fr);
    .paging-animation {
      // font-size: 16px;
      &:nth-child(1) {
        grid-column: 1/3;
      }

      &:nth-child(2) {
        grid-column: 3/5;
      }

      &:nth-child(3) {
        grid-column: 5/7;
      }

      &:nth-child(4) {
        grid-column: 7/9;
      }

      &:nth-child(5) {
        grid-column: 2/4;
      }

      &:nth-child(6) {
        grid-column: 4/6;
      }

      &:nth-child(7) {
        grid-column: 6/8;
      }
    }
  }

}


.star-pulse {
  animation: pulse-shadow .5s ease-out infinite;
  animation-direction: alternate;
  margin-left: -60px;
  margin-top: 4rem;
  top: 0;

  @media (max-width: 768px) {
    right: -10px;
    margin-top: 0;
    width: 5rem;
  }
}
@keyframes pulse-shadow {
  0% {
    transform: scale(0.98);
    filter: drop-shadow(0px 0px 0px rgba(0,0,0,0.9));
  }

  100% {
    transform: scale(1);
    filter: drop-shadow(0px 5px 5px rgba(0,0,0,0.5));
  }
}

.bg-hexa {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg'%3E%3Cg stroke='none' stroke-width='1' fill='none' fill-rule='evenodd' opacity='0.187946429'%3E%3Cg transform='translate(-227.000000, -1170.000000)' stroke='%233E00FF' stroke-width='10'%3E%3Cg id='Group-5-Copy-7' transform='translate(294.737804, 1248.626588) rotate(-330.000000) translate(-294.737804, -1248.626588) translate(223.737804, 1186.126588)'%3E%3Cpolygon opacity='0.334877232' points='105.943991 0 35.3139974 0 9.09494702e-13 62.3980694 35.3139974 124.7941 105.943991 124.7941 141.259988 62.3980694'%3E%3C/polygon%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-position: 2rem 2rem;
  background-repeat: no-repeat;
}

.text-featured {
  font-size: 36px;
}

.badge-kudos {
  background-color: #F2F6F9;
  color: #6184AC;
  border-radius: 2px;
}
