$dark-blue: #0d023b;
$btn-gc-blue: #3e00ff;

.kd-card {
  position: relative;

  .img-thumbnail {
    width: 100%;
    padding: 3.75rem 2.25rem 2.25rem;
    transition: all linear .1s;
  }

  a:hover {
    .img-thumbnail {
      border-color: $btn-gc-blue;
      box-shadow: inset 0 0 0px 2px $btn-gc-blue;
    }
  }

  .kd-name {
    font-weight: 300;
    padding: 0.5em;
    
    header & {
      color: white;
      
    }
  }

  .kd-price {
    position: absolute;
    top: 0;
    right: 0;
    padding: 1em;
  }
}

.kd-date {
  font-size: 1.1rem;
  color: #43484d;
}

.kd-shadow {
  box-shadow: 1px 1px 2px rgba(0,0,0, 0.1);
}

.listing-kudo {

  a {
    color: #43484d;
  }
}

.full-height {
  min-height: 100vh;
}

.bg-dark-blue {
  background-color: $dark-blue;
  color: white;
}

.lh-3 {
  line-height: 3rem;
}