@font-face {
  font-family: futura-pt;
  src: url(/static/v2/fonts/futura/font4.ttf);
}
@font-face {
  font-family: Muli;
  font-style: normal;
  font-weight: 200;
  src: local("Muli ExtraLight"), local("Muli-ExtraLight"),
    url(/static/v2/fonts/muli/muli-v12-latin-200.woff2) format("woff2"),
    url(/static/v2/fonts/muli/muli-vn-200.woff) format("woff"),
    url(/static/v2/fonts/muli/muli-v12-latin-200.ttf) format("truetype");
}
@font-face {
  font-family: Muli;
  font-style: normal;
  font-weight: 400;
  src: local("Muli Regular"), local("Muli-Regular"),
    url(/static/v2/fonts/muli/muli-v12-latin-regular.woff2) format("woff2"),
    url(/static/v2/fonts/muli/muli-vn-regular.woff) format("woff"),
    url(/static/v2/fonts/muli/muli-v12-latin-regular.ttf) format("truetype");
}
@font-face {
  font-family: Muli;
  font-style: normal;
  font-weight: 600;
  src: local("Muli SemiBold"), local("Muli-SemiBold"),
    url(/static/v2/fonts/muli/muli-v12-latin-600.woff2) format("woff2"),
    url(/static/v2/fonts/muli/muli-vn-600.woff) format("woff"),
    url(/static/v2/fonts/muli/muli-v12-latin-600.ttf) format("truetype");
}
@font-face {
  font-family: Muli;
  font-style: normal;
  font-weight: 700;
  src: local("Muli Bold"), local("Muli-Bold"),
    url(/static/v2/fonts/muli/muli-v12-latin-700.woff2) format("woff2"),
    url(/static/v2/fonts/muli/muli-vn-700.woff) format("woff"),
    url(/static/v2/fonts/muli/muli-v12-latin-700.ttf) format("truetype");
}
.g-font-muli {
  font-family: Muli, sans-serif;
}
:root {
  --fs-title-xl: 1.8rem;
  --fs-title-lg: 1.4rem;
  --fs-title: 1.25rem;
  --fs-header: 1.125rem;
  --fs-subheader: 1rem;
  --fs-body: 0.875rem;
  --fw-light: 300;
  --fw-bold: 700;
}
.after_copy {
  font-size: 12px;
}
.activity_stream {
  margin-bottom: 50px;
}
.activity_stream .content {
  cursor: pointer;
}
#activities {
  text-align: left;
}
.bg-icon {
  width: 100%;
  cursor: pointer;
}
.image-text-container {
  padding: 1.5em;
  text-align: center;
  width: 100%;
  text-overflow: wrap;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 18pt;
  font-weight: 700;
}
.comment_container .row {
  max-width: 100%;
}
.activity_stream .activity_detail {
  flex: 1;
  font-size: 0.75rem;
}
.comment_container {
  background-color: var(--bg-comment-container);
  text-align: left;
  width: 300px;
  padding: 0.5rem;
  border-radius: 5px;
}
.comment_container:empty {
  display: none;
}
.comment_container img {
  border-radius: 20px;
  max-width: 40px;
}
.activity_stream .content img {
  max-height: 100px;
}
.comment_container li {
  text-align: left;
  list-style: none;
  padding: 5px;
}
.comment_container li .comment {
  padding-left: 25px;
}
.comment_container li:nth-child(even) {
  background-color: #fafafa;
}
.comment_activity:hover,
.copy_activity:hover {
  text-decoration: none;
}
.activity_stream .box {
  padding: 0.75rem 1.2rem;
  border-bottom: 1px solid #efefef;
  background-color: var(--bg-activity);
}
.tag {
  display: inline-block;
}
.activity_stream .activity_detail .tag {
  background-color: #e7f0fa;
  color: var(--gc-blue);
  font-size: 10px;
  list-style: none;
  padding: 5px;
}
.staff_tag {
  background-color: #eebaee;
  border-radius: 5px;
  color: #8e2abe;
  font-size: 10px;
  list-style: none;
  padding: 5px;
}
.activity_stream .dropdown-menu {
  min-width: 7rem;
}
@keyframes sparkles {
  0% {
    transform: translate(calc(var(--r) * -2.7), calc(var(--r) * -1.5)) scale(0);
    opacity: 0;
    background-size: 0 0;
  }
  51% {
    transform: translate(calc(var(--r) * -2.7), calc(var(--r) * -1.5))
      scale(1.2);
    opacity: 1;
    background-size: calc(var(--r) / 3) calc(var(--r) / 3);
  }
  100% {
    transform: translate(calc(var(--r) * -2.7), calc(var(--r) * -1.5)) scale(0);
    opacity: 0;
    background-size: 0 0;
  }
}
body {
  color: var(--default-text-color);
}
@keyframes spin {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
.name-tag a {
  color: #fff;
  text-decoration: underline;
}
#circle {
  width: 214px;
  height: 214px;
  border-radius: 214px;
  margin: auto;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  padding: 40px;
  cursor: pointer;
}
#circle:after {
  content: "";
  display: block;
  border: 7px dashed #fff;
  width: 200px;
  height: 200px;
  border-radius: 200px;
  animation: spin 30s linear infinite;
  margin-top: -160px;
  margin-left: -33px;
}
#circle:hover {
  background-image: radial-gradient(#ffed85, #ffc847 70%);
}
#ribbon {
  position: relative;
  width: 60px;
  height: 60px;
  transform: rotate(45deg);
  margin: auto;
  margin-bottom: -38px;
  border-radius: 0 8px 0 8px;
}
#ribbon:before {
  content: "";
  height: 24px;
  width: 100%;
  background-color: #f04d4d;
  display: block;
  position: absolute;
  top: 18px;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.4);
  border-radius: inherit;
}
#ribbon:after {
  content: "";
  height: 100%;
  width: 24px;
  background-color: #f04d4d;
  display: block;
  margin: auto;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.4);
  border-radius: inherit;
}
@keyframes rotate {
  100% {
    transform: rotateZ(360deg);
  }
}
@keyframes pulse-white {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
  }
  70% {
    box-shadow: 0 0 0 30px rgba(255, 255, 255, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
  }
}
body.back0,
div.back0 {
  background: url(/static/v2/images/quests/backs/0.gif) repeat;
  background-size: 150%;
}
body.back1,
div.back1 {
  background: url(/static/v2/images/quests/backs/back1.jpeg) repeat;
  background-size: 100%;
}
body.back2,
div.back2 {
  background: url(/static/v2/images/quests/backs/back2.jpeg) repeat;
  background-size: 170%;
}
body.back3,
div.back3 {
  background: url(/static/v2/images/quests/backs/back3.jpeg) repeat;
  background-size: 160%;
}
body.back4,
div.back4 {
  background: url(/static/v2/images/quests/backs/back4.jpeg) repeat;
  background-size: 160%;
}
body.back5,
div.back5 {
  background: url(/static/v2/images/quests/backs/back5.jpeg) repeat;
  background-size: 160%;
}
body.back6,
div.back6 {
  background: url(/static/v2/images/quests/backs/back6.jpg) repeat;
  background-size: 110%;
}
body.back7,
div.back7 {
  background: url(/static/v2/images/quests/backs/back7.jpeg) repeat;
  background-size: 110%;
}
body.back8,
div.back8 {
  background: url(/static/v2/images/quests/backs/back8.jpeg) repeat;
  background-size: 100%;
}
body.back9,
div.back9 {
  background: url(/static/v2/images/quests/backs/back9.jpeg) repeat;
  background-size: 110%;
}
body.back10,
div.back10 {
  background: url(/static/v2/images/quests/backs/back10.jpeg) repeat;
  background-size: 120%;
}
body.back11,
div.back11 {
  background: url(/static/v2/images/quests/backs/back11.jpeg) repeat;
  background-size: 105%;
}
body.back12,
div.back12 {
  background: url(/static/v2/images/quests/backs/back12.jpeg) repeat;
  background-size: 120%;
}
body.back13,
div.back13 {
  background: url(/static/v2/images/quests/backs/back13.jpeg) repeat;
  background-size: 100%;
}
body.back14,
div.back14 {
  background: url(/static/v2/images/quests/backs/back14.jpeg) repeat;
  background-size: 100%;
}
body.back15,
div.back15 {
  background: url(/static/v2/images/quests/backs/back15.jpeg) repeat;
  background-size: 100%;
}
body.back16,
div.back16 {
  background: url(/static/v2/images/quests/backs/back16.jpeg) repeat;
  background-size: 100%;
}
body.back19,
div.back19 {
  background: url(/static/v2/images/quests/backs/back19.jpeg) repeat;
  background-size: 100%;
}
body.back17,
div.back17 {
  background: url(/static/v2/images/quests/backs/back17.jpeg) repeat;
  background-size: 100%;
}
body.back18,
div.back18 {
  background: url(/static/v2/images/quests/backs/back18.jpeg) repeat;
  background-size: 100%;
}
body.back20,
div.back20 {
  background: url(/static/v2/images/quests/backs/back20.jpeg) repeat;
  background-size: 120%;
}
body.back21,
div.back21 {
  background: url(/static/v2/images/quests/backs/back21.jpeg) repeat;
  background-size: 120%;
}
body.back22,
div.back22 {
  background: url(/static/v2/images/quests/backs/back22.jpeg) repeat;
  background-size: 120%;
}
body.back23,
div.back23 {
  background: url(/static/v2/images/quests/backs/back23.jpeg) repeat;
  background-size: 120%;
}
body.back24,
div.back24 {
  background: url(/static/v2/images/quests/backs/back24.jpeg) repeat;
  background-size: 120%;
}
body.back25,
div.back25 {
  background: url(/static/v2/images/quests/backs/back25.jpeg) repeat;
  background-size: 120%;
}
body.back26,
div.back26 {
  background: url(/static/v2/images/quests/backs/back26.jpeg) repeat;
  background-size: 120%;
}
body.back27,
div.back27 {
  background: url(/static/v2/images/quests/backs/back27.jpeg) repeat;
  background-size: 120%;
}
body.back28,
div.back28 {
  background: url(/static/v2/images/quests/backs/back28.jpeg) repeat;
  background-size: 120%;
}
body.back29,
div.back29 {
  background: url(/static/v2/images/quests/backs/back29.jpeg) repeat;
  background-size: 120%;
}
body.back30,
div.back30 {
  background: url(/static/v2/images/quests/backs/back30.jpeg) repeat;
  background-size: 120%;
}
body.back31,
div.back31 {
  background: url(/static/v2/images/quests/backs/back31.jpeg) repeat;
  background-size: 120%;
}
body.back32,
div.back32 {
  background: url(/static/v2/images/quests/backs/back32.jpeg) repeat;
  background-size: 120%;
}
body.back33,
div.back33 {
  background: url(/static/v2/images/quests/backs/back33.jpeg) repeat;
  background-size: 120%;
}
body.blue,
div.blue {
  background-image: linear-gradient(90deg, #6161ff, #00f);
  background-size: 100% !important;
}
.name-tag {
  font-weight: 900;
  background-color: #666;
  color: #fff;
  display: block;
  font-size: 32px;
  width: 20%;
  margin: 0 auto;
  margin-top: -20px;
  margin-bottom: 40px;
  padding: 10px 15px;
  transform: rotate(-12deg);
}
.grey {
  color: var(--gc-medium-dark-gray) !important;
}
.activity_stream .activity-img img {
  max-height: 4rem;
}
.new_grant {
  border-top: 6px solid rgba(13, 7, 100, 0.25);
}
.new_kudos {
  border-top: 6px solid rgba(0, 163, 255, 0.25);
}
.bg-gc-blue {
  background-color: var(--gc-blue);
}
.bg-light-blue {
  background-color: #00a3ff;
}
.bg-gc-dark-blue {
  background-color: #0d0764;
}
.card-ribbon {
  margin-top: -14px;
  margin-left: 10px;
  width: 110px;
  margin-bottom: 10px;
  position: relative;
}
body {
  overflow-x: hidden;
  width: 100%;
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.h4,
h4 {
  padding-top: 40px;
}
.white {
  color: #eff4ee !important;
}
.blue {
  color: #3e24fb;
}
.gitcoin-gray {
  color: #d3d3d3 !important;
}
.header {
  background-image: url(/static/v2/images/header-bg.png);
  background-color: #0d023b;
  background-size: cover;
  background-position: 0 0;
  background-repeat: no-repeat;
  position: relative;
}
.gitcoin-background {
  background: url(/static/v2/images/header-bg.png) #0d023b;
  background-attachment: fixed;
  background-position: center 0;
}
.text-white {
  color: #fff;
}
.gc-text-blue {
  color: #3e00ff;
}
.text-black-60 {
  color: rgba(0, 0, 0, 0.6) !important;
}
.text-black-70 {
  color: rgba(0, 0, 0, 0.7) !important;
}
.light {
  font-weight: 200;
}
.font-title-xl {
  font-size: var(--fs-title-xl);
}
.font-title-lg {
  font-size: var(--fs-title-lg);
}
.font-title {
  font-size: var(--fs-title);
}
.font-header {
  font-size: var(--fs-header);
}
.font-body {
  font-size: var(--fs-body);
}
.font-caption {
  font-size: 0.75rem;
}
.header-line {
  color: #12c971;
  font-size: 2rem;
  font-weight: 500;
}
.header-line h1 {
  font-size: 1.8rem;
  font-weight: bolder;
  color: #fff;
}
.font-weight-300 {
  font-weight: 300;
}
.light-bg {
  background-color: rgba(239, 243, 238, 0.7);
  background-image: url(/static/v2/images/light-bg.png);
  background-size: contain;
  background-position: bottom;
  background-repeat: no-repeat;
}
.white-light-bg {
  background-color: #fff;
  background-image: url(/static/v2/images/light-bg.png);
  background-size: contain;
  background-position: bottom;
  background-repeat: no-repeat;
}
.font-smaller-1 {
  font-size: 0.9rem;
}
.font-smaller-2 {
  font-size: 0.8rem;
}
.font-smaller-3 {
  font-size: 0.75rem;
}
.font-smaller-4 {
  font-size: 0.7rem;
}
.font-smaller-5 {
  font-size: 0.65rem;
}
.font-smaller-6 {
  font-size: 0.6rem;
}
.font-smaller-7 {
  font-size: 0.55rem;
}
.center-block {
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.footer__text,
.footer__text a {
  color: #fff;
}
.footer__text a {
  text-decoration: underline;
}
.footer {
  background-color: #0d023b;
  padding-top: 4rem;
}
.gc-border-black {
  border: 1px solid #000 !important;
}
.gc-border-blue {
  border-color: #0d0764;
}
::-webkit-input-placeholder {
  color: #d3d3d3;
}
::-moz-placeholder {
  color: #d3d3d3;
}
:-moz-placeholder {
  color: #d3d3d3;
}
:-ms-input-placeholder {
  color: #d3d3d3;
}
[v-cloak] > * {
  display: none !important;
}
.dropdown-menu {
  background-color: #fafafa;
  border-radius: 0;
  padding: 0;
  border: none;
}
@media (min-width: 768px) {
  .d-md-block {
    display: block !important;
  }
  .d-md-flex {
    display: -ms-flexbox !important;
    display: flex !important;
  }
  .d-md-none {
    display: none !important;
  }
}
@keyframes slideDownIn {
  0% {
    -webkit-transform: translateY(-20px) scale(0.9, 0.7);
  }
  100% {
    -webkit-transform: translateY(0) scale(1, 1);
  }
}
@keyframes rhombus-spinner-animation-child-1 {
  50% {
    transform: translate(-325%, -325%);
  }
}
@keyframes rhombus-spinner-animation-child-2 {
  50% {
    transform: translate(0, -325%);
  }
}
@keyframes rhombus-spinner-animation-child-3 {
  50% {
    transform: translate(325%, -325%);
  }
}
@keyframes rhombus-spinner-animation-child-4 {
  50% {
    transform: translate(325%, 0);
  }
}
@keyframes rhombus-spinner-animation-child-5 {
  50% {
    transform: translate(325%, 325%);
  }
}
@keyframes rhombus-spinner-animation-child-6 {
  50% {
    transform: translate(0, 325%);
  }
}
@keyframes rhombus-spinner-animation-child-7 {
  50% {
    transform: translate(-325%, 325%);
  }
}
@keyframes rhombus-spinner-animation-child-8 {
  50% {
    transform: translate(-325%, 0);
  }
}
@keyframes rhombus-spinner-animation-child-big {
  50% {
    transform: scale(0.5);
  }
}
.wallet-option {
  cursor: pointer;
}
body {
  margin: 0;
  padding: 0;
  font-family: Roboto, Arial, sans-serif;
}
.rounded {
  border-radius: 50%;
}
.mb-0 {
  margin-bottom: 0;
}
.mt-1 {
  margin-top: 0.5rem;
}
.mt-2 {
  margin-top: 1rem;
}
.mt-3 {
  margin-top: 1.5rem;
}
.mt-4 {
  margin-top: 2rem;
}
.my-3 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
.my-4 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: capitalize;
  font-weight: 500;
}
h3 {
  line-height: 30px;
}
h3 {
  color: #000;
  font-weight: 700;
  margin-bottom: 10px;
  margin-top: 40px;
}
h3.no-subtitle {
  margin-bottom: 0;
}
h5 {
  color: #000;
  font-size: 0.8em;
  margin-top: 5px;
  margin-bottom: 0;
  font-weight: 400;
}
hr {
  width: 90%;
}
h1 {
  font-size: 1.8rem;
  color: #000;
  font-weight: 700;
}
h2 {
  font-size: 1.6rem;
}
h3 {
  font-size: 1.4rem;
}
h4 {
  font-size: 1.1rem;
}
.h4,
h4 {
  text-align: center;
  padding-top: 40px;
}
