body {
  color: var(--default-text-color);
}
#mobile_nav_toggle{
  display: none !important;
}
.follow_button[member=true]{
  display: none;
}
.tooltip-inner {
  max-width: 450px;
}
#activity_subheader{
  text-align: center;
}
.announce{
  border-radius: 5px;

  color: black;
  padding: 5px 10px;
  margin: 10px auto;
}
.announce a{
  color: black;
  font-weight: bold;
}

.announce .remove{
  position: absolute;
  right: 13%;
  cursor: pointer;
}
.announce.warning {
  background-color: #FF7F00;
}
.announce.success {
  background-color: #00A652;
}
.announce.info {
  background-color: #008EFF;
}
.timer,.offer{
  list-style: none;
  max-width: 200px;
  text-align: center;
  margin: 0px auto;
}

@keyframes spin{
  0%{transform:rotate(0deg);}
  100%{transform:rotate(360deg);}
}
.speech_label{
  font-size: 14px;
  text-align: center;
  border-radius: 5px;
  background-color: #fdedee;
  position: relative;
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding: 5px;
  color: white;
  text-decoration: none;
}
.name-tag a{
  color: white;
  text-decoration: underline;
}
.offer a:hover{
  text-decoration: none;
  font-weight: bold;
}
.speech_label:after {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  width: 0;
  height: 0;
  border: 20px solid transparent;
  border-bottom-color: #fdedee;
  border-top: 0;
  border-left: 0;
  margin-left: -10px;
  margin-top: -20px;
}

#circle{
  width:214px;
  height:214px;
  border-radius:214px;
  margin:auto;
  box-shadow:0 1px 2px rgba(0,0,0,0.3);
  padding: 40px;
  cursor: pointer;
}
#circle:after{
  content:"";
  display:block;
  border:7px dashed white;
  width:200px;
  height:200px;
  border-radius:200px;
  animation: spin 30s linear infinite;
  margin-top: -160px;
  margin-left: -33px;
}
.clicked #circle:after{
  animation: spin 10s linear infinite;
}
#circle:hover{
  background-image:radial-gradient(#FFED85, #FFC847 70%);
}
#gift{
  margin:auto;
  width:100px;
  height:125px;
}
#ribbon{
  position:relative;
  width:60px;
  height:60px;
  transform:rotate(45deg);
  margin:auto;
  margin-bottom:-38px;
  border-radius:0 8px 0 8px;
}
#ribbon:before{
  content:"";
  height:24px;
  width:100%;
  background-color:#F04D4D;
  display:block;
  position:absolute;
  top:18px;
  box-shadow:0 0 1px rgba(0,0,0,0.4);
  border-radius:inherit;
}
#ribbon:after{
  content:"";
  height:100%;
  width:24px;
  background-color:#F04D4D;
  display:block;
  margin:auto;
  box-shadow:0 0 1px rgba(0,0,0,0.4);
  border-radius:inherit;
}
#giftbox{
  position:relative;
  margin:auto;
  width:100px;
  height:100px;
  background-color:white;
  border-radius:2px;
  box-shadow:0 0 1px rgba(0,0,0,0.4);
  overflow:hidden;
}
#giftbox:before{
  content:"";
  height:24%;
  width:100%;
  background-color:#F04D4D;
  display:block;
  position:absolute;
  top:38%;
  box-shadow:inherit;
}
#giftbox:after{
  content:"";
  height:100%;
  width:24%;
  background-color:#F04D4D;
  display:block;
  margin:auto;
  box-shadow:inherit;
}

.daily #circle{
  background-image:radial-gradient(#6E00FF, #6F3FF5 30%);
}
.daily .speech_label{
  background-color: #6F3FF5;
}
.daily .speech_label:after{
  border-bottom-color: #6F3FF5;
}
.daily #ribbon:before,
.daily #giftbox:after,
.daily #giftbox:before,
.daily #ribbon:after{
  background-color:#F9006C;
}
.daily #circle:after{
  border:7px dashed #0fce7c;
}

.random #circle{
  background-image:radial-gradient(#25e899, #45f8a9 30%);
}
.random .speech_label{
  background-color: #25e899;
}
.random .speech_label:after{
  border-bottom-color: #25e899;
}
.random #ribbon:before,
.random #giftbox:after,
.random #giftbox:before,
.random #ribbon:after{
  background-color:#8E2ABE;
}
.random #circle:after{
  border:7px dashed #25e899;
}

.secret #circle{
  background-image:radial-gradient(#15003e, #45407e 30%);
}
.secret .speech_label{
  background-color: #15003e;
}
.secret .speech_label:after{
  border-bottom-color: #15003e;
}
.secret #ribbon:before,
.secret #giftbox:after,
.secret #giftbox:before,
.secret #ribbon:after{
  background-color:#F9006C;
}
.secret #circle:after{
  border:7px dashed #15003e;
}

.weekly #circle{
  background-image:radial-gradient(#FFCEd8, #FFCE08 30%);
}
.weekly .speech_label{
  background-color: #FFCE08;
}
.weekly .speech_label:after{
  border-bottom-color: #FFCE08;
}
.weekly #ribbon:before,
.weekly #giftbox:after,
.weekly #giftbox:before,
.weekly #ribbon:after{
  background-color:#8E2ABE;
}
.weekly #circle:after{
  border:7px dashed #6F3FF5;
}
.monthly #circle{
  background-image:radial-gradient(#0fde9c, #0fce7c 30%);
}
.monthly .speech_label{
  background-color: #0fce7c;
}
.monthly .speech_label:after{
  border-bottom-color: #0fce7c;
}
.monthly #ribbon:before,
.monthly #giftbox:after,
.monthly #giftbox:before,
.monthly #ribbon:after{
  background-color:#15003e;
}
.monthly #circle:after{
  border:7px dashed #8E2ABE;
}
.weekly #circle:hover{
  background-image:radial-gradient(#FFCEd8, #FFCE08 70%);
}
.daily #circle:hover{
  background-image:radial-gradient(#6E00FF, #6F3FF5 70%);
}
.monthly #circle:hover{
  background-image:radial-gradient(#0fde9c, #0fce7c 70%);
}

.offer_container, .promo {
  background: var(--gc-dark-violet);
  padding: 1em 1.5em;
  color: white;
  display: flex;
  border-radius: 3px;
}

.offer_container.top{
  display: none;
}
.prize-gift {
  color: grey;
  padding: 0.5em 0.313em;
  /* border: 2px dashed var(--gc-green-hover); */
  /* border-radius: 100px; */
  /* text-shadow: 0 2px 0px var(--gc-green-hover); */
  text-shadow: 0 2px 0px grey;
  position: relative;
}
.prize-gift .fas {
  color: white;
}

.prize-gift::after {
  content: '';
  border: 2px dashed currentColor;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  border-radius: 50%;
  width: 100%;
  height: 100%;
}

.animate .prize-gift::after {
  animation: rotate 10s linear infinite;
}

a.offer_container:hover {
  color: white;
  text-decoration: none;
  background: var(--gc-purple-hover);
}
a.offer_container.animate:hover .prize-gift::after {
  animation: pulse-white 4s linear infinite,  rotate 10s linear infinite;
}

@keyframes rotate {
  100% {
    transform: rotateZ(360deg);
  }
}

@keyframes pulse-white {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
  }

  70% {
    box-shadow: 0 0 0 30px rgba(255, 255, 255, 0);
  }

  100% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
  }
}

.daily .prize-gift {
  color: var(--gc-green-hover);
  text-shadow: 0 2px 0px var(--gc-green-hover);
}
.weekly .prize-gift {
  color: #FFCE08;
  text-shadow: 0 2px 0px #FFCE08;
}
.monthly .prize-gift {
  color:  var(--gc-pink);
  text-shadow: 0 2px 0px  var(--gc-pink);
}
.secret .prize-gift {
  color: var(--gc-light-blue);
  text-shadow: 0 2px 0px var(--gc-light-blue);
}
.random .prize-gift {
  color: var(--gc-light-violet);
  text-shadow: 0 2px 0px var(--gc-light-violet);
}
.other .prize-gift {
  color: #a58484;
  text-shadow: 0 2px 0px #a58484;
}
.empty {
  background-color: #f9f9f9;
  color: #808080;
}
.dark-mode .empty{
  background: var(--gc-blue);
  color: white;
  opacity: 0.4;
}

.empty .prize-gift {
  color: grey;
  text-shadow: 0 2px 0px grey;
}

.empty .prize-gift .fas {
  color: #c1c1c1;
}

.offer_container.random.empty,
.offer_container.secret.empty{
  display: none;
}
.gif-grid {
  display: flex;
  width: 300px;
  height: 450px;
  flex-wrap: wrap;
  overflow: scroll;
  overflow-x: hidden;

}
.pick-gif {
  max-width: 300px;
  max-height: 250px;
  flex-grow: 1;
}
div.back0,
body.back0 {
  background: url('/static/v2/images/quests/backs/0.gif') repeat;
  background-size: 150%;
}

div.back1,
body.back1 {
  background: url('/static/v2/images/quests/backs/back1.jpeg') repeat;
  background-size: 100%;
}

div.back2,
body.back2 {
  background: url('/static/v2/images/quests/backs/back2.jpeg') repeat;
  background-size: 170%;
}

div.back3,
body.back3 {
  background: url('/static/v2/images/quests/backs/back3.jpeg') repeat;
  background-size: 160%;
}

div.back4,
body.back4 {
  background: url('/static/v2/images/quests/backs/back4.jpeg') repeat;
  background-size: 160%;
}

div.back5,
body.back5 {
  background: url('/static/v2/images/quests/backs/back5.jpeg') repeat;
  background-size: 160%;
}

div.back6,
body.back6 {
  background: url('/static/v2/images/quests/backs/back6.jpg') repeat;
  background-size: 110%;
}

div.back7,
body.back7 {
  background: url('/static/v2/images/quests/backs/back7.jpeg') repeat;
  background-size: 110%;
}

div.back8,
body.back8 {
  background: url('/static/v2/images/quests/backs/back8.jpeg') repeat;
  background-size: 100%;
}

div.back9,
body.back9 {
  background: url('/static/v2/images/quests/backs/back9.jpeg') repeat;
  background-size: 110%;
}

div.back10,
body.back10 {
  background: url('/static/v2/images/quests/backs/back10.jpeg') repeat;
  background-size: 120%;
}

div.back11,
body.back11 {
  background: url('/static/v2/images/quests/backs/back11.jpeg') repeat;
  background-size: 105%;
}

div.back12,
body.back12 {
  background: url('/static/v2/images/quests/backs/back12.jpeg') repeat;
  background-size: 120%;
}

div.back13,
body.back13 {
  background: url('/static/v2/images/quests/backs/back13.jpeg') repeat;
  background-size: 100%;
}

div.back14,
body.back14 {
  background: url('/static/v2/images/quests/backs/back14.jpeg') repeat;
  background-size: 100%;
}

div.back15,
body.back15 {
  background: url('/static/v2/images/quests/backs/back15.jpeg') repeat;
  background-size: 100%;
}

div.back16,
body.back16 {
  background: url('/static/v2/images/quests/backs/back16.jpeg') repeat;
  background-size: 100%;
}

div.back19,
body.back19 {
  background: url('/static/v2/images/quests/backs/back19.jpeg') repeat;
  background-size: 100%;
}

div.back17,
body.back17 {
  background: url('/static/v2/images/quests/backs/back17.jpeg') repeat;
  background-size: 100%;
}

div.back18,
body.back18 {
  background: url('/static/v2/images/quests/backs/back18.jpeg') repeat;
  background-size: 100%;
}

div.back20,
body.back20 {
  background: url('/static/v2/images/quests/backs/back20.jpeg') repeat;
  background-size: 120%;
}

div.back21,
body.back21 {
  background: url('/static/v2/images/quests/backs/back21.jpeg') repeat;
  background-size: 120%;
}

div.back22,
body.back22 {
  background: url('/static/v2/images/quests/backs/back22.jpeg') repeat;
  background-size: 120%;
}

div.back23,
body.back23 {
  background: url('/static/v2/images/quests/backs/back23.jpeg') repeat;
  background-size: 120%;
}
div.back24,
body.back24 {
  background: url('/static/v2/images/quests/backs/back24.jpeg') repeat;
  background-size: 120%;
}
div.back25,
body.back25 {
  background: url('/static/v2/images/quests/backs/back25.jpeg') repeat;
  background-size: 120%;
}
div.back26,
body.back26 {
  background: url('/static/v2/images/quests/backs/back26.jpeg') repeat;
  background-size: 120%;
}
div.back27,
body.back27 {
  background: url('/static/v2/images/quests/backs/back27.jpeg') repeat;
  background-size: 120%;
}
div.back28,
body.back28 {
  background: url('/static/v2/images/quests/backs/back28.jpeg') repeat;
  background-size: 120%;
}
div.back29,
body.back29 {
  background: url('/static/v2/images/quests/backs/back29.jpeg') repeat;
  background-size: 120%;
}
div.back30,
body.back30 {
  background: url('/static/v2/images/quests/backs/back30.jpeg') repeat;
  background-size: 120%;
}
div.back31,
body.back31 {
  background: url('/static/v2/images/quests/backs/back31.jpeg') repeat;
  background-size: 120%;
}
div.back32,
body.back32 {
  background: url('/static/v2/images/quests/backs/back32.jpeg') repeat;
  background-size: 120%;
}
div.back33,
body.back33 {
  background: url('/static/v2/images/quests/backs/back33.jpeg') repeat;
  background-size: 120%;
}

div.red,
body.red {
  background-image: linear-gradient(90deg, #ff6161, #ff0000);
  background-size: 100% !important;
}

div.blue,
body.blue {
  background-image: linear-gradient(90deg, #6161ff, #0000ff);
  background-size: 100% !important;
}

div.green,
body.green {
  background-image: linear-gradient(90deg, #3CB371, #2E8B57);
  background-size: 100% !important;
}

.offer_view .announce{
  background-color: #0c0861;
  opacity: 0.8;
  padding: 20px;
  filter: alpha(opacity=80); /* For IE8 and earlier */
  color: white;
  border-radius: 20px 5px 20px 5px;
  border-bottom-color: #0c0861;
}
.offer_view h4{
  font-weight: bold;
  border-bottom: 2px solid white !important;
  padding: 5px 10px;
}
.offer_view .announce:after{
  border-bottom-color: #0c0861;
}

body.back1.offer_view .announce {
  background-color: #102945;
}
.offer_view.back1 .announce:after{
  border-bottom-color: #102945;
}

body.back2.offer_view .announce {
  background-color: #102945;
}
.offer_view.back2 .announce:after{
  border-bottom-color: #102945;
}

body.back3.offer_view .announce {
  background-color: #f6126e;
}
.offer_view.back3 .announce:after{
  border-bottom-color: #f6126e;
}

body.back14.offer_view .announce {
  background-color: #f6126e;
}
.offer_view.back14 .announce:after{
  border-bottom-color: #f6126e;
}

body.back4.offer_view .announce {
  background-color: #17366d;
}
.offer_view.back4 .announce:after{
  border-bottom-color: #17366d;
}

body.back5.offer_view .announce {
  background-color: #101061;
}
.offer_view.back5 .announce:after{
  border-bottom-color: #101061;
}

body.back6.offer_view .announce {
  background-color: #8ab2b2;
}
.offer_view.back6 .announce:after{
  border-bottom-color: #8ab2b2;
}

body.back7.offer_view .announce {
  background-color: #0e151e;
}
.offer_view.back7 .announce:after{
  border-bottom-color: #0e151e;
}

body.back8.offer_view .announce {
  background-color: #0a061e;
}
.offer_view.back8 .announce:after{
  border-bottom-color: #0a061e;
}

body.back9.offer_view .announce {
  background-color: #1c1135;
}
.offer_view.back9 .announce:after{
  border-bottom-color: #1c1135;
}

body.red.offer_view .announce {
  background-color: #fc4240;
}
.offer_view.red .announce:after{
  border-bottom-color: #fc4240;
}

body.back19.offer_view .announce {
  background-color: #fc4240;
}
.offer_view.back19 .announce:after{
  border-bottom-color: #fc4240;
}

body.back20.offer_view .announce {
  background-color: #ace4f9;
}
.offer_view.back20 .announce:after{
  border-bottom-color: #ace4f9;
}

body.blue.offer_view .announce {
  background-color: #4040ff;
}
.offer_view.blue .announce:after{
  border-bottom-color: #4040ff;
}

body.green.offer_view .announce {
  background-color: #9EaB97;
}
.offer_view.green .announce:after{
  border-bottom-color: #9EaB97;
}

.name-tag {
  font-weight: 900;
  background-color: #666;
  color: white;
  display: block;
  font-size: 32px;
  width: 20%;
  margin: 0px auto;
  margin-top: -20px;
  margin-bottom: 40px;
  padding: 10px 15px;
  transform: rotate(-12deg);
}

.announce a.decline {
  color: white;
}

.announce a.accept.btn{
  background-color: var(--gc-blue);
  font-size: 28px;
  border: 1px solid white;
  color: white;
  padding: 5px 10px;
}

.announce a.accept.btn:hover {
  background-color: #8E2ABE;
}

.top_offer{
  border: 1px solid #eee;
  background-color: white;
  text-align: left;
  width: 330px;
  height: 200px;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  margin-right: 10px;
}

.top_offer .desc{
  font-size: 14px;
  max-height: 55px;
}

.top_offer:hover{
  background-color: #fafafa;
}

.top_offer img {
  width: 30px;
  height: 30px;
  border-radius: 15px;
}

.top_offer .decline-container {
  height: 0;
}

.top_offer .tag {
  background: #E8F0FA;
  padding: 4px;
  border-radius: 2px;
  font-size: 11px;
  color: #6487AE;
  display: inline-block;
  margin-bottom: 2px;
  margin-top: 2px;
}

.clr_container{
  text-align: left;
}

.clr_container .font-caption {
  font-size: 0.65rem;
}

.clr_container td {
  padding: 6px;
}

.clr_container tr {
  border-bottom: 1px solid #e9ecf0;
}

.clr_container tr td:first-child {
  padding-left: 1rem;
}

.clr_container tr img {
  width: 30px;
  height: 30px;
  border-radius: 25px;
}

.clr_container td .amount {
  top: 5px;
}

.clr_container td .btn {
  top: -10px;
}

.townsquare_main .search-area {
  padding-left: 0;
}

.townsquare_main .search-area #new_search {
  position: absolute;
  right: 22px;
  bottom: 11px;
}

.townsquare_nav-list {
  text-align: initial;
}

.townsquare_nav-list .nav-item .nav-link {
  padding-left: 0;
  color: var(--townsquare-link-color);
}

.townsquare_nav-list .nav-link.active {
  font-weight: bold;
  color: var(--link-color);
}

.townsquare_nav-list .nav-link:hover {
  color: var(--link-color);
}

.townsquare_nav-list .nav-link.active .nav-title {
  display: inline-block;
  padding-bottom: 2px;
  border-bottom: 3px solid;
}

.townsquare_nav-list_footer {
  padding: .5rem 1rem .5rem 0;
}

.townsquare_block-header {
  font-size: 0.9rem;
  font-weight: 700;
  color: var(--townsquare-block-header-color);
  text-transform: uppercase;
  cursor: pointer;
}
.townsquare_block-header::after {
  content: ""
}
.townsquare_block-header.closed::after {
  content: "^"
}
#status .btn-group-toggle .btn-radio {
  background-color: var(--badge-blue-bg);
  color: var(--badge-blue-text);
  border: 1px solid transparent;
  margin-bottom: 0.5rem !important;
}

#status .btn-group-toggle .btn-radio.active {
  border: 1px solid var(--active-button-border-color);
}

.grey {
  color: var(--gc-medium-dark-gray) !important;
}
.offer_container span{
  display: inline;
}
.status-avatar .avatar {
  height: 45px;
  width: 45px;
  max-width: 45px;
}

.activity_stream .activity-img img {
  max-height: 4rem;
}

.activity_stream .activity_comments .comment_container.filled
.activity-avatar img {
  height: 40px;
  width: 40px;
  max-width: 40px;
  border-radius: 50%;
}

.activity_time {
  color: var(--gc-medium-dark-gray);
}

.filter-tag {
  margin: 2px;
  text-transform: lowercase;
  background-color: #6F3FF5;
  color: white !important;
  border-radius: 2px;
  font-size: 12px;
  padding: 4px 5px;
  display: inline-block;
}

.filter-tag i {
  margin-left: 7px;
  font-size: 9px;
}


.activity_stream .action.open {
  background-color: transparent;
}

.offer_container .offer_container_type {
  font-size: 1.2rem;
}

.offer_container .offer_icon {
  height: 65px;
  width: 65px;
  border-radius: 50%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  color: var(--blue);
}

.nav-badge {
  font-size: 9px;
  color: var(--link-color);
  top: -8px;
  position: relative;
  font-weight: bold;
}

#payout_estimate {
  font-size: 12px;
}

.townsquare_nav-list.tribe .avatar {
  width: 20px;
  height: 20px;
  margin-right: 4px;
}

@media (max-width: 768px) {
  #mobile_nav_toggle{
    display: block !important;
  }
}

@media (max-width: 1024px) {
  #_hj_feedback_container{
    display:none !important;
  }
  .townsquare_header li.nav-item{
    display:inline-block;
  }
}

.promo .logo {
  width: 65px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.promo {
  background-image: url("/static/v2/images/tribes/promo-decoration.svg");
  background-color: var(--gc-blue);
  background-size: cover;
}
.promo .promo-text {
  font-size: 0.9em;
}

.promo .action {
  background-color: #101061;
  color: white;
  border-radius: 0;
}

.promo p {
  margin-bottom: 0;
}

.promo .action:hover {
  background-color: #101061;
  filter: brightness(130%);
}

.promo .close-promo {
  position: absolute;
  top: 6px;
  right: 29px;
  font-size: 16px;
  color: white;
  cursor: pointer;
  opacity: 1;
}

.promo .close-promo i {
  font-weight: 100;
}

.new_grant {
  border-top: 6px solid rgba(13, 7, 100, 0.25);
}

.new_kudos {
  border-top: 6px solid rgba(0, 163, 255, 0.25);
}

.new_bounty {
  border-top: 6px solid rgba(62, 0, 255, 0.4);
}

.new_hackathon_project {
  border-top: 6px solid rgba(15, 206, 124, 0.25);
}

.bg-gc-blue {
  background-color: var(--gc-blue);
}

.bg-gc-green {
  background-color: var(--gc-green);
}

.bg-light-blue {
  background-color: #00A3FF;
}

.bg-gc-dark-blue {
  background-color: #0D0764;
}

.card-ribbon {
  margin-top: -14px;
  margin-left: 10px;
  width: 110px;
  margin-bottom: 10px;
  position: relative;
}

.logo-metacard {
  max-height: 4rem;
  max-width: 4rem;
}

/* alerts */
/* todo:
  probably move this to seperate alert.css file
*/

.dark-mode .alert-primary {
  color: #cce5ff;
  background-color: #20037e;
}

.dark-mode .alert-success {
  color: #d4edda;
  background-color: #155724;
}

.dark-mode .alert-warning {
  background-color: #856404;
  color: #fff3cd;
}

.dark-mode .alert-danger {
  color: #f8d7da;
  background-color: #721c24;
}

.dark-mode .alert {
  border-color: transparent !important;
}

.dark-mode .alert .close {
  opacity: 0.8;
  text-shadow: none;
}
