{% load humanize i18n %}
{% if active_rounds.count%}
<div class="container-fluid grants-container">
  <div class="container">
    <div class="subheading font-weight-bold d-flex justify-content-between" @click="toggleActiveCLRs">
      <span>{% trans "Active QF Rounds" as filts %}{{ filts|upper }}</span>
      <span class=" fa fa-fw fa-chevron-down" v-if="!show_active_clrs"></span>
      <span class=" fa fa-fw fa-chevron-up" v-if="show_active_clrs"></span>
    </div>
    <b-collapse :visible="show_active_clrs" id="active_clrs_collapse" >

      <div class="row">
        {% for active_round in active_rounds %}
          <div class="col-12 col-lg-6">
            <a
              href="/grants/clr{% if active_round.customer_name %}/{{ active_round.customer_name }}{% endif %}{% if active_round.round_num %}/{{ active_round.round_num }}{% endif %}{% if active_round.sub_round_slug %}/{{ active_round.sub_round_slug }}{% endif %}"
              class="d-block text-decoration-none position-relative my-3"
            >
              <div class="position-absolute w-100 h-100"
                style="top: 0; right: 0;
                {% if active_round.logo %}
                background:  url('{{ active_round.logo.url }}') no-repeat center;
                {% endif %}
                background-color: #0044e088;"
              >
              </div>
              <div class="d-flex px-4 py-3 justify-content-between position-relative text-black">
                <div class="d-flex">
                  <div class="bg-white mr-3 overflow-hidden" style="width: 56px; height: 56px; border-radius: 100px;">
                    <img class="img-responsive" style="width: 100%; height: 100%;"
                      src="/dynamic/avatar/{{ active_round.owner.handle | default:'gitcoinco'}}" />
                  </div>
                  <h5 class="font-weight-bold my-auto">
                    {% if active_round.display_text %}
                      {{ active_round.display_text|upper }}
                    {% elif active_round.customer_name %}
                      {{ active_round.customer_name|upper }} - {{ active_round.round_num }}
                    {% elif active_round.sub_round_slug %}
                      {{ active_round.sub_round_slug|upper }} - {{ active_round.round_num }}
                    {% else %}
                      {{ active_round.round_num }}
                    {% endif %}
                    <br />
                    <small class="font-body font-weight-semibold">
                      {{active_round.start_date | date:'m/d'}} - {{active_round.end_date | date:'m/d'}}
                    </small>
                  </h5>
                </div>
                <p class="my-auto font-weight-semibold">${{ active_round.total_pot|floatformat:"0"|intcomma }}</p>
              </div>
            </a>
          </div>
        {% endfor %}
      </div>
    </b-collapse>

  </div>
</div>
{% endif %}
