{% load humanize static i18n %}
          <div id="top-filters" class="row">
            <div class="col-12 col-xl-12 mt-2 mt-xl-0 font-caption text-center text-xl-right font-weight-semibold order_by sort_container">
              <div class="float-md-left ml-5 pl-5 mb-md-3" v-if="activeCollection">
                <a href="#" :class="`font-weight-bold`" @click="clearSingleCollection()">Back to collections</a>
              </div>

              <div class="mr-4" v-if="current_type !== 'collections'">
                <button class="btn btn-outline-gc-blue font-caption" @click.event="addAllToCart($event)" :disabled="cart_lock">Add all to cart <i class="fas fa-spinner fa-spin gc-text-blue ml-2" v-if="cart_lock"></i> </button>
              </div>
              <div class="mr-4 d-inline-block" v-if="grants.length">
                <span class="heading mr-2">View</span>
                <a href="#" :class="`font-weight-bold ${view == 'list' ?  'text-black' : 'gc-text-blue' }`" @click="setView('list', $event)">List</a> |
                <a href="#" :class="`font-weight-bold ${view == 'grid' ? 'text-black' : 'gc-text-blue' }`" @click="setView('grid', $event)">Grid</a>
              </div>
              <div v-if="current_type !== 'collections'">
                <span class="heading">{% trans "Sort by" %}</span>
                <select @change="filter_grants({sort: sort})" v-model="sort" name="sort_option" id="sort_option2">
                  <option value="weighted_shuffle">{% trans "Weighted Shuffle" %}</option>
                  <option value="-clr_prediction_curve__0__1">{% trans "Match Estimate" %}</option>
                  <option value="-amount_received_in_round">{% trans "Amount Raised (Round)" %}</option>
                  <option value="-positive_round_contributor_count">{% trans "Contributors (Round)" %}</option>
                  <option value="-last_update">{% trans "Updated: Recent" %}</option>
                  <option value="-created_on">{% trans "Created: Recent" %}</option>
                  <option value="created_on">{% trans "Created: Oldest" %}</option>
                  <option value="-amount_received">{% trans "Amount Raised (Alltime)" %}</option>
                  <option value="-contribution_count">{% trans "Most Contributions (Alltime)" %}</option>
                  <option value="-contributor_count">{% trans "Most Contributors (Alltime)" %}</option>
                  {% if is_staff %}
                  <option value="-weighted_risk_score">{% trans "ADMIN: Risk Score" %}</option>
                  <option value="-sybil_score">{% trans "ADMIN:Sybil Score" %}</option>
                  {% endif %}
                </select>
              </div>
            </div>

          </div>

        </form>
      </div>
    </div>
