{% load humanize static i18n %}
          {% if current_partners or past_partners %}
            <div class="row grant-partners text-white m-3 pb-3 text-center">
              <div class="col-12 col-md-12">
                {% if current_partners %}
                  <h2 class="text-uppercase font-weight-semibold font-bigger-3 pt-4 mt-2 px-4">
                    {{ grant_label }} GRANTS CLR MATCHING ROUND IS LIVE
                  </h2>
                {% else %}
                  <h2 class="text-uppercase font-weight-semibold font-bigger-3 pt-4 mt-2 px-4">
                    {{ grant_label }} GRANTS CLR ROUND COMPLETED
                  </h2>
                {% endif %}
              </div>
              <div class="col-12 col-md-3 total_active_fund">
                {% if current_partners and False %}
                  <p class="pt-4 mb-0 font-weight-semibold">${{current_partners_fund|floatformat|intcomma}}</p>
                {% endif %}
              </div>
              <div class="col-12">
                <ul class="nav nav-tabs my-0 font-caption px-4 d-inline-flex" role="tablist">
                  {% if current_partners %}
                    <li class="nav-item">
                      <a class="nav-link nav-line active px-0 pb-1" id="currentpartners-tab"
                        data-toggle="tab" href="#currentpartners" role="tab" class="text-white"
                        aria-controls="currentpartners" aria-selected="true">
                        Current Sponsors
                      </a>
                    </li>
                  {% endif %}
                  {% if past_partners %}
                    <li class="nav-item font-caption position-relative" style="top: 1px;">
                      <a class="nav-link nav-line mx-0 pb-1 pl-4" id="pastpartners-tab" data-toggle="tab"
                        href="#pastpartners" role="tab" aria-controls="pastpartners" class="text-white"
                        aria-selected="false"
                      >
                        Past Sponsors
                      </a>
                    </li>
                  {% endif %}
                </ul>

                <div class="tab-content px-2">
                  {% if current_partners %}
                    <div class="tab-pane fade show active" id="currentpartners" role="tabpanel" aria-labelledby="currentpartners-tab">
                      {% for current_partner in current_partners %}
                        <div class="partner-details-container text-center px-2">
                          <a href="/profile/{{current_partner.profile.handle}}">
                            <img src="/dynamic/avatar/{{current_partner.profile.handle}}">
                          </a>
                          <div class="partner-details ml-1 font-smaller-3">
                            <span class="mt-2 mb-1">
                              <a class="text-white" href="/profile/{{current_partner.profile.handle}}">
                                @{{current_partner.profile.handle}}
                              </a>
                            </span>
                            <div class="partner-amount font-caption font-weight-semibold">
                              ${{current_partner.amount|floatformat|intcomma}}
                            </div>
                          </div>
                        </div>
                      {% endfor %}
                    </div>
                  {% endif %}

                  {% if past_partners %}
                    <div class="tab-pane fade show {% if not current_partners %}active{% endif %}" id="pastpartners"
                      role="tabpanel" aria-labelledby="pastpartners-tab"
                    >
                      {% for past_partner in past_partners %}
                        <div class="partner-details-container text-center px-2">
                          <a class="text-white" href="/profile/{{past_partner.profile.handle}}">
                            <img src="/dynamic/avatar/{{past_partner.profile.handle}}">
                          </a>
                          <div class="partner-details ml-1 font-smaller-3">
                            <span class="mt-2 mb-1">
                              <a class="text-white" href="/profile/{{past_partner.profile.handle}}">
                                @{{past_partner.profile.handle}}
                              </a>
                            </span>
                            <div class="partner-amount font-caption font-weight-semibold">
                              ${{past_partner.amount|floatformat|intcomma}}
                            </div>
                          </div>
                        </div>
                      {% endfor %}
                    </div>
                    {% endif %}
                  </div>
                  <p class="tab-pane fade show active my-3" role="tabpanel">
                    <a class="btn btn-gc-blue font-smaller-4 font-weight-semibold" href="/grants/matching-partners/new">
                      {% trans 'Become a Matching Partner' %}
                    </a>
                  </p>
                </div>
              </div>
            {% endif %}