{% load humanize static i18n %}

    <div class="container-fluid grants-container">
      <div class="container">
        {% if grants %}
          <div class="infinite-container row">
            {% for grant in grants %}
              <div class="col-12 col-md-6 col-xl-4 mb-4 infinite-item">
                {% include 'grants/card/index.html' %}
              </div>
            {% endfor %}
          </div>
          {% if grants.has_next %}
            <p class="mb-0 text-center py-4">
              <a class="infinite-more-link text-center text-black-70 cursor-pointer"
                href="?network={{network}}&type={{type}}&keyword={{keyword}}&sort_option={{sort}}&page={{ grants.next_page_number }}"
              >
                <i class="fas fa-spinner fa-spin mr-2"></i>
                Collecting more exciting grants
              </a>
            </p>
          {% endif %}
        {% else %}
          <div class="col-12 mb-3 mx-auto col-md-6 text-center">
            <img class="obiwan my-4" src="{% static "v2/images/obiwan-bot.svg" %}">
            <h1 class="font-title-lg font-weight-semibold mt-4 mb-2">{% trans "This is not the grant you’re looking for." %}</h1>
            <p class="font-subheader text">
              {% trans "We couldn't match with any grants on Gitcoin." %}</br>
              {% trans "Please try another search term or browse for a grant." %}
            </p>
          </div>
          <div class="col-12 pt-4 pb-2 mx-auto text-center">
            <a class="button-lg btn-gc btn-gc-blue py-3 px-5 font-weight-semibold" href="{% url 'grants:grants' %}">
              {% trans "Browse Grants" %}
            </a>
          </div>
        {% endif %}
      </div>
    </div>