{% load humanize static i18n %}

    <div class="container" v-cloak>
      <div :class="`infinite-container mt-4 row ${ current_type !== 'collections' ? 'vertica-scroll' : ''}`"  v-if="(current_type == 'all' || current_type == 'collections') && collections && !activeCollection">
        <div :class="`col-12 col-md-6 col-xl-4 mb-4 infinite-item grant-card`" v-for="(collection, id) in collections">
          <grant-collection :collection="collection" v-on:collection:show="showSingleCollection($event)" ></grant-collection>
        </div>
      </div>
      <div class="infinite-container mt-4 row"  v-if="activeCollection">
        <div :class="`col-12 col-md-6 col-xl-4 mb-4 infinite-item grant-card`" v-for="(collection, id) in [activeCollection]">
          <grant-collection :collection="collection" v-on:collection:show="showSingleCollection($event)" :activeCollection="true" :small="current_type !== 'collections'"></grant-collection>
        </div>
      </div>
      <div v-if="current_type === 'collections' && !collections.length && !activeCollection">
        <div class="text-center my-4">
          <p class="font-bigger-2 my-5 ">To create a collection, add some <a href="/grants">grants</a> to cart + click <b class="text-highlight-gc-blue"><i class="fas fa-heart"></i> save to collection</b> at checkout</p>
          <img src="{% static 'v2/images/quickstart-box.svg' %}" alt="">
        </div>
      </div>
      <div v-if="activeCollection">
        <h3 class="font-subheader my-3">Grants in this collection: </h3>
      </div>


    </div>

