{% load humanize static i18n %}
{% load chartit %}
<style type="text/css">
.container{
  text-align: center;
}
.container a {
  margin: 5px; padding: ; color:black;
}

@media (max-width: 700px) {
  .container a {
  display: block;  
  }
}

</style>
  <div style="">
    <div style="background-color: rgba(255, 255, 255, 0.95);">

      <div class="container-fluid pt-3 pb-1 grants-results">
        <div class="container">
          {% for ele in round_types %}
            <a href="/grants/getstats/?category={{ele.name}}" style="" class=" {% if selected_category == ele.name  or not selected_category and ele.name == 'tech' %}font-weight:bold{% endif %}">
              {{ele.name|title}}
              {% for clr in ele.clrs %}
                <!-- ({{clr.start_date|date:'Y-m-d'}} - {{clr.end_date|date:'Y-m-d'}}) -->
              {% endfor %} 
              Grants
            </a>
          {% endfor %}
            {{category}}
          <hr>

          <div class="">
            {% for this_cht in cht %}
            <div class="row no-gutter">
              <div id="container{{ forloop.counter0 }}" style="width:100%;"> Chart will be rendered here 
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>


<script src="{% static "v2/js/lib/jquery.js" %}"></script>
<script src="https://code.highcharts.com/highcharts.js"></script>
{{ cht|load_charts:chart_list }}
