{% if hackathons|length %}
<ul id=hackathons class="nav d-inline-block font-body mb-2">
    {% for hackathon in hackathons|slice:":5" %}
        <div class="col-xs-12 col-md-9 col-lg-8 col-xl-5 mx-auto">

            <div class="card flex-row flex-wrap mb-5" id="{{hackathon.slug}}">

                <div class="card-header text-center col-3 col-sm-2 px-0 border-0 my-auto">
                    {% firstof hackathon.logo_svg or hackathon.logo as logo %}
                    {% if logo %}
                    <img class="hackathon-card-logo" src="{{MEDIA_URL}}{{logo}}" alt="Hackathon logo" />
                    {% else %}
                    <div class="hackathon-card-logo text-center px-3 font-caption">
                        {{ hackathon.name }}
                    </div>
                    {% endif %}
                </div>

                <div class="card-body col-9 col-sm-8">
                    <h5 class="font-subheader font-weight-semibold">
                        <a href="{% url 'hackathon' hackathon.slug %}" class="text-black" target="_blank"
                            rel="noopener noreferrer">
                            {{ hackathon.name }}
                        </a>
                    </h5>
                    <div class="font-smaller-2">
                        <span class>From</span>
                        <time class="font-weight-bold"
                            datetime="{{ hackathon.start_date|date:'c' }}">{{ hackathon.start_date|date:"m/d/Y" }}</time>
                        <span>To</span>
                        <time class="font-weight-bold"
                            datetime="{{ hackathon.end_date|date:'c' }}">{{ hackathon.end_date|date:"m/d/Y" }}</time>
                    </div>
                    <div class="mt-3 hackathon-actions">
                        {% if hackathon.end_date|timesince <= "1 min" %}
                        <a href="{% url 'hackathon_onboard' hackathon.slug %}">
                            Join Hackathon >
                        </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</ul>
<a href="https://gitcoin.co/hackathon-list/">View all ></a>
{% endif %}