{% load humanize static i18n %}
            {% if not is_direct_link %}
              <div class="bg-shade-0 rounded border">
                <div id="status">
                  <div id="char_count" data-toggle="tooltip" title="You have been a Gitcoin community member for {{max_length_offset}} days, and you can post up to 280 + {{max_length_offset}} = {{max_length}} chars in your status update."></div>
                  <div class="position-relative d-flex flex-row px-2 pt-4 pb-2">
                    <div class="status-avatar px-3">
                      <img class="avatar rounded-circle" src="{% if user.profile.active_avatar %}{{ user.profile.active_avatar.avatar_url }}{% else %}/dynamic/avatar/{% if user and user.username %}{{ user.username }}{% endif %}{% endif %}"/>
                      {% if row.secondary_avatar_url %}
                        <img class="avatar my-auto rounded-circle secondary_avatar" src="{{row.secondary_avatar_url}}" />
                      {% elif row.other_profile %}
                        <img class="avatar my-auto rounded-circle secondary_avatar" src="/dynamic/avatar/{{ row.other_profile.handle }}" />
                      {% endif %}
                    </div>
                    <textarea
                      id="textarea"
                      class="form__input border-0 pl-2 status-textarea"
                      placeholder="{% if placeholder %}{{placeholder}}{%else%}What are you thinking?{%endif%}"
                      data-maxlen={% if max_length %}{{max_length}}{%else%}280{%endif%}
                    ></textarea>
                    <div id="textarea-dropdown" class="dropdown-menu" style="left: initial;"></div>
                    <div class="status-menu position-absolute d-flex flex-wrap" style="width: 3.8em; right: 0; top: 0px;">
                      <button id="emoji-button" class="btn btn-sm p-1" data-toggle="tooltip" title="Add an emoji to post." style="bottom: 3.5em; right: 0;"><i class="far fa-fw fa-smile"></i></button>
                      {% if is_alpha_tester %}
                      <button id="background-button" class="btn btn-sm p-1" style="bottom: 3.5em; right: 0em;"><i class="fas fa-paint-roller" data-toggle="tooltip" title="Add a background to post"></i></i></button>
                      {% endif %}
                      <button id="video-button" class="btn btn-sm p-1" data-toggle="tooltip" title="Add a video call to post." style="bottom: 3.5em; right: 1.5em;"><i class="fas fa-fw fa-video"></i></i></button>
                      <div class="dropdown">
                        <button class="btn btn-sm p-1 click-gif" data-toggle="dropdown" id="btn_gif" aria-haspopup="true" aria-expanded="false" style="bottom: 2em; right: 1.5em;">
                          <i class="fas fa-fw fa-photo-video" data-toggle="tooltip" title="Add a gif to post."></i>
                        </button>
                        <div class="dropdown-menu dropdown-menu-right gif-inject-target">
                          <form class="px-4 py-3">
                            <div class="form-group mb-0">
                              <label for="search-gif" class="sr-only">Search GIF</label>
                              <input type="text" class="form-control" id="search-gif" placeholder="Search GIF" autofocus>
                              <img src="{% static 'v2/images/Poweredby_640px-White_HorizText.png' %}" alt="Powered By GIPHY" height="10" class="mw-100">
                            </div>
                          </form>
                          <div id="list-gif" class="gif-grid"></div>
                        </div>
                      </div>
                      <button id="poll-button" class="btn btn-sm p-1" data-toggle="tooltip" title="Add a poll to post." style="bottom: 2em; right: 0em;"><i class="fas fa-fw fa-chart-bar"></i></button>
                      <button id="btn_attach" class="btn btn-sm p-1" data-toggle="tooltip" title="Attach tip" style="bottom: 2em; right: 0em;"><i class="fab fa-ethereum"></i></button>
                    </div>
                  </div>
                  <div class="d-none" id="bg-selector">
                  </div>
                  <div class="bg-shade-1 p-2 d-flex flex-column flex-sm-row justify-content-between">
                    <div class="btn-group-toggle text-left activity_type_selector" data-toggle="buttons">
                      {% if tags %}
                        {% for tag in tags %}
                          <label class="btn btn-radio mr-2 mb-2 frontend font-weight-semibold font-caption py-1 px-2 {% if tab == tag.2 %}active focus{% endif %}" >
                            <input type="checkbox" name="activity_type" value="{{tag.0}}" autocomplete="off">
                          <i class="fas fa-{{tag.1}} mr-1 "></i>
                          {{tag.0}}
                          </label>
                        {% endfor %}
                      {% endif %}
                    </div>
                    <button class="btn btn-primary btn-sm h-100" id="btn_post" disabled="true">POST</button>
                  </div>
                  <div id="attach-dropdown" class="attach text-left ml-2 mr-2 mt-3" style="display: none">
                    <div class="row">
                      <div class="col-md-8">
                          <div class="form-group">
                            <label class="sup featured-text">Amount</label>
                            <input id="attachAmount" type="number" class="form-control">
                          </div>
                      </div>

                      <div class="col-md-4">
                        <div class="form-group">
                          <label class="sup featured-text">Token</label>
                          <select class="form-control" id="attachToken">
                            <option value="0x0">ETH</option>
                            {% for token in TOKENS %}
                              <option value="{{ token.token_address }}">{{ token.token_name }}</option>
                            {% endfor %}
                          </select>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div id="thumbnail" class="mt-1 mb-2" style="display: none; top: initial; left: initial;">
                    <div class="row" style="display: flex; justify-content: center; align-items: center; ">
                      <div class="col ml-1 col-sm-3 col-md-2 text-center">
                        <img id="thumbnail-img" style="width: 130%;" src="{% static 'v2/images/team/gitcoinbot.png' %}">
                      </div>
                      <div class="col ml-2 text-left px-md-4">
                        <p id="thumbnail-title" class="mt-2 mb-1" style="font-size: 1.2em; font-weight: bold"></p>
                        <p id="thumbnail-desc" class="small"></p>
                        <p id="thumbnail-provider" class="small" style="color: #0056b3"></p>
                      </div>
                    </div>
                  </div>

                  <div id="preview" class="mt-1 mb-2" style="display: none; top: initial; left: initial;">
                    <div class="row ml-2" style=" ">
                        <img id="preview-img" class="m-auto" style="max-width: 80%; max-height: 350px;" src="">
                    </div>
                  </div>
                </div>
              </div>
            {% endif %}
