.navbar-network {
  position: relative;
  bottom: -9px;
}

nav,
.banner {
  background-color: #0D0764;
}

.nav #logo:hover {
  background-color: #0D0764;
}

.banner {
  color: #fff;
  min-height: 10rem;
}

.plan {
  border-radius: 3px;
  transition: box-shadow .25s ease-out,border-color .25s ease-out;
  box-shadow: 0 0 0 1px rgba(56,60,67,.05), 0 1px 3px 0 rgba(56,60,67,.15);
}

.plan:hover {
  cursor: pointer;
  box-shadow: 0 0 0 1px rgba(56,60,67,.07), 0 8px 14px 1px rgba(56,60,67,.15);
}

.plan-header h3,
.plan-header h2  {
  color: #4A4A4A;
}

.price span.month,
.plan-header h2 span.month,
.plan-header p {
  font-size: 1rem;
  color: #9B9B9B
}

.plan-header h2 {
  font-size: 2rem;
}

.period {
  display: flex;
  justify-content: center;
}

.discount {
  color: limegreen;
  font-weight: 600;
}

.features {
  max-width: 12rem;
  margin-left: auto;
  margin-right: auto;
}

.features-available i {
  color: #05B66A;
}

.features-available a {
  text-decoration: none;
  color: #4A90E2;
}

.features-available-na {
  color: #cacaca;
}

.companies {
  display: flex;
  justify-content: center;
}

.companies img {
  height: 5rem;
  width: auto;
  margin: auto;
}

.plan-button .button--full {
  color: #fff !important;
  padding: .75rem 1.5rem;
  font-weight: 600;
}

.ribbon {
  height: 100px;
  width: 125px;
  overflow: hidden;
  position: absolute;
}

.ribbon span {
  position: absolute;
  display: block;
  width: 201px;
  padding: 3px 0;
  background-color: #3E00FF;
  color: #fff;
  text-shadow: 0 1px 1px rgba(0,0,0,.2);
  text-align: center;
}

.ribbon-top-right {
  top: 0px;
  right: 15px;
}

.ribbon-top-right span {
  left: -18px;
  top: 28px;
  transform: rotate(45deg);
}

/* Subscribe  */
.step {
  margin-top: 1.5rem;
  border-bottom: 1px solid #ccc;
}

.step.row {
  margin-left: 0 !important;
  margin-right:0 !important;
  padding-bottom: 1rem;
}

.step h2 {
  font-size: 1.25rem;
  color: #4A4A4A
}

.step p {
  color: #4A4A4A;
}

.billed {
  display: flex;
}

#bill-period {
  max-width: 6rem;
}

#bill-period .select2-selection.select2-selection--single {
  border: 0 !important;
  outline: 0;
}

.save-more {
  animation-name: fadeIn;
  animation-duration: .5s;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.summary p {
  margin: 0 0 4px;
}

.summary i {
  font-size: 6px;
  position: relative;
  bottom: 2px;
}

#primary_form {
  max-width: none;
}

@media (max-width: 576px) {
  #primary_form {
    padding-left: 10px;
    padding-right: 10px;
  }

  .plan-info {
    text-align: center !important;
  }
}