      <h2 class="mb-4">1. Choose Avatar Mode</h2>
       <div id="theme">
        {% for option in avatar_options %}
          <a class="avatar_builder {% if option.0 == theme %}selected {% endif %}" href='{{option.1}}'>
            <img src='{{option.2}}'>
            <span>{{option.0|title}}</span>
          </a>
        {% endfor %}
       </div>
      <h2 class="mt-2 mb-2">2. Build Avatar</h2>
      <div class="mb-2">
        {% for option in avatar_options %}
          {% if option.3 and theme == option.0 %}
            <span>
              ( <strong>About the artist</strong>: {{option.3|safe}} )
            </span>
          {% endif %}
        {% endfor %}
      </div>