{% extends 'quadraticlands/components/base.html' %}
{% load humanize static i18n %}

{% block 'content' %}

<!--PROOF OF KNOWLEDGE -->

<section class="column">
	
<h1>end</h1>

</section>


{% endblock %}


{% block 'scripts' %}

	<!--some custom particles-->
	<script src="/static/quadraticlands/js/particles.js"></script>
	
	<!--Scroll Animation Library (sal) INIT-->
	<script src="/static/quadraticlands/js/sal_init.js"></script>

	<!--APP - burger menu, wallet menu, provider select-->
	<script src="/static/quadraticlands/js/app.js"></script>

	
{% endblock %}


