{% extends 'quadraticlands/components/base.html' %}
{% load humanize static i18n %}


{% block 'content' %}


<!--regular-->
<section class="column">

	<h3>demo</h3>

	<p>this page will not be there. users will automatical redirect to there current mission. so this view is just here for nowto reach all 3 experiences.</p>
	
	<h1>
		<a href="/quadraticlands/mission/knowledge">knowledge</a><br/>
		<a href="/quadraticlands/mission/recieve">recieve</a><br/>
		<a href="/quadraticlands/mission/use">use</a><br/>
	</h1>


</section>



{% endblock %}



{% block 'scripts' %}

	<!--some custom particles-->
	<script src="/static/quadraticlands/js/particles.js"></script>
	
	<!--Scroll Animation Library (sal) INIT-->
	<script src="/static/quadraticlands/js/sal_init.js"></script>

	<!--APP - burger menu, wallet menu, provider select-->
	<script src="/static/quadraticlands/js/app.js"></script>

	
{% endblock %}


