{% extends 'quadraticlands/components/base.html' %}
{% load humanize static i18n %}




{% block 'content' %}


<!--no token distribution-->
<section class="introduction" style="margin-bottom: 3em;">
  <h1>Token Distribution</h1>
  <p>Token Distribution has now concluded, but we welcome you to join a workstream to help shape the future of digital public goods!</p>
</section>


<section class="introduction" style="margin-bottom: 3em;">
  <h1>Governance Missions</h1>
</section>

<!-- governance missions-->
<section class="mission">

  <!-- Quadratic Diplomacy -->
  {% with name="Quadratic Diplomacy" %}
    {% include 'quadraticlands/mission/card.html' with svg="diplomacy.svg" message="available" playable="true" url="/quadraticlands/mission/diplomacy" %}
  {% endwith %}

  <!-- Discourse Forum -->
  {% with name="Discourse Forum" %}
    {% include 'quadraticlands/mission/card.html' with svg="discourse.svg" message="available" playable="true" url="https://gov.gitcoin.co" external="true" %}
  {% endwith %}

  <!-- Snapshot.page -->
  {% with name="Snapshot.page" %}
    {% include 'quadraticlands/mission/card.html' with svg="snapshot.svg" message="available" playable="true" url="https://snapshot.org/#/gitcoindao.eth" external="true" %}
  {% endwith %}

  <!-- Empower a Steward -->
  {% with name="Empower a Steward" %}
  {% include 'quadraticlands/mission/card.html' with svg="stewards.svg" message="available" playable="true" url="stewards" %}
  {% endwith %}

</section>

<section class="introduction" style="margin-bottom: 3em;">
  <h1>Take Action</h1>
</section>



<!-- upcoming missions-->
<section class="mission">


  <!-- Join a Workstream -->
  {% with name="Join a Workstream" %}
    {% include 'quadraticlands/mission/card.html' with svg="workstream.svg" message="available" playable="true" url="workstream" %}
  {% endwith %}

  <!-- Postcard Generator Game -->
  {% with name="Postcard Generator" %}
    {% include 'quadraticlands/mission/card.html' with svg="governance.svg" message="available" playable="true" url="mission/postcard" %}
  {% endwith %}


  <!-- Lore Comic + Audio -->
  {% with name="Gitcoin Lore" %}
    {% if completed_missions == 3 %}
      {% include 'quadraticlands/mission/card.html' with svg="moloch-vs-bot.svg" message="available" playable="true" url="/quadraticlands/mission/ql-lore"  %}
    {% else %}
      {% include 'quadraticlands/mission/card.html' with svg="moloch-vs-bot.svg" locked="true" message="locked" pending=True %}
    {% endif%}
  {% endwith %}


  <!-- Swag Store -->
  {% with name="Gitcoin Collectibles" %}
    {% if completed_missions == 3 %}
      {% include 'quadraticlands/mission/card.html' with svg="swag.svg" message="available" playable="true" url="/quadraticlands/mission/schwag" %}
    {% else %}
      {% include 'quadraticlands/mission/card.html' with svg="swag.svg" locked="true" message="locked" pending=True %}
    {% endif%}
  {% endwith %}

  <!-- Propose a Mission -->
  {% with name="Propose a Mission" %}
    {% include 'quadraticlands/mission/card.html' with svg="propose.svg" locked="true" message="available" playable="true" url="https://gov.gitcoin.co" external="true" %}
  {% endwith %}


</section>

<section class="introduction" style="margin-bottom: 3em;">
  <h1>Coming Soon</h1>
</section>


<!-- upcoming missions-->
<section class="mission">

  <!-- SybilHunt -->
  {% with name="SybilHunt" %}
  {% include 'quadraticlands/mission/card.html' with svg="sybilhunt.svg" message="Coming soon" locked="true" %}
  {% endwith %}


  <!-- Anti-Sybil Staking -->
  {% with name="Anti-Sybil Staking" %}
  {% include 'quadraticlands/mission/card.html' with svg="antisybil.svg" message="coming soon" locked="true" %}
  {% endwith %}

</section>

{% endblock %}

{% block 'scripts' %}

<!-- kinetics particles -->
<script src="{% static "v2/js/quadraticlands/kinetics.js" %}"></script>

{% endblock %}
