{% extends 'settings/settings.html' %}
{% load i18n static %}
{% block settings_content %}
<style type="text/css">
  .major_button_container{
    border: 1px solid #090909;
    padding: 20px;
  }
  .major_button_container input{
    float: right;
  }
  .major_button_container input.warning{
    background-color: #ca001a;
  }
</style>
  <div class="form-group">
    <h5>{% trans "Account Settings" %}</h5>
  </div>
  <div class="form-group">
    <div class="major_button_container">
      <form id="disconnect" method="POST" action="{% url 'account_settings' %}">
        {% csrf_token %}
        <input type="submit" class="button button--primary" name="disconnect" value="Disconnect">
      </form>
      <h5>{% trans "Github" %}</h5>
      <p>{% trans "Connected as " %}{{ github_handle }}</p>
    </div>
  </div>
  <div class="form-group">
    <div class="major_button_container">
      <form id="delete" method="POST" action="{% url 'account_settings' %}">
        {% csrf_token %}
        <input type="submit" class="button button--primary warning" name="delete" value="Delete">
      </form>
      <h5>{% trans "Delete My Account" %}</h5>
      <p>{% trans "This action deletes all of your data" %}</p>
    </div>
  </div>
</div>
{% endblock %}
{% block scripts %}
<script>
  $(document).ready(function(){
    $("#delete").submit(function(e){
      var _continue = confirm({% trans "Are you sure you want to delete all of your data from Gitcoin?" %});
      if(!_continue){
        e.preventDefault()
        return;
      }
    });
  });
</script>
{% endblock %}
