{% extends 'settings/settings.html' %}
{% load i18n static %}
{% block settings_content %}
<style>
  #select_all{
    font-size: 12px;
  }
  label.form__label{
    margin-bottom: 0px;
  }
  small{
    display: block;
  }
  .email_pref_container{
    height: 50px;
  }
</style>
<form id="whitepaper" method="POST" class="col-md-8 m-auto">
  <div class="form-group">
    <h5>{% trans "Email Preferences" %}</h5>
    <label class="form__label" for="email">{% trans "Email address" %}</label>
    <input type="email" name="email" class="form__input" placeholder='you@somewhere' value="{{ es.email }}" required>
    <small id="emailHelp" class="form__input-help">{% trans "We will never share your email with anyone else" %}</small>
  </div>
  <div class="form-group">
    <a href="#" id="select_all" data-direction="+" >[{% trans "Select All" %}]</a>
    {% for email_type in email_types %}
    <div class="email_pref_container">
      <input class='priv_checkbox' type=checkbox name="{{ email_type.0 }}" id="{{ email_type.0 }}" value="1">
      <label class="form__label" for="{{ email_type.0 }}">{% trans "Don't send me" %} <strong>{{ email_type.1 }}</strong></label>
      <small id="{{ email_type.0 }}" class="form__input-help">{% trans "Frequency" %}: {{ email_type.2 }}</small>
      <br>
    </div>
    {% endfor %}
  </div>
  <div class="form-group">
    <label class="form__label" for="level">{% trans "Preferred language - Non-English currently in Alpha" %}</label>
    <div class="form__select">
      <select id="preferred_language" name="preferred_language" required>
        {% get_available_languages as LANGUAGES %}
        {% get_language_info_list for LANGUAGES as langs %}
        {% for lang in langs %}
          <option value="{{ lang.code }}"{% if preferred_language == lang.code %} selected{% endif %}>{{ lang.code|language_name_local }}</option>
        {% endfor %}
      </select>
      <div class="form__select__icon">
        {% include 'svgs/arrow-down.svg' %}
      </div>
    </div>
  </div>
  {% csrf_token %}
  <input class='button button--primary' type='submit' name='submit' value="Save">
</form>
{% endblock %}

{% block scripts %}
<script>
  $(document).ready(function(){
    // select / deselect all
    $('#select_all').on('click', function(e) {
      e.preventDefault();
      if($(this).data('direction') == '+'){
        $('.priv_checkbox').prop('checked', true);
        $(this).text('[Deselect All]');
        $(this).data('direction','-');
      } else {
        $('.priv_checkbox').prop('checked', false);
        $(this).text('[Select All]');
        $(this).data('direction','+');
      }
    });

    // suppression preferences form
    var suppression_preferences = {{ suppression_preferences|safe }};

    for (var key in suppression_preferences) {
      var pref = suppression_preferences[key];
      $('#'+key).prop('checked', pref);
    }
  });
  // bust the cache every time the language changes
  $("#preferred_language").change(function(e) {
    var timestamp = Date.now() / 1000 | 0;

    Cookies.set('last_language_change', timestamp);
  });

</script>
{{ block.super }}
{% endblock %}
