{% extends 'settings/settings.html' %}
{% load i18n static %}

{% block settings_content %}
  <form id="whitepaper" method="POST" class="col-md-8 m-auto">
    <div class="form-group">
      <h5>{% trans "Privacy Preferences" %}</h5>
      <div>
        <input type="checkbox" name="suppress_leaderboard" id=suppress_leaderboard value="1" {% if profile.suppress_leaderboard %} checked="checked" {% endif %} {% if not is_logged_in %} disabled {% endif %} >
          <label class="form__label" for="suppress_leaderboard">{% trans "Hide my profile from the leaderboard" %}</label>
          <br>
          <small id="suppress_leaderboard_help" class="form__input-help">{% trans "If this option is chosen, we will remove your profile information from the leaderboard" %}</small>
      </div>
      <div>
          <input type="checkbox" name="hide_profile" id=hide_profile value="1" {% if profile.hide_profile %} checked="checked" {% endif %} {% if not is_logged_in %} disabled {% endif %} >
          <label class="form__label" for="hide_profile">{% trans "Hide my profile altogether" %}</label>
          <br>
          <small id="hide_profile_help" class="form__input-help">{% trans "If this option is chosen, we will remove your profile altogether" %}</small>
      </div>
      {% if profile.alumni.exists %}
        <div>
          <input type="checkbox" name="hide_alumni" id=hide_alumni value="1" {% if not profile.alumni.first.public %} checked="checked" {% endif %} {% if not is_logged_in %} disabled {% endif %} >
          <label class="form__label" for="hide_alumni">{% trans "Hide that I'm a Gitcoin alumni" %}</label>
          <br>
          <small id="hide_profile_help" class="form__input-help">{% trans "If this option is chosen, we not show that you are a Gitcoin alumni on your profile or about page." %}</small>
        </div>
      {%endif%}
    </div>
    {% csrf_token %}
    <input class='button button--primary' type='submit' name='submit' value="Save">
    <a href="{% url 'privacy' %}" style="float: right;">{% trans "Gitcoin's Privacy Policy" %}</a>
  </form>
  <div class="disclosure pt-5 col-md-8 m-auto">
    <h5>{% trans "Disclosure" %}</h5>
    <ul class="font-body" style="padding: 1rem;">
      <li>{% trans "We collect your profile information to provide context on the bounties you submit to the gitcoin system, or to help bounty funders evaluate your fitness for performing their bounty." %}</li>
      <li>{% trans "We collect your email address so that we can keep in touch about updates to bounties." %}</li>
      <li>{% trans "We collect your email address so that we can keep in touch about important updates to Gitcoin's featureset." %}</li>
    </ul>
    <p>{% trans "We aim to collect as little information from you as possible. Any information that you share is used to provide an experience that is relevant to you." %}</p>
  </div>
  <div class="withdrawal pt-5 col-md-8 m-auto">
    <h5>{% trans "How to Withdraw Consent?" %}</h5>
    <ul class="font-body" style="padding: 1rem;">
      <li>{% trans "You may withdraw consent for profile related activities, by using the checkboxes above." %}</li>
      <li>{% trans "You may withdraw consent for any email related activities " %}<a href="{% url 'email_settings' '' %}">{% trans "here" %}</a></li>
      <li>{% trans "You may remove your account altogether " %}<a href="{% url 'account_settings' %}">{% trans "here" %}</a></li>
    </ul>
    <p>{% trans "Have more questions? Contact the team at " %}<a href="mailto:privacy@gitcoin.co">privacy@gitcoin.co</a></p>
  </div>
{% endblock %}
