{% extends 'settings/settings.html' %}
{% load i18n static humanize %}
{% block settings_content %}
<style>
  .js-select2{
    width: 100%;
  }
  li{
    font-size: 12px;
  }
</style>
<form id="settings" method="POST">
  <div class="form-group">
    <h5>{% trans "Tokens" %}</h5>
    <p>
      {% blocktrans %} Here is a list of tokens available on Gitcoin. In order to enable the user of these tokens on Gitcoin, {% endblocktrans %}
    </p>
    <ol>
      <li>
        Select the token from the list below.
      </li>
      <li>
        Select the smart contract you'd like to enable.
      </li>
      <li>
        Click 'Enable'.
      </li>
    </ol>
  </div>
  <div>
    Existing approvals:
    <ol>
        <li>ETH (since it is not an ERC20 token)</li>
      {% for ta in profile.token_approvals.all %}
        <li>
          {{ta.token_name}} approved for {{ta.approved_name}} by {{ta.coinbase_short}}  {{ta.created_on | naturaltime}}
        </li>
      {% endfor %}
    </ol>
  </div>
  <div class="form-group">
      <label for="token">Token:</label>
      <div class="form__group-item">
        <select class="js-select2" name='deonomination' id='token'>
        </select>
      </div>
  </div>
  <div class="form-group">
      <label for="contract">Smart Contract :</label>
      <div class="form__group-item">
        <select class="js-select2" name='contract' id='contract'>
          <option value='0x2af47a65da8cd66729b4209c22017d6a5c2d2400'>
            Gitcoin Bounties
          </option>
        </select>
      </div>
  </div>
  <input type="hidden" name='txid' id='txid' value="">
  <input type="hidden" name='contract_name' id='contract_name' value="">
  <input type="hidden" name='contract_address' id='contract_address' value="">
  <input type="hidden" name='token_address' id='token_address' value="">
  <input type="hidden" name='token_name' id='token_name' value="">
  <input type="hidden" name='coinbase' id='coinbase' value="">
  <input type="hidden" name='network' id='network' value="">
  {% csrf_token %}
  <input class='button button--primary' type='submit' name='submit' value="{% trans "Enable" %}">
</form>
</div>
<script>
document.gas_price = {{gas_price}};
</script>
<script src="{% static "v2/js/jquery.js" %}"></script>
<script src="{% static "v2/js/abi.js" %}"></script>
<script src="{% static "v2/js/shared.js" %}"></script>
<script src="/static/v2/js/tokens_dynamic.js"></script>
<script src="{% static "v2/js/tokens.js" %}"></script>
<script src="{% static "v2/js/pages/tokens_settings.js" %}"></script>

{% endblock %}
