.section {
  margin: auto;
}

#team,
#jobs {
  background-color: #FFFFFF;
}

#team .row {
  margin: auto;
}

h4 {
  letter-spacing: 0;
  text-transform: capitalize;
}

.caption {
  font-weight: bold;
}

#team p,
#jobs p,
#origin_story p {
  text-align: center;
}

.grow_hero img{
  width: 100%;
  max-width: 400px;
}

#origin_story img {
  max-height: 200px;
  max-width: 300px;
  margin: auto;
}

#team .card  {
  border-radius: 0;
  font-size: 16px;
  border: none;
  background:#FFFFFF;
  padding: 1.5rem 1.5rem 0;
  margin: auto;
  margin-top: 1em;
  margin-bottom: 1em;
  width: 100%;
  text-align: center;
}
#team .card p {
  font-size: 14px;
}
#team .card-small {
  padding-left: .5rem;
  padding-right: .5rem;
  width: 10em;
}

#team .organization,
#team .role,
#jobs .title,
#team .card .title {
  color: #999;
}

#team .card .desc {
  font-weight: bolder;
}

#team .avatar {
  border: 0.1rem solid #1AB56D;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: auto;
  margin-bottom: 10px;
}

#team .name, #team .name a{
  color: #1AB56D;
  margin-bottom: 5px;
}

#team .social-links {
  margin-bottom: 10px;
}

#team .social-links a i {
  font-size: 1.25em;
  transition: all 0.3s;
  color: black;
}

#team .social-links a:hover i {
  color: #1AB56D;
  transform: scale(1.5) rotate(360deg);
}

#team .card-small .social-links a i {
  transition: none;
}

#team .card-small .social-links a:hover i {
  transition: none;
  transform: none;
  color: black;
}

#team .social-links a {
  display: inline-block;
  padding-right: 1em;
  padding-left: 1em;
}

.gitcoin-svg {
  background-size: cover !important;
  background-image: url("/static/v2/images/helmet.svg");
  width: 1.5em;
  height: 2.3em;
  position: relative;
  top: 4px;
}

.card-small .gitcoin-svg {
  left: -4px;
}

#jobs,
#origin_story {
  padding-bottom: 2em;
}

#jobs .caption {
  margin-bottom: 2em;
}

#jobs .right p {
  text-align: left;
}

#jobs .left p {
  text-align: right;
}

#jobs .title.font-caption {
  text-decoration: none;
  font-weight: bold;
  transition: all 0.3s;
}

#jobs .title:hover {
  color: #1AB56D;
}

#jobs .right .font-heading,
#jobs .left .font-heading {
  font-weight: bold;
}

@media (max-width: 767.98px) {
  #jobs .left p,
  #jobs .right p {
    text-align: center;
  }

  #jobs .left {
    margin-bottom: 2em;
  }
}