#activities{
  text-align: left;
}
.action{
  padding: 3px;
}
.action i,
a .sup{
  color: black;
}
.action.open{
  background-color: #eeeeee;
  border-radius: 5px;
}

.comment_container.filled{
  text-align: left;
  width: 300px;
  background-color: #f2f2f2;
  padding: 5px;
  border-radius: 5px;
}
.comment_container img{
  border-radius: 20px;
  max-width: 20px;
}
.comment_container li{
  list-style: none;
}
.comment_container a{
  color: black;
  font-weight: bold;
}
.comment_container .post_comment{
  float: right;
  background-color: #eeeeee;
  padding: 5px 10px;
  border-radius: 5px;
  color: black;
  font-weight: bold;
}
.comment_container .post_comment:hover{
  float: right;
  background-color: #e9e9e9;
  padding: 5px 10px;
  border-radius: 5px;
  color: black;
  font-weight: bold;
}

.sup{
  vertical-align: super;
  font-size: smaller;  
}
.like_activity:hover, .flag_activity:hover, .comment_activity:hover{
  text-decoration: none;
  font-weight: bolder;
}
.activity_stream .avatar {
  width: 2.5rem;
  height: 2.5rem;
  min-height: 2.5rem;
  margin: 0px auto;
  border-radius: 50px;
  margin-top: 0px;
}

.activity_stream .box {
  padding: 0.75rem 1.2rem;
  border-bottom: 1px solid #EFEFEF;
}

#avatar_url .avatar {
  width: 80px;
  height: 80px;
}

.activity .secondary_avatar {
  top: 1rem;
  right: 0rem;
  position: absolute;
}

.funder-avatar,
.activity-avatar {
  text-align: center;
}

.last-icon {
  font-size: 1.25rem;
  color: #0D0764;
}

.tag {
  display: inline-block;
}

.bounty_removed_by_funder .activity-tags .tag,
.bounty_removed_by_staff .activity-tags .tag,
.bounty_abandonment_escalation_to_mods .activity-tags .tag,
.bounty_abandonment_warning .activity-tags .tag,
.activity.new_kudos .activity-tags .tag {
  display: none;
}

@media (min-width: 768px) {
  .activity .secondary {
    position: relative;
    left: -10px;
  }
}

@media (max-width: 767.98px) {

  .activity-info {
    text-align: center;
  }

  .activity_stream .activity .avatar.secondary_avatar {
    position: unset;
    margin-left: -20px;
    margin-top: 20px;
  }
}