
.activity_stream .avatar {
  width: 50px;
  height: 50px;
  margin: 0px auto;
  border-radius: 50px;
  margin-top: 0px;
}

#activity_stream .box {
  padding: 1.2rem;
  border-bottom: 1px solid #DBDBDB;
}

#avatar_url .avatar {
  width: 80px;
  height: 80px;
}

.activity .secondary_avatar {
  width: 3.125rem; 
  height: 3.125rem; 
  top: 1rem; 
  right: 0rem; 
  position: absolute;
}

.funder-avatar,
.activity-avatar {
  text-align: center;
}

.last-icon {
  font-size: 30px;
  color: #0D0764;
}

.tag {
  display: inline-block;
}

.bounty_removed_by_funder .activity-tags .tag,
.bounty_removed_by_staff .activity-tags .tag,
.bounty_abandonment_escalation_to_mods .activity-tags .tag,
.bounty_abandonment_warning .activity-tags .tag,
.activity.new_kudos .activity-tags .tag {
  display: none;
}

@media (max-width: 767.98px) {

  .activity-info {
    text-align: center;
  }

  .activity_stream .activity .avatar.secondary_avatar {
    position: unset;
    margin-left: -20px;
    margin-top: 20px;
  }
}
