/* stylelint-disable no-descending-specificity */

/* ...because sometimes descending-specificity is a PIA to clean up */
div.body {
  min-height: 400px;
}

.hidden {
  display: none !important;
}

div,
p,
a,
span {
  word-wrap: break-word;
}

a {
  color: #3E00FF;
}

.nav_avatar {
  width: 40px;
  height: 40px;
  cursor: pointer;
  border-radius: 50%;
  background-size: cover;
}

#navbarDropdown {
  text-transform: none;
}

.dropdown-menu {
  z-index: 9999999999;
}

.navbar-dark .navbar-nav .nav-link {
  border-radius: 2px;
  color: white;
}

.navbar .interior, .navbar .interior a,
.nav-link.interior, .nav-link.interior a {
  color: white ;
}

.navbar .interior .dropdown-item {
  color: black !important;
  font-size: 0.9rem;
}

.navbar .interior .dropdown-item:hover {
  color: white !important;
}

.navbar .interior .dropdown-item:hover img{
  filter: invert(100%);
}
.navbar .interior .dropdown-item:hover i{
  color: white;
}

#navbarSupportedContent {
  padding-top: 2px;
  padding-bottom: 2px;
}

.navbar-nav .btn-gc-blue {
  margin-right: 1rem;
  font-size: 0.9rem;
  padding-left: 1rem;
  text-align: left;
  margin-top: 5px;
}

.navbar-nav .dropdown-menu {
  min-width: 9rem;
}

.nav_avatar,
.navbar__cta,
.nav-item.dropdown,
.navbar-nav .nav-link {
  margin-top: auto;
  margin-bottom: auto;
}

.nav-link.login i {
  font-size: 1.5em;
  position: relative;
  top: 3px;
  margin-right: 10px;
}

.navbar-nav .nav-link:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.navbar-nav a.nav-link.selected {
  color: #4aeaa7 !important;
}

.navbar a.slack i {
  margin-right: 3px;
}

.navbar-network {
  border: 1px solid #828282;
  color: #fff;
  border-radius: 25px;
  font-size: 0.65rem;
  text-align: center;
}

.navbar-network i {
  font-size: 7px;
  position: relative;
  top: -1px;
}

.navbar-network a {
  text-decoration: underline;
}

.green {
  color: #26cd7f;
}

.red {
  color: #ff3232;
}

.modal-content {
  border: none;
}

.font-weight-semibold {
  font-weight: 600;
}

#tutorials li{
  list-style: none;
}
#tutorials img{
  max-width: 300px;
  width: 100%;
}

.tutorial_item{
  background-color: #fff;
}

.tutorial_parent{
  background-color: #fff;
  border-bottom: 1px solid #000;
}

.tutorial_parent:nth-child(even){
  background-color: #fafafa;
}

.tutorial_item img{
  max-width: 300px;
}

.tutorial_item a{
  font-size: 28px;
  color: #000;
}

.faq_item {
  margin: 0 auto;
}

.faq_item h5 {
  cursor: pointer;
  text-transform: none;
}

.interior .body {
  background-color: white;
}

.interior .body.loading {
  display: block;
  flex: none;
  max-width: none;
  margin-left: 0;
}

.interior .container-fluid {
  padding-left: 0;
  padding-right: 0;
}

.with-grey-background .body {
  background-color: #eee !important;
}

.index .container-fluid {
  overflow-x: hidden;
}

.interior #logo {
  margin-top: -5px;
}

.interior .header {
  background-size: cover;
}

.tldr_container {
  font-size: 4em;
}

.tldr_container img {
  max-width: 350px;
  max-height: 350px;
  padding-bottom: 20px;
}

#feature_videos {
  background: white;
}
#feature_videos .video {
  text-align: center;
}
#feature_videos h6 {
  padding-top: 10px;
}

#origin_story .row .col p {
  margin-left: 20px;
  margin-right: 20px;
}

.advisor {
  float: left;
  height: 170px;
  width: 150px;
}

.advisor img {
  max-height: 100px;
  max-width: 100px;
}

p a {
  color: #3E00FF;
  text-decoration: outline;
}

.modal a.close-modal {
  display: none !important;
}

.modal-close {
  float:right;
}

#gas-section .gas-image {
  height: 4.5rem;
}

#gas-section .font-body {
  margin: 0;
}

#gas-section .recommended-prices {
  cursor: pointer;
  text-align: center;
}

#gas-section .gas-dark-bg {
  background-color: #FAFAFA;
}

#gas-section .gas-rates .active {
  font-weight: 600;
  background-color: #0ECF7C;
}

#gas-section #metamask_context {
  display: none;
}

#gas-section #accordion-set-own-limit {
  cursor: pointer;
  border-bottom: 1px solid rgba(0,0,0,.1);
  border-top: 1px solid rgba(0,0,0,.1);
}

#gas-section #accordion-set-own-limit i {
  float: right;
}

#gas-section #default-recommended-gas,
#gas-section .message {
  display: none;
  text-align: center;
}

.btn-warning,
.btn-success,
.btn-info {
  padding: 0.4rem 1.4rem;
  font-size: 1.25rem;
  border: 2px solid #15003e;
  transition: none;
}

.btn-warning:hover,
.btn-success:hover,
.btn-info {
  cursor: pointer;
}

.btn-info:hover {
  background-color: #15003e;
  border-color: #15003e;
  color: #f9006c;
}

.btn-warning {
  color: #15003e;
}

.btn {
  cursor: pointer;
}

.btn-warning:hover {
  background-color: #15003e;
  border-color: #15003e;
  color: #ffce08;
}

.btn-success {
  color: #15003e;
}

.btn-success:hover {
  background-color: #15003e;
  border-color: #15003e;
  color: #25e899;
}

.cta-green {
  background-color: var(--gc-green);
  text-align: center;
  font-weight: bold;
}

#hero_cta a.btn-warning {
  padding: 0.6rem 1.05rem;
  background-color: #ffce08;
  border-color: #ffce08;
  color: #15003e;
}

#hero_cta a.btn-warning:hover {
  background-color: #15003e;
  color: #ffce08;
}

#hero_cta a img {
  margin-top: -3px;
  height: 20px;
  width: 20px;
  margin-right: 5px;
}

.dashboard .body {
  padding-bottom: 50px;
}

.dashboard .body .avatar {
  max-height: 50px;
  max-width: 50px;
  border-radius: 100%;
}
.dashboard .body .avatar.Azure-Samples,
.rounded-circle.Azure-Samples {
  border-radius: 0%!important;
}

.body .nonefound {
  margin-left: 100px;
  margin-top: 100px;
  text-align: center;
}

.dashboard .body .bounty_row.local,
.dashboard .body .bounty_row.ropsten {
  border-left: 1px solid red;
}

.dashboard .body .experience {
  border-radius: 6px;
  width: 12px;
  height: 12px;
  background: grey;
}

.dashboard .body .experience.beginner {
  background: #37ea9c;
}

.dashboard .body .experience.intermediate {
  background: #fecf32;
}

.dashboard .body .experience.advanced {
  background: #f9006c;
}

.dashboard .body .loading {
  text-align: center;
}

.loading_img img {
  max-width: 100px;
}

.grant .loading_img {
  display: none;
}

.grant .loading_img.waiting-state {
  display: flex;
}

.dashboard .body .experienence.unknown {
  background: #eee;
}

#mailchimp {
  overflow: hidden;
}

#mailchimp div,
#mailchimp p,
#mailchimp h5 {
  z-index: 9;
}

#mailchimp p {
  margin-top: 0px;
  margin-bottom: 0px;
}

#mailchimp p.email {
  margin-bottom: 2rem;
}

body #mc_embed_signup {
  background: transparent !important;
}

body #mc_embed_signup label {
  font-weight: normal;
}

.form_container {
  text-align: left;
  background-color: white;
  border-radius: 2px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 50px;
}

textarea.loading,
input[type=text].loading {
  background-image: url('/static/v2/images/loading_v2.gif');
  background-repeat: no-repeat;
  background-position: right;
  background-size: 30px;
}

#primary_form {
  max-width: 550px;
  margin: 0 auto;
  padding: 0 2em;
}

#bountyFulfillment {
  height: 2rem;
  outline: none;
}

.submit_bounty #primary_form,
.fulfill_bounty #primary_form {
  max-width: none;
}

.submit_bounty .select2-search,
.fulfill_bounty .select2-search,
.submit_bounty .select2-results__option,
.fulfill_bounty .select2-results__option {
  font-size: 0.875rem;
}

.select2-results__option:empty {
  padding: 1px;
  border-bottom: solid 1px darkgray;
}

.submit_bounty .select2-results__option,
.fulfill_bounty .select2-results__option {
  padding-left: 0.625rem;
  padding-right: 0.625rem;
}

#primary_form img {
  max-width: 100px;
}

.bounty_nav {
  border-bottom: 2px solid #212529;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

.bounty_nav li {
  display: inline;
  padding: 5px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.bounty_nav li.active {
  background-color: #212529;
  color: white;
}

.submit_bounty #network_status div {
  display: inline;
}

#network_status div span {
  color: #4aeba8;
}

.submit_bounty select[name=denomination] {
  text-align: left;
}

.admin-only {
  background-color: #5495E1 !important;
  color:white !important;
  border: 1px solid white !important;
}

/* The alert message box */

.alert {
  align-items: center;
  background-color: #3E00FF;
  border-radius: 0px;
  box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.24);
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  margin-bottom: 1px;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 999999;
  font-weight: 600;
  font-size: 14px;
}

.alert .message {
  align-items: center;
  display: flex;
}

.alert .message .content{
  display: inline;
  word-break: break-all;
}

.alert .message::before {
  font-family: 'Font Awesome\ 5 Free', sans-serif;
  content: "\f06a";
  margin-right: 10px;
  font-size: 1.25rem;
  position: relative;
  top: 1px;
}

.alert a {
  color: white;
  text-decoration: underline;
}

.alert.error {
  background-color: #C70018;
}

.alert.error .message::before {
  content: "\f057";
}

.alert.success {
  background-color: #00A652;
}

.alert.success .message::before {
  content: "\f058";
}

.alert.info {
  background-color: #008EFF;
}

.alert.info .message::before {
  content: "\f05a";
}

.alert.warning {
  background-color: #F2A700
}

.alert.warning .message::before {
  content: "\f071";
}

/* The close button */

.closebtn {
  color: white;
  cursor: pointer;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  margin-left: 15px;
  transition: 0.3s;
}

.closebtn.purple {
  content: url('/static/v2/images/close-purple.svg');
}

/* When moving the mouse over the close button */

.closebtn:hover {
  color: black;
}

.row.nonefound {
  margin-right: 0px;
}

.row.nonefound img {
  max-width: 250px;
}

.row.nonefound p {
  margin-bottom: 0px;
}

.bottom_notification {
  padding: 10px 30px;
  background: #3e00ff;
  color: white;
  width: 100%;
  margin-left: 0px;
}

.bottom_notification-beyond {
  background: #000;
  position: relative;
  background-image: linear-gradient(90deg, #000, rgba(15, 206, 124, 0.7), #000), url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' opacity='1' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0.5' y='0.5' width='20' height='20' rx='3.5' stroke='rgba(15, 206, 124, 0.7)'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat, repeat-x;
  background-size:  100%, 24px;
  background-position: center, 100% center;
  animation: bg-move 17s cubic-bezier( 0.36, 0.45, 0.63, 0.53) infinite;
}
@keyframes bg-move {
  0% {
    background-position: center, 0 center;
  }
  100% {
    background-position: center, 100% center;
  }
}

.metamask_recc {
  width: 45%;
  display: inline-block;
}

#metamask_label img {
  position: relative;
  top: -2px;
}

#metamask_context .red_warning {
  background-color: #fbe0d6;
  color: #fb9470;
  padding: 5px 10px;
  border-radius: 2px;
  margin-bottom: 15px;
  display: block;
}

#metamask_context .red_warning a {
  color: #fb9470 !important;
  font-weight: bold;
  text-decoration: underline;
}

#metamask_context ul {
  font-size: 0.85rem;
  margin-top: 0.5rem;
  padding-left: 1rem;
}

#metamask_context li a {
  color: #0D0764;
}

#metamask_context .warning {
  text-align: center;
  background-color: #ff9800;
  border-radius: 5px;
}

#metamask_context .warning a {
  color: black;
  font-weight: bold;
}

.bottom_notification a {
  color: white;
  text-decoration: underline;
  margin-left: 5px;
}

#gitcoin_buttons #example img {
  width: 500px;
  max-width: 100%
}

#gitcoin_buttons .flex-column {
  border-radius: 5px;
}

#gitcoin_buttons .btn.delta_1 {
  background-color: #f9006c;
  border: 1px solid white;
}

#gitcoin_buttons .btn.delta_1 span {
  color: #f9006c;
  background-color: white;
}

#gitcoin_buttons .btn.delta_2 {
  background-color: #3e00ff;
  border: 1px solid white;
}

#gitcoin_buttons .btn.delta_2 span {
  color: #3e00ff;
  background-color: white;
}

#gitcoin_buttons .btn.delta_3 {
  background-color: white;
  border: 1px solid black;
  color: black;
}

#gitcoin_buttons .btn.delta_3 img {
  filter: invert(100%);
}

#gitcoin_buttons .btn.delta_3 span {
  color: white;
  background-color: black;
}

#gitcoin_buttons .btn {
  font-weight: bold;
  margin: 10px;
}

#gitcoin_buttons .btn img {
  width: 24px;
  height: 24px;
}

#gitcoin_buttons .btn span {
  font-size: 10px;
  text-transform: uppercase;
  border-radius: 4px;
  color: #100136;
  padding: 2px 10px;
  background-color: white;
  margin-left: 5px;
}

.terms_container a {
  color: black;
}

.body {
  padding-bottom: 4em;
}

#pull_gh {
  font-size: 12px
}

.dashboard .w-75 .github-comment {
  background: url('/static/v2/images/icon-msg-16.png') no-repeat left;
  padding-left: 18px;
  margin-right: 10px;
  display: inline-block;
}

#interest_list {
  margin-left: 0;
  padding-left: 0;
}

#interest_list li {
  list-style: none;
}

input.is-invalid {
  border-color: red;
}

.faucet_response {
  display: none;
}

.tooltip-info {
  padding: 10px 20px;
  margin: 0;
}

.tooltip-sm,
.tooltip-xs {
  padding: 2px;
  width: auto;
}

.tooltip-sm {
  font-size: 0.75rem;
}

.tooltip-xs {
  font-size: 10px;
}

.ui-widget-shadow,
.modal {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1) !important;
}

.tooltip-info p {
  margin-bottom: 10px;
}

.tooltip-info .font-subheader {
  margin-top: 10px;
}

.tooltip-info .row {
  margin-bottom: 15px;
}

.tooltip-info .col-11 {
  padding-left: 0;
}


#gitcoinTestimonials {
  height: 288px;
  width: 500px;
}

#alpha {
  color: #000000;
  background-color: #ffce05;
  border-radius: 4px;
  text-transform: uppercase;
  font-size: 14px;
  padding: 4px 7px;
  font-weight: 100;
  letter-spacing: 0.15em;
  margin: 5px;
  vertical-align: top;
  display: inline-block;
}

#alpha.small {
  font-size: 8px;
  padding: 3px 5px;
  margin: 2px;
}

/* Dropdown styles */

.ui-selectmenu-button.ui-button {
  line-height: 16px;
  padding: .4em .75em;
}

.ui-selectmenu-button.ui-button,
.ui-selectmenu-button.ui-button:hover,
.ui-selectmenu-button.ui-button:focus {
  border: none !important;
  background: #FFF !important;
  color: #3E00FF;
  outline: none;
  font-weight: 600;
}

.ui-selectmenu-icon.ui-icon {
  background: url('/static/v2/images/caret-down.png') !important;
  background-repeat: no-repeat;
  background-position: 0 !important;
  background-size: 10px 6px !important;
  margin-top: 5px !important;
  height: 6px;
  width: 10px;
}

.ui-widget.ui-widget-content {
  border: none !important;
  border-radius: 2px;
  background: #FAFAFA;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.12);
}

.ui-menu-item-wrapper {
  font-size: 12px;
  padding: .4em .75em !important;
}

.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-button.ui-state-active:hover {
  border: 1px solid #3E00FF !important;
  background: #3E00FF !important;
}

.ui-button:hover,
.ui-button:focus {
  border: 1px solid #0D0764 !important;
  background: #FAFAFA !important;
}

.submit-notification {
  color: #fff;
  font-size: 10px;
  min-height: 100px;
  padding: 0.6rem;
}

.submit-notification h3 {
  font-size: 20px;
  text-transform: capitalize;
}

.submit-notification a {
  color: #FFF;
  text-decoration: none;
}

.submit-notification.metamask-error {
  background-color: #FF6700;
}

#zero_balance_error {
  background-color: #FF6700;
}

.submit-notification.metamask-error img {
  max-width: 100px;
}

.metamask-banner #upper_left {
  height: 100%;
}

.metamask-banner h3 {
  letter-spacing: 0;
  padding-bottom: 4px;
  font-weight: 600;
}

.metamask-links a {
  text-decoration: none;
  color: black;
  font-size: 0.9rem;
  margin: 0 0.5rem;
}

.metamask-links a:hover {
  text-decoration: underline;
}

.metamask-links a:first-child {
  margin-left: 0;
}

.grant .metamask-error {
  background: #f2f6f9;
}

#robot_error {
  margin: auto;
}

#robot_error img {
  max-height: 18rem;
  width: auto;
}

.bounty_box {
  border: 5px solid white;
  width: 100%;
  display: block;
  padding: 30px 30px;
  background-color: #15003e;
  color: white;
  text-decoration: none;
}

.bounty_box.disabled, .bounty_box.disabled:hover {
  cursor: not-allowed;
  background-color: #5f445b;
  text-decoration: none;
}

.bounty_box:hover {
  background-color: #35305e;
  text-decoration: none;
}

.bounty_box h5 {
  color: white;
}

.bounty_box span {
  color: white;
}

.morecontent span {
  display: none;
}

.alpha-warning {
  background-color: #fb9470;
  color: #fbe0d6;
  padding: 5px 10px;
  border-radius: 2px;
  margin-bottom: 15px;
  display: block;
  text-align: center;
}

@media (max-width: 1350px) {
  .profile_details .tips li div.details {
    width: 300px;
  }

  .profile_details .tips div.url,
  .profile_details .tips li div.url {
    width: 400px;
  }
}

@media (max-width: 1250px) {
  .profile_details .tips li div.details {
    width: 400px;
  }
}

@media (max-width: 1025px) {
  #faq .col-4 {
    max-width: 100%;
    flex: 0 0 100%;
  }

  .tldr_container img {
    max-width: 300px;
    max-height: 300px;
  }

  #bounty_details {
    margin: 15px;
  }

  .profile_details .tips li div.details,
  .profile_details .tips li .url {
    display: none;
  }

  .profile_details .tips li div.details,
  .profile_details .repos li {
    padding-left: 0;
    width: 100%;
  }

  .profile_details .repos li p.meta {
    display: none;
  }

  .advisor {
    width: 130px;
  }

  #mission_hero .font-bigger-4 {
    font-size: 1.3rem;
  }

  #mission_hero .mission-img-wrapper {
    height: 175px;
  }

  #mission_hero .mission-img-wrapper img {
    max-height: 175px;
  }
}

@media (max-width: 769px) {
  #gitcoinTestimonials {
    height: 202px;
    width: 350px;
  }

  .tldr_container img {
    max-width: 250px;
    max-height: 250px;
  }

  .email_settings .col-4 {
    display: none;
  }

  .email_settings .col-6 {
    max-width: 100%;
    flex: 0 0 100%;
  }

  .profile_details #stats li {
    width: 48%;
  }

  .profile_details #hero {
    height: 400px;
  }

  body.bounty_details .right_details {
    margin-left: 30px;
    width: 100%;
    max-width: 90%;
  }

  body.slack .slack--brand-tree, body.newtoken .col-4 {
    display: none;
  }

  body.slack, body.newtoken .col-6 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  #team .row,
  #team .row .d-flex {
    display: block;
    width: 100%;
  }

  #team .row div {
    text-align: center;
  }

  #team .row img.img-fluid {
    float: none !important;
  }

  .advisor {
    width: 100px;
    float: none;
    display: inline-block;
  }

  .avatar-img-wrapper {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
  }

  .search_bar .sort_row {
    display: none !important;
  }

  #hero_cta a.btn {
    padding: .5rem .75rem;
    font-size: 1rem;
  }

  #mission_hero .font-bigger-4 {
    font-size: 1rem;
  }

  #mission_hero .mission-img-wrapper {
    height: 150px;
  }

  #mission_hero .mission-img-wrapper img {
    max-height: 150px;
  }

  .tooltip-info {
    display: none;
  }

  .bounty_nav {
    padding-left: 0;
  }

  .bounty_nav li {
    display: block;
  }

  .metamask-banner ol {
    margin-bottom: 0;
  }

  .metamask-banner h3 {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }

  .metamask-banner li {
    text-align: left;
    margin-top: 0.5rem;
  }

  .metamask-banner img {
    margin-bottom: 5px;
  }

  .navbar-network {
    display: none;
  }
}

@media (max-width: 576px) {

  .profile_details #stats {
    padding-right: 10px;
  }

  .profile_details .repos {
    padding-right: 40px;
  }

  .profile_details .repos li {
    margin-bottom: 1em;
  }

  .issue_details {
    flex-direction: column;
  }

  .issue_details div {
    width: 100% !important;
  }

  .profile_details .tips li div.url {
    display: none;
  }
}

@media (max-width: 540px) {
  #primary_form {
    max-width: 100%;
  }

  .no_issue_error ol {
    padding-left: 1px;
    padding-right: 1px;
  }
}

@media (max-width: 481px) {
  #gitcoinTestimonials {
    height: 144px;
    width: 250px;
  }

  .tldr_container img {
    max-width: 150px;
    max-height: 150px;
  }

  .hide_min_viewport {
    display: none !important;
  }

  .header .row.ml-5 {
    margin-left: 0 !important;
    margin-right: 0;
  }

  .header .header-line {
    font-size: 2.5em;
  }

  .header .subheader-line {
    font-size: 1.5em;
  }

  .dashboard .row.bounty_row .col-7 {
    flex: 0 0 80%;
    max-width: 80%;
  }

  .dashboard .row.bounty_row .col-7 .w-75 {
    width: 95% !important;
    padding-left: 3%;
  }

  .bounty_nav {
    display: none;
  }

  #mailchimp,
  .why_gitcoin,
  .why_gitcoin .row {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
  }

  #features .row,
  #features .row .d-flex,
  #origin_story .row,
  #origin_story .row .d-flex,
  .why_gitcoin .row,
  .why_gitcoin .row .d-flex {
    display: block;
    width: 100%;
    text-align: center;
  }

  .advisor {
    margin-left: 10px;
  }

  h4 {
    padding-top: 20px;
  }

  .interior .body {
    width: 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }

  #hero_cta a.btn {
    margin-top: 10px;
  }

  #mission_hero .text {
    margin-top: 1rem;
    margin-left: 0;
  }
}

@media (max-width: 575.98px) {
  .header .header-line {
    font-size: 1.4em;
  }

  .header .subheader-line {
    font-size: 1em;
  }
}

.modal h2 {
  letter-spacing: 0;
}

.modal.delete_account,
.modal.notify_policy_update {
  max-width: 34rem;
}

.notify_policy_update .button {
  padding: 0.25rem 1.25rem;
}

.box_1 {
  color: #011f4b;
  border: 10px solid #011f4b;
}

.box_2 {
  color: #03396c;
  border: 10px solid #03396c;
}

.box_3 {
  color: #005b96;
  border: 10px solid #005b96;
}

.box_4 {
  color: #6497b1;
  border: 10px solid #6497b1;
}

.box_5 {
  color: #b3cde0;
  border: 10px solid #b3cde0;
}

.box_6 {
  color: #d3ddf0;
  border: 10px solid #d3ddf0;
}


@keyframes busyOverlay {
  from {
    opacity: 0.0;
  }
  to {
    opacity: 1.0;
  }
}

div.busyOverlay {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  transform: translateZ(0);
  z-index: 9;
  background-color: rgba(240, 240, 240, 0.3);
  box-shadow: 0 0 100em 0 inset var(--gc-purple);
  animation: busyOverlay 0.3s ease-in;
  animation-fill-mode: both;
  background-repeat: no-repeat;
  background-size: 12em;
  background-position: center;
  background-image: url('/static/v2/images/loading_v2.gif');
}

.expandable {
  overflow: hidden;
  max-height: 0;
  opacity: 0.0;
  transition: 0.3s ease-in-out;
}

.expandable#expanded {
  max-height: 100rem;
  opacity: 1.0;
}

.arrow {
  display: inline-block;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  transition: 0.3s ease;
}

#expanded > .arrow {
  transform: rotateZ(180deg);
}

.uppercase {
  text-transform: uppercase;
}

.middle {
  vertical-align: middle;
}

.g-bold {
  font-weight: bold;
}

.g-text-left {
  text-align: left;
}

/* Bubble */

.popover-bounty {
  background-color: #FFF;
  padding: 0;
  width: 100%;
  max-width: 35em;
  font-size: 12px;
}
.popover-bounty.bs-popover-auto[x-placement^=top] > .arrow::after,
.popover-bounty.bs-popover-top > .arrow::after {
  border-top-color: #F8F8F8;
}

.popover-bounty__footer {
  padding: 1.3em 1.3em 1.2em;
  background-color: #F8F8F8;
  border-radius: 0 0 .3rem .3rem;
}

.popover-bounty__content {
  padding: 1.4em 1.3em 1.3em;
}

.big-popover {
  max-width: 482px;
}

.popover_card {
  border-radius: 5px;
  border: 1px solid #E5E5E5;
}
/* Custom icons */

.g-icon {
  width: 1em;
  height: 1em;
  vertical-align: middle;
  line-height: 1;
}

.g-icon:before {
  content: '';
  width: 1em;
  height: 1em;
  display: inline-block;
}

.g-icon__dot-circle:before {
  border: 0.25em solid currentColor;
  border-radius: 100px;
}

.cta-blue {
  background: #0D0764;
  color: white;
  padding: 1.8rem;
  border-radius: 0.2rem;
}

.privaterepo-instructions {
  background: #F8F8F8;
  padding: 1rem;
}

@media (min-width: 768px) {
  .privaterepo-instructions {
    width: 75%;
  }

}

.g-modal .modal-header,
.g-modal .modal-footer {
  border: none;
}
