div.body{

  min-height: 400px;

}
.hidden{
    display: none !important;
}
div, p, a, span{
    word-wrap: break-word;
}

.navbar-nav .nav-link{
    border-radius: 2px; 
}
.navbar-nav .nav-link:hover{
    background-color:rgba(255,255,255,0.2);;
}
.navbar-nav a.nav-link.selected{
    color: #4aeaa7 !important;
}
.navbar a.slack img{
    max-width: 15px; 
    max-height: 15px; 
    margin-top:-3px; 
    margin-right: 3px; 
    filter: invert(100%);
}

.footer .nav-link:hover{
    border-radius: 2px; 
    background-color:rgba(255,255,255,0.2);;
}
.footer img{
    width: 25px;
    height: 25px;
    filter: invert(100%);
}
.modal{
    z-index: 9;
}
.hidden{
    display: none;
}
.faq_item {
    max-width: 600px;
    margin: 0px auto;
}
.faq_item h5{
    cursor: pointer;
}
.interior .body {
    background-color: white;
}   
.interior {
}

.interior .container-fluid{
    padding-left: 0px;
    padding-right: 0px;
}
.index .container-fluid{
    overflow-x: hidden;
}
.search_bar, .bounty_def{
    background-color: #eee;
    height: 140px;
    padding-top: 10px;
}
.search_bar, .bounty_def #mce-EMAIL{
    display: inline;
    text-transform: uppercase;
    font-size: 14px;
}
.search_bar, .bounty_def #mc-embedded-subscribe{
    display: inline;
    text-transform: uppercase;
}

#mce-EMAIL {
  padding: 5px 10px;
  border: none;
  border-radius: 2px;
}

#mc-embedded-subscribe {
  margin: 0 5px 5px;
}

.bounty_def h5{
    font-size: 1.1rem;   
}
.bounty_def .mt-4{
    margin-top: 10px !important;
}
.interior #logo{
    margin-top: -5px;
}

.interior .header{
    background-size: cover;
}

.howworks_container{
    background-color: white;
    padding-bottom: 40px;
    margin-top: 0px !important;
}

.howworks{
    margin-top: 20px;
}
.howworks ol{
    list-style: none;
}
.howworks ol li {
    margin-bottom: 20px;
}
.howworks ol li img{
    float: left;
    width: 50px;
    height: 50px;
    margin-right: 20px;
}
.howworks ol li.third img{
    height: 40px;
}
.howworks iframe{
    width: 560px; 
    height: 315px;
}

.why_gitcoin_cta {
    padding-bottom: 60px !important;
}

.bg-darkBlue a{
    color: #eee;
}

#feature_videos h6{
    padding-top: 10px;
}

#origin_story img{
    max-height: 200px;
    max-width: 300px;
}

#origin_story .row .col p{
    margin-left: 20px;
    margin-right: 20px;
}
.advisor{
    float:left;
    height: 170px;
    width: 150px;
}

.advisor img{
    max-height: 100px;
    max-width: 100px;
}
p a {
    color: #212529;
    text-decoration: underline;;
}
.modal a.close-modal {
    display: none !important;
}
.iama{
    background: #0d023b; 
    color: white;
    cursor: pointer;
}
.iama a{
    color: white;
    font-weight: lighter;;
}
.iama a.btn{
    color: #f9006c;
}
.iama a.btn:hover{
    color: white;
}
.iama .mt-3{
    width: 40px; 
    height: 40px; 
    border-radius: 20px; 
}

.iama:hover,
.iama.clicked{
    background: #3e24fb; color: #fff
}


.iama:hover .mt-3,
.iama.clicked .mt-3{
    width: 40px; 
    height: 40px; 
    border-radius: 20px; 
}

.iama:first-child{
    border-right: 1px dotted #29eb98;
}
.iama:last-child{
    border-left: 1px dotted #29eb98;
}


.iama img{
    width: 30px;
    height: 30px;
    filter: invert(100%);
}


.btn{
    cursor: pointer;    
}
#hero_cta a.btn{
    padding: 0.6rem 1.05rem;
    font-size: 1.25rem;
}

#hero_cta a img{
    margin-top: -3px;
    height: 20px;
    width: 20px;
    margin-right: 5px;
}

.dashboard .body{
    padding-bottom: 50px;
}

.dashboard .body .row{
    margin-left: 0px;
}
.dashboard .special_tag a{
    max-height: 30px;
}
.dashboard .body .avatar{
    max-height: 50px;
    max-width: 50px;
}
.body .nonefound{
    margin-left: 100px;
    margin-top: 100px;
    text-align: center;
}
.dashboard .body .bounty_row{
    color: #212529;
}
.dashboard .body .bounty_row.local,
.dashboard .body .bounty_row.ropsten{
    border-left: 1px solid red;
}
.dashboard .body .bounty_row:hover{
    background-color: #fafafa;
    cursor: pointer;
    text-decoration: none;;
}
.dashboard .body .sort_option{
    cursor: pointer;
    padding: 5px; 
    border-radius: 5px;
}
.dashboard .body .sort_option:hover{
    background-color: #fafafa;
}
.dashboard .body .sort_option.selected{
    border: 1px solid #212529;
}
.dashboard .body .experience{
    border-radius: 6px; 
    width: 12px; 
    height: 12px;
    background: grey; 
}
.dashboard .body .experience.beginner{
    background: #37ea9c; 
}
.dashboard .body .experience.intermediate{
    background: #fecf32; 
}
.dashboard .body .experience.advanced{
    background: #f9006c; 
}
.dashboard .body .loading{
    text-align: center;
}
.loading_img img{
    max-width: 100px;
}
.dashboard .body .experienence.unknown{
    background: #eee; 
}
.dashboard #clear{
    cursor: pointer;
    margin-top: 30px;
}
.sidebar_search label {
    margin-bottom: 0px;
    cursor: pointer;
}

#mailchimp{
    overflow: hidden;
}
#mailchimp div,
#mailchimp p,
#mailchimp h5
{
    z-index: 9;
}
#mailchimp p{
    margin-top: 0px;
    margin-bottom: 0px;
}
#mailchimp p.email{
    margin-bottom: 2rem;
}

body #mc_embed_signup {
    background: transparent !important;
}
body #mc_embed_signup label {
    font-weight: normal;
}

.form_container{
    text-align: left;
    background-color: white;
    border-radius: 2px; 
    padding-top: 20px;
    padding-bottom: 20px;
}

.form_container input[type=text],
.form_container select,
.form_container textarea{
    background-color: #eee;
}

input[type=text].loading{
    background-image: url('/static/v2/images/loading.gif');
    background-repeat: no-repeat;
    background-position: right;
    background-size: 30px;
}

#upper_left{
    min-height: 140px;
}

#upper_left #sidebar_head{
    text-align: center;
    line-height: 1.3em;
}

#upper_left a{
    color: white;
    text-decoration: underline;;
}
#upper_left img {
    filter: invert(100%);
    margin-bottom: 10px;
    max-width: 40px;
    max-height: 40px;
    display: inline;
}

.blocking_error {
    text-align: center;
    margin: 100px auto;
    max-width: 500px;
}
.blocking_error img {
    max-width: 150px;
    filter: grayscale(80%);
    -moz-filter: grayscale(80%);
    -ms-filter: grayscale(80%);
    -o-filter: grayscale(80%);
}

#no_metamask_error img {
    filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
}
#primary_form img{
    max-width: 100px;
}

.bounty_nav{
    border-bottom: 2px solid #212529;
    padding-bottom: 4px;
}

.bounty_nav li{
    display: inline;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 5px;
    padding: 5px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.bounty_nav li.active{
    background-color: #212529;
    color: white;
}

.submit_bounty #network_status div{
    display: inline;
}

#network_status div span{
    color: #4aeba8;
}
.submit_bounty select[name=deonomination]{
    text-align: left;
}
/* The alert message box */
.alert {
    background-color: #f44336; 
    border-radius: 0px;
    padding: 20px;
    color: white;
    margin-bottom: 1px;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 999999;
}
.alert a{
  color: white;
  text-decoration: underline;;
}

.alert.success {
    background-color: #4CAF50;
}
.alert.info {
    background-color: #2196F3;
}

.alert.warning {
    background-color: #ff9800;
}

/* The close button */
.closebtn {
    color: white;
    cursor: pointer;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    margin-left: 15px;
    transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
    color: black;
}

.modal#save{
    width: 50%;
}
.modal#save img{
    width: 30px;
    height: 30px;
}
.modal#save p{
    display: inline;;
}

.row.nonefound img {
    filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    max-width: 250px;
}
.row.nonefound p {
    margin-bottom: 0px;
}
.bottom_notification {
    padding: 10px 30px;
    background: #3e00ff;
    color: white;
    width: 100%;
    margin-left: 0px;
}
.bottom_notification a {
    color: white;
    text-decoration: underline;
    margin-left: 5px;
}
body.bounty_details .col.body{
    min-height: 1200px;
}

body.bounty_details .left_details {
    text-align: right;
}
body.bounty_details .avatar {
    max-width: 90px;
    max-height: 90px;
    margin: 0px auto;
    border: 1px solid #eaeaea;
    border-radius: 50px; 
    margin-top: 0px;
    margin-bottom: 10px;
}
#bounty_details{
    display: none;
}
body.bounty_details #left_actions,
body.bounty_details #right_actions {
    padding-top: 20px;
    padding-bottom: 10px;
}
body.bounty_details #bounty_details #left_actions
{
    padding-bottom: 25px;
}
body.bounty_details #left_actions a,
body.bounty_details #right_actions a{
    margin: 0px auto;
}
body.bounty_details #right_actions a{
    margin-right: 20px;
    margin-bottom: 20px;
}
body.bounty_details #right_actions h5{
    font-weight: 900;
}
body.bounty_details .boldLabel{
    color: #999999;
    font-weight: 900;
}
body.bounty_details #bounty_details a.btn{
    border-radius: 0.2rem;
}
body.bounty_details a.btn-darkGrey{
    background-color: #e7e7e7;
    color: #474747;
}
body.bounty_details a.btn-darkGrey:hover{
    background-color: #eee;
}
body.bounty_details a.btn-darkBlue:hover{
    background-color: #0a012b;
}

body.bounty_details #title{
    text-align: left;
    padding-top: 20px;
    padding-bottom: 20px;
}

#gitcoin_buttons #example img{
    width: 500px;
    max-width: 100%
}

#gitcoin_buttons .flex-column{
    border-radius: 5px;

}
#gitcoin_buttons .btn.delta_1{
    background-color: #f9006c;
    border: 1px solid white;
}
#gitcoin_buttons .btn.delta_1 span{
    color: #f9006c;
    background-color: white;
}

#gitcoin_buttons .btn.delta_2{
    background-color: #3e00ff;
    border: 1px solid white;
}
#gitcoin_buttons .btn.delta_2 span{
    color: #3e00ff;
    background-color: white;
}

#gitcoin_buttons .btn.delta_3{
    background-color: white;
    border: 1px solid black;
    color: black;
}
#gitcoin_buttons .btn.delta_3 img{
    filter: invert(100%);
}
#gitcoin_buttons .btn.delta_3 span{
    color: white;
    background-color: black;
}

#gitcoin_buttons .btn{
    font-weight: bold;
    margin: 10px;
}
#gitcoin_buttons .btn img {
    width: 24px;
    height: 24px;
}
#gitcoin_buttons .btn span {
    font-size: 10px;
    text-transform: uppercase;;
    border-radius: 4px;
    color: #100136;
    padding: 2px 10px;
    background-color: white;
    margin-left: 5px;
}

.terms_container a{
    color:black;
}

.press_container img{
    max-width:  200px;
    max-height: 100px;
    filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
}
.press_container img:hover{
    max-width:  200px;
    max-height: 100px;
    filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    -ms-filter: grayscale(0%);
    -o-filter: grayscale(0%);
}
.profile_details #stats{
    padding-top: 5px;
    padding-left: 2px;
    padding-right: 2px;
    width: 100%;
}
.profile_details #stats li{
    list-style: none;
    display: inline-block;
    background-color: #efefef;
    width: 24%;
    padding: 5px 10px;
    margin-left: 2px;
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    border-radius: 3px;
}
.profile_details #stats li span{
    font-size: 14px;
    display: block;
    font-weight: normal;
    color: #8a8a8a;
}

.profile_details #hero{
    width: 100%;
    height: 370px;
    background-color: #0d053a;
    background: -webkit-radial-gradient(#3e265a 20%, #1e063a, #1e063a); 
    background: -o-radial-gradient(#3e265a 20%, #1e063a, #1e063a); 
    background: -moz-radial-gradient(#3e265a 20%, #1e063a, #1e063a);
    background: radial-gradient(#3e265a 20%, #1e063a , #1e063a);
    color: white;
    text-align: center;
}
.profile_details #hero li{
    list-style: none;
    display: inline-block;
}
.profile_details #hero img.avatar{
    max-height: 125px;
    max-width: 125px;
    border-radius: 60px;
    border: 3px white solid;
}
.profile_details #hero ul {
    margin-left: 0px;
    padding-left: 0px;
}
.profile_details #hero .authors img{
    max-height: 45px;
    max-width: 45px;
    border-radius: 30px;
    border: 3px white solid;
    margin-right: -20px;
}
.profile_details #hero .ctas img{
    width: 25px;
    height: 25px;
    filter: invert(100%);
    margin: 10px;
}

.profile_details #hero .ctas img:hover{
    filter: invert(90%);
}
.profile_details #hero p{
    color: #919191;
}
.profile_details .bounties li{
    list-style: none;
    padding-top: 10px;
    height: 80px;
}
.profile_details .bounties li:hover{
    background-color: #fafafa;
    cursor: pointer;
}
.profile_details .bounties li a{
    color: black;
}
.profile_details .bounties li a.btn{
    color: white;
}
.profile_details .bounties li div.status{
    height: 80px;
    width: 100px;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
}
.profile_details .bounties li div.details{
    height: 80px;
    width: 600px;
    display: inline-block;
}
.profile_details .bounties li div.details p{
    color: #919191;
}
.profile_details .bounties li .amount{
    height: 80px;
    width: 200px;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
}
.profile_details h6{
    font-weight: bold;
}
.profile_details .repos li{
    list-style: none;
    padding-left: 105px;
    min-height: 60px;
}
.profile_details .repos li a{
    color: black;
    text-decoration: none;
}
.profile_details .repos li:hover{
    background-color: #fafafa;
    cursor: pointer;
}
.profile_details .repos li p{
    color: #919191;
}
.profile_details .repos li p.meta{
    float: right;
    padding-right: 10px;
}
.profile_details .dot, 

#leaderboard .leaderboard_entry .position{
   color:lightgray;
}
/* #leaderboard .leaderboard_entry tr{
    height: 80px;
 } */

.profile_details li:nth-child(2n+0) .dot,
#leaderboard .leaderboard_entry:nth-child(2n+0) .dot
{
    background: #f8f8f8; 
}
.profile_details li:nth-child(2n+1) .dot,
#leaderboard .leaderboard_entry:nth-child(2n+1) .dot
{
    background: black; 
}
#leaderboard .dot{
    margin-left: 0px;
    margin-top: 40px;
}
#leaderboard .leaderboard_entry{
    padding: 10px 0px;
}

#leaderboard .leaderboard_entry img{
    max-height: 100px; 
    border-radius: 50%;
}
#leaderboard .leaderboard_entry{
    color: black;
    text-decoration: none;
}

#leaderboard .leaderboard_entry a{
    color: #8b8b8b;
}

#leaderboard .leaderboard_entry .item-amount{
   font-size:1.5em;
   font-weight: bold;
   color: #86eec4;
}

#leaderboard .table-striped tbody tr:nth-of-type(2n+1) {
    background-color: #f8f8f8;
}


#leaderboard #key{
    right: 0px;
    display: block;
    position: absolute;
    margin-right: 10px;
    margin-top: 5px;
}

#leaderboard .podium {
    background: #f5136e; /* For browsers that do not support gradients */
    background: -webkit-gradient(linear, center top, center bottom, from(#f5136e), to(#0f023c));
    background: -webkit-linear-gradient(#f5136e, #0f023c);
    background: -moz-linear-gradient(#f5136e, #0f023c);
    background: -o-linear-gradient(#f5136e, #0f023c);
    background: -ms-linear-gradient(#f5136e, #0f023c);
    background: linear-gradient(#f5136e, #0f023c);
}


#leaderboard .winner {
    position: relative;
    padding: 0px;
}

#leaderboard .winner-content {
    top:40%;
    left:0;
    position: absolute;
}



#leaderboard .winner-content .winner-position {
    width: 100%;
    min-height: 100px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#leaderboard .winner-content .winner-position-first  {
    background-image: url('/static/v2/images/leaderboard-1.png');
}

#leaderboard .winner-content .winner-position-second  {
    background-image: url('/static/v2/images/leaderboard-2.png');
}

#leaderboard .winner-content .winner-position-third  {
    background-image: url('/static/v2/images/leaderboard-3.png');
}


#leaderboard .winner img{
    opacity: 0.5;
}

#leaderboard .winner img:hover{
    opacity: 0.55;
}

#leaderboard .winner a{
    color:white;
}

#pull_gh {
    font-size: 12px
}

@media (max-width: 1350px) {
    .profile_details .bounties li div.details{
        width: 500px;
    }
}
@media (max-width: 1250px) {
    .profile_details .bounties li div.details{
        width: 400px;
    }
}
@media (max-width: 1025px) {
    #leaderboard .leaderboard_entry div{
        width: 30%;
    }
    #leaderboard .leaderboard_entry div:nth-child(2){
        width: 30%;
    }

    .profile_details .bounties li div.status,
    .profile_details .bounties li .amount{
        display: none;
    }
    .profile_details .repos li,
    .profile_details .bounties li div.details{
        padding-left: 0px;
        width: 100%;
    }
    .profile_details .repos li p.meta{
        display: none;
    }

    .interior .col-3{
        display: none;
    }
    .howworks iframe{
        width: 460px; 
        height: 258px;
    }
    .advisor{
        width: 130px;
    }
    .whitepaper .row .col-1,
    .whitepaper .row .col-4{
        display: none;
    }
    .whitepaper .row .col-6{
        width: 90%;
        flex: 0 0 90%;
        max-width: 90%;
        padding-left: 10px;
        padding-right: 10px;
        margin: 0px auto;
    }
    .bounty_def .col-7{
        width: 80%;
        flex: 0 0 80%;
        max-width: 80%;
        padding-left: 20px !important;
    }
    .bounty_def .ml-3{
        font-size: .9rem;
    }
    .bounty_def h5{
        font-size: 1.3rem;   
    }
    .bounty_def .mt-4{
        margin-top: 10px !important;
    }
}
@media (max-width: 769px) {
    .email_settings .col-4 {
        display: none;
    }
    .email_settings .col-6 {
        max-width: 100%;
        flex: 0 0 100%;
    }
    .profile_details #stats li{
        width: 48%;
    }
    .profile_details #hero{
        height: 400px;
    }
    body.bounty_details .left_details{
        display: none;
    }
    body.bounty_details .right_details{
        margin-left: 30px;
        width: 100%;
        max-width: 90%;
    }

    #team .row,
    #team .row .d-flex,
    .row.howworks .d-flex,
    .row.howworks{
        display: block;
        width: 100%;
    }
    #team .row div{
        text-align: center;
    }
    #team .row img.img-fluid{
        float: none !important;
    }
    .howworks iframe{
        width: 460px; 
        height: 250px;
    }
    .advisor{
        width: 100px;
        float: none;
        display: inline-block;;
    }
    .avatar-img-wrapper{
        padding-left: 1rem !important;
        padding-right: 1rem !important;
    }
    .bounty_def .mt-4{
        margin-top: 0px !important;
    }
    .search_bar .sort_row{
        display: none !important;
    }
    .search_bar{
        height: 90px ;
    }
    .dash-filter-header{
        font-size: 1rem;
    }
    #hero_cta a.btn{
        padding: .5rem .75rem;
        font-size: 1rem;
    }
    .bounty_def h5{
        font-size: 1.2rem;   
    }

}
@media (max-width: 481px) {
    #leaderboard .leaderboard_entry h4{
        font-size: 18px;
    }

    .hide_min_viewport{
        display: none !important;
    }
    .header .row.ml-5{
        margin-left: 0em !important;
    }   
    .header .header-line{
        font-size: 2.5em;
    }   
    .header .subheader-line{
        font-size: 1.5em;
    }   

    .dashboard .row.bounty_row .col-7{
        flex: 0 0 80%;
        max-width: 80%;
    }
    .dashboard .row.bounty_row .col-7 .w-75{
        width: 95% !important;
        padding-left: 3%;
    }
    .bounty_nav{
        display: none;
    }

    #mailchimp,
    .why_gitcoin,
    .why_gitcoin .row{
        margin-left: 0px;
        margin-right: 0px;
        padding-left: 0px;
        padding-right: 0px;
    }

    #features .row,
    #features .row .d-flex,
    #origin_story .row,
    #origin_story .row .d-flex,
    .why_gitcoin .row,
    .why_gitcoin .row .d-flex{
        display: block;
        width: 100%;
        text-align: center;
    }
    .row.howworks .d-flex,
    .row.howworks{
        text-align: left;
    }

    .row.howworks .font-bigger-2{
        font-size: 1rem;
    }
    .row.howworks iframe{
        width: 280px; 
        height: 170px;
        margin: 0px auto;
    }
    #get .row{
        display: block;
    }
    #get .row .iama{
        margin-bottom: 5px;
    }
    .advisor{
        margin-left: 10px;
    }
    h4{
        padding-top: 20px;
    }
    .bounty_def .col-7{
        padding-left: 40px !important;
        font-size: .8rem;
    }
    .search_bar span{
        display: none;
    }
    .interior .body{
        width: 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
    #hero_cta a.btn{
        margin-top: 10px;
    }
    .bounty_def h5{
        font-size: .9rem;   
    }

}
@media (max-width: 350px) {
    img#logo{
        width: 150px;
        height: 37px;
    }
    .header .header-line{
        font-size: 1.5em;
    }   
    .header .subheader-line{
        font-size: 1.2em;
    }   
    .bounty_def h5{
        font-size: .8rem;   
    }
}

