/* stylelint-disable no-descending-specificity */

/* ...because sometimes descending-specificity is a PIA to clean up */

div.body {
  min-height: 400px;
}

.hidden {
  display: none !important;
}

div,
p,
a,
span {
  word-wrap: break-word;
}

.nav_avatar {
  cursor: pointer;
}

.dropdown-menu{
  z-index: 9999999999;
}

.navbar {
  font-family: 'futura-pt', Futura, sans-serif;
}

.navbar-nav .nav-link {
  border-radius: 2px;
}

.nav-link.login svg {
  font-size: 1.5em;
  position: relative;
  top: 3px;
  margin-right: 10px;
}

.navbar-nav .nav-link:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.navbar-nav a.nav-link.selected {
  color: #4aeaa7 !important;
}

.navbar a.slack svg {
  margin-right: 3px;
}

.footer .nav-link:hover {
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0.2);
}

.footer img {
  width: 25px;
  height: 25px;
  filter: invert(100%);
}

.modal {
  z-index: 9;
  border-radius: 4px !important;
}

#tutorials li{
  list-style: none;
}

.tutorial_item{
  background-color: #fff;
}

.tutorial_parent{
  background-color: #fff;
  border-bottom: 1px solid #000;
}

.tutorial_parent:nth-child(even){
  background-color: #fafafa;
}

.tutorial_item img{
  max-width: 300px;
}

.tutorial_item a{
  font-size: 28px;
  color: #000;
}

.faq_item {
  margin: 0 auto;
}

.faq_item h5 {
  cursor: pointer;
  text-transform: none;
}

.interior .body {
  background-color: white;
}

.interior .body.loading {
  display: block;
  flex: none;
  max-width: none;
  margin-left: 0;
}

.interior .container-fluid {
  padding-left: 0;
  padding-right: 0;
}

.with-grey-background .body {
  background-color: #eee !important;
}

.index .container-fluid {
  overflow-x: hidden;
}

.bounty_def {
  background-color: #eee;
  height: 140px;
  padding-top: 10px;
}

.bounty_def #mce-EMAIL {
  display: inline;
  text-transform: uppercase;
  font-size: 14px;
}

.bounty_def #mc-embedded-subscribe {
  display: inline;
  text-transform: uppercase;
}

#mce-EMAIL:focus {
  outline: none;
}

#mc-embedded-subscribe:hover {
  cursor: pointer;
}

#mc-embedded-subscribe:focus {
  box-shadow: none;
}

#mc_embed_signup_scroll #mce-EMAIL {
  font-size: 1rem !important;
  height: 45px !important;
  padding: .1em 1em !important;
  border: none !important;
  border-radius: 3px 0 0 3px !important;
}

#mc_embed_signup_scroll #mc-embedded-subscribe {
  transition: none;
  font-size: 1.25rem;
  padding: 0 20px;
  height: 45px;
  border-radius: 0 3px 3px 0;
  margin-left: -3px;
  border: none;
}

#mc_embed_signup_scroll #mc-embedded-subscribe:hover {
  background: #cf005a;
  color: white;
}

#mc_embed_signup_scroll #mc-embedded-subscribe svg {
  margin-left: 5px;
}

.bounty_def h5 {
  font-size: 1.1rem;
}

.bounty_def .mt-4 {
  margin-top: 10px !important;
}

.interior #logo {
  margin-top: -5px;
}

.interior .header {
  background-size: cover;
}

.tldr_container {
  font-size: 4em;
}

.tldr_container img {
  max-width: 350px;
  max-height: 350px;
  padding-bottom: 20px;
}

.whatisit_container,
.howworks_container {
  background-color: white;
  padding-bottom: 40px;
  margin-top: 0 !important;
}

.whatisit,
.howworks {
  margin-top: 20px;
}

.whatisit ol,
.howworks ol {
  list-style: none;
}

.whatisit ol li,
.howworks ol li {
  margin-bottom: 20px;
}

.whatisit ol li img,
.howworks ol li img {
  float: left;
  width: 50px;
  height: 50px;
  margin-right: 20px;
}

.whatisit ol li.third img,
.howworks ol li.third img {
  height: 40px;
}

.whatisit iframe,
.howworks iframe {
  width: 560px;
  height: 315px;
}

.why_gitcoin_cta {
  padding-bottom: 60px !important;
}

.bg-darkBlue a {
  color: #eee;
}
#feature_videos .video {
  text-align: center;
}
#feature_videos h6 {
  padding-top: 10px;
}

#origin_story .row .col p {
  margin-left: 20px;
  margin-right: 20px;
}

.advisor {
  float: left;
  height: 170px;
  width: 150px;
}

.advisor img {
  max-height: 100px;
  max-width: 100px;
}

p a {
  color: #212529;
  text-decoration: underline;
}

.modal a.close-modal {
  display: none !important;
}

.modal-close {
  float:right;
}

.iama {
  background: #0d023b;
  color: white;
  cursor: pointer;
  -moz-transition: background-color 0.2s ease-in-out;
  -webkit-transition: background-color 0.2s ease-in-out;
  -ms-transition: background-color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out;
}

.iama a {
  color: white;
  font-weight: lighter;
}

.iama a.btn {
  color: #f9006c;
}

.iama a.btn:hover {
  color: white;
}

.iama .mt-3 {
  width: 40px;
  height: 40px;
  border-radius: 20px;
}

.iama:hover,
.iama.clicked {
  background: #3e24fb;
  color: #fff;
}

.iama:hover .mt-3,
.iama.clicked .mt-3 {
  width: 40px;
  height: 40px;
  border-radius: 20px;
}

.iama:first-child {
  border-right: 1px dotted #29eb98;
}

.iama:last-child {
  border-left: 1px dotted #29eb98;
}

.iama img {
  width: 30px;
  height: 30px;
  filter: invert(100%);
}

.btn-warning,
.btn-success,
.btn-info {
  padding: 0.4rem 1.4rem;
  font-size: 1.25rem;
  border: 2px solid #15003e;
  transition: none;
}

.btn-warning:hover,
.btn-success:hover,
.btn-info {
  cursor: pointer;
}

.btn-info:hover {
  background-color: #15003e;
  border-color: #15003e;
  color: #f9006c;
}

.btn-warning {
  color: #15003e;
}

.btn {
  cursor: pointer;
}

.btn-warning:hover {
  background-color: #15003e;
  border-color: #15003e;
  color: #ffce08;
}

.btn-success {
  color: #15003e;
}

.btn-success:hover {
  background-color: #15003e;
  border-color: #15003e;
  color: #25e899;
}

.btn:focus {
  box-shadow: none;
}

#hero_cta a.btn-warning {
  padding: 0.6rem 1.05rem;
  background-color: #ffce08;
  border-color: #ffce08;
  color: #15003e;
}

#hero_cta a.btn-warning:hover {
  background-color: #15003e;
  color: #ffce08;
}

#hero_cta a img {
  margin-top: -3px;
  height: 20px;
  width: 20px;
  margin-right: 5px;
}

.dashboard .body {
  padding-bottom: 50px;
}

.dashboard .body .row {
  margin-left: 0px;
}

.dashboard .special_tag a {
  max-height: 30px;
}

.dashboard .body .avatar {
  max-height: 50px;
  max-width: 50px;
}

.body .nonefound {
  margin-left: 100px;
  margin-top: 100px;
  text-align: center;
}

.dashboard .body .bounty_row.local,
.dashboard .body .bounty_row.ropsten {
  border-left: 1px solid red;
}

.dashboard .body .experience {
  border-radius: 6px;
  width: 12px;
  height: 12px;
  background: grey;
}

.dashboard .body .experience.beginner {
  background: #37ea9c;
}

.dashboard .body .experience.intermediate {
  background: #fecf32;
}

.dashboard .body .experience.advanced {
  background: #f9006c;
}

.dashboard .body .loading {
  text-align: center;
}

.loading_img img {
  max-width: 100px;
}

.dashboard .body .experienence.unknown {
  background: #eee;
}

#mailchimp {
  overflow: hidden;
}

#mailchimp div,
#mailchimp p,
#mailchimp h5 {
  z-index: 9;
}

#mailchimp p {
  margin-top: 0px;
  margin-bottom: 0px;
}

#mailchimp p.email {
  margin-bottom: 2rem;
}

body #mc_embed_signup {
  background: transparent !important;
}

body #mc_embed_signup label {
  font-weight: normal;
}

.form_container {
  text-align: left;
  background-color: white;
  border-radius: 2px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 50px;
}

textarea.loading,
input[type=text].loading {
  background-image: url('/static/v2/images/loading_v2.gif');
  background-repeat: no-repeat;
  background-position: right;
  background-size: 30px;
}

.blocking_error {
  padding: 0 4em;
  text-align: center;
  margin: 100px auto;
  max-width: 100%;
}

.blocking_error img {
  max-width: 150px;
  filter: grayscale(80%);
  -moz-filter: grayscale(80%);
  -ms-filter: grayscale(80%);
  -o-filter: grayscale(80%);
}

#no_metamask_error img {
  filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
}

#primary_form {
  max-width: 500px;
  margin: 0 auto;
  padding: 0 2em;
}

.submit_bounty .select2-search,
.fulfill_bounty .select2-search,
.submit_bounty .select2-results__option,
.fulfill_bounty .select2-results__option {
  font-size: 0.875rem;
  font-family: "Muli", sans-serif;
}

.submit_bounty .select2-results__option,
.fulfill_bounty .select2-results__option {
  padding-left: 0.625rem;
  padding-right: 0.625rem;
}

#primary_form img {
  max-width: 100px;
}

#primary_form .github-username {
  margin-top: 14px !important;
}

#primary_form small {
  display: inline;
}

#primary_form #amount {
  height: 37px;
}

.bounty_nav {
  border-bottom: 2px solid #212529;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

.bounty_nav li {
  display: inline;
  padding: 5px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.bounty_nav li.active {
  background-color: #212529;
  color: white;
}

.submit_bounty #network_status div {
  display: inline;
}

#network_status div span {
  color: #4aeba8;
}

.submit_bounty select[name=deonomination] {
  text-align: left;
}

/* The alert message box */

.alert {
  align-items: center;
  background-color: #3E00FF;
  border-radius: 0px;
  box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.24);
  color: white;
  display: flex;
  font-family: 'Muli', sans-serif;
  justify-content: space-between;
  padding: 20px;
  margin-bottom: 1px;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 999999;
}

.alert .message {
  align-items: center;
  display: flex;
}

.alert .message::before {
  content: url('/static/v2/images/info.svg');
  margin-right: 10px;
}

.alert a {
  color: white;
  text-decoration: underline;
}

.alert.error {
  background-color: #C70018;
}

.alert.error .message::before {
  content: url('/static/v2/images/close.svg');
  height: 30px;
}

.alert.success {
  background-color: #00A652;
}

.alert.success .message::before {
  content: url('/static/v2/images/success.svg');
  height: 30px;
}

.alert.info {
  background-color: #008EFF;
}

.alert.info .message::before {
  content: url('/static/v2/images/info.svg');
  height: 30px;
}

.alert.warning {
  background-color: #F2A700
}

.alert.warning .message::before {
  content: url('/static/v2/images/warning.svg');
  height: 28px;
}

/* The close button */

.closebtn {
  color: white;
  cursor: pointer;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  margin-left: 15px;
  transition: 0.3s;
}

/* When moving the mouse over the close button */

.closebtn:hover {
  color: black;
}

.modal#save {
  width: 100%;
}

.modal#save img {
  width: 30px;
  height: 30px;
}

.modal#save p {
  display: inline;
}

.row.nonefound {
  margin-right: 0px;
}

.row.nonefound img {
  filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  max-width: 250px;
}

.row.nonefound p {
  margin-bottom: 0px;
}

.bottom_notification {
  padding: 10px 30px;
  background: #3e00ff;
  color: white;
  width: 100%;
  margin-left: 0px;
}

.metamask_recc {
  width: 45%;
  display: inline-block;
}

#metamask_context {
  background-color: #fafafa;
  border-radius: 5px;
}

#metamask_context .warning {
  text-align: center;
  background-color: #ff9800;
  border-radius: 5px;
}

#metamask_context .warning a {
  color: black;
  font-weight: bold;
}

.bottom_notification a {
  color: white;
  text-decoration: underline;
  margin-left: 5px;
}

.transaction-status {
  font-family: 'Muli', sans-serif;
  display: block;
  position: relative;
  width: 80%;
  left: 10%;
  top: 30px;
  margin-bottom: 30px;
  border-radius: 2px;
  padding: 3vh 5vw;
  text-align: center;
}

.waiting_room_entertainment {
  font-style: italic;
  text-align: center;
}

.quote-container {
  width: 65%;
  margin: 5% auto;
}

.quote_text {
  color: #4A4A4A;
  font-style: italic;
  font-weight: 700;
  font-size: 22px;
  letter-spacing: 0.75px;
}

.quote_author {
  color: #70EFBE;
  margin-top: 20px;
  font-style: italic;
  font-weight: 700;
  font-size: 22px;
  letter-spacing: 0.75px;
}

#gitcoin_buttons #example img {
  width: 500px;
  max-width: 100%
}

#gitcoin_buttons .flex-column {
  border-radius: 5px;
}

#gitcoin_buttons .btn.delta_1 {
  background-color: #f9006c;
  border: 1px solid white;
}

#gitcoin_buttons .btn.delta_1 span {
  color: #f9006c;
  background-color: white;
}

#gitcoin_buttons .btn.delta_2 {
  background-color: #3e00ff;
  border: 1px solid white;
}

#gitcoin_buttons .btn.delta_2 span {
  color: #3e00ff;
  background-color: white;
}

#gitcoin_buttons .btn.delta_3 {
  background-color: white;
  border: 1px solid black;
  color: black;
}

#gitcoin_buttons .btn.delta_3 img {
  filter: invert(100%);
}

#gitcoin_buttons .btn.delta_3 span {
  color: white;
  background-color: black;
}

#gitcoin_buttons .btn {
  font-weight: bold;
  margin: 10px;
}

#gitcoin_buttons .btn img {
  width: 24px;
  height: 24px;
}

#gitcoin_buttons .btn span {
  font-size: 10px;
  text-transform: uppercase;
  border-radius: 4px;
  color: #100136;
  padding: 2px 10px;
  background-color: white;
  margin-left: 5px;
}

.terms_container a {
  color: black;
}

.press_container {
  background: white;
}

.press_container img {
  max-width: 200px;
  max-height: 100px;
  filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
}

.press_container img:hover {
  max-width: 200px;
  max-height: 100px;
  filter: grayscale(0%);
  -moz-filter: grayscale(0%);
  -ms-filter: grayscale(0%);
  -o-filter: grayscale(0%);
}

.body {
  padding-bottom: 4em;
}

.profile_details .dot {
  border-radius: 6px;
  width: 12px;
  height: 12px;
  margin-left: -55px;
  float: left;
  vertical-align: middle;
  margin-top: 20px;
}

.profile_details li:nth-child(2n+0) .dot {
  background: #919191;
}

.profile_details li:nth-child(2n+1) .dot {
  background: black;
}

.profile_details #stats {
  padding-top: 5px;
  padding-left: 2px;
  padding-right: 2px;
  width: 100%;
}

.profile_details #stats li {
  list-style: none;
  display: inline-block;
  background-color: #efefef;
  width: 24%;
  padding: 5px 10px;
  margin-left: 2px;
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  border-radius: 3px;
  margin-top: 10px;
}

.profile_details #stats li span {
  font-size: 14px;
  display: block;
  font-weight: normal;
  color: #8a8a8a;
}

.profile_details #hero {
  width: 100%;
  background: #0d053a;
  background: -webkit-radial-gradient(#3e265a 20%, #1e063a, #1e063a);
  background: -o-radial-gradient(#3e265a 20%, #1e063a, #1e063a);
  background: -moz-radial-gradient(#3e265a 20%, #1e063a, #1e063a);
  background: radial-gradient(#3e265a 20%, #1e063a, #1e063a);
  color: white;
  text-align: center;
}

.profile_details #hero li {
  list-style: none;
  display: inline-block;
}

.profile_details #hero img.avatar {
  max-height: 125px;
  max-width: 125px;
  border-radius: 60px;
  border: 3px white solid;
}

.profile_details #hero ul {
  margin-left: 0px;
  padding-left: 0px;
}

.profile_details #hero .authors img {
  max-height: 45px;
  max-width: 45px;
  border-radius: 30px;
  border: 3px white solid;
  margin-right: -20px;
}

.profile_details #hero .ctas img {
  width: 25px;
  height: 25px;
  filter: invert(100%);
  margin: 10px;
}

.profile_details #hero .ctas img:hover {
  filter: invert(90%);
}

.profile_details #hero p {
  color: #919191;
}

.profile_details .tips li:first-child:hover {
  cursor: none;
  background-color: white;
}

.profile_details .tips li {
  list-style: none;
  padding-top: 10px;
  height: 80px;
}

.profile_details .tips li:hover,
.bounty-row:hover, .tip-row:hover {
  background-color: #fafafa;
  cursor: pointer;
}

.profile_details .tips li a {
  color: black;
}

.profile_details .tips li a.btn,
.bounty-value, .tip-value {
  color: white!important;
}

.profile_details .tips li div.url,
.profile_details .tips li div.from_username {
  height: 80px;
  width: 100px;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
}

.profile_details .tips div.url,
.profile_details .tips li div.url {
  width: 600px;
}

.profile_details .tips li div.details {
  height: 80px;
  width: 500px;
  display: inline-block;
  vertical-align: top;
}

.profile_details .tips li div.details p,
.bounty-desc {
  color: #919191;
}

.profile_details .tips li .amount

.profile_details h6 {
  font-weight: bold;
}

.profile_details .repos li {
  list-style: none;
  padding-left: 105px;
  min-height: 60px;
}

.profile_details .repos li a {
  color: black;
  text-decoration: none;
}

.profile_details .repos li:hover {
  background-color: #fafafa;
  cursor: pointer;
}

.profile_details .repos li p {
  color: #919191;
}

.profile_details .repos li p.meta {
  float: right;
  padding-right: 10px;
}

.profile_details .dot,
.profile_details li:nth-child(2n+0) .dot {
  background: #919191;
}

#pull_gh {
  font-size: 12px
}

.dashboard .w-75 .github-comment {
  background: url('/static/v2/images/icon-msg-16.png') no-repeat left;
  padding-left: 18px;
  margin-right: 10px;
  display: inline-block;
}

/* Mission Page */

.mission {
  font-family: Futura, sans-serif;
}

.text-highlight-green {
  color: #12c971;
}

.text-highlight-dark-blue {
  color: #220e90;
}

.text-highlight-pink {
  color: #da086b;
}

#mission_hero .text {
  margin-left: 2rem;
}

#mission_hero .font-bigger-4 {
  letter-spacing: 0.15rem;
}

#we_want,
#we_value,
#we_interact {
  padding: 0 10vw;
}

.mission-divider {
  width: 90vw;
  border-color: black;
}

#interest_list {
  margin-left: 0;
  padding-left: 0;
}

#interest_list li {
  list-style: none;
}

input.is-invalid {
  border-color: red;
}

.faucet_response {
  display: none;
}

.faucet_response .frheader {
  font-size: xx-large;
}

.faucet_response .frmessage {
  font-size: large;
}

.tooltip-info {
  font-family: 'Muli', sans-serif;
  padding: 10px 20px;
  margin: 0;
  width: 25em;
}

.ui-widget-shadow {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1) !important;
}

.tooltip-info p {
  margin-bottom: 10px;
}

.tooltip-info .font-subheader {
  margin-top: 10px;
}

.tooltip-info .row {
  margin-bottom: 15px;
}

.tooltip-info .col-11 {
  padding-left: 0;
}


#gitcoinTestimonials {
  height: 288px;
  width: 500px;
}

#alpha {
  color: #000000;
  background-color: #ffce05;
  border-radius: 4px;
  text-transform: uppercase;
  font-size: 14px;
  padding: 4px 7px;
  font-family: 'Muli', sans-serif;
  font-weight: 100;
  letter-spacing: 0.15em;
  margin: 5px;
  vertical-align: top;
  display: inline-block;
}

#alpha.small {
  font-size: 8px;
  padding: 3px 5px;
  margin: 2px;
}

/* Dropdown styles */

.ui-selectmenu-button.ui-button {
  background: #FFF;
  border-color: #0D0764;
  line-height: 16px;
  padding: .4em .75em;
}

.ui-selectmenu-icon.ui-icon {
  background: url('/static/v2/images/caret-down.png') !important;
  background-repeat: no-repeat;
  background-position: 0 !important;
  background-size: 10px 6px !important;
  margin-top: 5px !important;
  height: 6px;
  width: 10px;
}

.ui-widget.ui-widget-content {
  border: none !important;
  border-radius: 2px;
  background: #FAFAFA !important;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.12);
}

.ui-menu-item-wrapper {
  font-size: 12px;
  padding: .4em .75em !important;
}

.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-button.ui-state-active:hover {
  border: 1px solid #0D0764 !important;
  background: #0D0764 !important;
}

.ui-button:hover,
.ui-button:focus {
  border: 1px solid #0D0764 !important;
  background: #FAFAFA !important;
}

@media (max-width: 1350px) {
  .profile_details .tips li div.details {
    width: 300px;
  }

  .profile_details .tips div.url,
  .profile_details .tips li div.url {
    width: 400px;
  }
}

@media (max-width: 1250px) {
  .profile_details .tips li div.details {
    width: 400px;
  }
}

@media (max-width: 1025px) {
  #faq .col-4 {
    max-width: 100%;
    flex: 0 0 100%;
  }

  .tldr_container img {
    max-width: 300px;
    max-height: 300px;
  }

  #bounty_details {
    margin: 15px;
  }

  .profile_details .tips li div.details,
  .profile_details .tips li .url {
    display: none;
  }

  .profile_details .tips li div.details,
  .profile_details .repos li {
    padding-left: 0;
    width: 100%;
  }

  .profile_details .repos li p.meta {
    display: none;
  }

  .whatisit iframe,
  .howworks iframe {
    width: 460px;
    height: 258px;
  }

  .advisor {
    width: 130px;
  }

  .whitepaper .row .col-1,
  .whitepaper .row .col-4 {
    display: none;
  }

  .whitepaper .row .col-6 {
    width: 90%;
    flex: 0 0 90%;
    max-width: 90%;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0 auto;
  }

  .bounty_def .col-7 {
    width: 80%;
    flex: 0 0 80%;
    max-width: 80%;
    padding-left: 20px !important;
  }

  .bounty_def .ml-3 {
    font-size: .9rem;
  }

  .bounty_def h5 {
    font-size: 1.3rem;
  }

  .bounty_def .mt-4 {
    margin-top: 10px !important;
  }

  #mission_hero .font-bigger-4 {
    font-size: 1.3rem;
  }

  #mission_hero .mission-img-wrapper {
    height: 175px;
  }

  #mission_hero .mission-img-wrapper img {
    max-height: 175px;
  }
}

@media (max-width: 769px) {

  #gitcoinTestimonials {
    height: 202px;
    width: 350px;
  }

  .tldr_container img {
    max-width: 250px;
    max-height: 250px;
  }

  .email_settings .col-4 {
    display: none;
  }

  .email_settings .col-6 {
    max-width: 100%;
    flex: 0 0 100%;
  }

  .profile_details #stats li {
    width: 48%;
  }

  .profile_details #hero {
    height: 400px;
  }

  body.bounty_details .right_details {
    margin-left: 30px;
    width: 100%;
    max-width: 90%;
  }

  body.slack .col-4 {
    display: none;
  }

  body.slack .col-6 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .row.whatisit .explainer {
    margin-top: 30px;
  }

  .bounty_def {
    height: 160px;
  }

  #team .row,
  #team .row .d-flex,
  .row.whatisit .d-flex,
  .row.whatisit .row.howworks .d-flex,
  .row.howworks {
    display: block;
    width: 100%;
  }

  #team .row div {
    text-align: center;
  }

  #team .row img.img-fluid {
    float: none !important;
  }

  .whatisit iframe,
  .howworks iframe {
    width: 460px;
    height: 250px;
  }

  .advisor {
    width: 100px;
    float: none;
    display: inline-block;
  }

  .avatar-img-wrapper {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
  }

  .bounty_def .mt-4 {
    margin-top: 0 !important;
  }

  .search_bar .sort_row {
    display: none !important;
  }

  #hero_cta a.btn {
    padding: .5rem .75rem;
    font-size: 1rem;
  }

  .bounty_def h5 {
    font-size: 1.2rem;
  }

  #mc_embed_signup_scroll #mce-EMAIL {
    border-radius: 3px !important;
  }

  #mc_embed_signup_scroll #mc-embedded-subscribe {
    margin-top: 15px;
    border-radius: 3px;
  }

  #mission_hero .font-bigger-4 {
    font-size: 1rem;
  }

  #mission_hero .mission-img-wrapper {
    height: 150px;
  }

  #mission_hero .mission-img-wrapper img {
    max-height: 150px;
  }

  .tooltip-info {
    display: none;
  }
}

@media (max-width: 540px) {
  #primary_form {
    max-width: 100%;
  }
}

@media (max-width: 481px) {
  #gitcoinTestimonials {
    height: 144px;
    width: 250px;
  }

  .tldr_container img {
    max-width: 150px;
    max-height: 150px;
  }

  .hide_min_viewport {
    display: none !important;
  }

  .header .row.ml-5 {
    margin-left: 0 !important;
  }

  .header .header-line {
    font-size: 2.5em;
  }

  .header .subheader-line {
    font-size: 1.5em;
  }

  .dashboard .row.bounty_row .col-7 {
    flex: 0 0 80%;
    max-width: 80%;
  }

  .dashboard .row.bounty_row .col-7 .w-75 {
    width: 95% !important;
    padding-left: 3%;
  }

  .bounty_nav {
    display: none;
  }

  #mailchimp,
  .why_gitcoin,
  .why_gitcoin .row {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
  }

  #features .row,
  #features .row .d-flex,
  #origin_story .row,
  #origin_story .row .d-flex,
  .why_gitcoin .row,
  .why_gitcoin .row .d-flex {
    display: block;
    width: 100%;
    text-align: center;
  }

  .row.whatisit .d-flex,
  .row.whatisit,
  .row.howworks .d-flex,
  .row.howworks {
    text-align: left;
  }

  .row.whatisit .font-bigger-2,
  .row.howworks .font-bigger-2 {
    font-size: 1rem;
  }

  .row.whatisit iframe,
  .row.howworks iframe {
    width: 280px;
    height: 170px;
    margin: 0 auto;
  }

  #get .row {
    display: block;
  }

  #get .row .iama {
    margin-bottom: 5px;
  }

  .advisor {
    margin-left: 10px;
  }

  h4 {
    padding-top: 20px;
  }

  .bounty_def {
    display: none;
  }

  .search_bar span {
    display: none;
  }

  .interior .body {
    width: 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }

  #hero_cta a.btn {
    margin-top: 10px;
  }

  #mission_hero .text {
    margin-top: 1rem;
    margin-left: 0;
  }
}

@media (max-width: 350px) {
  .header .header-line {
    font-size: 1.5em;
  }

  .header .subheader-line {
    font-size: 1.2em;
  }

  .bounty_def h5 {
    font-size: .8rem;
  }
}

@media (max-width: 576px) {

  .profile_details #stats {
    padding-right: 10px;
  }

  .profile_details .repos {
    padding-right: 40px;
  }

  .profile_details .repos li {
    margin-bottom: 1em;
  }

  .issue_details {
    flex-direction: column;
  }

  .issue_details div {
    width: 100% !important;
  }

  .profile_details .tips li div.url {
    display: none;
  }
}

@media (max-width: 768px) {
  .bounty_nav {
    padding-left: 0;
  }

  .bounty_nav li {
    display: block;
  }
}

@media (max-width: 991.98px) {
  #sidebar_container {
    display: none;
  }
}
