.line-deco:after {
  content: '';
  position: absolute;
  top: 4em;
  border: 1px solid #F5F6F6;
  bottom: 2em;
  /* height: 100%; */
  left: 2.25em;
}

.list-bounty-item + .list-bounty-item {
  border-top: 1px solid #dee2e6;
}

.comment-plan {
  color: #666666;
  white-space: pre-line;
  max-height: 100px;
  overflow: hidden;
  overflow-y: auto;
  background: #F5F6F6;
  padding: 1em;
  margin-top: 1em;
  border-radius: 5px;
}

.head-number {
  text-align: center;
}
.head-number_title {
  font-size: 12px;
  color: #666666;
  letter-spacing: 1.5px;
}

.head-number_value {
  color: var(--gc-purple);
  font-weight: 700;
  display: block;
  font-size: 2rem;
}

.light-blue {
  color: #008EFF;
}
