.line-deco:after {
  content: '';
  position: absolute;
  top: 4em;
  border: 1px solid #F5F6F6;
  bottom: 2em;
  left: 2.25em;
}

.list-bounty {
  max-height: 100vh;
  overflow-y: auto;
  padding: 0;
  position: relative;
  z-index: 1;
  background: #fff no-repeat;
  background-image: -webkit-radial-gradient(50% 0, farthest-side, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0)), -webkit-radial-gradient(50% 100%, farthest-side, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0));
  background-image: -moz-radial-gradient(50% 0, farthest-side, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0)), -moz-radial-gradient(50% 100%, farthest-side, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0));
  background-image: radial-gradient(farthest-side at 50% 0, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0)), radial-gradient(farthest-side at 50% 100%, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0));
  background-position: 0 0, 0 100%;
  background-size: 100% 14px;
}

.list-bounty:before,
.list-bounty:after {
  content: "";
  position: relative;
  z-index: -1;
  display: block;
  height: 30px;
  margin: 0 0 -30px;
  background: -webkit-linear-gradient(top, #fff, #fff 30%, rgba(255, 255, 255, 0));
  background: -moz-linear-gradient(top, #fff, #fff 30%, rgba(255, 255, 255, 0));
  background: linear-gradient(to bottom, #fff, #fff 30%, rgba(255, 255, 255, 0));
}

.list-bounty:after {
  margin: -30px 0 0;
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0), #fff 70%, #fff);
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 0), #fff 70%, #fff);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0), #fff 70%, #fff);
}

.list-bounty-item + .list-bounty-item {
  border-top: 1px solid #dee2e6;
}

.comment-plan {
  color: #666666;
  white-space: pre-line;
  max-height: 100px;
  overflow: hidden;
  overflow-y: auto;
  background: #F5F6F6;
  padding: 1em;
  margin-top: 1em;
  border-radius: 5px;
}

.head-number {
  text-align: center;
}
.head-number_title {
  font-size: 12px;
  color: #666666;
  letter-spacing: 1.5px;
}

.head-number_value {
  color: var(--gc-purple);
  font-weight: 700;
  display: block;
  font-size: 2rem;
}

.light-blue {
  color: #008EFF;
}

.list-bounty-item_content {
  width: 100%;
}

@media (min-width: 768px) {
  .list-bounty-item_logo {
    width: 40px;
    height: 40px;
  }
}

@media (min-width: 992px) {
  .list-bounty-item_content {
    width: 75%;
  }
}
