body {
  font-family: "Muli";
  background-color: #FFF;
}

.explorer {
  font-family: "Muli-SemiBold";
  margin-top: 2em;
  color: #3E00FF;
}

.explorer i {
  position: relative;
  font-size: 10px;
  top: -1px;
}

.bounty_details h4,
.bounty_details h5 {
  letter-spacing: 0;
  text-transform: capitalize;
}

#title {
  text-align: left;
  padding-top: 2em;
  padding-bottom: 15px;
}

#status {
  text-transform: uppercase;
  margin-bottom: 5px;
}

.box {
  padding: 1em;
  border: 1px solid #DBDBDB;
  border-radius: 3px;
  margin: 0;
}

.bounty-heading {
  font-family: "Muli-SemiBold";
  margin-bottom: 1em;
  margin-top: 2em;
  font-size: 18px;
  color: #333333;
}

#description {
  margin-bottom: 2em;
}

.tooltip-sm {
  font-size: 13px;
  padding: 10px;
}

.bounty-text {
  font-size: 14px;
  color: #3E00FF;
}

#issue_description {
  color: #000000;
}

.bounty-subheading {
  font-weight: lighter;
  font-size: 14px;
}

#status {
  color: #00A55E;
}

.bounty-info div {
  display: inline;
  margin-right: .6em;
  font-family: "Muli-Light";
}

.bounty-info-heading {
  color: #0D0764;
}

.bounty-info-text {
  color: #717171;
}

#bounty_details .tags {
  float: right;
}

#bounty_details .tag {
  display: inline-block;
}

#bounty_details .tag p {
  padding: 5px;
}

.bounty-actions {
  margin-top: 2.5em;
  display: inherit;
  padding-bottom: 5px;
  border-bottom: 1px solid #D4D4D4;
}

.tag.keyword {
  min-width: 0;
  font-size: 11px;
  padding: 5px 10px;
  background-color: #F2F6F9;
  color: #6184AC;
}

#issue_keywords .keyword:first-child{
  margin-left: 0;
}

#started_owners_username,
#fulfilled_owners_username,
#submitted_owners_username {
  padding-left:0;
  margin: 10px;
}

#started_owners_username a,
#fulfilled_owners_username a,
#submitted_owners_username a {
  margin: 15px;
}

#bounty_owner_name {
  color: #0D0764;
  margin-bottom: 5px;
  text-transform: capitalize;
  font-family: "Muli-SemiBold";
}

.contributor-box {
  border: 1px solid #DBDBDB;
  border-right: none;
}

.contributor-box:last-child {
  border-right: 1px solid #DBDBDB;
}

.contributors-info {
  margin: 0;
  text-align: center;
}

.contributor-box h6 {
  font-size: 16px;
  color: #333333;
  letter-spacing: 0;
  text-transform: capitalize;
  font-family: "Muli-SemiBold";
}

.contributor-box svg {
  font-size: 24px;
  margin-top: .8em;
  margin-bottom: 10px;
  color: #333333;
}

a.btn{
  border-radius: 0.2rem;
}

#right_actions,
#github-link {
  display: inline;
}

#right_actions .button--primary {
  margin-right: 10px;
  position: relative;
  top: 1px;
}

#right_actions .button--primary,
#github-btn {
  padding: 6px 15px;
  box-shadow: none;
  font-size: 12px;
}

#github-btn {
  border: 1px solid #979797;
  color: #0D0764;
  border-radius: 3px;
}

#github-btn .github-comment {
  border-left: 1px solid #979797;
  padding-left: 4px;
}

.activity {
  margin-bottom: 10px; 
}

.fulfilled .activity-status {
  margin-bottom: 10px;
}

.fulfilled .bounty-text,
.activity-time {
  color: #717171;
}

.activity-avatar {
  text-align: center;
}

.activity .activity-status svg {
  margin-left: 10px;
  color: #0ECF7C;
}

.activity .bounty-subheading,
.activity .bounty-text {
  font-size: 12px; 
}

.bounty_details .avatar {
  max-width: 50px;
  max-height: 50px;
  margin: 0px auto;
  border-radius: 50px;
  margin-top: 0px;
}

#bounty_details {
  display: none;
  margin-bottom: 2em;
}

#bounty_details #issue_description img{
  max-width: 100%;
}

#bounty_details #issue_description h1,
#bounty_details #issue_description h2,
#bounty_details #issue_description h3,
#bounty_details #issue_description h4,
#bounty_details #issue_description h5,
#bounty_details #issue_description h6 {
  font-size: 16px;
  margin-top: 15px;
  text-transform: none;
}

@media (max-width: 767px) {

  .bounty-actions {
    display: block;
  }

  .bounty-actions .col-12 {
    text-align: center;
  }

  #bounty_details .tags {
    margin-top: 10px;
    float: none;
  }

  #bounty_details .row{
    margin: 0px;
    padding-left: 10px;
    padding-right: 10px;  
  }

  .contributor-box,
  .activity {
    margin-bottom: 10px;
  }
  
  .contributor-box {
    border: 1px solid #DBDBDB;
  }

  .actions {
    margin-bottom: 20px;
  }
}

@media (max-width: 991.98px) { 
  .explorer {
    display: none;
  }
}