body {
  background-color: #FFF;
}

.none {
  display: none;
}

.explorer {
  margin-top: 2em;
  color: #3E00FF;
}

.explorer i {
  position: relative;
  font-size: 10px;
  top: -1px;
}

#expires_date {
  float: right;
}

#extended-expiration-date #extended-days {
  border-bottom: 1px solid black;
}

.progress-bar {
  background-color: #D8D8D8;
  display: block;
  height: 2px;
  overflow: hidden;
}

.progress-bar .progress {
  background-color: #0FCE7C;
  height: 2px;
  width: 50%;
}

.progress-bar.expired .progress {
  background-color: #f7981b;
}

.bounty_details h4,
.bounty_details h5 {
  letter-spacing: 0;
  text-transform: capitalize;
}

#title {
  text-align: left;
  padding-top: 2em;
  padding-bottom: 15px;
}

#avatar_url {
  padding-top: 3em;
}

.bounty_details .avatar {
  width: 50px;
  height: 50px;
  margin: 0px auto;
  border-radius: 50px;
  margin-top: 0px;
}

#avatar_url .avatar {
  width: 80px;
  height: 80px;
}

#status {
  color: #00A55E;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.box {
  padding: 14px;
  border: 1px solid #DBDBDB;
  border-radius: 3px;
  margin: 0;
}

.box .empty {
  text-align: center;
  font-size: 16px;
  color: #7A7A7A;
  font-weight: 600;
}

.box .empty p {
  margin: 1rem;
}

#extended-expiration-date p {
  font-size: 1rem;
  font-weight: bold;
}

.contributor-box .fa-minus {
  font-size: 14px;
  margin: 0;
  color: #7A7A7A;
}

.bounty-heading {
  font-weight: 600;
  margin-bottom: 1em;
  margin-top: 2em;
  font-size: 18px;
  color: #333333;
}

#description {
  margin-bottom: 2em;
}

.tooltip-sm {
  font-size: 13px;
  padding: 10px;
}

.bounty-text {
  font-size: 14px;
  color: #3E00FF;
}

#issue_description {
  color: #000000;
}

#issue_description pre, code {
  padding: 1em 0;
}

#bounty-info-row {
  margin-left: 1px;
}

.bounty-subheading {
  font-weight: lighter;
  font-size: 14px;
}

.bounty-info div {
  display: inline-block;
  margin-right: 15px;
  font-weight: 500;
}

.bounty-info-heading {
  color: #0D0764;
  font-weight: 500;
}

.bounty-info-row-div {
  width: 100%;
}

.bounty-info-row-div i {
  position: absolute;
  top: 4px;
}

.bounty-info-row-span-left {
  float: left;
}

.bounty-info-row-span-right {
  float: right;
}

.bounty-info-text {
  color: #717171;
}

@media (min-width: 1200px) {
  .col-xl-4.bounty-info .bounty-info-row-div .bounty-info-text.bounty-info-row-span-right {
    margin-right: 3.2em;
  }
}

.started-status-column div {
  display: inline-block;
  margin: 5px;
}

.funder-avatar,
.activity div {
  margin: auto;
}

#timer {
  display: inline-grid;
}

#timer div {
  width: 12em;
  margin-right: 0;
  display: inline-block;
}

#timer .bounty-info-heading,
#timer .bounty-info-text {
  font-size: 12px;
}

#timer .bounty-info-text {
  position: relative;
  top: 2px;
}

#bounty_details .activity-tags {
  float: left;
  text-align: center;
}

#bounty_details .activity-tag-first {
  margin-right: 0.2em;
}

#bounty_details .tag {
  display: inline-block;
}

.issue-url > a {
  color: #ffffff;
}

.transaction-status {
  display: block;
  position: relative;
  width: 80%;
  left: 10%;
  top: 30px;
  margin-bottom: 30px;
  border-radius: 2px;
  padding: 3vh 5vw;
  text-align: center;
}

.transaction-status a{
  color: white;
}

.red_warning,
#network {
  background-color: #fbe0d6;
  color: #fb9470;
  padding: 5px 10px;
  border-radius: 2px;
  margin-bottom: 15px;
  display: block;
}

.red_warning a,
#network a{
  color: #fb9470;
  font-weight: bold;
}

#bounty_reserved_for a {
  margin-left: 5px;
  font-weight: bold;
}

.bounty-actions {
  margin-top: 2.5em;
  display: inherit;
  padding-bottom: 5px;
  border-bottom: 1px solid #D4D4D4;
}

.bounty-actions .tag.usd {
  padding-left: 10px;
  padding-right: 10px;
}

.tag.keyword {
  padding: 5px 10px;
}

.contributor-box {
  border: 1px solid #DBDBDB;
  border-right: none;
}

.contributor-box:last-child {
  border-right: 1px solid #DBDBDB;
}

.contributors-info {
  margin: 0;
  text-align: center;
}

.contributor-box h6 {
  font-size: 16px;
  color: #333333;
  letter-spacing: 0;
  text-transform: capitalize;
  font-weight: 600;
}

.contributor-box i {
  font-size: 24px;
  margin-top: 15px;
  margin-bottom: 10px;
  color: #333333;
}

#issue_keywords .keyword:first-child {
  margin-left: 0;
}

#bounty_owner_github_username a {
  color: #0D0764;
  margin-bottom: 5px;
  font-weight: 600;
}

a.btn {
  border-radius: 0.2rem;
}

.funder-avatar,
.activity-avatar {
  text-align: center;
}

.started-status-column .button--primary,
#right_actions .button--primary,
#btn-white {
  padding: 6px 15px;
  box-shadow: none;
  font-size: 12px;
}

#right_actions .button--primary {
  margin-right: 5px;
  position: relative;
  top: 1px;
  display: inline-block;
  margin-bottom: 10px;
}

#moderator-admin-actions:not(:empty).sticky {
  text-align: center;
}

.sticky {
  position: fixed;
  top: 0;
  z-index: 1010;
  text-align: center;
}

#btn-white {
  background-color: #FFFFFF;
  border: 1px solid #979797;
  color: #0D0764;
  border-radius: 3px;
  position: relative;
}

.waiting-state {
  position: relative;
  top: -6rem;
}

.loading_img::before {
  content: '';
  width: 12rem;
  height: 12rem;
  background: #fff;
  position: absolute;
  border-radius: 50%;
  top: 0;
}

.loading_img img {
  position: absolute;
  max-width: 100%;
  width: 13rem;
  z-index: 2;
  padding-right: 1rem;
  top: 50%;
  transform: translateY(-50%);
}

.waiting-state img {
  top: -2rem;
  transform: none;
}

#bounty_reserved_for img {
  vertical-align: top;
  margin-left: 3px;
  margin-top: -2px;
}

#btn-white img {
  position: absolute;
  width: 1.313rem;
  top: 0.4375rem;
  right: 0.4375rem;
}

.comment {
  border-left: 1px solid #979797;
  padding-right: 20px;
  margin-left: 5px;
}

#btn-white .github-comment {
  color: #FFFFFF;
  position: absolute;
  font-size: 0.625rem;
  text-align: center;
  width: 1.25rem;
  top: 0.4375rem;
  right: 0.5rem;
}

.activity {
  margin-bottom: 10px;
}

.fulfilled .activity-status {
  margin-bottom: 10px;
}

.fulfilled .bounty-text,
.activity-time {
  color: #717171;
}

.activity .activity-status i {
  margin-left: 10px;
  color: #0ECF7C;
}

.activity .bounty-subheading,
.activity .bounty-text {
  font-size: 12px;
}

#extended-expiration-date i {
  position: relative;
  top: 2px;
}

.transaction-header h2 {
  color: #ffffff;
  font-size: 2rem;
}

#bounty_details {
  display: none;
  margin-bottom: 2em;
}

.code-snippet {
  background-color: #F2F6F9;
  padding: 1rem;
}

#funder_notif_info .bounty-notification {
  border: orange 1px solid;
  border-radius: 3px;
  padding: 0.5rem;
}

#funder_notif_info #bounty_funded_by,
#funder_notif_info i {
  color: #3E00FF;
}

#funder_notif_info img {
  width: 1.5rem;
  position: relative;
  top: -2px;
}


#bounty_details #issue_description img {
  max-height: 30rem;
  max-width: 30rem;
  cursor: pointer;
  display: block;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

#bounty_details #issue_description h1,
#bounty_details #issue_description h2,
#bounty_details #issue_description h3,
#bounty_details #issue_description h4,
#bounty_details #issue_description h5,
#bounty_details #issue_description h6 {
  letter-spacing: 1px;
  font-size: 16px;
  margin-top: 15px;
  text-transform: none;
}

#started_owners_username,
#fulfilled_owners_username,
#submitted_owners_username {
  padding-left: 0;
  margin: 10px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#started_owners_username a,
#fulfilled_owners_username a,
#submitted_owners_username a,
#started_owners_username i,
#fulfilled_owners_username i,
#submitted_owners_username i {
  margin-left: 5px;
  margin-right: 5px;
}

#started_owners_username i,
#fulfilled_owners_username i,
#submitted_owners_username i {
  margin-top: 5px;
}

.uninterest-button {
  margin: 5px;
}

.stop-work {
  float: right;
  padding-left: 5px;
}

#moderator-admin-actions:not(:empty) {
  background: #F2F6F9;
  padding: 16px 0 10px;
  text-align: left;
  left: 0;
}

#moderator-admin-actions:not(:empty) a {
  border: none !important;
  margin: 0 3px 5px;
}

@media (max-width: 767px) {

  #title {
    padding-top: 1em;
  }

  .bounty-actions {
    display: block;
  }

  .bounty-actions .col-12 {
    text-align: center;
  }

  .loading_img img {
    width: 10rem;
  }

  #bounty_details .tags {
    margin-top: 10px;
    float: none;
  }

  #bounty_details .row {
    margin: 0px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .contributor-box,
  #bounty_details .row.activity {
    margin-bottom: 10px;
  }

  .contributor-box {
    border: 1px solid #DBDBDB;
  }

  .actions {
    margin-bottom: 20px;
  }
}

#add_interest form > div {
  margin-top: 10px;
}

.add-interest-modal {
  height: auto;
  width: 100%;
}

#add_interest form {
  padding: 1em;
  width: 100%;
}

#issue_message {
  min-height: 12em;
}

.add-interest-options {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

#add_interest .login {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem auto;
}

#add_interest .login__text {
  margin-bottom: 1rem;
}

#add_interest .login__button .fa-github {
  margin-right: 0.4rem;
}

#add_interest .login__button span {
  padding-left: 0.5rem;
  border-left: 1px solid #fff;
}

#add_interest form .filter-label {
  display: inline;
  margin-left: 0.625rem;
}

.add-interest-options > .option {
  width: auto;
}


.btn-interested,
.btn-extend,
.btn-cancel {
  float: right;
  padding: 0.375rem 0.9375rem;
  font-size: 12px;
  text-align: center;
}

.btn-cancel {
  margin-right: 25px;
}

.close:hover, .close:focus {
  box-shadow: none;
}

.modal.magnify,
.modal .magnify {
  width: auto;
  max-width: 100%;
}

.bg-container {
  background-color: #3f24f9;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10rem;
}

.transaction-header {
  display: block;
  position: relative;
  width: 80%;
  left: 10%;
  top: 30px;
  padding: 3vh 5vw;
  text-align: center;
}

.waiting_room_entertainment {
  text-align: center;
}

.bounty_details .quote-container,
.grant_waiting .quote-container {
  width: 55%;
  margin: 4rem auto;
  font-weight: 700;
  z-index: 2;
}

.bounty_details .quote_text,
.grant_waiting .quote_text {
  margin-top: 50px;
  font-size: 1.1rem;
  color: #4A4A4A;
}

.bounty_details .quote_author,
.grant_waiting .quote_author {
  color: #4A4A4A;
  margin: 1rem auto;
  font-size: 1rem;
}

.ethereum-issue {
  width:100%;
  color: #ffffff;
}

.ethereum-issue,
.issue-url {
  font-size: 1.2rem;
  text-align: center;
}

.rocket {
  position: absolute;
  top: 10rem;
  width: 4rem;
  animation: MoveUpDown 3s infinite alternate;
  -webkit-animation: MoveUpDown 3s infinite alternate;
}

.circle,
.cross {
  position: absolute;
  width: 1.8rem;
  z-index: 0;
}

#c1 {
  top: 25%;
  right: 11%;
}

#c2 {
  top: 35%;
  left: 10%;
}

#c3 {
  top: 22%;
  left: 13%;
}

#c4 {
  top: 40%;
  right: 10%;
}

#cs1 {
  top: 14%;
  left: 10%;
  transform: rotate(75deg)
}

#cs2 {
  top: 40%;
  left: 25%;
}

#cs3 {
  top: 40%;
  right: 35%;
  transform: rotate(25deg)
}

#cs4 {
  top: 30%;
  right: 20%;
}

#cloud {
  position: relative;
  right: 2rem;
  float: right;
  top: 7rem;
}

@media (max-width: 575.98px) {

  #timer {
    margin-bottom: 10px;
  }

  .bounty-info div {
    width: 100%;
  }

  .loading .issue-url {
    font-size: 1rem;
  }

  .rocket {
    width: 3.5rem;
  }
}

@media (max-width: 768px) {
  .issue-url {
    margin-top: 15px;
  }

  .left-rails {
    display: none;
  }

  #title,
  #funder_notif_info {
    text-align: center;
  }
}

@media (max-width: 991.98px) {
  .explorer {
    display: none;
  }
}

@media (min-width: 769px) {
  .activity-time {
    margin-left: 0.625rem !important;
  }

  .rocket {
    right: 11rem;
  }

  #extend_deadline {
    min-width: 40rem;
    max-width: 0;
  }
}

@media (max-width: 1024px) {
  #funder_notif_info .bounty-notification {
    margin-top: 1rem;
    display: inline-block;
    margin-left: 0 !important;
  }
}

@media (min-width: 1441px) and (max-width: 2560px) {

  .bounty_details .quote-container {
    margin-top: 1rem;
  }
}

@keyframes MoveUpDown {
  0% { transform: translateY(0); }
  100% { transform: translateY(-3rem); }
}

@-webkit-keyframes MoveUpDown {
  0% { transform: translateY(0); }
  100% { transform: translateY(-3rem); }
}
