.button_container{
  text-align: center;
  position: absolute;
  bottom: 0px;
  left: 25%;
}

.button_container a{
  font-size: 14px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
}

.card {
  background: #fff;
  border-radius: 6px;
  display: inline-block;
  height: 340px;
  margin: 1em 2em 1em 0;
  position: relative;
  width: 240px;
  border: 1px solid #D3D3D3;
}

.card .img {
  height: 120px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #eee;
}

.card img {
  height: 115px;
}

.card .content {
  margin: 15px 20px;
  min-height: 160px;
  position: relative;
}

.card .content .title {
  margin-bottom: 10px;
}

.card .content .description {
  font-size: 0.75em;
}

.card .content .description span a {
  margin-top: 4px;
  display: block;
  text-decoration: none;
  color: #6f43ff;
}

#tools_hero img {
  max-width: 200px;
}

@media (max-width: 767px) {
  .cards {
    justify-content: center;
  }

  .card {
    margin: 1em;
  }
}
