.toggle {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
}

.toggle input[type=checkbox] {
  height: 0;
  width: 0;
  visibility: hidden;
}

.toggle label {
  cursor: pointer;
  width: 80px;
  height: 35px;
  background: #f6136e;
  display: block;
  border-radius: 18px;
  position: relative;
}

.toggle label:active:after {
  width: 36px;
}

.toggle label::after {
  content: '';
  border-radius: 18px;
  transition: 0.3s;
  background-color: #fff;
  top: 2px;
  left: 2px;
  width: 35px;
  height: 31px;
  position: absolute;
}

.toggle input:checked + label {
  background: #26cd7f;
}

.toggle input:checked + label:after {
  left: calc(100% - 2px);
  transform: translateX(-100%);
}

.toggle label:before {
  transition-duration: .2s;
  content: 'OFF';
  width: 10px;
  font-size: 11px;
  color: #fff;
  position: relative;
  left: 50px;
  top: 4px;
}

.toggle input:checked + label:before {
  transition-duration: .2s;
  content: 'ON';
  left: 10px;
  top: 4px;
}

.button_container{
  text-align: center;
  position: absolute;
  bottom: 0px;
  left: 25%;
}

.button_container a{
  font-size: 14px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
}

.card {
  background: #fff;
  border-radius: 6px;
  display: inline-block;
  height: 340px;
  margin: 1em 2em 1em 0;
  position: relative;
  width: 240px;
  border: 1px solid #D3D3D3;
}

.card .img {
  height: 120px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #eee;
}

.card img {
  height: 115px;
}

.card .content {
  margin: 15px 20px;
  min-height: 160px;
  position: relative;
}

.card .content .title {
  margin-bottom: 10px;
}

.card .content .description {
  font-size: 0.75em;
}

.card .content .description span a {
  margin-top: 4px;
  display: block;
  text-decoration: none;
  color: #6f43ff;
}

#tools_hero img {
  max-width: 200px;
}

@media (max-width: 767px) {
  .cards {
    justify-content: center;
  }

  .card {
    margin: 1em;
  }
}
