/* Code originally from https://stackoverflow.com/questions/30295085/how-can-i-make-an-image-carousel-with-only-css */
div.wrap2 {
  float: left;
  height: 100%;
  width: 100%;
}
div.group input {
  display: none;
  left: -100%;
  position: absolute;
  top: -100%;
}
div.group input ~ div.content {
  display: none;
  height: 350px;
  margin: 0px 60px;
  position: relative;
}
div.group input:checked ~ div.content {
  opacity: 1;
  display: block;
}
div.group input:checked ~ label.previous,
div.group input:checked ~ label.next {
  display: block;
  border-radius: 50%;
  background-color: #ffce08;
}

div.group input:checked ~ label.previous {
  background-image: url("/static/v2/images/carousel/previous.png");
}

div.group input:checked ~ label.next {
  background-image: url("/static/v2/images/carousel/next.png");
}
div.group label {
  display: none;
  height: 50px;
  width: 50px;
}
.carousel-images {
  display: none;
}

@media (min-width: 768px) {
  .carousel-images {
    display: block;
    padding: 10%;
  }

  .testimony {
    width: 50%;
    left: 15%;
    bottom: 35%;
  }
}
.carousel-slide {
  animation: fadeIn 2s;
}

@keyframes fadeIn {
  0% { opacity: 0 }
  50% { opacity: 0.5 }
  100% { opacity: 1}
}

.carousel-img {
  left: 0;
  margin: 0 auto;
  position: absolute;
  width: 160px;
  height: 240px;
  border-radius: 12px;
}
.carousel-large-pink-line {
  position: relative;
  bottom: 15px;
  right: 75px;
  z-index: 2;
}
.carousel-small-pink-line {
  position: relative;
  top: 181px;
  right: 32px;
  z-index: 0;
}
.carousel-closed-circle {
  position: relative;
  bottom: 55px;
  right: 82px;
  z-index: 2;
}
.carousel-large-circle {
  position: relative;
  bottom: 30px;
  right: 82px;
  z-index: 2;
}
.carousel-small-circle {
  position: relative;
  top : 20px;
  right: 123px;
  z-index: 2;
}
.testimony {
  margin: auto;
  max-width: 100%;
  font-size: 120%;
}
.testimony-paragraph {
  border-left: solid purple;
  padding-left: 10px;
}
.testimony-signature {
  margin-top: 10%;
  color: purple;
}
label {
  font-size: 4em;
  margin: 125px 0 0 0;
}
label.previous {
  float: left;
  padding: 0 0 30px 5px;
}
label.next {
  float: right;
  padding: 0 5px 25px 0;
  text-align: right;
}