.banner {
  background-color: #0d023b;
  background-size: cover;
  background-position: 0px 0px;
  background-repeat: no-repeat;
  position: relative;
  color: #fff;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.sub-headline {
  line-height: 48px;
}

.online {
  color: #25e899;
}

.dot {
  background-color: #25e899;
  display: none;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  position: absolute;
  top: 0.5em;
  right: 0.9em;
}

.open-app {
  background-color: #0D001A;
}

img.feature {
  border-radius: 80px;
}

@media (max-width: 1024px) {
  .chat-img {
    display: none;
  }
}