:root {
  --gc-light-blue: #16a8d5;
  --gc-blue: #3E00FF;
  --gc-blue-hover: #5b24ff;
  --gc-purple: #0D0764;
  --gc-purple-hover: #0b0d9d;
  --gc-green: #0FCE7C;
  --gc-green-hover: #25E899;
  --gc-pink: #f9006c;
  --gc-pink-hover: #f167a3;
  --gc-yellow: #F5A623;

  --gc-white: #ffffff;
  --gc-light-violet: #bbafd0;
  --gc-dark-violet: #130b88;
  --gc-black: #0d023a;
  --t: #ccc;

  --gc-grey: #fafafa;
  --gc-blue-grey: #f2f6f9;
  --gc-dark-grey: #868789;
  --gc-medium-dark-gray: #666666;
  --gc-darker-grey: #3d3d3d;

  --text-light: #D8D8D8;
  --text-dark: var(--gc-black);
}

.text-highlight-purple {
  color: var(--gc-purple);
}

.text-highlight-green {
  color: var(--gc-green);
}

.text-highlight-dark-blue {
  color: var(--gc-blue);
}

.text-highlight-gc-purple {
  color: var(--gc-purple);
}

.text-highlight-gc-blue {
  color: var(--gc-blue);
}

.text-highlight-light-blue {
  color: var(--gc-light-blue);
}

.text-highlight-pink {
  color: var(--gc-pink);
}

.text-highlight-yellow {
  color: var(--gc-yellow);
}

.text-medium-dark-grey {
  color: var(--gc-medium-dark-gray);
}