:root {
  --gc-blue: #3E00FF;
  --gc-blue-hover: #5b24ff;
  --gc-purple: #0D0764;
  --gc-purple-hover: #0b0d9d;
  --gc-green: #0ECF7C;
  --gc-green-hover: #15ef91;
  --gc-pink: #f9006c;
  --gc-pink-hover: #f167a3;

  --text-light: #D8D8D8;
  --text-dark: #666; /* 😈 */
}

.text-highlight-purple {
  color: #8E2ABE;
}

.text-highlight-green {
  color: #12c971;
}

.text-highlight-dark-blue {
  color: #220e90;
}

.text-highlight-gc-purple {
  color: var(--gc-purple);
}

.text-highlight-gc-blue {
  color: var(--gc-blue);
}

.text-highlight-light-blue {
  color: #1A96D5;
}

.text-highlight-pink {
  color: #da086b;
}
