:root {
  --gc-blue: #3E00FF;
  --gc-blue-hover: #5b24ff;
  --gc-purple: #0D0764;
  --gc-purple-hover: #0b0d9d;
  --gc-green: #05B66A;
  --gc-green-hover: #15ef91;

  --text-light: #D8D8D8;
  --text-dark: #666; /* 😈 */
}
