#upper_left {
  min-height: 100px;
  font-family: "Muli-SemiBold";
  background-color: #26cd7f;
  color: #000000;
}

#upper_left i {
  border-radius: 100%;
  height: 30px;
  width: 30px;
  padding-top: 7px;
  background-color: #000000;
  color: #00e676;
}

#sidebar_head {
    text-align: center;
    line-height: 1.3em;
}

#sidebar_p {
  margin: 0px auto;
  text-align: center;
  padding: 5px 10px;
}

#sidebar_p p {
  margin-bottom: 0;
}

#upper_left.disabled {
  background-color: #ff3232;
  color: white;
}

#upper_left.disabled a {
  color: white;
}

#upper_left.disabled p {
  font-size: 10px !important;
}

#upper_left.disabled #sidebar_head i{
  color: #ff3232;
  background-color: white;
}

/* Refactor needed  */
#upper_left a {
  color: black;
  text-decoration: underline;
}

#upper_left img {
  filter: invert(100%);
  max-width: 40px;
  max-height: 40px;
  display: inline;
}
