a {
  color: white !important;
  text-decoration: none; /* no underline */
}

.header{
  background-position: 0px 50%;
  background-attachment: fixed;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

h1,
h2,
h3,
h4 {
  font-family: Arial-Black, Helvetica, sans-serif;
  font-size: 52px;
  letter-spacing: -1px;
  line-height: 58px;
}

p {
  font-size: 1.5rem;
}
.title-line:after {
  content: '';
  width: 300px;
  height: 7px;
  margin: auto;
  display: block;
  background: currentColor;
  margin-top: 1rem;
}

.btn-hackathon {
  font-size: 1.5rem;
  padding: 0.25rem 1.6rem;
  font-weight: bold;
  min-width: 100px;
}
