a {
  color: white !important;
  text-decoration: none; /* no underline */
}

.header{
  background-position: 0px 50%;
  background-attachment: fixed;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

h1,
h2,
h3,
h4 {
  font-family: Arial-Black, Helvetica, sans-serif;
  font-size: 52px;
  letter-spacing: -1px;
  line-height: 58px;
}

p {
  font-size: 1.5rem;
}
.title-line:after {
  content: '';
  width: 300px;
  height: 7px;
  margin: auto;
  display: block;
  background: currentColor;
  margin-top: 1rem;
}

.btn-hachathon {
  background-color: #f9006c;
}
/*
@media screen and (min-width: 550px) {
  .pdesc {
    font-size: 1rem !important
  }
  .pdesc2 {
    font-size: 1rem !important
  }
  .pdesc3 {
    font-size: 1rem !important
  }
  .topnav {
    font-size: 1em !important
  }
  .part {
    font-size: 3rem !important
  }
}

@media screen and (min-width: 920px) {
  .topnav {
    font-size: 1em !important;
  }
  .ethsvg {
    margin-top: 6rem !important
  }
  .ethtitle {
    font-size: 4rem !important
  }
  .poweredby {
    font-size: 1.5rem !important;
    margin-top: 4rem !important;
  }
  .ethsvg2 {
    margin-top: 0.7rem !important;
  }
  .btns{
    width: 200px !important;
    font-size: 1rem !important;
  }
  .btns-wrapper{
    margin: 5rem !important
  }
  .part {
    padding-top: 10rem !important;
    font-size: 3.5rem !important;
  }
  .pbtn {
    margin-top: 5rem !important;
    margin-bottom: 7rem !important;
  }
  .pdesc {
    font-size: 1.75rem !important;
    padding-right: 10rem !important;
    padding-left: 10rem !important;
    padding-top: 4rem !important;
  }
  .pdesc2 {
    font-size: 1.75rem !important;
    padding-right: 10rem !important;
    padding-top: 4rem !important;
  }
  .pdesc3 {
    font-size: 1.75rem !important;
    padding-right: 10rem !important;
    padding-top: 4rem !important;
    padding-bottom: 8rem !important;
  }
  .bottomnav {
    padding: 5rem !important;
  }
}
@media screen and (min-width: 1500px) {
  .centered2 {
    font-size: 3rem !important;
  }
  .pdesc {
    font-size: 3rem !important;
  }
  .pdesc2 {
    font-size: 3rem !important;
  }
  .pdesc3 {
    font-size: 3rem !important;
  }
  .topnav {
    font-size: 2rem !important;
  }
} */
