.form-container {
  text-align: center;
  margin: 50px auto;
  width: 50%;
}

.faucet-form label {
  margin-bottom: 5px;
}

.faucet-input-group {
  margin-bottom: 15px;
}

.faucet-form-img {
  margin: 0 auto;
  max-width: 475px;
}

.faucet-form-img img {
  width: 100%;
}

.faucet_response {
  display: none;
}

.hidden-desktop {
  display: none;
}

a#submitFaucet.disabled {
  background-color: grey;
}

@media (max-width: 481px) {
  .form-container {
    width: 90%;
  }

  .faucet-form-img {
    max-width: 150px;
    margin-bottom: 20px;
  }

  .faucet-form-submit {
    width: 100%;
  }

  .faucet-comment {
    height: 100px;
  }

  .faucet-input {
    border-radius: 0;
  }

  .hidden-mobile {
    display: none;
  }

  .hidden-desktop {
    display: block;
  }
}
