body {
  overflow-x: hidden;
  width: 100%;
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h4,
.h4 {
  text-align: center;
  padding-top: 40px;
}

#indicate-popup {
  position: fixed;
  top: 0.25rem;
  right: 2rem;
  z-index: 9999999999999;
}

.lighter {
  font-weight: lighter;
}

.no-gutter {
  margin-right: 0;
  margin-left: 0;
}

.no-gutter .col {
  padding-right: 0;
  padding-left: 0;
}

.no-gutter div[class*='col-'] {
  padding-right: 0;
  padding-left: 0;
}

.no-gutter .carousel div[class*='col-'] {
  padding-right: 15px;
  padding-left: 15px;
}

.white {
  color: #eff4ee !important;
}

.blue {
  color: #3e24fb
}

.text-darkblue {
  color: var(--gc-purple);
}

.gitcoin-gray {
  color: lightgray !important;
}

.header {
  background-image: url('/static/v2/images/header-bg.png');
  background-color: #0d023b;
  background-size: cover;
  background-position: 0px 0px;
  background-repeat: no-repeat;
  position: relative;
}

.index .header {
  overflow: hidden;
}

.minihero {
  overflow: hidden;
  position: relative;
}

.minihero__title{
  font-weight: var(--fw-light);
  font-size: var(--fs-title-xl);
  color: var(--gc-green);
}

.header.dash {
  overflow: visible;
}

.header-contributor {
  background-image: url('/static/v2/images/landing/contributor/hero_header_bg.jpg');
  background-color: #3f00ff;
}

#gitcoin-background {
  background-image: url("/static/v2/images/header-bg.png");
  background-size: 2000px;
  background-position: 0 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  will-change: transform;
  overflow-y: hidden;
  overflow-x: hidden;
}

.gitcoin-background {
  background: url("/static/v2/images/header-bg.png") #0d023b;
  background-attachment: fixed;
  background-position: center 0;
}

.dropdown-toggle::after {
  position: relative;
  top: 2px;
  right: -4px;
}

.text-white {
  color: #ffffff;
}

.text-black-60 {
  color: rgba(0, 0, 0, 0.6)!important;
}

.text-black-70 {
  color: rgba(0, 0, 0, 0.7)!important;
}

.text-current {
  color: currentColor !important;
}

.underline {
  text-decoration: underline;
}

.light {
  font-weight: 200;
}

.font-title-xl {
  font-size: var(--fs-title-xl);
}

.font-title-lg {
  font-size: var(--fs-title-lg);
}

.font-title {
  font-size: var(--fs-title);
}

.font-header {
  font-size: var(--fs-header);
}

.font-subheader {
  font-size: var(--fs-subheader);
}

.font-body {
  font-size: var(--fs-body);
}

.font-caption {
  font-size: 0.75rem;
}

.footer-link {
  font-size: 0.9rem;
  margin-top: 0.5rem;
  cursor: pointer;
  color: #eff4ee;
  text-decoration: none;
}

.footer-link:visited {
  color: #eff4ee;
}

.gc-letter-spacing {
  letter-spacing: 0.15em;
}

div.button-pink {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #f9006c;
  font-size: 0.95rem;
  font-weight: bold;
  line-height: 42px;
  text-transform: uppercase;
  background: none;
  width: 130px;
  height: 39px;
  border-radius: 19px;
  border: 3px solid #f9006c;
  letter-spacing: 0.1em;
}

.git-pill {
  background-color: #0d023b;
  border-radius: 1.2rem;
  padding-left: 0.95rem;
  padding-right: 0.95rem;
  height: 2rem;
}

.git-pill span {
  position: relative;
  top: 2px;
  left: 2px;
}

.header-line {
  color: #12c971;
  font-size: 2rem;
  font-weight: 500;
}

.header-line h1 {
  font-size: 1.8rem;
  font-weight: bolder;
  color: #FFFFFF;
}

.header-line-contributors {
  font-weight: 500;
  color: #fff;
}

.subheader-line {
  color: #fff;
  font-size: 1.5em;
  font-weight: 500;
}

.subheader-line-contributors {
  color: #ffffff;
  margin-top: 0.6em;
  font-weight: 400;
}

.subheader-line p {
  font-size: 1.1rem;
}

.font-weight-300 {
  font-weight: 300;
}

.light-bg {
  background-color: rgba(239, 243, 238, 0.7);
  background-image: url('/static/v2/images/light-bg.png');
  background-size: contain;
  background-position: bottom;
  background-repeat: no-repeat;
}

.bg-lightblue {
  background-color: #EFF3F6;
}

.bg-lightpurple {
  background-color: #F5F2FF;
}

.white-light-bg {
  background-color: white;
  background-image: url('/static/v2/images/light-bg.png');
  background-size: contain;
  background-position: bottom;
  background-repeat: no-repeat;
}

.font-bigger-1 {
  font-size: 1.2rem;
}

.font-bigger-2 {
  font-size: 1.5rem;
}

.font-bigger-3 {
  font-size: 1.6rem;
  line-height: 1.8rem;
}

.font-bigger-4 {
  font-size: 1.7rem;
}

.font-smaller-1 {
  font-size: 0.9rem;
}

.font-smaller-2 {
  font-size: 0.8rem;
}

.font-smaller-3 {
  font-size: 0.75rem;
}

.font-smaller-4 {
  font-size: 0.7rem;
}

.font-smaller-5 {
  font-size: 0.65rem;
}

.font-smaller-6 {
  font-size: 0.6rem;
}

.font-smaller-7 {
  font-size: 0.55rem;
}

.font-smallest {
  font-size: 0.1rem;
}

.center-block {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.how-it-works-video {
  width: 100%;
  height: 600px;
}

.mission-img-wrapper {
  height: 250px;
}

.mission-img-wrapper img {
  max-height: 250px;
}

.avatar-img-wrapper {
  height: 200px;
}

.avatar-img-wrapper img {
  max-height: 200px;
}

.dash-filter-header {
  align-items: center;
  display: flex;
  font-size: 1.2rem;
  letter-spacing: 0.1em;
  margin-bottom: 1.2rem;
  text-transform: uppercase
}

.dash-filter-header img {
  margin-left: .5rem;
}

.dash-filter-label {
  font-weight: var(--fw-light);
  font-size: 0.9rem;
  letter-spacing: 0.1em;
}

.footer__main {
  background-image: url('/static/v2/images/footer.png');
  background-color: #0d023b;
  background-size: contain;
  background-position: bottom;
  background-repeat: no-repeat;
  min-height: 520px;
}

.footer__text,
.footer__text a {
  color: white;
}

.footer__text a {
  text-decoration: underline;
}

.footer {
  background-color: #0d023b;
}

.footer .nav-link {
  font-size: 0.8rem !important;
  margin-right: 0.5rem;
}

.nav-link:visited {
  color: #eff4ee;
}

.navbar-expand-md .navbar-nav .nav-link {
  color: #eff4ee;
  text-transform: uppercase;
  text-decoration: none;
  padding-right: 1rem;
  padding-left: 1rem;
  font-size: 0.9rem;
}

.footer .nav-link:hover {
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0.2);
}

.footer .nav-link img {
  width: 25px;
  height: 25px;
  filter: invert(100%);
}

.footer__consensys {
  border-top: 1px solid var(--gc-green);
  background: black;
}

.sitenav {
  display: flex;
  flex-direction: column;
  height: 100%;
  color: white;
  margin: 0 1rem;
  width: 7rem;
  margin-bottom: 1rem;
}

.sitenav a {
  color: var(--text-light);
  margin-bottom: 0.5rem;
}

.network-banner--warning {
  background: #ff3232;
  width: 100%;
  color: white;
  text-align: center;
}

.network-banner--warning a {
  color: white;
  text-decoration: none;
}

.network-banner--warning a:hover {
  text-decoration: underline;
}

.lil-white-button {
  height: 1rem;
  width: 1rem;
  cursor: pointer;
}

.gc-round-text-input {
  height: 32px;
  border: 1px solid #eee;
  outline: none;
  padding-left: 10px;
  font-weight: var(--fw-light);
}

.gc-border-black {
  border: 1px solid black !important;
}

.gc-border-green {
  border: 1px solid #37ea9c !important;
}

.gc-border-blue {
  border-color: #0D0764;
}

.gc-selected {
  border: 1px solid #4ef6ad !important;
}

.gc-round-text-form {
  border-radius: 16px;
  height: 160px;
  border: 1px solid #eee;
  outline: none;
  padding-left: 10px;
  font-weight: var(--fw-light);
}

.dash-link {
  font-size: 0.7rem;
  margin-top: 8px;
  letter-spacing: 0.1em;
}

*::-webkit-input-placeholder {
  color: lightgray;
}

*::-moz-placeholder {
  color: lightgray;
}

*:-moz-placeholder {
  color: lightgray;
}

*:-ms-input-placeholder {
  color: lightgray;
}

.accordion {
  cursor: pointer;
  width: 100%;
  outline: none;
  transition: 0.4s;
}

.panel {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.accordion:after {
  /* stylelint-disable-next-line */
  font-family: 'Font Awesome 5 Free';
  content: '\f107';
  font-size: 1.2em;
  margin-right: auto;
  margin-top: auto;
  float: right;
  font-weight: 600;
}

.accordion.active:after {
  content: '\f106';
}

.dropdown-menu {
  background-color: #FAFAFA;
  border-radius: 0px;
  padding: 0;
  border: none;
}

.dropdown-menu .dropdown-divider {
  margin: 0;
}

.dropdown-menu .dropdown-item {
  padding: 12px 25px;
}

.dropdown-menu .dropdown-item:hover {
  background-color: #0D0764;
  color: #FFFFFF;
}

#why-gitcoin .dropdown-item {
  padding-left: 15px;
}

.dropdown-menu .dropdown-item i {
  text-align: center;
  margin-left: 0px;
  margin-right: 20px;
  width: 15px;
}

.g-fadein {
  opacity: 0;
}

.g-fadein[data-fade-direction="left"] {
  left: -5rem;
}

.g-fadein[data-fade-direction="mid"] {
  bottom: -5em;
}

.g-fadein[data-fade-direction="right"] {
  left: 5rem;
}

@media (max-width: 389.9px) {

  .footer__main {
    padding-left: 1em !important;
    padding-right: 1em !important;
  }
}

@media (max-width: 767.98px) {
  .navbar-collapse {
    margin-top: 1.5rem;
  }

  #indicate-popup {
    display: none;
  }
}

@media (max-width: 820px) {
  .navbar-nav .nav_avatar {
    display: none !important;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {

  .navbar-brand #logo {
    width: 6.5rem;
    height: auto;
  }

  .navbar-expand-md .navbar-nav .nav-link {
    padding-left: 0.7rem;
    padding-right: 0.7rem;
  }
}

@media (min-width: 768px) and (max-width: 1240px) {
  .navbar-expand-md .navbar-nav .nav-link,
  .navbar-nav .btn-gc-blue.button--fund {
    font-size: 0.8rem;
  }

  .nav-link__text {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 1028px) {

  .nav-link {
    text-align: center;
  }

  .navbar-expand-md .navbar-nav .nav-link,
  .navbar-nav .btn-gc-blue.button--fund {
    font-size: 0.7rem;
  }

  .nav-link__icon.hidden {
    display: inline !important;
  }

  .navbar-brand img {
    width: 140px;
    height: 47.6px;
  }

  .nav-link.login i {
    font-size: 1.3em !important;
  }
}

.nav-tabs .nav-line {
  color: #4A4A4A;
  border-width: 0px 0px 3px 0;
}
.nav-tabs .nav-line.active {
  color: #0D0764;
  border-color: #0D0764;
  background-color: transparent;
}

.border-transparent {
  border-color: transparent;
}

#codefund .cf-wrapper {
  font-family: 'Muli', sans-serif !important;
  text-align: center !important;
}

#codefund a {
  float: none !important;
  text-align: center !important;
}

#codefund.contributor,
#codefund.contributor .cf-wrapper {
  background: white;
  background-color: white !important;
  margin: 0 !important;
  padding: 20px 11px !important;
}

/* AutoComplete */

.select2-results__option,
.select2-search--dropdown .select2-search__field {
  font-size: 0.8rem
}

.select2-container--default .select2-selection--single {
  height: 2.5rem !important;
  border-radius: 2px !important;
  border-color: black !important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 3.15em !important;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: 2.4rem !important;
}

#select2-username-container .rounded-circle {
  height: 1.8rem;
  width: auto;
}

#payout_table td div.input_amount,
#payout_table td a.remove,
#payout_table td div.amount {
  position: relative;
  top: 10px;
}

@media (min-width: 768px) {

  .d-md-block {
    display: block!important;
  }
  .d-md-flex {
    display: -ms-flexbox!important;
    display: flex!important;
  }
  .d-md-none {
    display: none!important;
  }
}

/* dropdown animation */
.animation {
  -webkit-animation-duration: 80ms;
  animation-duration: 80ms;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.slideDownIn {
  -webkit-animation-name: slideDownIn;
  animation-name: slideDownIn;
}

@keyframes slideDownIn {
  0% {
    -webkit-transform: translateY(-20px) scale(0.9, 0.7);
  }
  100% {
    -webkit-transform: translateY(0) scale(1, 1);
  }
}
