.title {
	text-align: center; 
	font-family: 'Muli', sans-serif;
}

.submit-title {
	font-size: 1.75rem
}

.justify-content-space-between {
	display: flex; 
	justify-content: space-between
}

.submit-text {
	font-size: 1rem; 
	max-width: 525px; 
	margin: 0px auto
}

.center-button {
	margin: 0 auto; 
	display: block
}

.idea-list {
	width: 750px;
	padding: 1em 1.5em; 
	margin-bottom: 1.5em; 
	border-style: solid; 
	border-width: 1px; 
	border-color: rgb(204, 204, 204); 
	border-radius: 5px;
	-webkit-transition: border-color 0.25s;
    -moz-transition:    border-color 0.25s;
    -ms-transition:     border-color 0.25s;
    -o-transition:      border-color 0.25s;
    transition:         border-color 0.25s;
}

.idea-list:hover {
	border-color: purple;
}

