.title {
	text-align: center; 
	font-family: 'Muli', sans-serif;
}

.submit-title {
	font-size: 1.75rem
}

.submit-text {
	font-size: 1rem; 
	max-width: 525px; 
	margin: 0px auto
}

.center-button {
	margin: 0 auto; 
	display: block
}

#sort_ideas {
	margin-left: 1em; 
	width: 160px; 
	border-style: none;
}

#ideas .idea {
	padding: 1em 1.5em; 
	margin-bottom: 1.5em; 
	border-style: solid; 
	border-width: 1px; 
	border-color: rgb(204, 204, 204); 
	border-radius: 5px;
	-webkit-transition: border-color 0.25s;
    -moz-transition: border-color 0.25s;
    -ms-transition: border-color 0.25s;
    -o-transition: border-color 0.25s;
	transition: border-color 0.25s;
	cursor: pointer
}

#ideas .idea:hover {
	border-color: #3e24fb;
}

.idea-title {
	font-family: 'Muli', sans-serif; 
	font-size: 1.15em; 
	display: inline
}

#looking_for .form-check-input,
#already_have .form-check-input {
	margin-left: 0px;
}

.user-avatar {
	height:2em;
	width: 2em;
	border-radius: 50%;
}

.badge-container {
	padding:0px 10px
}

.badge-container .badge-container-label {
	line-height: 42px;
}

.avatar-label {
	line-height: 42px;
}