.idea-list {
	width: 750px;
	padding: 1em 1.5em; 
	margin-bottom: 1.5em; 
	border-style: solid; 
	border-width: 1px; 
	border-color: rgb(204, 204, 204); 
	border-radius: 5px;
	-webkit-transition: border-color 0.25s;
    -moz-transition:    border-color 0.25s;
    -ms-transition:     border-color 0.25s;
    -o-transition:      border-color 0.25s;
    transition:         border-color 0.25s;
	
}

.idea-list:hover {
	border-color: purple;
}