body {
  font-family: 'Muli', sans-serif;
  background: #FFFFFF;
}

h3, h4 {
  text-transform: none;
}

h4 {
  text-align: left;
}

#filter {
  color: #3e24fb;
}

#matches {
  font-family: 'Muli', sans-serif;
  font-weight: 300;
  padding-left: 10px;
}

.title {
  text-transform: capitalize;
}

.title-row {
  display: flex;
  margin-top: 2em;
  padding-bottom: 5px;
  border-bottom: 2px solid #3E24FB;
}

.body .row {
    margin-left: 0px;
}

.body .avatar {
    max-height: 50px;
    max-width: 50px;
}

.job-row {
  color: #000000;
  text-decoration: none;
  padding: 10px 20px 10px 4em;
}

.job-row:hover {
  background-color: #F9F9F9;
}

.job-row .avatar-container {
  text-align: right;
  margin-top: auto;
  margin-bottom: auto;
}

.job-row img {
  margin-top: 6px;
  margin-right: 20px;
}

.job-row .title {
  margin-bottom: 2px;
}

.job-company-detail {
    text-align: right;
}

.job-info {
  top: 4px;
  text-align: right;
}

.job-title {
  padding-top: 2em;
}

.job-header {
  padding-bottom: 6em;
}

#job-board-title {
  text-transform: uppercase;
  color: #00A55E;
  text-align: center;
  font-size: 3em;
}

.company-name, #exp-lang, #job-post-duration {
  color: #717171;
}

.job-detail {
  margin-top: 10px;
  margin-bottom: 10px;
}

.job-type {
  color: #00A55E;
  text-transform: uppercase;
  flex-grow: 1;
}

.job-location {
  flex-grow: 1;
  color: #666666;
}

.flex-grow-8 {
  flex-grow: 8;
}

.job-type-loc {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1em 0 1em 0;
}

.job-company-exp {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1em 0 1em 0;
  padding-bottom: 2em;
}

.job-posted {
  flex-grow: 8;
}

.job-experience {
  flex-grow: 1;
}

.job-company {
  margin-right: 5px;
  font-weight: bold;
  color: #666666;
}

.job-skill {
  color: #666666;
}

.job-tags {
  margin: 1em 0 1em 0;
}

.tags {
  display: flex;
}

.box {
  padding: 14px;
  border: 1px solid #DBDBDB;
  border-radius: 3px;
  margin: 0;
}

.btn-white {
  border: 1px solid #979797;
  color: #0D0764;
  border-radius: 3px;
  position: relative;
}

.job-apply-btn {
  background-color: #0D0764;
  color: #FFFFFF;
  padding-left: 2em;
  padding-right:2em;
  margin-right: 1em;
}

.github-profile-btn {
  color: #0D0764;
}

.tag.keyword {
  min-width: 0;
  font-size: 11px;
  padding: 5px 10px;
  background-color: #F2F6F9;
  color: #6184AC;
}

@media (max-width: 768px) {

    .job-info {
      top: 10px;
      font-size: 10px;
      text-align: left;
    }

    .job-row {
      padding-left: 1em;
      padding-right: 2em;
    }
}
