body {
  font-family: 'Muli', sans-serif;
  background: #FFFFFF;
}

h3, h4 {
  text-transform: none;
}

h4 {
  text-align: left;
}

.job-header {
  padding-bottom: 6em;
}

#job-board-title {
  text-transform: uppercase;
  color: #00A55E;
  text-align: center;
  font-size: 3em;
}

.company-name, #exp-lang, #job-post-duration {
  color: #717171;
}

#job-details {
  padding-top: 3em;
}

.job-type {
  color: #00A55E;
  text-transform: uppercase;
  flex-grow: 1;
}

.job-location {
  flex-grow: 1;
}

.flex-grow-8 {
  flex-grow: 8;
}

.job-type-loc {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1em 0 1em 0;
}

.job-company-exp {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1em 0 1em 0;
}

.job-posted {
  flex-grow: 8;
}

.job-experience {
  flex-grow: 1;
}

.job-company {
  flex-grow: 1;
}

.job-tags {
  margin: 1em 0 1em 0;
}

.tags {
  display: flex;
}

.box {
  padding: 14px;
  border: 1px solid #DBDBDB;
  border-radius: 3px;
  margin: 0;
}

.btn-white {
  border: 1px solid #979797;
  color: #0D0764;
  border-radius: 3px;
  position: relative;
}

.job-apply-btn {
  background-color: #0D0764;
  color: #FFFFFF;
}

.github-profile-btn {
  color: #0D0764;
}

.tag.keyword {
  min-width: 0;
  font-size: 11px;
  padding: 5px 10px;
  background-color: #F2F6F9;
  color: #6184AC;
}
