html {
  overflow: hidden;
}

body {
  height: 100vh;
  color: var(--text-dark);
}

.navbar {
  flex-shrink: 0;
}

.navbar-nav > .img__spaceship {
  display: none !important;
}

.banner--green {
  background-color:#0ECF7C;
}

.youtube iframe {
  max-width: 100%;
}

#landing_page_wrapper {
  overflow-y: scroll;
  background-color: #F9F9F9;
}

.case-studies-container {
  background: white;
  text-align: center;
  position: relative;
  overflow: visible !important;
}

.case-studies-list {
  font-size: 1.5rem;
  list-style-type: none;
  text-align: left;
  margin-bottom: 4rem;
  padding-left: 0;
  margin-left: calc(20vw - 100px);
}

.case-studies-list li {
  margin-bottom: 1rem;
}

.case-studies-list a {
  color: var(--gc-blue);
  text-decoration: none;
}

#gc-robot {
  position: absolute;
  top: -50px;
  right: calc(5vw - 50px);
  max-width: 25vw;
  will-change: transform;
}

.howworks-container {
  background-color: #ffffff;
  text-align: center;
  color: var(--text-dark);
}

.howworks-container-contributors {
  background: #ffffff;
}

.howworks-steps {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.howworks-toggle-container {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, min-content);
  grid-gap: 0 20px;
  grid-template-rows: min-content 5px;
  justify-content: center;
}

.howworks-section-toggle {
  background: transparent;
  outline: none;
  border: none;
  cursor: pointer;
  color: var(--gc-purple);
  padding: 0;
}

#howworks-toggle-indicator {
  background: var(--gc-blue);
  transition: transform .3s, left .3s;
  left: 0;
  transform-origin: left;
  grid-column: 1;
  position: relative;
}

.howworks-section-toggle:hover, .howworks-section-toggle:active, .howworks-section-toggle:focus {
  color: var(--gc-blue) !important;
}

.howworks-section-toggle.active {
  color: var(--gc-blue);
}

.howworks-sections {
  width: 100%;
  position: relative;
  left: 0;
  transition: left .3s;
}

.howworks-sections.contributor-section {
  left: -100%;
}

.howworks-section {
  width: 100%;
  flex-shrink: 0;
  padding: 0 2rem;
  margin: 0 1rem;
}

.howworks-step {
  position: relative;
  border-top: 1px solid #E1E8EE;
  padding: 2rem 1rem;
}

.howworks-step h5 {
  color: var(--gc-purple);
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.howworks-step i {
  font-size: 2rem;
  padding: 0.5rem 0;
}

.funder-container .howworks-step i {
  color: #FFCE08;
}

.contributor-container .howworks-step i {
  color: #25E899;
}

.howworks-step__label {
  border-radius: 50%;
  height: 2rem;
  width: 2rem;
  line-height: 1.75rem;
  border: 1px solid #E1E8EE;
  position: absolute;
  top: -1rem;
  left: calc(50% - 1rem);
  background: #ffffff;
  color: var(--gc-purple);
}

.whatisit_container {
  background-color: var(--gc-blue);
  color: #fff;
}

.benefits_container,
.landing__newsletter {
  background-color: #F9F9F9;
  justify-items: center;
}

.benefits-list {
  grid-gap: 1rem;
  max-width: 70rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0 auto;
}

.benefits-list-contributors {
  grid-template-columns: repeat(4, 1fr);
}

.benefit {
  background-color: white;
  text-align: center;
  padding: 3rem 1rem;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.benefit > p {
  flex-grow: 1;
}

.benefit > h4 {
  padding-top: 2rem;
  padding-bottom: 1rem;
  height: 6rem;
}

.activity.box {
  border-left: none;
  border-top: none;
  border-right: none;
}

.activity-info {
  position: relative;
  top: 7px;
}

.landing__newsletter {
  width: 100%;
  margin: auto;
}

.landing__newsletter .newsletter {
  border-top: none;
  margin-top: 0;
}

.landing__newsletter .newsletter h4 {
  padding-top: 1.25rem;
  padding-bottom: 0.5rem;
  font-weight: normal;
}

.pilot-container {
  background: white;
}

.pilot-container img,
.project  {
  margin: 1.5rem 3rem;
  height: 5rem;
  width: 5rem;
}

.project img {
  width: auto;
  margin: 0
}

.pilot-container .image--rounded {
  border-radius: 100%;
}

.contributors-cta {
  background: #3E00FF;
}

.contributors-cta__robot {
  max-height: 350px;
}

.join-gitcoin-heading {
  font-size: 2.5rem;
}

.contributors-cta-text {
  font-size: 1.2rem;
  font-weight: 100;
}

.pricing_container {
  background-color: #F9F9F9;
  padding-bottom: 50rem;
}

.press_container {
  background: #F9F9F9;
}

.press {
  display: grid;
  grid-template-columns: repeat(auto-fill, 150px);
  grid-auto-rows: 150px;
  grid-gap: 5px;
  justify-content: center;
}

.explain-img-wrapper {
  height: 100%;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.press_container img {
  max-width: 90%;
  max-height: 100px;
  filter: grayscale(100%);
  transition: filter 0.3s;
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
}

.press_container img:hover {
  filter: grayscale(0%);
  -moz-filter: grayscale(0%);
  -ms-filter: grayscale(0%);
  -o-filter: grayscale(0%);
}

.navbar.following .nav-link,
.navbar.following img,
.navbar.following .nav-item {
  display: none;
}

#gc-tree {
  text-align: center;
}

#gc-tree .lines {
  animation-play-state: running;
}

#gc-tree .cls-4 {
  animation-play-state: running;
}

.pause-animation {
  animation-play-state: paused !important;
  -webkit-animation-play-state: paused !important;
}

.pricing-tiers-container {
  background: #F9F9F9;
  box-shadow: 4px 5px 10px 3px rgba(0, 0, 0, 0.1);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, min-content);
  grid-auto-flow: column;
  grid-gap: 0 2px;
  border-radius: 5px;
  overflow: hidden;
  text-align: center;
}

.pricing-tier__title {
  padding-top: 2rem !important;
}

.pricing-tiers-container > * {
  padding: 1rem 2rem;
  background: white;
}

.pricing-tier__subtitle {
  padding-top: 0;
}

.emphasis {
  background: var(--gc-blue);
  color: white;
}

.pricing-tier__features {
  text-align: left;
  padding-left: 4rem;
  margin-bottom: 0;
  list-style-image: url("/static/v2/images/check_green.svg");
}

.pricing-tier__features li {
  margin-bottom: 1em;
}

.pricing-tier__price {
  font-size: 3rem;
  line-height: 1em;
  padding: 3rem 0;
  border-top: 1px solid #E1E8EE;
  border-bottom: 1px solid #E1E8EE;
}

.projects-container {
  border-top: 1px solid #E1E8EE;
}

.testimonial-container {
  background-color: #F0F0F0;
}

.in-some-cases-container {
  background-color: #FAFCFD;
}

.in-some-cases-container .flex-row div {
  max-width: 12rem;
  margin-left: auto;
  margin-right: auto;
}

.how-it-works-footer {
  background-color: #0D0764;
}

.tree_container {
  background: #f9f9f9;
  text-align: center;
  overflow: hidden;
}

.whatisit {
  height: min-content;
}

.whatisit .youtube {
  height: 100%;
  max-width: 550px;
  margin-bottom: auto;
  margin-top: 2rem;
}

.whatisit_container iframe {
  min-height: 280px;
  width: 100%;
  height: 100%;
}

.index #gitcoin-background {
  min-width: 100vw;
  min-height: 1000vh;
}

/* Landing Page Animations */
#WindmillBlades {
  animation: rotate-blades 8s linear infinite;
  transform-origin: 48.5px 56px;
}

.globe-longitude {
  animation: rotate-globe 6s linear infinite;
  transform-origin: center;
}

#long-1 {
  animation-delay: 2s;
}

#long-2 {
  animation-delay: 4s;
}

#globe-center-fill {
  animation: globe-center-fill 2s linear infinite;
  transform-origin: center;
  animation-delay: 2s;
  transform: scaleX(0);
}

#pot-leaves {
  animation: swaying-leaves 8s ease-in-out infinite;
  transform-origin: center 60%;
}

#binary-numbers .odd {
  opacity: 0 ;
  animation: opacity-1 1s infinite alternate;
}

#binary-numbers .even {
  opacity: 1 ;
  animation: opacity-1 1s 1s infinite alternate;
}

#community * {
  animation: 3s cubic-bezier(0, 0, 1, 1) infinite;
}

#members-wrapper {
  stroke: none;
  stroke-width: 1;
  fill: none;
}

#members-container {
  transform: translate(-532.000000px, -912.000000px);
  fill: #FFFFFF;
  stroke: #000000;
  stroke-width: 2.2;
}

#members {
  transform: translate(-112.000000px, 757.000000px);
}

#members-inner1 {
  transform: translate(527.000000px, 87.000000px);
}

#members-inner2 {
  transform: translate(119.000000px, 70.000000px);
}

#member2-inner {
  transform: translate(27.000000px, 0.000000px);
}

#member3-inner {
  transform: translate(13.000000px, 4.000000px);
}

#member1 {
  animation-name: member1-animation;
  transform-origin: 50% 50%;
  transform-box: fill-box;
  transform: scale(0.8, 0.8);
}

#member2 {
  transform-origin: 50% 50%;
  transform-box: fill-box;
  transform: scale(0.8, 0.8);
  animation-name: member2-animation;
}

#member3 {
  transform-origin: 50% 50%;
  transform-box: fill-box;
  transform: scale(0.8, 0.8);
  animation-name: member3-animation;
}

.navbar__cta {
  color: white;
  opacity: 0;
  display: none;
  transition: opacity .3s;
  padding-right: 1rem;
}

.navbar.following .navbar__cta {
  opacity: 1;
  display: inline;
}

.navbar:not(.following) .btn {
  background: transparent;
}
.navbar:not(.following) .btn:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

@keyframes rotate-blades {
  from {
    transform: rotate(0) translate(27px, 28px);
  }
  to {
    transform: rotate(360deg) translate(27px, 28px);
  }
}

@keyframes rotate-globe {
  from {
    transform: rotateY(0);
  }
  to {
    transform: rotateY(180deg);
  }
}

@keyframes globe-center-fill {
  0%, 39% {
    transform: scaleX(0) translateX(-7px);
  }
  50% {
    transform: scaleX(0.4) translateX(0);
  }
  61%, 100% {
    transform: scaleX(0) translateX(7px);
  }
}

@keyframes swaying-leaves {
  0%, 100% {
    transform: rotate(-10deg);
  }
  50% {
    transform: rotate(10deg);
  }
}

@keyframes opacity-1 {
  0% {
    opacity: 0;
  }
  49.99% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes member1-animation {
  0% {
    transform: scale(0.8, 0.8);
  }
  18.89% {
    transform: scale(1, 1);
  }
  60% {
    transform: scale(1, 0.87);
  }
  81.11% {
    transform: scale(0.8, 0.8);
  }
  100% {
    transform: scale(0.8, 0.8);
  }
}

@keyframes member2-animation{
  0% {
    transform: scale(0.8, 0.8);
  }
  6.67% {
    transform: scale(0.8, 0.8);
  }
  24.44% {
    transform: scale(1, 1);
  }
  65.56% {
    transform: scale(1, 1);
  }
  90% {
    transform: scale(0.8, 0.8);
  }
  100% {
    transform: scale(0.8, 0.8);
  }
}

@keyframes member3-animation {
  0% {
    transform: scale(0.8, 0.8);
  }
  12.22% {
    transform: scale(0.8, 0.8);
  }
  30% {
    transform: scale(1, 1);
  }
  75.56% {
    transform: scale(1, 1);
  }
  98.89% {
    transform: scale(0.8, 0.8);
  }
  100% {
    transform: scale(0.8, 0.8);
  }
}

@media (max-width: 1300px) {
  .whatisit_container iframe {
    min-height: 250px;
  }
}

@media (max-width: 869px) {
  .benefits-list {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 768px) {

  .howworks-section {
    padding: 0 3rem;
  }

  #hero_cta > div {
    margin-left: auto !important;
    margin-right: auto !important;
  }

  #hero_cta > div .btn {
    margin-left: 0 !important;
  }

  #gc-robot {
    right: 10px;
  }

  .pricing-tiers-container {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(15, min-content);
  }

  .case-studies-list {
    margin-left: 0;
  }

  .howworks-steps {
    grid-template-columns: 1fr;
  }

  .activity {
    text-align: center;
  }

  .activity-status a {
    margin-top: 1rem;
  }

  .activity-status span {
    display: block;
    margin-top: 4px;
    margin-bottom: 4px;
  }

  .activity div.activity-tags {
    margin-top: 4px;
    margin-bottom: 1rem;
  }

  .activity div.activity-tags p {
    margin-bottom: 0;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {

  .howworks-steps {
    margin-left: 6rem;
    margin-right: 6rem;
  }
}

@media (min-width: 992px) {

  .howworks-steps {
    margin-left: 10rem;
    margin-right: 10rem;
  }

  .newsletter #newsletter-input {
    padding: 10px !important;
    min-width: 18rem !important;
    font-size: 16px !important;
    border: 1px solid #888 !important;
  }

  #newsletter-subscribe {
    height: 46px;
    top: -2px;
    position: relative;
  }
}

@media (max-width: 575.98px) {

  h1 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  .pricing-tier__price {
    font-size: 2.5rem;
  }

  .case-studies-list {
    font-size: 1.25rem;
  }

  #gc-robot {
    display: none;
  }

  .howworks-container {
    padding-left: .5rem !important;
    padding-right: .5rem !important;
  }

  .howworks-section {
    padding: 0 .5rem;
    margin-left: auto;
    margin-right: auto;
  }

  .whatisit_container iframe {
    min-height: 0;
  }
}

/** Contributor landing page **/

.explore-bounties-link {
  text-align: left;
}

.contributor-hero-bg {
  position: relative;
  background: url('../images/landing/contributor/hero_laptop.png') no-repeat;
  background-size: 100% 100%;
  height: 100%;
  margin-right: -15px;
  max-height: 350px;
  max-width: 500px;
}

.contributors-hero-container {
  position: relative; 
  overflow-y: hidden;
}

.contributor-hero-bg-container{
  position: absolute;
  top:100px;
  right: 0px;
  height: 500px;
  width: 500px;
}

.ethereum-icon {
  position: absolute;
  top: -2em;
  height: 50px;
  width: 30px;
  left: -1.2em;
  background: url('../images/landing/contributor/hero_whiteeth.png') no-repeat;
  background-position: center;
  background-size: cover;
}

.text-purple {
  color: #3f00ff;
}

@media (max-width: 991px) {
  .contributor-hero-bg,
  .ethereum-icon {
    display: none;
  }
}

@media (max-width: 767px) {
  .contributors-hero-container {
    margin-left: 1em !important;
  }

  .join-slack-btn {
    margin-left: 0 !important;
  }

  .join-gitcoin-heading {
    margin-top: 2em;
    font-size: 2rem;
  }
}

@media (max-width: 440px) {
  .join-slack-btn {
    margin-top: 1em;
  }

  .explore-bounties-link {
    text-align: center;
  }
}
