.case-studies-container {
  text-align: center;
  position: relative;
  overflow: visible !important;
}
.case-studies-list {
  font-size: 1.5rem;
  list-style-type: none;
  text-align: left;
  margin-left: 15vw;
  margin-bottom: 4rem;
}
.case-studies-list li {
  margin-bottom: 1rem;
}
#gc-robot {
  position: absolute;
  top: -50px;
  right: 10vw;
  height: 100%;
}

.howworks_container {
  background-color: #F9F9F9;
  text-align: center;
}

.howworks-steps {
  border-top: 1px solid #E1E8EE;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.howworks-step {
  position: relative;
  padding: 2rem 1rem;
}
.howworks-step__label {
  border-radius: 50%;
  height: 2rem;
  width: 2rem;
  line-height: 1.75rem;
  border: 1px solid #E1E8EE;
  position: absolute;
  top: -1rem;
  left: calc(50% - 1rem);
  background: #F9F9F9;
}

.whatisit_container {
  background-color: var(--gc-blue);
  color: var(--text-light);
}

.benefits_container {
  background-color: #F9F9F9;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
}

.benefit {
  background-color: white;
  text-align: center;
  padding: 3rem 1rem;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
.benefit > p {
  flex-grow: 1;
}
.benefit > h4 {
  padding-top: 2rem;
}

.pricing_container {
  background-color: #F9F9F9;
}

.pricing-tiers-container {
  background: #F9F9F9;
  box-shadow: 4px 5px 10px 3px rgba(0, 0, 0, 0.1);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, min-content);
  grid-auto-flow: column;
  grid-gap: 0 2px;
  border-radius: 5px;
  overflow: hidden;
  text-align: center;
}
.pricing-tiers-container > * {
  padding: 1rem;
  background: white;
}

.pricing-tier__subtitle {
  padding-bottom: 1rem;
}
.emphasis {
  background: var(--gc-blue);
  color: white;
}
.pricing-tier__features {
  text-align: left;
  padding-left: 4rem;
  margin-bottom: 0;
  list-style-image: url("/static/v2/images/check_green.svg");
}
.pricing-tier__features li {
  margin-bottom: 1em;
}
.pricing-tier__price {
  font-size: 3rem;
  line-height: 1em;
  padding: 3rem 0;
  margin: 0 1rem;
  border-top: 1px solid #E1E8EE;
  border-bottom: 1px solid #E1E8EE;
}

.testimonial_container {
  background-color: #F0F0F0;
}

.whatisit {
  height: min-content;
}
.whatisit .youtube {
  height: 100%;
}
.whatisit_container iframe {
  width: 100%;
  height: 20vw;
  min-height: 100%;
}

/* Landing Page Animations */
#WindmillBlades {
  animation: rotate-blades 4s linear infinite;
  transform-origin: 48.5px 56px;
}

.navbar {
  position: sticky;
  position: -webkit-sticky;
  top: -1px;
  width: 100%;
  z-index: 10;
}
.navbar__cta {
  transition: opacity .3s;
}
.navbar.following .nav-link {
  display: none;
}
.navbar__cta {
  color: white;
  opacity: 0;
  display: none;
}
.navbar.following .navbar__cta {
  opacity: 1;
  display: inline;
}

@keyframes rotate-blades {
  from {
    transform: rotate(0) translate(27px, 28px);
  }
  to {
    transform: rotate(360deg) translate(27px, 28px);
  }
}

@media (max-width: 769px) {
  .pricing-tiers-container {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(15, min-content);
  }

  .benefits_container {
    grid-template-columns: 1fr;
  }
}
