.leaderboard .key {
  right: 0px;
  display: block;
  position: absolute;
  margin-right: 10px;
  margin-top: 5px;
}

.leaderboard .podium {
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  background: #150069;
  justify-content: space-around;
}

.leaderboard .winner {
  position: relative;
  padding: 0px;
  text-align: center;
}

.interior .body {
  background-color: #140069;
}

.leaderboard .clickable-row {
  cursor: pointer;
}

.leaderboard .winner img:hover {
  opacity: 0.55;
}

.leaderboard .winner img {
  max-height: 50px;
  display: flex;
}

.leaderboard .winner a {
  color: #2B75D2;
}

.leaderboard .winner h6 {
  font-size: 8px;
  color: #2B75D2;
}

.leaderboard .leaderboard_entry img {
  max-height: 50px;
  border-radius: 50%;
}

thead {
  color: #CECFD1;
}

tbody {
  color: #5C5D5F
}

tbody, a {
  color: #5C5D5F
}

.leaderboard .leaderboard_entry {
  padding: 10px 0px;
  text-decoration: none;
}

.item-count-bounties {
  display: none;
}

tbody {
  font-size: 0.8rem;
}

.leaderboard h3 {
  font-size: .85rem;
}

.tableheaders {
  font-size: 0.7rem;
}

.hidemobile {
  visibility: hidden;
}

@media (min-width: 700px) {
  .item-count-bounties {
    display: block
  }

  .podium {
    justify-content: space-between;
  }

  .leaderboard .select {
    display: block ;
  }

  .leaderboard .leaderboard_entry div {
    width: 100%;
  }

  .leaderboard .leaderboard_entry div:nth-child(2) {
    width: 30%;
  }

  .leaderboard .leaderboard_entry div.progress {
    width: 100%;
  }

  .leaderboard .winner h6 {
    font-size: 0.5rem;
  }

  tbody {
    font-size: 1rem ;
  }

  .leaderboard h3 {
    font-size: 1.2rem ;
  }

  .tableheaders {
    font-size: 0.9rem;
  }

  .hidemobile{
    visibility: visible;
  }
  .leaderboard .winner img {
    max-height: 120px;
  }
}

@media (min-width: 1000px) {
  .leaderboard .leaderboard_entry {
    padding: 10px 0px;
    text-decoration: none;
  }

  .leaderboard .leaderboard_entry img {
    max-height: 70px;
    border-radius: 50%;
  }

  .leaderboard .winner img {
    max-height: 150px;
  }

  .leaderboard .winner h6 {
    font-size: 1rem ;
  }

  tbody {
    font-size: 1.5rem ;
  }

  .leaderboard h3 {
    font-size: 1.75rem ;
  }

  .tableheaders {
    font-size: 1rem;
  }

}
