.mission p {
  font-size: 20px;
  font-weight: 500;
  color: #666666;
}

.mission .icon {
  width: 5rem;
  float: left;
  margin-right: 3rem;
}

.mission #we_interact .icon {
  margin-right: 1.5rem;
}

.mission .divider {
  border-bottom: 2px solid #3e24fb;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.mission .icon-small {
  height: 4rem;
  width: auto;
}

.mission .falcon-wrapper {
  position: relative;
  height: 100%;
}

.mission .falcon-wrapper .falcon-pull, .mission .falcon {
  float: right;
}

.mission .icon-text {
  font-weight: 500;
  font-size: 1rem;
  color: #666666;
}

#mission_hero .text {
  margin-left: 2rem;
}

#mission_hero .font-bigger-4 {
  letter-spacing: 0.15rem;
}

#we_want,
#we_value,
#we_interact,
#we_believe {
  padding: 0 10vw;
}

@media(max-width: 768px) {
  .falcon-wrapper {
    display: none;
  }
  #mission_hero .row {
    padding: 1rem !important;
  }
  #mission_hero .text{
    margin-left: 0rem;
  }
  #mission_hero .col-2, #mission_hero .col-9 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media(min-width: 768px) {
  .mission .falcon-wrapper .falcon,
  .mission .falcon-wrapper .falcon-pull {
    height: auto;
  }
}

@media(min-width: 768px) and (max-width: 991px)  {
  .mission .falcon-wrapper .falcon {
    width: 28rem;
  }

  .mission .falcon-wrapper .falcon-pull {
    width: 22rem;
    margin-top: -18rem;
  }
}

@media(min-width: 992px) {
  .mission .falcon-wrapper .falcon {
    width: 25rem;
  }

  .mission .falcon-wrapper .falcon-pull {
    width: 30rem;
  }
}

@media(min-width: 992px) and (max-width: 1199px)  {
  .mission .falcon-wrapper .falcon-pull {
    margin-top: -18rem;
  }
}

@media(min-width: 1200px) {
  .mission .falcon-wrapper .falcon-pull {
    margin-top: -22rem;
  }
}