body {
  background-color: #fff;
}

h2, h3 {
  letter-spacing: 0;
}

h2 {
  font-size: 22px;
  margin-bottom: 2em;
}

h3 {
  font-size: 14px;
  margin-bottom: 2em;
  font-weight: lighter;
  margin-top: 10px;
  line-height: 1.5em;
  text-align: left;
  text-transform: none;
}

#onboarding {
  text-align:center;
  margin-top: 1em;
  padding: 30px 10px 0;
  border-radius: 2px;
  max-width: 50rem;
  margin-left: auto;
  margin-right: auto;
}

.show {
  opacity: 1 !important;
}

.block {
  display: block !important;
  transition: opacity 200ms linear;
}

.step {
  margin: 10px 0 20px;
  opacity: 0;
  display: none;
}

.step iframe,
.step .icons div {
  margin: auto;
}

.form__select2,
.select2-results,
.select2-search,
.step .icons p,
.suggested-tag .text,
.step .filter-tag,
.step a span,
.step .label,
.button--controls {
  font-size: 12px;
}

#onboarding .controls {
  float: right;
  margin-right: 4rem;
  overflow: auto;
  position: relative;
}

.step i {
  font-size: 1.8em;
}

.step a i {
  font-size: 16px;
}

.step .button {
  margin-top: 5px;
  padding-left: 25px;
  padding-right: 25px;
  font-size: 12px;
  box-shadow: none;
}

.step a span {
  margin-left: 5px;
  padding-left: 8px;
  border-left: 1px solid #FFF;
}

.step .logged-in p {
  margin-bottom: 2px;
}

.step .logged-in h3 {
  text-align: center;
  margin-bottom: 10px;
}

.step .logged-in i,
.step .unlocked i {
  font-size: 1em
}

.step .logged-in a {
  display: block;
}

#navbarSupportedContent .nav-link,
#navbarSupportedContent img {
  visibility: hidden;
}

.button--controls {
  display: inline-block;
  margin: 5px 0 5px 5px;
  text-transform: capitalize;
  border-radius: 3px;
  cursor: pointer;
  box-shadow: none;
}

#next-btn {
  margin-left: 0;
}

.step #metamask {
  margin-bottom: 20px;
  margin-top: 10px;
}

.step #metamask .locked {
  margin-top: 1.8em;
}

.step #metamask img {
  width: 24px;
  position: relative;
  top: -1px;
  right: 2px;
}

.step #metamask .unlocked img {
  width: 3.2em;
  margin-right: 10px;
}

.step #metamask .unlocked span {
  font-size: 14px;
  font-weight: bolder;
}

.step-state {
  height: 5px;
  width: 2.8em;
  margin: 20px 2px;
  background-color: #CACACA;
  border: none;
  display: inline-block;
  opacity: 0.5;
}

.step-state.active {
  opacity: 1;
}

.step-state.finish {
  opacity: 1;
  background-color: #1AB56D;
}

.github-avatar {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  border: 0.1rem solid #1AB56D;
}

.fa-check-circle {
  color: #1AB56D;
}

#onboarding .fa-wrench {
  animation: turn 1s;
}

#onboarding .fa-ethereum {
  animation: wiggle 1s;
}

#onboarding .fa-connectdevelop {
  animation: rotate 1s;
}

#suggested-tags {
  display: inline;
}

#suggested-tags input {
  display: none;
  position: absolute;
}

.suggested-tag .text,
.step .filter-tag {
  font-weight: bolder;
  border-radius: 3px;
  padding: 2px 10px 5px;
  color: #FFFFFF;
  cursor: pointer;
  transition: .2s;
}

.suggested-tag .text {
  background-color: #0D0764;
}

.suggested-tag input:checked + .text {
  background-color: #1AB56D;
}

#suggested-tags .suggested-tag {
  position: relative;
  display: inline-block;
  width: auto;
  height: auto;
  margin: 5px;
}

.suggested-tag .text i,
.step .filter-tag i {
  font-size: 9px;
  margin-right: 8px;
}

.step .label {
  text-align:  left;
  font-weight:  bolder;
  margin-bottom: 5px;
}

.step .search {
  margin-top: 20px;
  margin-bottom: 15px;
}

.search-area {
  padding-left: 0;
  padding-right: 0;
}

#selected-skills {
  display: none;
}

.select2 {
  height: 37px !important;
}

.experienceLabel {
  margin-top: 8px;
}

:focus{
  outline: none;
}

.focus-effect {
  padding: 7px 14px 9px;
  transition: 0.2s;
}

.focus-effect ~ .focus-border:before,
.focus-effect ~ .focus-border:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #3599FF;
  transition: 0.2s;
}

.focus-effect ~ .focus-border:after {
  top: auto;
  bottom: 0;
  left: auto;
  right: 0;
}

.focus-effect ~ .focus-border i:before,
.focus-effect ~ .focus-border i:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 2px;
  height: 0;
  background-color: #3599FF; transition: 0.2s;
}

.focus-effect ~ .focus-border i:after {
  left: auto;
  right: 0;
  top: auto;
  bottom: 0;
}

.focus-effect:focus ~ .focus-border:before,
.focus-effect:focus ~ .focus-border:after {
  width: 100%;
  transition: 0.3s;
}

.focus-effect:focus ~ .focus-border i:before,
.focus-effect:focus ~ .focus-border i:after {
  height: 100%;
  transition: 0.4s;
}

.step .filter-tags,
.locations-tags {
  color: white;
  margin-bottom: 15px;
  text-align: left;
}

.step .filter-tag {
  display: inline-block;
  background-color: #1AB56D;
  margin: 5px;
  border-radius: 3px;
}

.completed {
  background-color: #0D0764;
  color: #FFFFFF;
  border-color: #0D0764;
}

@keyframes turn {
  0% { transform: rotate(0deg); }
  50% { transform: rotate(-50deg); }
  100% { transform: rotate(0deg); }
}

@keyframes wiggle {
  0% {-webkit-transform: rotate(10deg);}
  25% {-webkit-transform: rotate(-10deg);}
  50% {-webkit-transform: rotate(20deg);}
  75% {-webkit-transform: rotate(-5deg);}
  100% {-webkit-transform: rotate(0deg);}
}

@keyframes rotate {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@media (max-width: 767.98px) {
  iframe {
    max-width: 100%;
  }

  #onboarding {
    margin-top: 0;
  }

  #onboarding .controls {
    float: none;
    margin-right: 0;
  }

  h3 {
    text-align: center;
  }

  #skills div.pl-0 {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }

  #skills {
    margin-left: 0;
    margin-right: 0;
  }

  #navbarSupportedContent .nav-link,
  #navbarSupportedContent img {
    visibility: visible;
  }
}

@media (min-width: 1200px) {
  h3 {
    font-size: 1rem;
  }

  .step .label {
    font-size: 0.8rem;
  }

  .step a {
    font-size: 0.9rem;
  }
}

@media (min-width: 1400px) {
  .suggested-tag .text,
  .step .filter-tag {
    font-size: 0.8rem;
  }
}
