.press_details {
  display: flex;
  flex-direction: column;
  color: #000000;
  font-size: 16px;
  width: 600px;
  text-align: justify;
}

.grid {
  width: 100%;
  max-width: 940px;
  margin: 50px auto;
}

.grid-item {
  width: 300px;
  float: left;
}
