.profile_details .container{
  min-height: 150px;
}

.profile-header > .container {
  padding-top: 3.5rem;
  color: #fff;
}

.profile-header__avatar {
  float: left;
  width: 6.75rem;
  height: 6.75rem;
  border-radius: 50%;
  border: 0.2rem solid #1AB56D;
}

.profile-header__handle {
  padding-top: 1.5rem;
  margin-bottom: 0;
  text-transform: uppercase;
  line-height: 1;
}

.profile-header__handle small {
  text-transform: none;
}

.profile-header__bio {
  clear: both;
}

.profile-bounties__group-title > i {
  color: #25E899;
}

.profile-header__links {
  margin: 0;
  padding: 0;
}

.profile-header__links a i {
  margin-left: 2px;
  margin-right: 2px;
  font-size: 1.2rem;
  transition: all 0.3s;
  color: #FFF;
}

.profile-header__links a:hover i {
  color: #1AB56D;
  transform: scale(1.5) rotate(360deg);
}

.profile-header__links img {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.5em;
  filter: invert(100%);
}

@media (max-width: 767.98px) {

  .profile-header__main-infos {
    text-align: center;
  }

  .profile-header__avatar {
    float: none;
    margin-right: 0!important;
  }

  .profile-header__handle {
    display: block;
  }

  .profile-header__links li {
    text-align: center;
    float: none;
    margin-right: 0;
  }
}


.profile-header__stats {
  background-color: transparent;
}

.profile-header__stats .card-header {
  padding: 0.1rem 0.7rem;
  font-weight: bolder;
  color: #0D0764;
  text-transform: uppercase;
  border-radius: 0;
}

.profile-header__stats .card-body {
  font-weight: lighter;
  padding: 0.7rem;
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .profile-header__stats .card-header {
    padding: 0 0.5rem;
    font-size: 1.2rem;
  }

  .profile-header__stats .card-body {
    padding: 0.5rem;
    font-size: 1rem;
  }
}

.profile-header__stats ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.profile-header__stats li {
  margin: 0.15rem 0 0;
}

.profile-header__stats li:first-child {
  margin-top: 0;
}

.profile-header__stats--contributor {
  border: 0.2rem solid #25E899;
}

.profile-header__stats--contributor .card-header {
  background-color: #25E899;
}

.profile-header__stats--contributor .highlight {
  color: #25E899;
}

.profile-header__stats--funder {
  border: 0.2rem solid #FFCE08;
}

.profile-header__stats--funder .card-header {
  background-color: #FFCE08;
}

.profile-header__stats--funder .highlight {
  color: #FFCE08;
}

.profile-section-title {
  border-bottom: 2px solid #3E24FB;
}

.profile-bounties--loading {
  background-image: url('/static/v2/images/loading_v2.gif');
  background-repeat: no-repeat;
  background-position: 0 -1rem;
  background-size: 4rem;
  height: 3rem;
}

.profile-bounties .avatar {
  max-width: 3.125rem;
  max-height: 3.125rem;
  margin-right: auto;
  margin-left: auto;
  border-radius: 100%;
}

.profile-bounties .bounty_row {
  padding-left: 0;
  padding-right: 0;
}

.profile-bounties .bounty_row--hidden {
  display: none;
}

.profile-bounties .bounty-summary {
  padding-left: 0;
  padding-right: 0;
}

.profile-bounties .profile-bounties__btn-show-all {
  border-color: #D3D3D3;
  font-size: 0.875rem;
  font-weight: 300;
}

.profile-bounties .profile-bounties__btn-show-all:hover,
.profile-bounties .profile-bounties__btn-show-all:focus,
.profile-bounties .profile-bounties__btn-show-all:active {
  border-color: #D3D3D3;
  color: #6c757d;
  background-color: #F9F9F9;
}

.profile-bounties__group-title {
  color: #0D0764;
  font-size: 1rem;
  padding: 0.5rem 0 5px 0;
  border-bottom: 2px solid #3E24FB;
}

.profile-bounties__sort_label {
  color: #3E24FB;
}

.profile_details .bounty_row:first-child {
  border-top: none;
}

.works_with_list span {
  font-weight: bolder;
  display: block;
  margin-top: 6px;
  margin-bottom: 6px;
}

.works_with_list img {
  max-width: 30px;
  border-radius: 50%;
}

.profile-header__stats--contributor .works_with_list img {
  border: 0.1rem solid #25E899;
}

.profile-header__stats--funder .works_with_list img {
  border: 0.1rem solid #FFCE08;
}
