#gameboard { 
  width: 100%;
  height: 900px;
 }
#background { 
  position: absolute;
  z-index: -999999;
  width: 100%;
  height: 100%;
  background-size: 300% !important;
  background-position: -600px !important;
  opacity:0.5;
 }
 #breadcrumbs, #breadcrumbs a{
  color: black;
 }
 .character{
  text-align: center;
 }
 .character h3{
  font-weight: 900;
  font-size: 48px;
  background-color: #ccc;
  width: 70%;
  margin: 0px auto;
 }
 .character p{
  font-size: 18px;
  background-color: #aaa;
  width: 65%;
  margin: 0px auto;
 }
 .character .info{
  margin-top: -60px;
  z-index: 999;
  position: absolute;
  bottom: -50px;
  width: 100%;
 }
 .character img{
  width: 350px;
  height: : 350px;
  border-radius: 200px;
  border: 5px solid #ccc;
 }
 #enemy img{
  border: none !important;
 }

 .character.harm img{
  border: 5px solid #F9006C;
 }
 .character.heal img{
  border: 5px solid #0fce7c;
 }
 .character.harm h3,
 .character.harm p{
  background-color:  #F9006C;
  color: white;
 }
 .character.heal h3,
 .character.heal p{
  background-color: #0fce7c;
  color: white;
 }

 .damage, .heal{
    z-index: 99999;
    position: absolute;
    font-size: 85px;
    top: 10px;  
    margin: 0px auto;
 }

 #header{
  font-weight: bold;
  font-size: 36px;
  width: 60%;
  text-align: center;
  background-color: white;
  font-style: italic;
  padding: 10px;
 }
 #cta_button{
  font-weight: bold;
  font-size: 36px;
  width: 60%;
  margin-top: 10%;
  text-align: center;
 }
 #cta_button a{ 
  color: white;
  background-color: #3E00FF;
  border: 2px solid white;
  padding: 20px;
 }

.cen{
  position: absolute;
  top: 50%;
  right: 20%;
 }

.tr{
  position: absolute;
  top:0px;
  right: 0px;
 }
.bl{
  position: absolute;
  bottom:0px;
  left: 0px;
 }
