#quests_logo{
  margin-top: 10px;
  margin-left: -30px;
  max-width: 300px; 
}
.character{
  text-align: center;
}
.character h3{
  font-weight: 900;
  background-color: #666;
  max-width: 90%;
  display: inline-block;
}
.character p{
  background-color: #444;
  width: 65%;
}
.character .info{
  margin-top: -60px;
  z-index: 999;
  position: absolute;
  width: 240px;
  padding: 10px;
  text-align: left;
  bottom: 10px;
  left: 120px;
}
.character .info h3{
  font-size: 16px;
  padding: 5px 10px;
  text-transform: uppercase;
}
.flair div{
  position: absolute;
  top: -15px;
  font-size: 36px;
}
.answer a{
  color: white;
}
body.quest_battle a,
body.quest_battle div,
body.quest_battle p{
  color: white;
}

.character .info p{
  padding: 5px 10px;
}
.character img{
  width: 150px;
  height: 150px;
  border-radius: 70px;
  border: 5px solid #ccc;
}
.prize img{
  height: 140px;
  width: 125px;
  margin: 5px 10px;
}
.character.harm img{
  border: 5px solid #F9006C;
}
.character.heal img{
  border: 5px solid #0fce7c;
}
.quest-card.locked img{
  filter: grayscale(1);
}
#leaderboard img {
  height: 80px;
  width: 80px;
  border-radius: 50px;
}
#enemy img,
#helpful_guide img{
  border: none !important;
}
#explore_quests img{
  max-width: 30px;
  max-height: 30px;
  margin-top: -10px;
  margin-left: -10px;
}
#enemy.character img{
  width: 250px;
  height: 250px;
  margin-left: -75px;
}

.character.harm h3,
.character.harm p{
  background-color:  #F9006C;
  color: white;
}
.character.heal h3,
.character.heal p{
  background-color: #0fce7c;
  color: white;
}

.prize{
  margin-top:60px; 
  margin-left: 20px;
  border-radius: 5px;
  padding: 10px;
}
.prize span{
  display: block;
}

.damage, .heal{
  z-index: 99999;
  position: absolute;
  margin: 0px auto;
}

#header{
  font-weight: bold;
  width: 60%;
  text-align: center;
  font-style: italic;
  padding: 10px;
  z-index: 9999;
  font-size: 20px;
  text-transform: uppercase;
}
#header.fail{
  color: #F9006C;
  padding: 20px; 
  margin-top: 5% !important;
}
#header.success{
  color: #0fce7c;
  padding: 20px; 
}
#desc{
  width: 50%;
  text-align: center;
  color: white;
  padding: 10px;
  margin-top: 100px;
  z-index: 9999;
  right: 25%;
}
#desc li{
  margin-top: 5px;
  text-decoration: underline;
}
.quest-card.available:hover{
  background-color: #aea0df !important;
  cursor: pointer;
}
.quest-card.available:hover .pr-3{
  background-color: #4e40af !important;
  border-top: 3px solid #2e208f !important;
}
.quest-card.locked div,
.quest-card.locked div a{
  color: #aaa !important;
}
.quest-card.available:hover .pr-3,
.quest-card.available:hover .pr-3 a,
.quest-card.available:hover .pr-3 p{
  color: white !important;
}
.quest-card.available:hover a.btn{
  font-size: 18px;
}
.back_gradient {
  background: linear-gradient(to right top, #0fce7c, #00a5a1, #0077b5, #0046a1, #0d0764) no-repeat;
  animation: gradient 40s ease infinite;
  background-size: 100% 400px !important;
}
.quest-card.available:hover .pr-3 p.desc{
  border-top: 1px solid white !important;
}

#cta_button{
  margin-top: 10%;
  width: 60%;
  text-align: center;
}
#cta_button a{
  margin-top: 10%;
  text-transform: uppercase;
}
body.stage_1 #cta_button{
  margin-top: 25%;
}
body.stage_2 #cta_button{
  margin-top: 20%;
}
body.stage_1 #header{
  margin-top: -10%;
}
body.stage_1 #desc{
  margin-top: -5%;
}
body.stage_3 #desc{
  margin-top: 0%;
}
body.stage_3 #cta_button{
  margin-top: 15%;
}
body.stage_3 #header{
  margin-top: -5%;
}
body.stage_4{
  background: url('/static/v2/images/quests/backs/1.gif') repeat !important;
}
body.stage_4.question_number_1{
  background: url('/static/v2/images/quests/backs/2.gif') repeat !important;
}
body.stage_4.question_number_2{
  background: url('/static/v2/images/quests/backs/3.gif') repeat !important;
}

body.stage_4 #header{
  margin-top: -12%;
}
body.stage_4 #cta_button{
  margin-top: 25%;
}
body.stage_4 #desc{
  margin-top: -2%;
}
body.quest_battle .top-nav,
body.quest_battle .header.dash{
  display: none !important;
}
body.quest_battle .bottom_notification{
  display: none;
}

.button{
  font-weight: bold;
  color: white;
  background-color: #3E00FF;
  border: 2px solid white;
  padding: 20px;
}
.button.button_sm{
  font-weight: normal;
  border: 0px solid white;
  padding: 5px;
  background-color: none;
}
.button.button_sm.off{
  color: #aaa;
}
#cta_button p{ 
  margin-top: 20px;
  font-weight: normal;
  color: white; 
}

.cen{
  position: absolute;
  top: 35%;
  right: 20%;
}

.tr{
  position: absolute;
  top: 80px;
  right: 150px;
}
.tl{
  position: absolute;
  top: 10px;
  left: 0px;
}
.br{
  position: absolute;
  bottom: 0px;
  right: 10px;
}
.bl{
  position: absolute;
  bottom: 20px;
  left: 20px;
}

#timer{
  bottom: 26px;
  font-size: 30px;
  color: #888;
}
#timer.yellow{
  color: yellow;
}
#timer.orange{
  color: orange;
}
#timer.red{
  color: red;
}

.quest-card.beaten div{
  background-color: #c0eec0 !important;
}
.quest-card.cooldown div{
  background-color: #aad4e5 !important;
}
#protagonist .flair div{
  top: 35px;
}
#gameboard { 
  width: 100%;
  height: 100%;
}
body.quest_battle{
  font-family: 'Press Start 2P', cursive !important;
  background: url('/static/v2/images/quests/backs/0.gif') repeat;
  background-size: 150%;
  font-size: 0.7em;
}
#background { 
  position: absolute;
  z-index: -999999;
  width: 100%;
  height: 100%;
}
#leaderboard {
  font-size: 25px;
  width: 100%;
}
#leaderboard .inner_row {
  height: 120px;
  padding: 20px;
  width: 100%;
}

.answer{
  list-style: none;
  background-color: transparent;
  border: 1px solid white;
  padding: 10px;
  cursor: pointer;
  width: 75%;
  margin: 10px auto;
  text-transform: uppercase;
}
.answer.selected{
  background-color: #3E00FF;
}

#breadcrumbs, #breadcrumbs a{
  color: color;
}
#breadcrumbs{
  position: absolute;
  top: 0px;
  left: 10px;
}

.alpha-warning{
  background-color: black;
}
@media (max-width: 1110px) {
  .tr{
    position: absolute;
    top: 20px;
  }
  .tl{
    position: absolute;
    top: 00px;
    left: 0px;
  }
  .bl{
    position: absolute;
    bottom: 20px;
    left: 20px;
  }  
  #cta_button{
    margin-top: 20%;
  }
  #enemy img{
    max-width: 130px;
  }
  #enemy.character .info{
    left: 0px;
    bottom: 50px;
  }
  #desc{
    margin-top: 10%;
    height: 210px;
    overflow-y: scroll;
  }
  #desc img{
    max-width: 80px;
    max-height: 80px;
  }
  body.stage_2 #cta_button{
    margin-top: 45%;
  }
  body.stage_3 #cta_button{
    margin-top: 28%;
  }
  body.stage_4 #header{
    margin-top: -6%;
    font-size: 12px;
  }
  body.stage_4 #cta_button{
    margin-top: 38%;
  }
  body.stage_4 #desc{
    margin-top: 5%;
    font-size: 12px;
    width: 80%;
    right: 10%;
    height: 150px;
  }
  body.stage_4 #desc li{
    padding: 3px;
    font-size: 9px;
  }
  #timer{
    font-size: 18px;
    color: #888;
  }
  .back_gradient {
    background-size: 100% 400px !important;
  }
}
@media (max-width: 900px) {
  .back_gradient {
    background-size: 100% 400px !important;
  }
}
@media (max-width: 768px) {
  .row.indent_on_mobile{
    margin-left: 20%;
  }
  #desc{
    margin-top: 10%;
    height: 100px;
    overflow-y: scroll;
  }
  .back_gradient {
    background-size: 100% 700px !important;
  }

}

