
/* Results */

.results h5 {
  font-weight: 700;
  text-decoration: underline;
}

.box_1,
.box_2,
.box_3,
.box_4,
.box_5,
.box_6 {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.results ul#programming_languages {
  text-align: center;
}

.results ul#programming_languages li {
  list-style: none;
  padding: 0.5rem 2rem;
  margin-bottom: 1.5rem;
  display: inline-block;
  border: 1px solid #999;
}

.results ul#programming_languages li.selected{
  background-color: #eee;
}

.results .icon {
  height: 6rem;
  width: auto;
}

/* BEM based styles*/

.content-block{
  padding: 3rem 1rem;
  text-align: center;
}

.content-block--white{
  background-color: var(--brand-white);
}

.content-block--grey{
  background-color: #fafafa;
}

.content-block--blue-grey{
  background-color: #f2f6f9;
}

.content-block__title{
  color: var(--brand-black);
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 1em;
}

.content-block__title--small-margin{
  margin-bottom: 0.25em;
}

.content-block__subtitle{
  color: var(--brand-dark-violet);
  font-size: 18px;
}

.title-text{
  color: #212529;
  text-align: center;
  font-size: 32px;
  margin-bottom: 1em;
}

.value-container{
  display: flex;
  justify-content: center;
}

.chart_container{
  display: flex;
  flex-direction: column;
}

.chart_container--big{
  width: 75%;
}

.chart_container__content{
  flex: 1;
}

.chart_container--flex{
  display: flex;
  align-items: center;
}

.chart_container__title
{
  color: var(--brand-light-violet);
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: 700;
}

.promo-text{
  margin: 0;
  font-size: 28px;
}

.platform-stats-container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  --stat-container-width: 350px;
}

.single-stat {
  --image-size: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: var(--stat-container-width);
  margin-bottom: 20px;
}

.single-stat p,
.single-stat h3 {
  margin: 0;
  text-align: center;
}

.single-stat img {
  width: var(--image-size);
  height: auto;
  margin-bottom: 0;
}

h3.single-stat__title {
  font-size: 24px;
  font-weight: 900;
  margin: 0;
  margin-bottom: 4px;
  color: #212529;
}

p.single-stat__subtitle {
  font-size: 20px;
  margin-bottom: 4px;
  color: #3d3d3d;
}

p.single-stat__fineprint {
  font-size: 14px;
  color: #868789;
}


.bounty-status-breakdown{
  display: flex;
  align-items: center;
  justify-content: center;
}

.bounty-status-list{
  text-align: left;
  margin-left: 2rem;
}

.bounty-status-list p{
  display: flex;
  align-items: center;
  margin: 0;
  margin-bottom: 10px;
  font-size: 16px;
  color: var(--brand-dark-violet);
}


.bounty-grid {
  display: flex;
  max-width: 960px;
  margin: 0 auto;
  justify-content: center;
  flex-wrap: wrap;
}

.single-bounty{
  padding: 20px 20px 16px;
  margin: 10px;
  text-align: center;
  border: 1px solid #ccc;
}

.single-bounty__title {
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 4px;
  color: var(--brand-dark-violet);
}

.single-bounty__label{
  font-size: 14px;
  text-transform: lowercase;
  margin-bottom: 4px;
  color: #777;
}
.single-bounty__payout{
  font-weight: 700;
  font-size: 20px;
  color: var(--brand-vivid-violet);
}
