.search_bar {
  min-height: 100px;
}

.search_bar #new_search {
  margin-top: 18px;
  margin-left: 5px;
  padding: 8px 16px;
  font-size: 12px;
  position: relative;
  bottom: 2px;
}

.order_by {
  color: #000;
  font-weight: 600;
  position: relative;
  bottom: 2px;
  margin-top: 26px;
  text-align: right;
}

.search-area,
.search_bar #new_search,
.order_by {
  display: inline-block;
}

.search-area {
  position: relative;
  margin-top: 15px;
}

.order_by .heading {
  color: #5B5C5C;
}

.order_by .sort_option {
  cursor: pointer;
  padding: 5px;
  margin-left: 2px;
  margin-right: 2px;
}

.order_by .sort_option:last-child {
  margin-right: 10px;
}

.order_by div:first-child {
  margin-right: 5px;
  display: inline;
}

.order_by .sort_option.selected {
  border-bottom: 2px solid #000;
}

.filter-tags {
  margin-top: 9px;
  margin-bottom: 9px;
}

.filter-tag {
  margin: 2px;
  text-transform: lowercase;
  background-color: black;
  color: white !important;
  border-radius: 2px;
  font-size: 10px;
  padding: 4px 5px;
  display: inline-block;
}

.filter-tag i {
  margin-left: 7px;
  font-size: 9px;
}

.ui-autocomplete {
  height: 33.33%;
  overflow-y: scroll;
}

.close-icon {
  position: absolute;
  top: 9px;
  right: 9px;
  width: 22px;
  display: none;
  cursor: pointer;
}

#search_nav li {
  background-color: #fff;
  border: 1px solid #d3d6e2;
  padding: 5px 10px;
  margin: 5px;
  cursor: pointer;
  font-size: 12px;
  border-radius:6px;
}

#search_nav .nav > i {
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 0.75rem;
}

#search_nav li a {
  color: #000;
  float: right;
  margin-left: 0.4rem;
}

/* Remove IE default X */
#keywords::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}

@media (min-width: 992px) and (max-width: 1024px) {

  .order_by {
    display: none;
  }
}

@media (max-width: 767.98px) {

  .title-row {
    display: inline-block;
  }

  .title-row .bounty-info {
    margin-bottom: 10px;
  }

  .title-row .bounty-info #modifiers {
    padding-left: 20px;
  }

  .search-area {
    margin-bottom: 10px;
    margin-left: 0;
  }

  .search_bar #new_search {
    margin-left: 0;
    margin-bottom: 10px;
  }

  .search_bar #new_search,
  .order_by {
    margin-top: 0;
  }

  .order_by .sort_option:last-child {
    margin-right: 0;
  }

  .search_bar div {
    padding-right: 15px;
  }
}
