:root {
  --color-search: 37, 232, 153;
  --badge-bg: #d6fbeb;
  --badge-text: #00a55e;
  --link-color: #3e00ff;
  --badge-blue-bg: #e7f0fa;
  --badge-blue-text: #6587ae;
}

.navbar-nav .nav-link.search__icon {
  position: relative;
  font-size: 18px;
  color: white;
}

.nav-line {
  color: #666666;
  font-size: 12px;
  font-weight: normal;
}

.search__icon.dropdown-toggle::after {
  content: none;
}

.search-box {
  width: 500px;
  max-width: calc(100vw - 2em);
  background-color: #ffffff;
}

.search-box__form {
  padding: 1em;
}

.search-result__content {
  color: #212529;
  display: flex;
  align-items: center;
}

.search-result__content:hover {
  color: #5d666f;
  text-decoration: none;
}

.search-result__content a {
  margin-bottom: 0;
  text-decoration: none;
}

.search__link {
  color: var(--link-color);
  font-size: 0.75rem;
}

.search__header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #d8d8d8;
  padding-bottom: 0.8em;
}

.search__title {
  font-size: 0.87rem;
  font-weight: 600;
}

.search-result {
  max-height: 328px;
  overflow-y: auto;
  padding: 0;
  position: relative;
  z-index: 1;
}

.search-result__item {
  font-size: 12px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #d8d8d8;
  padding: 1em 0;
  animation: animateElement linear 0.3s;
  animation-iteration-count: 1;
}

.search-result__title {
  color: #000000;
  font-size: 14px;
  font-weight: normal;
}

.search-result__description {
  color: #666666;
  font-size: 12px;
  font-weight: normal;
}

.search__avatar {
  flex-shrink: 0;
  border-radius: 50px;
  width: 36px;
  height: 36px;
  margin-right: 1em;
}

@keyframes BadgePulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(37, 232, 153, 0.4);
    -webkit-box-shadow: 0 0 0 0 rgba(37, 232, 153, 0.4);
    box-shadow: 0 0 0 0 rgba(37, 232, 153, 0.4);
  }

  70% {
    -moz-box-shadow: 0 0 0 10px rgba(37, 232, 153, 0);
    -webkit-box-shadow: 0 0 0 10px rgba(37, 232, 153, 0);
    box-shadow: 0 0 0 10px rgba(37, 232, 153, 0);
  }

  100% {
    -moz-box-shadow: 0 0 0 20px rgba(37, 232, 153, 0);
    -webkit-box-shadow: 0 0 0 20px rgba(37, 232, 153, 0);
    box-shadow: 0 0 0 20px rgba(37, 232, 153, 0);
  }
}

@keyframes animateElement {
  0% {
    opacity: 0;
    transform: translate(0px, -10px);
  }
  100% {
    opacity: 1;
    transform: translate(0px, 0px);
  }
}

.has-search .form-control {
  padding-right: 2.375rem;
}

.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
}

.nav-item {
  font-size: 10px;
  font-weight: 800;
}

.search-result__description .tag {
  display: inline-block;
}

.tag {
  background-color: #E7F0FA;
  color: #6700FF;
  padding: 5px 10px;
  width: max-content;
  font-weight: bold;
  font-size: 12px;
}