.search_bar {
  min-height: 100px;
  background-color: #F2F6F9;
}

.search_bar #new_search {
  padding: 5px 16px;
  font-size: 12px;
  position: relative;
  bottom: 2px;
}

.save_search {
  color: #000;
  font-family: "Muli-SemiBold";
  position: relative;
  bottom: 2px;
}

.search-area {
  display: inline-block;
  margin-top: 20px;
}

.filter-tags {
  margin-top: 10px;
  margin-bottom: 10px;
}

.filter-tag {
  margin: 2px;
  text-transform: lowercase;
  background-color: black;
  color: white !important;
  border-radius: 5px;
  font-size: 10px;
  padding: 5px;
  display: inline-block;
}

.filter-tag i {
  margin-left: 8px;
}

@media (max-width: 767px) {
  .search-area {
    margin-bottom: 10px;
  }
}
