:root {
  --arrow-color: #6c757d;
  --border-grey: #ced4da;
  --border-blue: #0D0764;
}

.select2 {
  width: 100%;
}

.select2-container--kudos {
  border: 1px solid #ced4da;
  padding: 0.25em;
  border-radius: .25rem;
}

.select2-container--kudos.select2-container--disabled {
  background-color: #e9ecef;
  opacity: 1;
}

.select2-container--kudos .select2-selection--single .select2-selection__arrow b {
  border-color: var(--arrow-color) transparent transparent transparent;
  border-style: solid;
  border-width: 0.45rem 0.45rem 0 0.45rem;
  height: 0;
  left: 0;
  /* margin-top: -0.125rem; */
  position: absolute;
  top: 0;
  bottom: 0;
  width: 0;
  border-radius: 4px;
  margin: auto;
}

.select2-container--kudos.select2-container--open .select2-selection .select2-selection__arrow b {
  border-color: transparent transparent var(--arrow-color) transparent;
  border-width: 0 0.45rem 0.45rem 0.45rem;
}

.select2-container--kudos .select2-selection--single {
  min-height: 28px;
  height: auto;
  display: flex;
}

.select2-container--kudos .select2-selection__placeholder {
  vertical-align: middle;
}

.select2-container--kudos .select2-selection--single .select2-selection__arrow {
  position: absolute;
  bottom: 0;
  right: 0.375rem;
  top: 0;
  width: 0.85rem;
}

.select2-container--kudos .select2-search--dropdown .select2-search__field {
  border-radius: 4px;
  border: 1px solid #7777;
}

.select2-container--open .select2-dropdown.select2-dropdown--below {
  top: -3px;
  left: -1px;
}

.select2-container--open .select2-dropdown.select2-dropdown--above {
  top: 1px;
  left: -1px;
}

.select2-container--kudos .select2-dropdown {
  /* border-color: var(--border-grey); */
}

.select2-container--kudos .select2-results__options {
  max-height: 300px;
  overflow-y: auto;
}

.select2-container--kudos .select2-results__option {
  font-size: 12px;
  padding: 9px 6px;
}

.select2-container--kudos .select2-results__option--highlighted[aria-selected] {
  background-color: #F2F6F9;
}

.select2-container--kudos .select2-selection--single .select2-selection__rendered {
  /* display: flex;
  justify-content: space-between;
  align-items: center;
  flex-basis: 100%; */
}

.select2-container--kudos .select2-selection--single .select2-selection__clear {
  /* order: 1;
  font-size: 20px;
  line-height: 1; */

  position: absolute;
  bottom: 0;
  right: 0.375rem;
  top: 0;
  width: 0.85rem;
  font-size: 20px;
  z-index: 100;
}

.gc-border-blue + .select2-container--kudos,
.select2-container--kudos > .select2-dropdown {
  border-color: var(--border-blue);
}


.kudos-name {
  font-weight: 600;
  font-size: 14px;
}

.kudos-description {
  color: #9B9B9B;
}

.kudos-search-result a.more{
  float: right;
}
.kudos-search-result img{
  /* width: 50px; */
  height: 50px;
}
.kudos-search-result.kudos-search-result-large img{
  /* width: 100px; */
  height: 100px;
}

