.sidebar_search {
  margin-left: 10px;
  margin-right: 10px;
  padding: 40px 20px 10px;
}

.subheading {
  color: #5B5C5C;
  margin-top: 10px;
  margin-bottom: 15px;
  text-transform: uppercase;
  font-family: "Muli-SemiBold";
}

.subheading i {
  margin-left: 5px;
}

.sidebar_search .options {
  margin-bottom: 10px;
}

.sidebar_search .options {
  font-size: 14px;
}

.sidebar_search .options .option{
  margin-bottom: 2px;
}

.sidebar_search label, .sidebar_search #clear {
  cursor: pointer;
}

.sidebar_search #clear {
  margin-top: 2px;
}

.filter-label {
  display: inline-block;
  margin-left: 10px;
}

.sidebar_search .col {
  padding-bottom: 10px;
  border-bottom: 1px solid #D3D6E2;
}

.sidebar_search .col:last-child {
  border-bottom: none;
}
