.sidebar_search {
  margin-left: 10px;
  margin-right: 10px;
  padding: 20px 20px 10px;
}

.subheading {
  color: #5B5C5C;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-weight: 600;
}

.subheading i {
  position: relative;
  top: -1px;
  font-size: 0.8rem;
}

.sidebar_search .options .option {
  margin-bottom: 2px;
}

.option label:before,
.option label:after {
  width: 16px;
  height: 16px;
  top: 3px;
}

.option label {
  padding-left: 20px;
}

.option label:after {
  border: 1px solid #D3D3D3;
  background: #FFF;
}

.sidebar_search label,
.sidebar_search #clear {
  cursor: pointer;
}

.sidebar_search #clear {
  margin-top: 2px;
  color: #3E00FF;
}

.filter-label {
  display: inline-block;
  margin-left: 10px;
}

.sidebar_search .col {
  border-top: 1px solid #D3D3D3;
}

.accordion:after {
  color: #5B5C5C;
}
