.tag {
  text-align: center;
  border-radius: 2px;
  margin: 4px;
  padding: 3px 6px;
  font-size: 11px;
  font-weight: 400;
  white-space: nowrap;
  cursor: pointer;
}

.tag p {
  margin-bottom: 1px;
}

.tag.usd {
  background-color: #d6fbeb;
  color: #00A55E;
}

.tag.usd:hover {
  background-color: #c6ebdb;
}

.tag.network_warning {
  background-color: #fbaf95;
  color: #fff;
}

.tag.token {
  background-color: #e7f0fa;
  color: var(--gc-blue);
}

.tag.token:hover {
  background-color: #d7e0ea;
}

.tag.hiring {
  background-color: #3a9ced;
  color: #fff;
}

.tag.token > a {
  position: absolute;
  margin-top: 0.3rem;
}
