.body {
  padding: 60px 100px !important;
  background-color: #fefefe !important;
  font-family: "OpenSans";
}

.description {
  color: #8e8e8e;
  font-size: 0.9em;
}

.title, .sub-title {
  font-family: "OpenSans Bold";
  text-transform: none;
  font-weight: bolder;
  letter-spacing: 0;
}

.toolbox {
  border-bottom: 1px solid #eee;
}

.sub-title {
  padding-top: 1em;
  font-size: 1.4em;
}

#Faucet img {
  margin-top: 40px;
}

#toc{
  position: fixed;
  top: 150px;
  left: 50px;
  border-top: 1px black solid;
  border-left: 2px black solid;
  background-color: #F5F5F5;
  padding: 10px 5px;
}
#toc li,
#toc a{
  color:#8e8e8e;
}
#toc a.active{
  font-weight: 900;
  color:black;
}

#toc ol {
  list-style: none;
  counter-reset: listNumbering;
  padding-left: 10px;
}

#toc li {
  counter-increment: listNumbering;
}

#toc li::before {
  content: counter(listNumbering);
  font-size: 13px;
}

@media (max-width: 1100px) {
  #toc{
    left: 10px;
  }
}

@media (max-width: 991px) {
  #toc{
    background-color: #FFFFFF;
    position: initial;
    border-top: 0px;
    border-left: 0px;
    padding: 10px 5px;
  }
  #toc a.active{
    color:#8e8e8e;
  }
  .body {
    padding-left: 60px !important;
    padding-right: 60px !important;
  }
}

@media (max-width: 767px) {
  .body {
    padding-left: 30px !important;
    padding-right: 30px !important;
  }
}
.card.new{
  background-color: #f2f2f2;
}
.card.new a.btn{
  display: none;
}
