.top-nav {
  color: #9E9E9E;
  /* padding: 0.6rem; */
  display: flex;
  flex-basis: 100%;
  /* max-height: 43px; */
  flex-wrap: wrap;
  flex-shrink: 0;
  flex-direction: column;
  flex: 1 0 45px;
}

@media (min-width: 768px) {
  .top-nav {
    background: black;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
}

.top-nav a {
  padding: 0.6rem 1rem;
}

.top-nav a img {
  filter: grayscale(1);
  opacity: 0.6;
  transition: all 0.2s linear;
}

.top-nav a:hover img,
.top-nav a.selected img {
  /* opacity: 1; */
}

.top-nav a:hover img {
  filter: grayscale(0);
  opacity: 1;
}
