.top-nav {
  background: black;
  color: #9E9E9E;
  padding: 0.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-basis: 100%;
  max-height: 43px;
}

.top-nav a {
  padding: 0 1rem;
}

.top-nav a img {
  filter: grayscale(1);
  opacity: 0.6;
  transition: all 0.2s linear;
}

.top-nav a:hover img,
.top-nav a.selected img {
  filter: grayscale(0);
  opacity: 1;
}
