.top-nav {
  background: black;
  padding: 1.4rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}


.top-nav a img {
  filter: grayscale(1);
  opacity: 0.6;
}

.top-nav a:hover img {
  filter: grayscale(0);
  opacity: 1;
}
