.top-nav {
  color: #9E9E9E;
  display: flex;
  flex-wrap: wrap;
  flex-shrink: 0;
  background: #0D023B;
  justify-content: space-around;
  border-bottom: 1px solid rgba(255,255,255,0.3);
  padding: 0.5rem 0;
  font-size: 1rem;
  line-height: 1.5;
}


.top-nav a {
  padding: 0.3rem 0.7rem;
}

.top-nav .link {
  text-decoration: none;
  color: #9E9E9E;
}


.top-nav a img {
  filter: grayscale(1);
  opacity: 0.6;
  transition: all 0.2s linear;
  height: 40px;
}

@media (min-width: 768px) {
  .top-nav {
    flex: 1 0 45px;
    background: black;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: none;
    padding: 0;
  }

  .top-nav a img {
    height: auto;
  }
}
.top-nav a:hover img,
.top-nav a.selected img {
  /* opacity: 1; */
}

.top-nav a:hover img {
  filter: grayscale(0);
  opacity: 1;
}
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%0A%3Csvg width='30px' height='30px' viewBox='0 0 30 30' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3C!-- Generator: Sketch 51.2 (57519) - http://www.bohemiancoding.com/sketch --%3E%3Cdesc%3ECreated with Sketch.%3C/desc%3E%3Cdefs%3E%3C/defs%3E%3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='Artboard' transform='translate(-146.000000, -156.000000)' fill-rule='nonzero'%3E%3Cg id='download' transform='translate(77.000000, 45.000000)'%3E%3Cpath d='M73,118 L95,134 M73,134 L95,118' id='Shape-Copy-2' stroke-opacity='0.5' stroke='%23FFFFFF' stroke-width='2' stroke-linecap='round'%3E%3C/path%3E%3Crect id='Path' x='69' y='111' width='30' height='30'%3E%3C/rect%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.brand-hover .logo-animated {
  display: none;
}
.brand-hover:hover .logo-animated {
  display: block;
}
.brand-hover:hover .logo-static {
  display: none;
}

