:root {
  --tl-color: white;
  --tl-bg: #3E00FF;
  --tl-date-color: var(--gc-green-hover);
}

.bg-blue {
  background-color: var(--tl-bg);
  color: white;
}
.bg-blue a{
  color: white;
}

.vision .header-line {
  color: #fff;
  font-weight: normal;
}

/* Timeline */
.tl-component {
  display: grid;
  background-color: var(--tl-bg);
  background-image:url(/static/v2/images/vision/illu.png);
  background-repeat: no-repeat;
  background-position: center bottom;
  font-size: 20px;
}

.tl {
  position: relative;
  width: 100%;
  grid-column: 1/4;
}

.tl:after {
  content: "";
  position: absolute;
  width: 3px;
  top: 0.5rem;
  bottom: 7rem;
  background: var(--tl-color);
  left: 1.6rem;
  border-radius: 10px;
}

.tl-event {
  color: var(--tl-color);
  margin: 1rem;
  margin-left: 4rem;
  float: left;
  padding: 1rem;
  clear: both;
  font-weight: 200;
}

.tl-event b {
  font-size: 1.8rem;
  font-weight: 800;  
  margin-bottom: 1rem;
  display: block;
}

.tl-event:before {
  content: attr(data-time);
  width: 4rem;
  height: 4rem;
  background: var(--tl-bg);
  position: absolute;
  left: calc(4.6rem - 5rem);
  margin-top: -50px;
  border-radius: 50px;
  border: 3px solid var(--tl-color);
  z-index: 1;
  color: var(--tl-date-color);
  font-size: 1.2rem;
  font-weight: 800;
  text-align: center;
  padding: 1rem 0;
}

.tl-event > span {
  display: block;
}

/* Special lists icons */
.list-special {
  padding-left: 20px;
  font-weight: 500;
  font-size: 1.08rem;
}

.list-special li {
  padding-bottom: 4px;
}

li.consensys {
  list-style-image: url(/static/v2/images/vision/consensys.svg);
}
li.gitcoin {
  list-style-image: url(/static/v2/images/vision/gitcoin.svg);
}
li.macro {
  list-style-image: url(/static/v2/images/vision/macro.svg);
}
li.market {
  list-style-image: url(/static/v2/images/vision/market.svg);
}

.twit {
  grid-column: 1/4;
  margin: 3rem;
  text-align: center;
}

.parag-center {
  margin: auto;
  margin-bottom: 5px;
}

@media (min-width: 992px) {

  .tl:after {
    left: 50%;
  }

  .tl-event:before {
    left: calc(50% - 3rem);
    width: 6rem;
    height: 6rem;
    font-size: 1.6rem;
    padding: 1.6rem 0;
    margin-top: -1.6rem;
  }

  .tl-event {
    margin-left: 1rem;
    width: 43%;
  }

  .tl-event:nth-child(odd) {
    float: right;
  }

  .tl-event:nth-child(even) b:before {
    content: '';
    display: block;
    border-bottom: 1px solid;
    border-style: dashed;
    border-top: none;
    position: absolute;
    right: 56%;
    left: 0;
    margin-top: 1em;
    margin-left: 13rem;
  }

  .parag-center {
    max-width: 45%;
  }

  .tl-event:nth-child(even) .list-special {
    text-align: right;
    list-style-position: inside;
  }
}