.box-transaction {
  max-width: 35rem;
  margin: auto;
  background: #fff;
  z-index: 2;
  position: relative;
  padding: 1em 3em 3em 3em;
}

.transaction {
  background-color: #0d023b;
  background-image:  -moz-linear-gradient(60deg, rgba(255, 165, 150, 0.5) 5%, rgba(0, 228, 255, 0.35)), url('/static/v2/images/header-bg.png');
  background-image:  -webkit-linear-gradient(60deg, rgba(255, 165, 150, 0.5) 5%, rgba(0, 228, 255, 0.35)), url('/static/v2/images/header-bg.png');
  background-image:  -ms-linear-gradient(60deg, rgba(255, 165, 150, 0.5) 5%, rgba(0, 228, 255, 0.35)), url('/static/v2/images/header-bg.png');
  background-image:  linear-gradient(60deg, rgba(255, 165, 150, 0.5) 5%, rgba(0, 228, 255, 0.35)), url('/static/v2/images/header-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

.alert_msg {
  top: 0px;
  width: 100%;
  z-index: 99999;
  background-color: #f44336;
  color: white;
  position: fixed;
  text-align: center;
}

.alert_msg.info {
  background-color: #2196F3;
}

.line-back {
  position: relative;
  display: block;

  &:before {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: -3em;
    width: calc(100% + 6em);
    height: 1px;
    z-index: -1;
    background: #c8cccf;
  }
}

.copyright {
  a {
    color: white;
  }
}