.banner .img-holder {
  margin: 1em;
  align-items: center;
  display: flex;
  transition: all .2s ease-in-out;
}

.banner .img-holder--dark {
  background-color:#333;
}

.banner .img-holder--light {
  background-color:#eee;    
}

.banner .sponsors-gold .img-holder {
  width: 113px;
  height: 113px;
  padding: 1em;
}

.banner .sponsors-silver .img-holder {
  width: 75px;
  height: 75px;
  padding: 0.8em;
}

.banner .img-holder:hover {
  transform: scale(1.1);
}

.ui-tooltip {
  padding-top: 6px;
  padding-bottom: 6px;
}

.ui-tooltip-content {
  font-size: 0.75rem;
  font-weight: 600;
}

.banner {
  background: linear-gradient(161deg, rgba(55,27,181,1) 37%, rgba(255,51,117,1) 100%);
}

.banner .hackathon-logo {
  max-width: 40rem;
}

.banner .img-holder {
  width: 113px;
  height: 113px;
  padding: 1em;
}

.banner .hackathon-name {
  font-size: 3rem;
  letter-spacing: 12px;
  line-height: 72px;
  text-transform: uppercase;
}

/* Beyond Blockchain 2019 */
#beyondblockchain_2019 {
  background: #121315;
}

#beyondblockchain_2019 .hackathon-name {
  font-size: 4rem;
}

#beyondblockchain_2019 .sponsors-gold img {
  width: 12rem;
}

#beyondblockchain_2019 .img-holder {
  width: auto;
  height: auto;
  padding: 0;
}