PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/usr/games:/usr/local/games:/snap/bin

## SERVER ADMIN STUFF
15 3 * * * /usr/bin/certbot renew --quiet --renew-hook "/bin/systemctl reload nginx"

## BACKUPS
30 1 * * * cd gitcoin/coin; bash scripts/backup.bash >> /var/log/gitcoin/backup.log  2>&1

## GITCOIN WEB3 STUFF
##TODO: Re-enable this when Gitcoin GETH URL is synced.
1 */6 * * * cd gitcoin/coin; bash scripts/run_management_command_if_not_already_running.bash sync_recent_bounties mainnet  >> /var/log/gitcoin/sync_geth.log  2>&1
*/3 * * * * cd gitcoin/coin; bash scripts/run_management_command_if_not_already_running.bash sync_geth mainnet -5 0  >> /var/log/gitcoin/sync_geth_aggressive.log  2>&1
15 1 */4 * * cd gitcoin/coin; bash scripts/run_management_command_if_not_already_running.bash sync_all_bounties mainnet  >> /var/log/gitcoin/sync_geth_weekly.log  2>&1
* * * * * cd gitcoin/coin; bash scripts/run_management_command_if_not_already_running.bash sync_listener mainnet  >> /var/log/gitcoin/sync_listener.log  2>&1
12 */12 * * * cd gitcoin/coin; bash scripts/run_management_command_if_not_already_running.bash sync_geth rinkeby -200 0  >> /var/log/gitcoin/sync_geth_rinkeby.log  2>&1
*/5 * * * * cd gitcoin/coin; bash scripts/run_management_command_if_not_already_running.bash subminer mainnet --live  >> /var/log/gitcoin/subminer_mainnet.log  2>&1

## KUDOS
*/15 3,10,17 * * * cd gitcoin/coin; bash scripts/run_management_command_if_not_already_running.bash sync_kudos mainnet opensea --catchup >> /var/log/gitcoin/sync_kudos_catchup.log 2>&1
*/10 4,11,18 * * * cd gitcoin/coin; bash scripts/run_management_command_if_not_already_running.bash sync_kudos mainnet opensea --start 1 >> /var/log/gitcoin/sync_kudos_all.log 2>&1

## TOOLING
1 */6 * * * cd gitcoin/coin; bash scripts/run_management_command_if_not_already_running.bash get_prices  >> /var/log/gitcoin/get_prices.log  2>&1
30 1 * * * cd gitcoin/coin; bash scripts/run_management_command.bash refresh_bounties --remote  >> /var/log/gitcoin/refresh_bounties_remote.log  2>&1
30 1 * * * cd gitcoin/coin; bash scripts/run_management_command.bash expire_featured_bounties  >> /var/log/gitcoin/expire_featured_bounties.log  2>&1
*/10 * * * * cd gitcoin/coin; bash scripts/run_management_command.bash sync_gas_prices  >> /var/log/gitcoin/sync_gas_prices.log  2>&1
1 * * * * cd gitcoin/coin; bash scripts/run_management_command.bash sync_gas_guzzlers  >> /var/log/gitcoin/sync_gas_guzzlers.log  2>&1
15 1 * * 0 cd gitcoin/coin; bash scripts/run_management_command_if_not_already_running.bash sync_profiles  >> /var/log/gitcoin/sync_profiles.log  2>&1
15 2 * * * cd gitcoin/coin; bash scripts/run_management_command_if_not_already_running.bash sync_es_profiles  >> /var/log/gitcoin/sync_es_profiles.log  2>&1
15 2 * * * cd gitcoin/coin; bash scripts/run_management_command.bash cleanup_dupe_profiles  >> /var/log/gitcoin/cleanup_dupe_profiles.log  2>&1
1 * * * * cd gitcoin/coin; bash scripts/run_management_command.bash cleanup_dupe_bounties  >> /var/log/gitcoin/cleanup_dupe_bounties.log  2>&1
15 2 * * * cd gitcoin/coin; bash scripts/run_management_command.bash cleanup_stray_activities  >> /var/log/gitcoin/cleanup_stray_activities.log  2>&1
15 4 * * * cd gitcoin/coin; bash scripts/run_management_command.bash cleanup_db_space  >> /var/log/gitcoin/cleanup_db_space.log  2>&1
15 6 * * * cd gitcoin/coin; bash scripts/run_management_command.bash clearsessions  >> /var/log/gitcoin/clearsessions.log  2>&1
15 7 * * * cd gitcoin/coin; bash scripts/run_management_command.bash warn_when_wallet_out_of_eth  >> /var/log/gitcoin/warn_when_wallet_out_of_eth.log  2>&1
*/8 * * * * cd gitcoin/coin; bash scripts/run_management_command.bash send_tips_for_bounty_fulfiller  >> /var/log/gitcoin/send_tips_for_bounty_fulfiller.log  2>&1
35 1 * * * cd gitcoin/coin; bash scripts/run_management_command.bash update_popularity  >> /var/log/gitcoin/update_popularity.log  2>&1
*/7 * * * * cd gitcoin/coin; bash scripts/run_management_command_if_not_already_running.bash update_tx_status  >> /var/log/gitcoin/update_tx_status.log  2>&1

## REPORTING
1 1 1 * * cd gitcoin/coin; bash scripts/run_management_command.bash activity_report $(date --date='-1 month' +%Y/%m/%d) $(date +%Y/%m/%d)  >> /var/log/gitcoin/activity_report.log  2>&1


## GITCOIN MARKETING
30 */12 * * * cd gitcoin/coin; bash scripts/run_management_command_if_not_already_running.bash sync_mail  >> /var/log/gitcoin/sync_mail.log  2>&1
35 14 * * 1,6 cd gitcoin/coin; bash scripts/run_management_command.bash remarket_bounties  >> /var/log/gitcoin/remarket_bounties.log  2>&1
35 11 * * 0,4 cd gitcoin/coin; bash scripts/run_management_command.bash remarket_bounties  >> /var/log/gitcoin/remarket_bounties.log  2>&1
45 10 * * * cd gitcoin/coin; bash scripts/run_management_command.bash expiration  >> /var/log/gitcoin/expiration_bounty.log  2>&1
15 10 * * * cd gitcoin/coin; bash scripts/run_management_command.bash expiration_start_work  >> /var/log/gitcoin/expiration_start_work.log  2>&1
15 1 * * * cd gitcoin/coin; bash scripts/run_management_command.bash sync_keywords  >> /var/log/gitcoin/sync_keywords.log  2>&1
40 */3 * * * cd gitcoin/coin; bash scripts/run_management_command_if_not_already_running.bash sync_slack  >> /var/log/gitcoin/sync_slack.log  2>&1
30 1 * * * cd gitcoin/coin; bash scripts/run_management_command_if_not_already_running.bash sync_github  >> /var/log/gitcoin/sync_github.log  2>&1
*/15 * * * * cd gitcoin/coin; bash scripts/run_management_command_if_not_already_running.bash get_notifications  >> /var/log/gitcoin/get_notifications.log  2>&1
15 10 * * * cd gitcoin/coin; bash scripts/run_management_command_if_not_already_running.bash bounty_feedback_email  >> /var/log/gitcoin/bounty_feedback_email.log  2>&1
15 10 * * * cd gitcoin/coin; bash scripts/run_management_command_if_not_already_running.bash funder_stale_email 30  >> /var/log/gitcoin/funder_stale_email.log  2>&1
15 11 * * * cd gitcoin/coin; bash scripts/run_management_command_if_not_already_running.bash new_bounties_email  >> /var/log/gitcoin/new_bounties_email.log  2>&1
15 10 * * * cd gitcoin/coin; bash scripts/run_management_command_if_not_already_running.bash campaign_email >> /var/log/gitcoin/campaign_email.log 2>&1
15 10 * * * cd gitcoin/coin; bash scripts/run_management_command_if_not_already_running.bash send_unread_notification_emails_roundup >> /var/log/gitcoin/send_unread_notification_emails_roundup.log 2>&1
15 12 * * * cd gitcoin/coin; bash scripts/run_management_command_if_not_already_running.bash bounty_requests_email >> /var/log/gitcoin/bounty_requests_email.log  2>&1
15 * * * * cd gitcoin/coin; bash scripts/run_management_command_if_not_already_running.bash pending_start_work_actions  >> /var/log/gitcoin/pending_start_work_actions.log  2>&1
#0 0 1 */3 * cd gitcoin/coin; bash scripts/run_management_command_if_not_already_running.bash send_quarterly_stats --live  >> /var/log/gitcoin/send_quarterly_stats.log  2>&1
00 10 * * 5 cd gitcoin/coin; bash scripts/run_management_command_if_not_already_running.bash post_leaderboard_to_slack  >> /var/log/gitcoin/post_leaderboard_to_slack.log  2>&1

## PERFTOOLS


0 * * * * cd gitcoin/coin; bash scripts/run_management_command_if_not_already_running.bash create_gas_history  >> /var/log/gitcoin/create_gas_history.log  2>&1
5 1 * * * cd gitcoin/coin; bash scripts/run_management_command_if_not_already_running.bash create_page_cache  >> /var/log/gitcoin/create_page_cache.log  2>&1


## INFRASTRUCTURE
*/15 * * * * cd gitcoin/coin; bash scripts/run_management_command.bash warm_cache  >> /var/log/gitcoin/warm_cache.log  2>&1

* * * * * date >> /var/log/gitcoin/running_procs.log; ps -aux | grep python3 >> /var/log/gitcoin/running_procs.log  2>&1
1 1 * * * rm -f /var/log/gitcoin/running_procs.log
11 10 * * * cd gitcoin/coin; bash scripts/run_management_command.bash expiration_tip  >> /var/log/gitcoin/expiration_tip.log  2>&1
1 10 * * 4 cd gitcoin/coin; bash scripts/run_management_command.bash assemble_leaderboards  >> /var/log/gitcoin/assemble_leaderboards.log  2>&1
10 * * * * cd gitcoin/coin; bash scripts/run_management_command_if_not_already_running.bash pull_stats  >> /var/log/gitcoin/pull_stats.log  2>&1
10 3 * * 0 cd gitcoin/coin; bash scripts/run_management_command.bash pull_github  >> /var/log/gitcoin/pull_github.log  2>&1
10 4 * * * cd gitcoin/coin; bash scripts/run_management_command.bash process_email_events  >> /var/log/gitcoin/process_email_events.log  2>&1
10 * * * * cd gitcoin/coin; bash scripts/run_management_command.bash post_to_craigslist 1  >> /var/log/gitcoin/post_to_craigslist.log  2>&1
10 1 * * * cd gitcoin/coin; bash scripts/run_management_command.bash output_gas_viz  >> /var/log/gitcoin/output_gas_viz.log  2>&1
*/15 * * * * cd gitcoin/coin; bash scripts/run_management_command.bash check_gh_ratelimit  >> /var/log/gitcoin/gh_ratelimit.log  2>&1


## USERS
0 1 * * * cd gitcoin/coin; bash scripts/run_management_command_if_not_already_running.bash set_user_personas  >> /var/log/gitcoin/set_user_personas.log  2>&1
