{% load i18n static %}
{% load kudos_extras %}
<!DOCTYPE html>
<html lang="en">
  <head>
    {% include 'shared/head.html' %}
    {% include 'shared/cards_pic.html' %}
    <link rel="stylesheet" href="{% static "v2/css/kudos/styles.css" %}" />
  </head>
  <body class="{{ active }} bg-light">
    <header class="container-fluid header">
      {% include 'shared/nav.html' %}
      {% include 'shared/kudos_banner.html' %}
      <div class="container pb-5">
        {% include 'shared/kudos_searchbar.html' %}
      </div>
    </header>

    <div class="container py-5">
      <a href="/kudos/marketplace">&lt; {% trans "Kudos Marketplace" %}</a>
    </div>

  	<section class="container my-5 pb-5">
      <div class="row justify-content-around">
        <div class="col-md-6 col-lg-5 mb-5">
          <img id="kudos-image" src="{% static kudos.image %}" alt="{{ kudos.name }}" class="sticky-top w-100">
        </div>
        <div class="col-md-6 col-lg-5">
          <h3 id="kudosName" class="display-4">{{ kudos.name|humanize_name }}</h3>
          <div class="mt-4 font-bigger-1 font-weight-300">
            <p id="kudosDescription class="">{{ kudos.description }}</p>
            <p><span>ID: </span><span id="kudosID">{{ kudos.id }}</span></p>
            <p><span>Rarity: </span><span id="kudosRarity">{{ kudos.rarity }}</span></p>
            <p><span>Owner Address: </span><a id="kudosOwnerAddress" target="_blank" href="https://etherscan.io/address/{{ kudos.owner_address }}" class="btn-link" title="{{ kudos.owner_address }}">{{ kudos.owner_address|humanize_address }}</a></p>
            <p>{{ kudos.price_finney}} ETH</p>
            <p>
              {% for tag in kudos.tags.split %}
                <span class="badge badge-success">{{tag}}</span>
              {% endfor %}
            </p>
            <!-- <p><span>Clones Allowed: </span><span id="kudosNumClonesAllowed">{{ kudos.num_clones_allowed }}</span></p> -->
            <p><span>Clones In Wild: </span><span id="kudosNumClonesInWild">{{ kudos.num_clones_in_wild }}</span></p>
            {% if kudos.num_clones_available != 0 %}
            <p><span>Clones Available: </span><span id="kudosNumClonesAvailable">{{ kudos.num_clones_available }}</span></p>
            {% endif %}
          </div>
          <div class="row justify-content-start pb-4">
            <div class="col-12">
              {% if kudos.num_clones_allowed != 0 and kudos.num_clones_available != 0 %}
              <button type="button" id="getKudos" class="btn btn-gc-blue">{% trans "Get Kudos" %}</button>
              <a href="/kudos/send?name={{ kudos.name}}"><button type="button" id="sendKudos" class="btn btn-gc-blue">{% trans "Send Kudos" %}</button></a>
              {% elif kudos.num_clones_allowed != 0 and kudos.num_clones_available == 0 %}
              <button type="button" id="getKudosDisabled" class="btn btn-gc-blue disabled">{% trans "Not Available" %}</button>
              {% endif %}
            </div>
          </div>
          <hr>
          <div class="row pt-3">
            <div class="col-12">
              <p class="font-bigger-1">{% trans "These people own this Kudos" %}</p>
            </div>
          </div>
          <div class="row">
            {% for profile in related_profiles %}
            <div class="col-12">
              <a href="/profile/{{ profile.handle }}"><img src="/media/{{ profile.avatar.svg }}" width="70" class="rounded-circle border m-1"></a>
            </div>
            {% if forloop.counter|divisibleby:5 %}
          </div>
          <div class="row">
            {% endif %}
            {% endfor %}
          </div>
        </div>
      </div>
  	</section>
    
    {% include 'shared/footer.html' %}
    {% include 'shared/analytics.html' %}
    {% include 'shared/footer_scripts.html' with slim=1 %}
    <script src="{% static "v2/js/popper.min.js" %}"></script>
    <script src="{% static "v2/js/bootstrap.min.js" %}"></script>
    <script src="{% static "v2/js/pages/kudos_details.js" %}"></script>
    <script src="{% static "v2/js/abi.js" %}"></script>
    <script>
      var bootstrapTooltip = $.fn.tooltip.noConflict()
    </script>
    <script src="{% static "v2/js/pages/kudos-search.js" %}"></script>
    {% include 'shared/rollbar.html' %}
    {% include 'shared/messages.html' %}
  </body>
</html>