{% load i18n static kudos_extras avatar_tags%}
<!DOCTYPE html>
<html lang="en">
  <head>
    {% include 'shared/head.html' %}
    {% include 'shared/cards_pic.html' %}
    <link rel="stylesheet" href="{% static "v2/css/kudos/styles.css" %}" />
    <link rel="stylesheet" href="{% static "v2/css/jquery-ui.css" %}" />

  </head>
  <body class="{{ active }} bg-light g-font-muli">
    {% include 'shared/top_nav.html' with class='d-md-flex' %}
    <header class="container-fluid header">
      {% include 'shared/kudos_nav.html' %}
      <!-- {% include 'shared/kudos_banner.html' %} -->
      <div class="container pb-5">
        {% include 'shared/kudos_searchbar.html' %}
      </div>
    </header>

    {% if is_staff %}
    <div class="alpha-warning font-caption mb-0">
      <span class="font-weight-bold">Staff only</span>
      <a style="color:white;" href="{{kudos.admin_url}}">{% trans "kudos Admin" %}</a>
    </div>
    {% endif %}

    <div class="container py-5">
      <a href="{% url 'kudos_marketplace' %}">&lt; {% trans "Kudos Marketplace" %}</a>
    </div>

  	<section class="container my-5 pb-5">
      <div class="row justify-content-around">
        <div class="col-md-6 col-lg-5 mb-5">
          <div class="kudos_msg">
            <strong></strong>
            <p></p>
          </div>
          <div id="kudos-image" class="sticky-top w-100">
            {% include 'shared/kudos_levitate.html' %}
            <img src="{% static kudos.image %}" alt="{{ kudos.ui_name }}" class="w-100">
          </div>
        </div>
        <div class="col-md-6 col-lg-5 kudos-details">
          {% if 'cellarius' in kudos.tags %}
            <img src="{% static 'v2/images/kudos/assets/cellarius_logo_horizontal.svg' %}" alt="Cellarius" height="40">
          {% endif %}
          <h3 id="kudosName" class="kudos-details__title">{{ kudos.ui_name }} {% if kudos.generation %}<small class="lead">Gen {{ kudos.generation }}</small>{% endif %}</h3>
          <div>Owner Address: <a target="_blank" href="https://etherscan.io/address/{{ kudos.owner_address }}" class="kudos-details__address" title="{{ kudos.owner_address }}">{{ kudos.owner_address|humanize_address }}</a></div>
          <div class="my-4 font-bigger-1 font-weight-300">
            <p>{{ kudos.description }}</p>
          </div>
          <div class="kudos-details__subtitle">
            <img class="mr-2" src="{% static 'v2/images/kudos/assets/kudos-diamond.svg' %}" alt="">{% trans "MARKETPLACE STATS" %}
            <i id="share-button" class="fas fa-share-alt float-right"></i>
          </div>
          {% include 'share.html' %}
          <p>
            <span class="text-color_blue text-weight_semibold">
              {{ kudos.rarity }}
            </span>
            ({{ kudos.num_clones_in_wild_counting_indirect_send }} {% trans "out of" %} {{ kudos.num_gen0_clones_allowed }})
            <i data-toggle="tooltip" title="" data-html="true" data-original-title="<span class='title-tooltip'>Kudos Rarity</span>
              <table class='text-left'>
                <tr><td>{% trans 'One of a Kind' %}:</td><td>1 clone</td></tr>
                <tr><td>{% trans 'Legendary' %}:</td><td>2 - 5 clones</td></tr>
                <tr><td>{% trans 'Ultra' %}:</td><td>6 - 15 clones</td></tr>
                <tr><td>{% trans 'Very Rare' %}:</td><td>16 - 35 clones</td></tr>
                <tr><td>{% trans 'Rare' %}:</td><td>36 - 100 clones</td></tr>
                <tr><td>{% trans 'Special' %}:</td><td>101 - 200 clones</td></tr>
                <tr><td>{% trans 'Common' %}:</td><td>201+</td></tr>
              </table>" data-template='<div class="tooltip-kudos" role="tooltip"><div class="tooltip-inner"></div></div>' class="fas fa-question-circle text-color_blue">
            </i>
          </p>

          <div class="mb-4">
            <span id='kudosNumClonesAvailable' class="text-color_blue text-weight_semibold">{{ kudos.num_clones_available_counting_indirect_send }}</span> {% trans "Total Available" %}
            <span id='kudosNumClonesAllowed' class="text-color_blue text-weight_semibold ml-5">{{ kudos.num_clones_in_wild_counting_indirect_send }}</span> {% trans "Total minted" %}
          </div>
          <p class="mb-4 kudos-details__price" data-ethprice="{{ kudos.price_in_eth }}">{{ kudos.price_in_eth }} ETH <small></small></p>
          <div class="row justify-content-start pb-4">
            <div class="col-12">
              {% if send_enabled %}
                <a href="{% url 'kudos_send' %}?id={{ kudos.id}}" class="btn btn-gc-blue">{% trans "Send Kudos" %}</a>
              {% else %}
                <button type="button" class="btn btn-gc-blue" disabled>{% trans "Not Available" %}</button>
                <small class="d-block mt-2">
                  {% if send_enabled_for|length %}
                    {% trans "These users have the power to send this Kudos.  Contact them if you want this Kudos:" %}
                    <ul>
                      {% for sef in send_enabled_for %}
                      <li>
                        <a href="{% url 'profile' sef.profile.handle %}" title="{{sef.profile.handle}}">
                        <img src="{% avatar_url sef.profile.handle  %}" alts="{{sef.profile.handle}}" width="70" class="rounded-circle border m-1">
                        </a>
                      </li>
                      {% endfor %}
                    </ul>
                  {% else %}
                    {% trans "There are no clones available but you can still look at the beautiful artwork!" %}
                  {% endif %}
                </small>
              {% endif %}
            </div>
          </div>
          <hr>
          <p>
            {% for tag in kudos.tags_as_array %}
            <a class="badge badge-kudos" href="{% url 'kudos_marketplace' %}?q={{ tag }}">{{ tag }}</a>
            {% endfor %}
          </p>
          {% if related_handles %}
            <div class="row pt-3">
              <div class="col-12">
                <p class="font-bigger-1">{% trans "These people own this Kudos" %}</p>
              </div>
            </div>
            <div class="row">
              {% for handle in related_handles %}
                <a href="{% url 'profile' handle %}" title="{{handle}}">
                <img src="{% avatar_url handle  %}" alts="{{handle}}" width="70" class="rounded-circle border m-1">
                </a>
              {% endfor %}
            </div>
          {% endif %}
        </div>
      </div>
    </section>
    <section class="container my-5 py-5">
      {% include 'shared/disqus.html' with page_url=request.build_absolute_uri  %}
    </section>
    {% include 'shared/footer.html' %}
    {% include 'shared/analytics.html' %}
    <script src="{% static 'v2/js/lib/tweenlite.js' %}"></script>
    {% include 'shared/footer_scripts.html' with slim=1 %}
    <script src="{% static "v2/js/pages/kudos_details.js" %}"></script>
    <script src="{% static "v2/js/abi.js" %}"></script>
    <script src="{% static "v2/js/amounts.js" %}"></script>
    <script src="{% static "v2/js/eth-price.js" %}"></script>
    <script>
      $('[data-toggle="tooltip"]').bootstrapTooltip();
    </script>
    <script src="{% static "v2/js/pages/kudos-search.js" %}"></script>
    {% include 'shared/messages.html' %}
  </body>
</html>
