{% extends 'onepager/base.html' %}
{% load i18n static %}
{% block 'scripts' %}
<script src="{% static "v2/js/lib/jquery.js"%}"></script>
<script src="{% static "v2/js/pages/shared_bounty_mutation_estimate_gas.js" %}"></script>
<script src="{% static "v2/js/pages/gas.js" %}"></script>


{% endblock %}
<!-- Main -->
{% block 'main' %}

<style>
  table td {
    padding: 5px;
    text-align: center;
  }
  table tr {
    border-bottom: 1px solid #555555;
  }
  table td input {
    width: 100px !important;
  }
</style>
<section id=main style="max-width: 90%;">
{% include 'shared/gas_nav.html' %}
{% include 'shared/gas_advisories.html' %}

<script type="text/javascript">
  var source = {{conf_time_spread | safe}};
  var gas_times = source;
</script>
  <h1> {% trans "Gitcoin Contract Gas Calculator" %} <span id="alpha">{% trans "Alpha" %}</span> </h1>

  <div style="text-align:center; ">
    <table id="estimateTable">
       <tr>
          <td>
            Gas Price (gwei)
          </td>
          <td>
            Product
          </td>
          <td>
            Persona
          </td>
          <td>
            Action
          </td>
          <td class=hidden>
            Gas Needed (wei)
          </td>
          <td>
            Cost (eth)
          </td>
          <td>
            Cost (USD)
          </td>
          <td>
            Conf Time (min)
          </td>
       </tr>
       <tr class="all">
          <td>
            <input class="gas_cost" type="number" min=0 value="{{start_gas_cost |floatformat:0}}" style="border: 1px solid red; ">
          </td>
          <td colspan="6">
            &nbsp;
          </td>
       </tr>
       {% for action in actions %}
         <tr class="new_bounty">
            <td>
                ^^
            </td>
            <td>
              {{action.product}}
            </td>
            <td>
              {{action.persona}}
            </td>
            <td>
              <span class="name">{{action.name}}</span>
              <input type="hidden" class="target" value="{{action.target}}" />
            </td>
            <td class="hidden">
              <input class="gas_needed" type="text" disabled="disabled">
            </td>
            <td class="">
              <input class="total_cost_eth" type="text" disabled="disabled">
            </td>
            <td>
              <input class="total_cost_usd" type="text" disabled="disabled">
            </td>
            <td>
              <input class="total_time" type="text" disabled="disabled">
            </td>
         </tr>
       {% endfor %}

    </table>
  </div>
  <script>
    document.eth_to_usd = {{eth_to_usd}};
  </script>


</section>


{% endblock %}
