{% extends 'onepager/base.html' %}
{% load i18n static %}
{% block 'scripts' %}

{% endblock %}
<!-- Main -->

{% block 'main' %}

<section id=main style="max-width: 90%;">
{% include 'shared/gas_nav.html' %}


<h1>{% trans "FAQ" %}</h1>
<a href="{% url 'gas_faucet_list' %}" target="_blank" rel="noopener noreferrer">{% trans "I need gas money, where can I get it?" %}</a>
<br>
<a href="https://github.com/gitcoinco/gitcoinco/issues/50" target="_blank" rel="noopener noreferrer">{% trans "Why isn't my Ethereum transaction confirming?" %}</a>
<br>
<a href="https://coincenter.org/entry/what-is-ethereum" target="_blank" rel="noopener noreferrer">{% trans "What is Ethereum?" %}</a>
<br>
<a href="https://www.ethereum.org/ether" target="_blank" rel="noopener noreferrer">{% trans "Ethereum FAQ" %}</a>
<br>
<a href="https://media.consensys.net/ethereum-gas-fuel-and-fees-3333e17fe1dc#.krqnhnkav" target="_blank" rel="noopener noreferrer">{% trans "What is gas?" %}</a>
<br>
<a href="https://twitter.com/mycrypto/status/1120379518311485441?s=12" target="_blank" rel="noopener noreferrer">{% trans "How does gas work?" %}</a>
<br>
<a href="https://github.com/gitcoinco/gitcoinco/issues/5" target="_blank" rel="noopener noreferrer">{% trans "Why do we need to pay gas?" %}</a>
<br>
<a href="https://github.com/gitcoinco/gitcoinco/issues/14" target="_blank" rel="noopener noreferrer">{% trans "What are the advantages of Ethereum-based applications??" %}</a>
<br>
<a href="https://github.com/gitcoinco/gitcoinco/issues/4" target="_blank" rel="noopener noreferrer">{% trans "I can't figure this out.  Help!" %}</a>
<br>
<a href="https://blog.ethereum.org/2016/10/31/uncle-rate-transaction-fee-analysis/" target="_blank" rel="noopener noreferrer">{% trans "Gas Market; Advanced Reading" %}</a>
<br>

<a href="{% url 'slack' %}" target="_blank" rel="noopener noreferrer">{% trans "Contact the Gitcoin core team via slack." %}</a>

</section>


{% endblock %}
