{% extends 'onepager/base.html' %}
{% load i18n static %}
{% block 'scripts' %}

{% endblock %}
<!-- Main -->

{% block 'world' %}
    <canvas id="world" style="position:absolute; top:0px; left: 0px;">
    </canvas>
{% endblock %}

{% block 'main' %}

<section id=main>
{% include 'shared/gas_nav.html' %}

<h1>{% trans "FAQ" %}</h1>
<a href="{% url 'faucet' %}" target="_blank" rel="noopener noreferrer">{% trans "I need gas money, where can I get it?" %}</a>
<br>
<a href="https://github.com/gitcoinco/gitcoinco/issues/5" target="_blank" rel="noopener noreferrer">{% trans "Why do we need to pay gas?" %}</a>
<br>
<a href="https://github.com/gitcoinco/gitcoinco/issues/14" target="_blank" rel="noopener noreferrer">{% trans "What are the advantages of Ethereum-based applications??" %}</a>
<br>
<a href="https://github.com/gitcoinco/gitcoinco/issues/4" target="_blank" rel="noopener noreferrer">{% trans "I can't figure this out.  Help!" %}</a>
<br>
<a href="{% url 'slack' %}" target="_blank" rel="noopener noreferrer">{% trans "Contact the core team via slack." %}</a>

</section>


{% endblock %}
