{% extends 'onepager/base.html' %}
{% load i18n static %}
{% block 'scripts' %}
<script src="{% static "v2/js/lib/jquery.js"%}"></script>
{% endblock %}
<!-- Main -->

{% block 'world' %}
    <canvas id="world" style="position:absolute; top:0px; left: 0px;">
    </canvas>
{% endblock %}

{% block 'main' %}

<section id=main style="max-width: 90%;">
{% include 'shared/gas_nav.html' %}

<h1> {% trans "Gas History" %} ({{breakdown}}) <span id="alpha">{% trans "Alpha" %}</span> </h1>

  <ul class="gas_nav small">
    {% for granularity in granularity_options %}
    <li>
      <a href="{%url 'gas_history_view'%}?breakdown={{granularity}}">{{granularity}} view</a>
    </li>
    {% endfor %}
  </ul>


  <div id="key">
    {% for key, val in lines.items %}
    <p style="color:{{val}}">{% trans "Gas price needed to confirm within" %} {{key}} {% trans "minute" %}{{key|pluralize}}</p>
    {% endfor %}
  </div>

{% if gas_histories == '[]' %}
  <p>
    {% blocktrans %} We are unable to sync gas data at this time.  We recommend you check out <a href="https://ethgasstation.info/predictionTable.php" target="_blank" rel="noopener noreferrer">ETH Gas Station</a> instead.{% endblocktrans %}
  </p>
{% else %}
  <svg id="graph"></svg>
  {% include 'shared/gas_history.html' with y_axis="Gas Price (gwei)" %}
  {% include 'shared/disqus.html' with page_url='https://gitcoin.co/gas/history?' %}

  </div>

  </div>
  <script>
  </script>


{% endif %}

</section>

{% endblock %}
