{% extends 'onepager/base.html' %}
{% load i18n static date_fromisoformat timesince_fromisoformat bundle %}
{% block 'scripts' %}
{% bundle merge_js file jquery %}
  <script src="jquery.min.js" base-dir="/node_modules/jquery/dist/"></script>
{% endbundle %}
<script src="{% static "v2/js/pages/hackathon-list.js" %}"></script>
{% endblock %}
<!-- Main -->

{% block 'world' %}
    <canvas id="world" style="position:absolute; top:0px; left: 0px;">
    </canvas>
{% endblock %}

{% block 'main' %}

<section id=main style="max-width: 90%;">
  <div>
    {% include 'shared/gas_nav.html' %}

    <h1> {% trans "Gas History" %} ({{breakdown}}) <span id="alpha">{% trans "Alpha" %}</span> </h1>

    <ul class="gas_nav small">
      {% for granularity in granularity_options %}
      <li>
        <a href="{%url 'gas_history_view'%}?breakdown={{granularity}}">{{granularity}} view</a>
      </li>
      {% endfor %}
    </ul>


    <div id="key">
      {% for key, val in lines.items %}
      <p style="color:{{val}}">{% trans "Gas price needed to confirm within" %} {{key}} {% trans "minute" %}{{key|pluralize}}</p>
      {% endfor %}
    </div>

    {% if gas_histories == '[]' %}
      <p>
        {% blocktrans %} We are unable to sync gas data at this time.  We recommend you check out <a href="https://ethgasstation.info/predictionTable.php" target="_blank" rel="noopener noreferrer">ETH Gas Station</a> instead.{% endblocktrans %}
      </p>
    {% else %}
      <svg id="graph"></svg>
      {% include 'shared/gas_history.html' with y_axis="Gas Price (gwei)" %}
    {% endif %}
  </div>
  <div>
    <div id="tabs" class="hackathon-tabs row my-4">
      <div class="container">
        <ul class="nav nav-tabs mt-3 tablist-small tablist-extra-small" id="myTab" role="tablist">
          {% for id, title, num in tabs %}
            <li class="nav-item">
              <a class="nav-link nav-line no-pink {% if id == default_tab %}active{% endif %}" href="#" data-href="{{ id }}" style="{% if id == default_tab %}font-weight: 700;{% endif %}">{{ title|title }} ({{num}})</a>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
    {% include 'shared/hackathon-list.html' with force_color=True left_align_cards=True %}
  </div>

</section>

{% endblock %}
