<script id="idea_template" type="text/x-jsrender">
    <div id="idea_[[:id]]" data-idea-id="[[:id]]" class="idea">
        <div class="d-flex justify-content-between pb-3">
          <div class="idea-title">[[:summary]]</div>
          <div class="d-inline-flex">
            <div class="text-center p-1">
              <div class="align-middle"><i class="far fa-comment"></i></div>
              <div>[[:posts]]</div>
            </div>
            <div class="text-center p-1">
              <div class="align-middle"><i class="far fa-heart"></i></div>
              <div>[[:likes]]</div>
            </div>
          </div>
        </div>
        <p>More info: [[:more_info]]</p>
        <div class="d-flex justify-content-between">
          <div class="avatar-label">
            <img src='[[:avatar_url]]' class='user-avatar'> Submitted by <strong>[[:full_name]]</strong>
          </div>
          
          <div class="d-flex justify-content-between">
            <div class="badge-container">
              <span class="badge-container-label"><strong>Has:</strong></span>
              [[if capital_exists]]            
              <span class="badge badge-success m-1">Capital</span>
              [[/if]] 
              [[if builders_exists]]                        
              <span class="badge badge-success m-1">Builders</span>            
              [[/if]] 
              [[if designers_exists]]            
              <span class="badge badge-success m-1">Designers</span>            
              [[/if]] 
              [[if customer_exists]]
              <span class="badge badge-success m-1">Customer</span>            
              [[/if]]
            </div>   
            <div class="badge-container">
              <span class="badge-container-label"><strong>Needs:</strong></span>
              [[if looking_for_capital]]
              <span class="badge badge-warning m-1">Capital</span>
              [[/if]] 
              [[if looking_for_builders]]
              <span class="badge badge-warning m-1">Builders</span>            
              [[/if]]
              [[if looking_for_designers]]
              <span class="badge badge-warning m-1">Designers</span>            
              [[/if]]
              [[if looking_for_customers]]
              <span class="badge badge-warning m-1">Customers</span>            
              [[/if]]
            </div>
          </div>
        </div>
      </div>
  </script>