{% load i18n humanize %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="title" content="Leaderboards - Best in Bounties | Gitcoin">
    <meta name="description" content="See the Top Earners, Payers, Orgs, Tokens and Keywords on Gitcoin.">
    {% include 'shared/head.html' %}
    {% include 'shared/cards_pic.html' %}
    <link rel="stylesheet" href="{% static "v2/css/leaderboard.css" %}">
  </head>
  <body class="interior {{active}} g-font-muli">
    {% include 'shared/tag_manager_2.html' %}
    <div class="container-fluid header dash">
      {% include 'shared/nav.html' %}
    </div>
    <div class="row no-gutter">
      <div class="col body">
        <div class="container-fluid" id="leaderboard">
          <div class="offset-md-1 col-sm-12 col-md-10">
            <div class="row mt-0 mb-2 pt-1 podium">
              {% for podium_item in podium_items %}
                <div class="col-4 winner">
                  {% if not is_linked_to_profile %}
                    <img class="img-fluid"  src="{{podium_item.avatar_url}}" >
                  {% endif %}
                  <div class="container winner-content">
                    <div class="row align-items-center">
                      {% if forloop.counter == 1 %}
                        <div class="col-4 winner-position winner-position-first"></div>
                      {% else %}
                      {% if forloop.counter == 2 %}
                        <div class="col-4 winner-position winner-position-second"></div>
                      {% else %}
                      {% if forloop.counter == 3 %}
                        <div class="col-4 winner-position winner-position-third"></div>
                      {% endif %}{% endif %}{% endif %}

                      <div class="col-8 " >
                        <h5 style="color:white">
                          {% if not is_linked_to_profile %}
                          <a href="{% url "profile" %}{{podium_item.github_username}}" target="_blank">
                            {{podium_item.github_username}}
                          </a>
                          {% else %}
                            {{podium_item.github_username}}
                          {% endif %}
                        </h5>
                        <h2 style="color:#86eec4" > ${{podium_item.amount|floatformat:2}} </h2>
                      </div>
                    </div>
                  </div>
                </div>
              {% endfor %}
            </div>
            <div class="row mt-0 ml-1 pt-1 pl-1" style="height: 4em; padding: 0.5em;">
              <div class="col-10" style="padding-top: 0.5em;">
                <h3>{{title}} <span id="alpha">Alpha</span></h3>
              </div>
              <div class="col-2 select">
                <div class="form-group">
                  <select id="key" class="form-control">
                    {% for this_title in titles.items %}
                      <option value="{{this_title.0}}"
                        {% if selected == this_title.1 %}selected=selected{% endif %} >{{this_title.1}}
                      </option>
                    {% endfor %}
                  </select>
                </div>
              </div>
            </div>

            {% if items|length == 0 %}
              <div class="row mt-0 ml-0 pl-3">
                {% trans "None found." %}
              </div>
            {% endif %}

            <table class="table table-striped table-hover leaderboard_entry">
              <tbody>
                {% for item in items %}
                  <tr class='{% if not is_linked_to_profile %} clickable-row {% endif %} d-flex  align-items-stretch ' {% if not is_linked_to_profile %} data-href="{% url "profile" %}{{item.github_username}}" {% endif %} >
                    <td class="col-1 d-flex align-items-center item-position">#{{forloop.counter}}</td>
                    <td class="col-1 d-flex align-items-center" >
                      {% if not is_linked_to_profile %}
                        <img class="img-fluid"  src="{{item.avatar_url}}">
                      {% endif %}
                    </td>
                    <td class="col-2 d-flex align-items-center">
                        {% if not is_linked_to_profile %}
                          <a href="{% url "profile" %}{{item.github_username}}" target="_blank" >
                            {{item.at_ify_username}}
                          </a>
                        {% else %}
                          {{item.at_ify_username}}
                        {% endif %}
                    </td>
                    <td class="col-5 progress_container">
                      <div class="progress ">
                        {% with forloop.counter0 as index %}
                          <div class="progress-bar progress-bar-striped bg-success"
                            role="progressbar"
                            aria-valuenow={{item.amount}}
                            aria-valuemin=0
                            aria-valuemax={{amount_max}}>
                          </div>
                        {% endwith %}
                      </div>
                    </td>
                    <td class="col-1 d-flex align-items-center item-count item-count-bounties">
                      {{item.count}} bounties/tips
                    </td>
                    <td class="col-2 d-flex align-items-center item-amount item-amount-revenue">
                      ${{item.amount|floatformat:2|intcomma}}
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
          </table>
        </div>
      </div>
    </div>

    {% include 'shared/bottom_notification.html' %}
    {% include 'shared/analytics.html' %}
    {% include 'shared/footer_scripts.html' %}
    {% include 'shared/footer.html' %}
    {% include 'shared/messages.html' %}

  </body>

  <!-- jQuery -->
  <script src="{% static "v2/js/abi.js" %}"></script>
  <script src="/dynamic/js/tokens_dynamic.js"></script>
  <script src="{% static "v2/js/tokens.js" %}"></script>
  <script src="{% static "v2/js/shared.js" %}"></script>
  <script src="{% static "v2/js/pages/leaderboard.js" %}"></script>

</html>
