{% load i18n static %}
<!DOCTYPE html>
<html lang="en">

  <head>
    {% include 'shared/head.html' %}
    {% include 'shared/cards_pic.html' %}
    <link rel="stylesheet" href="{% static "v2/css/bounty.css" %}" />
    <link rel="stylesheet" href="{% static "v2/css/tag.css" %}" />
  </head>

  <body class="interior {{active}}">
    {% include 'shared/tag_manager_2.html' %}
    <div class="container-fluid header dash">
      {% include 'shared/nav.html' %}
    </div>
    <div class="row no-gutter">
      <div class="col-12 col-md-2 left-rails text-center" style="background: #F2F6F9;">
        {% include 'shared/current_balance.html' %}
        <div class="explorer font-body">
          <a href="{% url 'explorer' %}"><i class="fa fa-chevron-left"></i> {% trans "Back to Issue Explorer" %}</a>
        </div>
      </div>

      <div class="col-12 offset-md-1 col-md-8 body">
        <div class="alert info transaction-status" style="display:none;">
          <div style='width:100%; font-size: 16px;'>
            <strong style="font-size: 22px;">{% trans "Your transaction has been posted to web3" %}</strong>
            <br>
            {% blocktrans %}Please wait a minute or two for web3 to sync
            <a target="_blank" href="javascript:void(0)" id="transaction_url">this transaction</a>.{% endblocktrans %}
            <br>
            <br>
            {% trans "This page will automatically refresh as soon as the blockchain is updated." %}
            ({% trans "You may close the browser tab." %})
          </div>
        </div>

        <div class="row loading justify-content-center align-items-center loading_img">
          <img src="{% static "v2/images/loading_v2.gif" %}">
        </div>

        <div class="row nonefound" style="display:none;">
          <img src="{% static "v2/images/shrug_bot.png" %}">
          <h3>{% trans "No funded issue found." %}</h3>
          <p>{% url 'explorer' as explorerurl %}{% blocktrans %}Check out the <a href="{{ explorerurl }}">Issue Explorer</a>{% endblocktrans %}</p>
          <br>
          <h6>{% trans "Be the OSS Funding you wish to see in the world." %}</h6>
          <p id='submitsolicitation'>{% url 'new_funding' as new_fundingurl %}{% blocktrans %} Looking to fund some work?  You can submit a new Funded Issue <a href="{{ new_fundingurl }}">here</a>.{% endblocktrans %}</p>
        </div>

        <div class="row ml-2 mr-2 pl-4 pr-4 waiting_room_entertainment" style="display: none;">
          {% include 'shared/rain.html' with class="color" %}
          <div class="quote-container">
            <div class="quote_text"></div>
            <div class="quote_author"></div>
            <input id="quoteRefresh" class="button button--primary" name="refresh" type='submit' onclick='javascript:waitingRoomEntertainment()' value="Refresh Quote" >
          </div>
        </div>

        <div class="col-12" id="bounty_details">
          <div class="row font-body">
            <div class="d-none d-lg-block col-lg-1">
              <div id="avatar_url"></div>
            </div>
            <div class="col-12 col-lg-11 pl-lg-4">
              <div class="col-12">
                <h4 id="title" class="font-title"></h4>
                <span id="network"></span>
              </div>
              <div class="col-12">
                <div id="status"></div>
              </div>
              <div class="col-12 bounty-info">
                <div id="timer">
                  <div>
                    <span class="bounty-info-heading timeleft">{% trans "Time left" %} </span>
                    <span class="bounty-info-text" id="expires_date"></span>
                  </div>
                  <div>
                    <span class="progress-bar">
                      <span class="progress"></span>
                    </span>
                  </div>
                </div>
                <div>
                  <span class="bounty-info-heading">{% trans "Opened" %} </span>
                  <span class="bounty-info-text" id="web3_created"></span>
                </div>
                <div id="fulfillment_accepted_on_wrapper">
                  <span class="bounty-info-heading">{% trans "Accepted" %} </span>
                  <span class="bounty-info-text" id="fulfillment_accepted_on"></span>
                </div>
                <div>
                  <span class="bounty-info-heading">{% trans "Experience Level" %} </span>
                  <span class="bounty-info-text" id="experience_level"></span>
                </div>
                <div>
                  <span class="bounty-info-heading">{% trans "Issue Type" %} </span>
                  <span class="bounty-info-text" id="bounty_type"></span>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12 bounty-actions">
                <div class="col-12 col-md-7">
                  <div id="right_actions"></div>
                </div>
                <div class="col-12 col-md-5">
                  <div class="tags font-caption align-items-center">
                    <div class="tag token">
                      <p>
                        <span id="value_in_token"></span>
                      </p>
                    </div>
                    <div id=value_in_usdt_wrapper title="" class="tag usd">
                      <p>
                        <span id="value_in_usdt"></span>
                        <span>USD @ </span>
                        <span id="token_value_in_usdt"></span>
                        <span id="token_value_time_peg_wrapper">
                            as of<span id="token_value_time_peg"></span>
                        </span>
                      </p>
                    </div>
                  </div>
                </div>
            </div>
            <div class="col-12">
              <h5 class="bounty-heading" id="description">{% trans "Description" %}</h5>
              <div class="bounty-text" id="issue_description"></div>
            </div>
            <div class="col-12">
              <div id="issue_keywords"></div>
            </div>
            <div class="col-12">
              <h5 class="bounty-heading">{% trans "Contributors" %}</h5>
              <div class="row contributors-info">
                <div class="col-12 col-md-4 contributor-box">
                  <i class="far fa-clock"></i>
                  <h6>{% trans "Work Started" %}</h6>
                  <ul id="started_owners_username" class="font-body"></ul>
                </div>
                <div class="col-12 col-md-4 contributor-box">
                  <i class="fas fa-desktop"></i>
                  <h6>{% trans "Work Submitted" %}</h6>
                  <ul id="submitted_owners_username" class="font-body"></ul>
                </div>
                <div class="col-12 col-md-4 contributor-box">
                  <i class="fab fa-ethereum"></i>
                  <h6>{% trans "Work Accepted" %}</h6>
                  <ul id="fulfilled_owners_username" class="font-body"></ul>
                </div>
              </div>
            </div>
            <div class="col-12">
              <h5 class="bounty-heading">{% trans "All Activity" %}</h5>
              <div id="activities" class="font-body"></div>
            </div>
            <div class="col-12">
              <h5 class="bounty-heading">{% trans "Funder" %}</h5>
              <div class="row box">
                <div class="col-12 col-md-1 funder-avatar">
                  <div id="issuer_avatar_url"></div>
                </div>
                <div class="col-12 col-md-11">
                  <div id="bounty_owner_name" class="font-subheader"></div>
                  <div>
                    <span class="bounty-subheading">{% trans "Funder" %} :</span>
                    <span class="bounty-text" id="bounty_owner_address"></span>
                  </div>
                  <div>
                    <span class="bounty-subheading">{% trans "Email" %} :</span>
                    <span class="bounty-text" id="bounty_owner_email"></span>
                  </div>
                  <div>
                    <span class="bounty-subheading">{% trans "Gitcoin Profile" %} :</span>
                    <span class="bounty-text" id="bounty_owner_github_username"></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script id="action" type="text/x-jsrender">
      [[if enabled]]
        <span id="[[:id]]" [[if id == 'submit']] [[if !work_started]] class="none" [[/if]] [[/if]]
          title='<div class="tooltip-info tooltip-sm">[[:title]]</div>'>
          [[if pending_acceptance]]
            <a class="button button--primary accept" role="button" href="[[:href]]" target="[[:target]]">
              <span class="font-caption">[[:text]] ( [[:pending_acceptance]] )</span>
            </a>
          [[else color == 'white']]
            <a class="btn btn-small" id="btn-white" role="button" target="_blank" href="[[:href]]" target="[[:target]]">
              [[if comments]]
                <span class="font-caption">
                  [[:text]]
                  <span class="comment">
                    <img src={% static "v2/images/comment.svg" %}>
                    <span class="github-comment">
                      [[:comments]]
                    </span>
                  </span>
                </span>
              [[else]]
                <span class="font-caption">[[:text]]</span>
              [[/if]]
            </a>
          [[else]]
            <a class="button button--primary" role="button" href="[[:href]]" target="[[:target]]">
              <span class="font-caption">[[:text]]</span>
            </a>
          [[/if]]
        </span>
      [[/if]]
    </script>

    <script id="activity_template" type="text/x-jsrender">
      <div class="row box activity">
        <div class="col-12 col-md-1">
          <div class="activity-avatar">
            <img class="avatar" src="/funding/avatar?repo=https://github.com/[[:name]]"/>
          </div>
        </div>
        <div class="col-12 col-md-2">
          <div class="activity-name">
            <a href="https://gitcoin.co/profile/[[:name]]" target="_blank">
              [[:name]]
            </a>
          </div>
        </div>
        [[if status == 'accepted']]
          <div class="col-12 col-md-7 fulfilled">
            <div class="activity-status">
              [[:text]]
              <i class="far fa-check-circle"></i>
            </div>
            <div>
              <span class="bounty-subheading">{% trans "ETH Address" %} :</span>
              <span class="bounty-text">
                <a href="https://etherscan.io/address/[[:address]]">[[:address]]</a>
              </span>
            </div>
            <div>
              <span class="bounty-subheading">{% trans "Email" %} :</span>
              <span class="bounty-text">
                <a href="mailto:[[:email]]">[[:email]]</a>
              </span>
            </div>
            <div>
              <span class="bounty-subheading">{% trans "Submission Id" %} :</span>
              <span class="bounty-text">[[:fulfillment_id]]</span>
            </div>
          </div>
        [[else status == 'started']]
          <div class="col-12 col-md-7 started-status-column">
            <div class="activity-status">
              [[:text]]
            </div>
            [[if uninterest_possible]]
              <div class="stop-work">
                <span title="<div class='tooltip-info tooltip-sm'>Remove this user's started work on the bounty</div>">
                  <a id="remove-[[:name]]" class="button button--primary" role="button" href="remove-handle">
                    <span class="font-smaller-4">Stop work</span>
                  </a>
                </span>
              </div>
            [[/if]]
          </div>
        [[else]]
          <div class="col-12 col-md-7">
            <div class="activity-status">
              [[:text]]
            </div>
          </div>
        [[/if]]
        <div class="col-12 col-md-2">
          <div class="activity-time">[[:age]]</div>
        </div>
      </div>
    </script>

    {% include 'shared/bottom_notification.html' %}
    {% include 'shared/analytics.html' %}
    {% include 'shared/footer_scripts.html' %}
    {% include 'shared/rollbar.html' %}
    {% include 'shared/footer.html' %}
    {% include 'shared/messages.html' %}
  </body>

  <script>
    document.issueURL = '{{issueURL}}';
    document.issueNetwork = '{{network}}';
    document.issue_stdbounties_id = '{{stdbounties_id}}';
    document.isStaff = '{{is_staff}}' != 'False';
  </script>

  <!-- jQuery -->
  <script src="{% static "v2/js/showdown.js" %}"></script>
  <script src="{% static "v2/js/abi.js" %}"></script>
  <script src="{% static "v2/js/tokens.js" %}"></script>
  <script src="{% static "v2/js/amounts.js" %}"></script>
  <script src="{% static "v2/js/pages/bounty_details.js" %}"></script>
  <script src="{% static "v2/js/shared.js" %}"></script>
  <script src="{% static "v2/js/ipfs-api.js" %}"></script>
  <script src="{% static "v2/js/ipfs.js" %}"></script>
  <script src="{% static "v2/js/waiting_room_entertainment.js" %}"></script>
</html>
