<!DOCTYPE html>
<html lang="en">

<head>
    {% include 'shared/head.html' %}
    {% include 'shared/cards.html' %}
</head>
<body class="interior {{active}}">
    <div class="{{active}}-hero__container">
        <div class="container-fluid header dash">
            {% include 'shared/nav_internal.html' %}
        </div>
        <div class="row ml-5">
            <div class="col-6 header-line">
                One Swipe Away From Your Next Bounty.
                <div class="row no-gutter">
            <div class="col-2" style="background: #fff; height:7px; margin:30px 0;">
                </div>
                </div>
                <h3>
                    Browse funded work in open source software from anywhere, at anytime.
                </h3>
                <a href="#">
                    <img class="iphone" src="/static/v2/images/ios/appstore.png"/>
                </a>
            </div>
            <div class="col-6 header-img">
                <img src="/static/v2/images/ios/iPhone.png">
            </div>
            <div class="col-6 subheader-line"></div>
        </div>
<!--         <div id="hero_cta" class="row">
            <div class="col d-flex justify-content-end  mt-5 mb-5 mr-5">
                <div style="text-align: center;">
                    <div>
                        <a class="btn btn-warning" role="button" href="/slack" target=new> <i class="fa fa-slack" aria-hidden="true"></i> Join Our Slack</a>
                        <a class="btn btn-warning ml-3" role="button" href="/explorer"><i class="fa fa-globe" aria-hidden="true"></i> Explore Funded Issues</a>
                    </div>
                    <p style="margin: 10px auto;">
                        <a style="color:#ffc900; " href='#mc_embed_signup_scroll'>Join Mailing List</a>
                    </p>
                </div>
            </div>
        </div>
 -->    </div>
     <div class="row">
        <div class="col-2"></div>
        <div class="col-8 video__wrapper">
            <video class="video">
                <source src="https://www.w3schools.com/html/mov_bbb.mp4" type="video/mp4">
                <source src="https://www.w3schools.com/html/mov_bbb.ogg" type="video/ogg">
            </video>
            <div class="playpause"></div>
        </div>
        <div class="col-2"></div>
    </div>

    <div class="row tag-line">
        <div class="col-12">
            <h3 class="text-center">It's Easy As 1-2-3 🎶</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4" style="">          
            <div class="text-center">
                <div class="flat-card">
                    <h4 class="ios-emoji">👤</h4>
                    <h3>1. Sync</h3>
                    <p>Sync your github profile with the gitcoin app.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4" style="">          
            <div class="text-center">
                <div class="flat-card">
                    <h4 class="ios-emoji">👆</h4>
                    <h3>2. Swipe</h3>
                    <p>Swipe through funded work in open source software.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4" style="">          
            <div class="text-center">
                <div class="flat-card">
                    <h4 class="ios-emoji">🎉</h4>
                    <h3>3. Match</h3>
                    <p>The app will intro (via e-mail) you to the repository owners with whom you've matched with</p>
                    
                </div>
            </div>
        </div>
    </div>

    <div class="row tag-line text-center">
        <div class="col-12">
            <h3 class="text-center">Get it now.</h3>
            <a href="#" target="_blank">
                <img src="/static/v2/images/ios/appstore-gradient.png" height="115" />
            </a>
        </div>
    </div>
    {% include 'shared/ga.html' %}
    {% include 'shared/footer_scripts.html' %}
    {% include 'shared/footer.html' %}

</body>


<!-- jQuery -->
<script src="{{STATIC_URL}}v2/js/abi.js"></script>
<script src="{{STATIC_URL}}v2/js/tokens.js"></script>
<script src="{{STATIC_URL}}v2/js/shared.js"></script>
<script src="{{STATIC_URL}}v2/js/pages/claim_bounty.js"></script>
<script>
    $('.video').parent().click(function () {
    if($(this).children(".video").get(0).paused){
        $(this).children(".video").get(0).play();
        $(this).children(".playpause").fadeOut();
    }else{
       $(this).children(".video").get(0).pause();
        $(this).children(".playpause").fadeIn();
    }
});
</script>

</html>