.glass {
  background-color: var(--space_glass_firefox);
}

@supports (
  (-webkit-backdrop-filter: blur(18px)) or (backdrop-filter: blur(18px))
) {
  .glass {
    background-color: var(--space_glass);
    backdrop-filter: blur(18px);
    -webkit-backdrop-filter: blur(18px);
  }
}
