.logowall{

	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-gap: 1em;
	
}




@media #{$tablet} { 
	.logowall{
		grid-template-columns: 1fr 1fr 1fr;
	}
}


@media #{$phone} { 
	.logowall{
		grid-template-columns: 1fr 1fr;
	}
}

