section.grid {
  display: grid;
  grid-template-columns: 50% 50%;

  max-width: 1600px;
  margin: auto;

  div {
    align-self: center;
    text-align: right;
    margin: 0em 3em;
  }

  figure {
    padding: 3em;
    img,
    svg {
      height: 100%;
    }
  }

  &.reverse {
    grid-template-columns: 50% 50%;

    div {
      grid-column: 1;
      grid-row: 1;
      text-align: left;
    }
    figure {
      grid-column: 2;
      grid-row: 1;
    }
  }
}

@media #{$tablet} {
  section.grid {
    display: block;

    figure {
      padding: 0px;

      img,
      svg {
        padding: initial;
      }
    }

    div {
      padding: 3em 0em;
      text-align: left;
    }
  }
}

@media #{$phone} {
  section.grid {
    div {
      margin: 0em 1.5em;
    }
  }
}
