section.workstream{

  div{

    margin-bottom: 4em;
    
    h3{
      margin:0;
      margin-bottom: .8em;
      span{ margin-right: .5em; }
    }

    p{

    }

    .btn{
      margin:0;
      margin-top: .8em;
    }

  }
 


}