table {
  display: table;
  box-sizing: border-box;
  border-collapse: collapse;
  margin-bottom: 2rem;

  td {
    vertical-align: top;
    border-collapse: collapse;
    border: 1px solid var(--smoke);
    padding: 0.5rem;
  }

  thead {
    td {
      color: var(--white);
    }
  }
}
