#CookielawBanner {
  padding: 15px;
  position: fixed;
  bottom: 0;
  background-color: #F2F6F9;
  width: 100%;
  z-index: 20;
  font-family: 'Muli', sans-serif;
}

#CookielawBanner .container {
  position: relative;
  max-width: none;
}

#CookielawBanner .container h6 {
  letter-spacing: 0;
  font-weight: bold;
  margin-bottom: 1rem;
}

#CookielawBanner .container .button {
  max-height: 2.5rem;
}

#CookielawBanner .container .d-flex {
  justify-content: space-between;
}

#CookielawBanner .container .cookie-info {
  width: 90%;
}

#CookielawBanner #CookielawCross {
  background: url('../img/close.png') no-repeat 0 0;
  cursor: pointer;
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 15px;
  height: 15px;
}

@media (max-width: 767.98px) {

  #CookielawBanner .container .d-flex {
    display: inline !important;
  }

  #CookielawBanner .container .cookie-info {
    margin-bottom: 1.5rem;
  }
}