{% extends 'admin/change_form.html' %}

{% block submit_buttons_bottom %}
    {{ block.super }}
    <div class="submit-row">
        {% if 'dashboard/profile' in request.build_absolute_uri %}
            <input type="submit" value="Impersonate" name="_impersonate" value="1">
            {% if not original.squelches.exists %}
                <input type="submit" value="Squelch Sybil" name="_squelch_sybil" value="1">
            {% else %}
                <input type="submit" value="Unsquelch Sybil" name="_unsquelch_sybil" value="1">
            {% endif %}
            <input type="submit" value="Recalculate Sybil Investigation" name="_recalc_sybil" value="1">
            <input type="submit" value="Recalculate Profile Frontend" name="_recalc_flontend" value="1">
        {% elif 'dashboard/activity' in request.build_absolute_uri %}
            <input type="submit" value="Make Into Nano Bounty" name="_make_nano_bounty" value="1">
        {% elif 'arketing/roundupemail' in request.build_absolute_uri %}
            <input type="submit" value="Send Roundup Email to myself" name="_send_roundup_email_myself" value="1">
            <input type="submit" value="Send Roundup Email to EVERYONE (WARNING: BE CAREFUL!)" name="_send_roundup_email_everyone" onclick='javascript:if(!confirm("are you sure")){return false};' value="1">
        {% elif 'townsquare/offer/' in request.build_absolute_uri %}
            <input type="submit" value="Schedule Offer" name="_schedule_offer" value="1">
            <input type="submit" value="Copy Offer" name="_copy_offer" value="1">
        {% elif 'dashboard/tip/' in request.build_absolute_uri %}
            <input type="submit" value="Reset Tip Redemption Status" name="_reset_tip_redemption" value="1">
        {% elif 'economy/token/' in request.build_absolute_uri %}
            <input type="submit" value="Approve Request" name="_approve_token" value="1">
        {% elif 'grants/flag/' in request.build_absolute_uri %}
            <input type="submit" value="Post Activity Feed" name="_post_flag" value="1">
            <input type="submit" value="Post Tweet" name="_tweet" value="1">
        {% elif 'kudos/token/' in request.build_absolute_uri %}
            <input type="submit" value="Make into Bulk Transfer Coupon" name="btc_coupon" value="1">
        {% elif 'grants/contribution' in request.build_absolute_uri %}
            <input type="submit" value="Pull Contrib Status" name="_update_tx_status" value="1">
            {% if not original.success %}
                <input type="submit" value="Notify User of Contribution Failure" name="_notify_contribution_failure" value="1">
            {% endif %}
        {% elif 'kudos/tokenrequest' in request.build_absolute_uri %}
            <input type="submit" value="Change Owner + Mint + Sync Kudos" name="_change_owner_mint_kudos" value="1">
            <input type="submit" value="Mint + Sync Kudos" name="_mint_kudos" value="1">
            <input type="submit" value="Reject Kudos" name="_reject_kudos" value="1">
            <input type="submit" value="Change Owner to Gitcoin" name="_change_owner" value="1">
        {% elif 'quests/quest' in request.build_absolute_uri %}
            <input type="submit" value="Approve Request" name="_approve_quest" value="1">
        {% endif %}
    </div>
{% endblock %}