<!-- generics -->
<link rel="icon" type="image/png" sizes="192x192"  href="/static/quadraticlands/images/favicon/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="/static/quadraticlands/images/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="/static/quadraticlands/images/favicon/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="/static/quadraticlands/images/favicon/favicon-16x16.png">

<!-- Android -->
<link rel="shortcut icon" sizes="196x196" href="/static/quadraticlands/images/favicon/android-icon-192x192.png">

<!-- iOS -->
<link rel="apple-touch-icon" sizes="57x57" href="/static/quadraticlands/images/favicon/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="/static/quadraticlands/images/favicon/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="/static/quadraticlands/images/favicon/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="/static/quadraticlands/images/favicon/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="/static/quadraticlands/images/favicon/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="/static/quadraticlands/images/favicon/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="/static/quadraticlands/images/favicon/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="/static/quadraticlands/images/favicon/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="/static/quadraticlands/images/favicon/apple-icon-180x180.png">

<!-- Windows 8 IE 10-->
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="/static/quadraticlands/images/favicon/ms-icon-144x144.png">

<!-- Windows 8.1 + IE11 and above -->
<meta name="msapplication-config" content="/static/quadraticlands/images/favicon/browserconfig.xml" />

<link rel="manifest" href="/static/quadraticlands/images/favicon/manifest.json">

<meta name="theme-color" content="#0E0333">



