<!-- footer social icons -->

<section id="footersocial">

	<a href="#" target="_blank" data-particlesize="100">
		<div>
			{% include "quadraticlands/_inlinesvg/footersocial/facebook.svg" %}
		</div>
	</a>

	<a href="#" target="_blank" data-particlesize="100">
		<div>
			{% include "quadraticlands/_inlinesvg/footersocial/youtube.svg" %}
		</div>
	</a>

	<a href="#" target="_blank" data-particlesize="100">
		<div>
			{% include "quadraticlands/_inlinesvg/footersocial/twitter.svg" %}
		</div>
	</a>

	<a href="#" target="_blank" data-particlesize="100">
		<div>
			{% include "quadraticlands/_inlinesvg/footersocial/github.svg" %}
		</div>
	</a>

	<a href="#" target="_blank" data-particlesize="100">
		<div>
			{% include "quadraticlands/_inlinesvg/footersocial/discord.svg" %}
		</div>
	</a>

	<a href="#" target="_blank" data-particlesize="100">
		<div>
			{% include "quadraticlands/_inlinesvg/footersocial/email.svg" %}
		</div>
	</a>
	
</section>


