<section id="footer">
	

    <a href="/quadraticlands" class="particleAttract"
    {% if request.path == "/quadraticlands" %} aria-current="page" {% endif %}
    >Home</a>

    <a href="/quadraticlands/about" class="particleAttract"
    {% if "about" in request.path %} aria-current="page" {% endif %}
    >About</a>

    <a href="/quadraticlands/mission" class="particleAttract"
    {% if "mission" in request.path %} aria-current="page" {% endif %}
    >Mission</a>

    <a href="/quadraticlands/leaderboard" class="particleAttract"
    {% if "leaderboard" in request.path %} aria-current="page" {% endif %}
    >Leaderboard</a>

    <a href="/quadraticlands/faq" class="particleAttract"
    {% if "faq" in request.path %} aria-current="page" {% endif %}
    >FAQ</a>

    <a href="/quadraticlands/privacy" class="particleAttract"
    {% if "privacy" in request.path %} aria-current="page" {% endif %}
    >Privacy</a>

    <a href="/quadraticlands/terms" class="particleAttract"
    {% if "terms" in request.path %} aria-current="page" {% endif %}
    >Terms</a>

    <a href="https://gitcoin.co" target="_blank">made by Gitcoin</a>


</section>




