<section id="footer">
	

    <a href="/quadraticlands" class="particleAttract"
    {% if request.path == "/quadraticlands" %} aria-current="page" {% endif %}
    >Home</a>

    <a href="/quadraticlands/about" class="particleAttract"
    {% if "about" in request.path %} aria-current="page" {% endif %}
    >About</a>

    <a href="/quadraticlands/mission" class="particleAttract"
    {% if "mission" in request.path %} aria-current="page" {% endif %}
    >Mission</a>

    <a href="/quadraticlands/faq" class="particleAttract"
    {% if "faq" in request.path %} aria-current="page" {% endif %}
    >FAQ</a>

    <a href="https://gitcoin.co/legal/privacy" target="_blank" class="particleAttract" >Privacy</a>

    <a href="https://gitcoin.co/legal/terms" target="_blank" class="particleAttract" >Terms</a>

    <a href="https://gitcoin.co" target="_blank" class="particleAttract" >made by Gitcoin</a>


</section>




