{% load i18n static is_in_list matches %}

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

<link rel="preload" href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Space+Mono:wght@400;700&display=swap" rel="stylesheet">

<link rel="stylesheet" href="{% static "quadraticlands/css/app.css" %}" as="style" media="screen,projection"/>




<script src="/static/quadraticlands/js/sal.js"></script>


<title>Quadratic Lands</title>

<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>