{% extends 'quadraticlands/components/base.html' %}
{% load humanize static i18n %}


{% block 'twittercard' %}
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@gitcoin" />
<meta name="twitter:title" content="Gitcoin Quadratic Lands - About" />
<meta name="twitter:description"
  content="Gitcoin is where builders, developers, and protocols come together to build and fund the open web." />
<meta name="twitter:image" content="{% static "v2/quadraticlands/twitter/default.png" %}" />
{% endblock %}


{% block 'content' %}



<!-- Hero -->
<section class="hero knightrider"
  data-kinetics-mode
  data-kinetics-mode-type="party"
  data-kinetics-mode-speed="5"
  data-kinetics-mode-boundery="endless"
>

  <div class="background">
    <!-- svg needs preserveAspectRatio="xMidYMid slice" -->
    {% include "quadraticlands/_inlinesvg/hero-about.svg" %}
  </div>

  <div class="content centered" data-kinetics-attraction data-kinetics-attraction-chance=".6"
    data-kinetics-attraction-force="3" data-kinetics-attraction-grow="5">
    <h1><span>Govern Gitcoin with GTC</span></h1>
  </div>

</section>



<!-- Developers -->
<article
  data-kinetics-mode
  data-kinetics-mode-type="space"
  data-kinetics-mode-speed="1">

  <section class="column">
    <h2>About GTC</h2>
    <div class="intro">GTC is the governance token we’re using to decentralize Gitcoin into a DAO (GitcoinDAO) ecosystem, collectively working to fund the next generation of public goods.</div>

    <p>GitcoinDAO aims to be the best place to collectively build and fund our digital infrastructure. With our ecosystem partners, we want to help create the biggest and boldest experiments in open source, and and double down on what works. We are:</p>

    <p>
      <ol class="decimal">
        <li>building a community that cares about public goods</li>
        <li>designing & launching experiments</li>
        <li>supporting & scaling them </li>
        <li>collectively governing them</li>
      </ol>
    </p>

    <p>In order to facilitate this, we are working with the community to build GitcoinDAO—the decentralized organization building the vessel to the Quadratic Lands: a better world for public goods and digital democracy.</p>

    <p>Holders of the token will help guide Gitcoin’s direction as we move from a partially centralized Web2.5 platform to a completely decentralized protocol. Our first step is turning over governance of Gitcoin Grants to community stewards, but over time increasingly more decisions will be left entirely in the community’s hands.</p>

    <p>Want to get involved in governance? Join a workstream <a href="workstream">here!</a></p>


  </section>

</article>




<!-- How it Works -->

<article data-kinetics-mode data-kinetics-mode-type="space" data-kinetics-mode-speed="1">
  <section class="column">
    <h2>How it Works</h2>
  </section>

  <section class="column">
    <p>The Gitcoin governance ecosystem is built around GTC, which leverages a COMP/UNI style governance that makes on-chain voting, snapshot voting and community led governance possible. At its base layer, GTC is a standard ERC20-style token with a 100mm supply. 50% of the token supply has been allocated to those who have provided value to the ecosystem in the past (community members, investors and the existing team), and 50% will be unlocked for the community to manage in the future. At launch, GitcoinDAO has an even split between past Gitcoin builders and participants, and future ones. The tokens reserved for future builders will be held in treasury, governed by community stewards and then ultimately the DAO.</p>

    <p>GTC has NO economic value, it is a governance token only.  It’s contract address is <a target="_blank" href="https://etherscan.io/address/0xde30da39c46104798bb5aa3fe8b9e0e1f348163f">0xDe30da39c46104798bB5aA3fe8B9e0e1F348163F</a>.</p>
  </section>
</article>




<!-- GTC Details -->
<article data-kinetics-mode data-kinetics-mode-type="space" data-kinetics-mode-speed="1">
  <section class="column">
    <h2>Token Info</h2>
  </section>

  <section class="column">

    <table width="100%" style="margin-top:2em;">
      <tr>
        <td>Amount</td>
        <td>100mm tokens</td>
      </tr>
      <tr>
        <td>Retroactive distribution date</td>
        <td>5/25/21</td>
      </tr>
      <tr>
        <td>Near term</td>
        <td>Govern Gitcoin Grants</td>
      </tr>
      <tr>
        <td>Medium term</td>
        <td>Identity & Reputation</td>
      </tr>
      <tr>
        <td>Long term</td>
        <td>Decentralized Protocol</td>
      </tr>
    </table>

  </section>

  <section class="column full">
    <figure data-kinetics-attraction data-kinetics-attraction-chance=".5" data-kinetics-attraction-force=".5"
      data-kinetics-attraction-grow="3">
      <img loading="lazy" src="{% static 'v2/images/quadraticlands/about/pie.svg' %}">
    </figure>
  </section>
</article>



<!-- Roadmap -->
<article data-kinetics-mode data-kinetics-mode-type="space" data-kinetics-mode-speed="1">
  <section class="column">
    <h2>Roadmap</h2>
    <p>We have had the support of some of the best in the space to bring this roadmap to life.</p>
  </section>


  <section class="column">

    <div class="roadmap">

      <div class="title active">Epoch 1</div>
      <div class="vl active"></div>
      <div class="content active">
        <h3>#Launch</h3>
        <p>GTC is launched</p>
      </div>

      <div class="title">Epoch 2</div>
      <div class="vl"></div>
      <div class="content">
        <h3>#Short Term</h3>
        <p>GitcoinDAO workstreams take shape</p>
      </div>

      <div class="title">Epoch 3</div>
      <div class="vl"></div>
      <div class="content">
        <h3>#Medium Term</h3>
        <p>Implementation of ideas from workstreams</p>
        <p>Community led proposals to solve Sybil</p>
        <p>Community led decentralization of Gitcoin Grants</p>
      </div>

      <div class="title">Epoch 4</div>
      <div class="vl"></div>
      <div class="content">
        <h3>#Medium-Long Term</h3>
        <p>Dissolve Gitcoin Co.</p>
        <p>Fully hand over the reigns of assets to the DAO</p>
        <p>Continue growing an amazing community for experiments in open source funding</p>
      </div>


    </div>

  </section>
</article>




{% endblock %}



{% block 'scripts' %}

<!-- sfx library-->
<script src="{% static "v2/js/lib/quadraticlands/tone.js" %}"></script>

<!-- animate about page header image ( hero-about.svg ) -->
<script src="{% static "v2/js/quadraticlands/about.js" %}"></script>

{% endblock %}
