{% extends 'quadraticlands/components/base.html' %}
{% load humanize static i18n %}

{% block 'twittercard' %}
	<!-- twitter card -->
	<meta name="twitter:card" content="summary" />
	<meta name="twitter:site" content="@gitcoin" />
	<meta name="twitter:title" content="title" />
	<meta name="twitter:description" content="description" />
	<meta name="twitter:image" content="https://s.gitcoin.co/static/quadraticlands/twittercards/xxxxx.gif" />
	<!-- end twitter card -->
{% endblock %}


{% block 'content' %}


<!-- headline-->
<section class="column centered">
	<h1>Frequently Asked Questions</h1>
</section>



<!--FAQ-->
<section class="faq column">

	{% for key, faq in FAQ.items %}


		<article id="{{ forloop.counter }}">
			<div class="q">
				<a href="#{{ forloop.counter }}">
					<span>#{{ forloop.counter }}</span>{{ faq.question }}</div>
				</a>
			<div class="a">{{ faq.answer | safe }}</div>
		</article>
	

	{% endfor %}

</section>









{% endblock %}



{% block 'scripts' %}

	<!--some custom particles-->
	<script src="/static/quadraticlands/js/particles.js"></script>
	
	<!--Scroll Animation Library (sal) INIT-->
	<script src="/static/quadraticlands/js/sal_init.js"></script>

	<!--APP - burger menu, wallet menu, provider select-->
	<script src="/static/quadraticlands/js/app.js"></script>


{% endblock %}


