{% extends 'quadraticlands/components/base.html' %}
{% load humanize static i18n compress %}


{% block 'twittercard' %}
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@gitcoin" />
<meta name="twitter:title" content="Quadratic Lands" />
<meta name="twitter:description" content="With the launch of GTC, Gitcoin begins our second chapter focused on decentralizing from a product into a protocol." />
<meta name="twitter:image" content="{% static "v2/quadraticlands/twitter/default.png" %}" />
{% endblock %}


{% block 'content' %}

<!-- HERO IMAGE -->

<section class="hero">
	<div class="background" style="z-index: -5555">
		<!-- svg needs preserveAspectRatio="xMidYMid slice" -->
		{% include "quadraticlands/_inlinesvg/town.svg" %}
	</div>

	<div class="content pushdown">
		<h1><span>With the launch of GTC, Gitcoin begins our second chapter focused on decentralizing from a product into a protocol for Quadratic Funding.</span></h1>
		<a href="/quadraticlands/mission" class="btn" data-particlesize="200">Get started</a>
	</div>
</section>



<!-- TOKEN -->
<article>
	<section class="grid reverse">
		<figure>
			<img src="{% static "v2/quadraticlands/images/token.svg" %}" />
		</figure>

		<div>
			<h3><span>#</span>GTC</h3>
			<h1>Gitcoin’s token is here</h1>
			<p class="no-margin">To start, GTC governs the Gitcoin Network to decentralise Grants, manage disputes and govern the treasury. It will soon prevent sybil attacks by launching a decentralized sybil prevention & reputation system. With your help, we are accelerating the flywheel of Gitcoin from web2 to web3. Let’s see what this thing can do.</p>
		</div>
	</section>
</article>




<!-- GOVERNANCE -->
<article>
	<section class="grid">
		
		<figure class="laptop-cover tablet-cover phone-cover ">
			
			<img src="{% static "v2/quadraticlands/images/governance.svg" %}" />
		</figure>

		<div>
			<h3><span>#</span>Governance</h3>
			<h1>Governance means we all are part of something</h1>
			<p class="no-margin">We believe the future of Gitcoin is a community-centric self-governing protocol for funding public goods. GTC is the first step in our path towards the progressive decentralization of the Gitcoin platform, where each voice of our community can be heard and used to shape our future.</p>	
		</div>

	</section>
</article>



<!-- PORTAL -->
<article>
	<section class="grid reverse particleMode" data-mode="space">
		
		<figure>
			<img src="{% static "v2/quadraticlands/images/quadratic.svg" %}" />
		</figure>

		<div>
			<h3><span>#</span>Quadratic Voting</h3>
			<h1>Nobody can exclude you, you have a voice</h1>
			<p class="no-margin">With Quadratic Funding (QF), whales & central power brokers no longer control an ecosystem. We have found QF to be the mathematically optimal way to fund public goods. The Gitcoin team will introduce a proposal to do Quadratic Voting for Gitcoin’s governance as soon as we sufficiently solved for the biggest open research problem in Quadratic Voting – Sybil attacks.</p>	
		</div>

	</section>
</article>




<!-- INFORMATION AGE -->
<article>	
	<section id="unicorn" class="grid">
		
		<figure class="floating particleMode" data-mode="wind">
			<img src="{% static "v2/quadraticlands/images/uni.svg" %}" />
		</figure>

		<div>
			<h3><span>#</span>Information Age</h3>
			<h1>Powering Public Goods in the Information Age</h1>
			<p class="no-margin">Our deep reason for being is our mission – to economically empower builders of the open web.   Open Source Software is a public good and its funding is an important unsolved coordination problem in the information age. Gitcoin is solving this problem, and we aspire to demonstrate a sustainable & decentralized model for building public goods.</p>
		</div>

	</section>
</article>



<!-- MISSION -->
<article class="gap">
	<section class="column centered">
		<div>
			<h3><span>#</span>Earn your first Tokens</h3>
			<h1>Welcome to the Quadratic Lands</h1>
			<p>Complete your first mission, “Proof of Knowledge,” to git your distribution of GTC. In less than 5 minutes, you will be a proud owner of part of the Gitcoin network.</p>
			<div style="margin-top:1.5em;">
				<a href="/quadraticlands/mission" class="btn" data-particlesize="200">Get Started</a>
			</div>
			
		</div>
	</section>
</article>





{% endblock %}






{% block 'scripts' %}

<!-- custom particles-->
<script src="{% static "v2/quadraticlands/js/particles.js" %}"></script>



<!-- animate town ( index page hero > town.svg ) -->

<script>

	document.addEventListener("DOMContentLoaded",function(){
		// random floor polygones coloring / lights of town
		polygones = document.querySelectorAll("svg #floor polygon")
		lights = document.querySelectorAll("svg .light")
		last = 0;
		console.debug("ANIMATE TOWN")
		animate_town()
	});
	

	function animate_town(now){

	    if(!last || now - last >= 200) {
	        
			// pick a random poly from the floor grid in section hero > town.svg
			// to randomly color up with a little animation
			polygone = polygones[Math.floor(Math.random() * polygones.length)]
			polygone.animate({ fill: [ "#9760FF", "#FA72AF", "#7AFFF7", "#9760FF" ] },
				{ duration: 400, delay: 0, iterations: 1
			});

			// pick a random light from the houses in section hero > town.svg
			// to randomly color up with a little animation
			light = lights[Math.floor(Math.random() * lights.length)]
			duration = Math.random() * (5000 - 500) + 500

			light.animate({ fill: [ "#9760FF", "#FA72AF", "#7AFFF7", "#9760FF" ] },
				{ duration: duration, delay: 0, iterations: 1
			});

			last = now;
		}

		requestAnimationFrame(animate_town)

	}

</script>


	
{% endblock %}


