{% extends 'quadraticlands/components/base.html' %}
{% load humanize static i18n %}

{% block 'twittercard' %}
	<!-- twitter card -->
	<meta name="twitter:card" content="summary" />
	<meta name="twitter:site" content="@gitcoin" />
	<meta name="twitter:title" content="title" />
	<meta name="twitter:description" content="description" />
	<meta name="twitter:image" content="https://s.gitcoin.co/static/quadraticlands/twittercards/xxxxx.gif" />
	<!-- end twitter card -->
{% endblock %}


{% block 'content' %}



<!-- headline-->
<section class="column centered">
	<h1>Leaderboard</h1>
</section>



<!--leaderboard -->

<section class="leaderboard">

	<div class="wrapper">

		<table>
			
			<thead id="thead">
				<tr>
					<th data-by="position" data-direction="asc">#</th>
					<th data-by="adress">Adress</th>
					<th data-by="token_amount">GTC</th>
					<th data-by="power">Power</th>
					<th data-by="votes">Votes</th>
					<th data-by="delegates">Delegates</th>
					<th data-by="delegated_tokens">Del. GTC</th>
				</tr>
			</thead>

			<tbody id="tbody"></tbody>

		</table>

	</div>

</section>



<section class="column centered" style="margin-top: 2em;">
	<div id="more" class="btn sm">more</div>
</section>

{% endblock %}


{% block 'scripts' %}

<script src="/static/quadraticlands/js/particles.js"></script>
<script src="/static/quadraticlands/js/sal_init.js"></script>
<script src="/static/quadraticlands/js/app.js"></script>


<script>

// LEADERBOARD 
// - all <th> gets clickable
// - add data-atributes data-direction="asc" / data-direction="desc" to current clicked
// - read data-by values ( e.g. order-by adress, order-by amount )
// - triggers fetchGraph() function on <th> with all needed values
// - loadmore button to fetch more values
// needs to run after app.js as its using a helper to trunciate the eth adress from it.

document.addEventListener("DOMContentLoaded",function(){

	let first = 50 // show first X results
	let perpage = 50 // load X more per page

	let th = document.querySelectorAll("th")

	th.forEach(i => {

		i.addEventListener("click", () => {

			if (!i.hasAttribute("data-direction")){
				interfaceResetDirection()
				i.dataset.direction = "desc"
			}
			else{
				if (i.dataset.direction == "asc"){
					interfaceResetDirection()
					i.dataset.direction = "desc"
				}
				else {
					interfaceResetDirection()
					i.dataset.direction = "asc" 
				}
			}

			data = fetchGraph(i.dataset.by, i.dataset.direction, first)
			render(data)

	  })

	})


	// button to load more results 
	const more = document.getElementById("more");
	more.addEventListener("click", () => {

		// add a "perpage" to first param for thegraph
		first = first + perpage;

		// on "more" button click we still have to know what direction and order by
		th.forEach(i => {
			if (i.hasAttribute("data-direction")){
				by = i.dataset.by
				direction = i.dataset.direction
			}
		})
		
		data = fetchGraph(by, direction, first)
		render(data)
	})




	// fetch initial data on load
	data = fetchGraph("position", "desc", 10)
	render(data)	

})


// interfaceResetDirection
// on click of a table head
// reset all the other directions
// to ensure its always just "one" option
// for an order direction
//
function interfaceResetDirection(){
	let th = document.querySelectorAll("th")
	th.forEach(i => {
		i.removeAttribute('data-direction')
	})
}



// fetchGraph
// connect to API with these variables
// here is where we need to fetch 
// the graphQL query
//
function fetchGraph(by, direction, first){

	console.debug("orderBy:" + by)
	console.debug("orderDirection:" + direction)
	console.debug("first:" + first)

	// fake data
	let data = [
	{ position:1, adress:"0x52bc44d5378309EE2abF1539BF71dE1b7d7bE3b5", token_amount:114111, votes:321, delegates:2, delegated_tokens:594923934},
	{ position:2, adress:"0x99C85bb64564D9eF9A99621301f22C9993Cb89E3", token_amount:343133, votes:331, delegates:32, delegated_tokens:59492934},
	{ position:3, adress:"0x4bd067b56afdf6b0f258f45bdf8877e888a32586", token_amount:43123, votes:64131, delegates:3322, delegated_tokens:159492934},
	{ position:4, adress:"0x4c67b7f5a904f651b86607c51c13a3fe1e742895", token_amount:641333, votes:161, delegates:8122, delegated_tokens:59492934},		
	{ position:5, adress:"0xf85868fc880f89890d9427d53b7eb800f973b29b", token_amount:3513133, votes:6131, delegates:4322, delegated_tokens:59492934},
	]

	return data

}



// render data to tbody
// data comes from thegraph
// position, adress, token_amount, votes, delegates

function render(data){

	console.log("RENDER DATA TO TBODY")

	let total_tokens = 5000000 // max tokens available

	// clear tbody
	let tbody = document.getElementById("tbody");
	tbody.innerHTML = '';

	// for each data add tds
	data.forEach(col => {

		// new row
		var tr = document.createElement("tr"); 

			// position
			var position = document.createElement("td");
			position.innerHTML = col.position;
			tr.appendChild(position)

			// adress
			var adress = document.createElement("td");
			adress.innerHTML = '<a href="/quadraticlands/profile/'+col.adress+'">'+shortenAdress(col.adress)+'</a>'
			tr.appendChild(adress)

			// token_amount
			var token_amount = document.createElement("td");
			token_amount.innerHTML = col.token_amount;
			tr.appendChild(token_amount)

			// power ( token_amount / total_tokens )
			var power = document.createElement("td");
			power.innerHTML = ( col.token_amount / total_tokens ) + "%" ;
			tr.appendChild(power)

			// votes
			var votes = document.createElement("td");
			votes.innerHTML = col.votes;
			tr.appendChild(votes)

			// delegates
			var delegates = document.createElement("td");
			delegates.innerHTML = col.delegates;
			tr.appendChild(delegates)

			// delegated_tokens
			var delegated_tokens = document.createElement("td");
			delegated_tokens.innerHTML = col.delegated_tokens;
			tr.appendChild(delegated_tokens)


		// append new row
		tbody.appendChild(tr)


	})

}


  


</script>



{% endblock %}


