{% extends 'quadraticlands/components/base.html' %}
{% load humanize static i18n %}


{% block 'content' %}

<!--PRIVACY-->

<section class="column">
	
	<h1>Privacy</h1>

	<h3><span>#</span>Lorem ipsum dolor sit amet</h3>

	<h2>Lorem ipsum dolor sit amet, consetetur sadipscing elitr.</h2>

	<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>

	<h2>Lorem ipsum dolor sit amet, consetetur sadipscing elitr.</h2>

	<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed <a href="#">diamn</a> voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>

	<figure>
		<img src="/assets/x.png" alt="">
	</figure>



</section>



{% endblock %}



{% block 'scripts' %}

	<!--some custom particles-->
	<script src="/static/quadraticlands/js/particles.js"></script>
	
	<!--Scroll Animation Library (sal) INIT-->
	<script src="/static/quadraticlands/js/sal_init.js"></script>

	<!--APP - burger menu, wallet menu, provider select-->
	<script src="/static/quadraticlands/js/app.js"></script>

	<!--APP - burger menu, wallet menu, provider select-->
	<script src="/static/quadraticlands/js/app.js"></script>


	
{% endblock %}


