{% extends 'quadraticlands/components/base.html' %}
{% load humanize static i18n %}

{% block 'twittercard' %}
	<!-- twitter card -->
	<meta name="twitter:card" content="summary" />
	<meta name="twitter:site" content="@gitcoin" />
	<meta name="twitter:title" content="title" />
	<meta name="twitter:description" content="description" />
	<meta name="twitter:image" content="https://s.gitcoin.co/static/quadraticlands/twittercards/xxxxx.gif" />
	<!-- end twitter card -->
{% endblock %}


{% block 'content' %}


<!-- ABOUT -->



<section class="column">
	
	<h1>Proposals</h1>
   
	{% for key, value in all_proposals.items %}
        <h3>Proposal # {{key}} - {{value.title}} -- {{value.question}} -- {{value.start_block}} -- {{value.end_block}} </h3></br>
    {% endfor %}
</section>





{% endblock %}


{% block 'scripts' %}
	<script src="/static/quadraticlands/js/particles.js"></script>
	<script src="/static/quadraticlands/js/sal_init.js"></script>
	<script src="/static/quadraticlands/js/app.js"></script>
{% endblock %}
