{% extends 'quadraticlands/components/base.html' %}
{% load humanize static i18n %}


{% block 'content' %}
	<section class="column">
		<h3>web3</h3>
		<!-- selected wallet address -->
		<div id="claimAdress" class="claimAdress">
			Active Wallet Address:
			<div class="receiveadress" id="wallet-address"></div>
		</div>
		<!-- selected wallet address -->
		<div id="claimAdress" class="claimAdress">
			GTC Balance:
			<div class="receiveadress" id="gtc-token-balance"></div>
		</div>
	</section>
{% endblock %}



{% block 'scripts' %}

<!-- custom particles-->
<script src="{% static "v2/quadraticlands/js/particles.js" %}"></script>

<!-- force web3modal to popup automaticaly when no provider selected-->
<script src="{% static "v2/quadraticlands/js/forceWallet.js" %}"></script>

<!--zachs playground for web3 tests with his ql-web3.js file-->
<script src="{% static "v2/quadraticlands/js/web3-samples.js" %}"></script>


<script>
	

document.addEventListener("DOMContentLoaded",function(){
	// every time web3 is ready / address changes this calls the async function delegationInterface()
	document.addEventListener("dataWalletReady", getWeb3Id);
});


// 1 : Mainnet
// 4 : Rinkeby

async function getWeb3Id() {
	try {
        let id = await web3.eth.net.getId()
        console.log("Network", id)

    } catch(e) {
        console.log(e);
    }

}


function 


</script>




{% endblock %}