/* core */
@import "breakpoints";
@import "core";
@import "typography";

/* nav */
@import "nav";
@import "nav/user";
@import "nav/links";
@import "nav/wallet";
@import "nav/signin";
@import "nav/burger";

/* components */
@import "header";
@import "buttons";
@import "figure";
@import "wallet-provider";
@import "keyframes";
@import "web3modal";
@import "table";
@import "flashmessage";
@import "cookielaw";
@import "glass";
@import "selection";
@import "delegation-toggle";
@import "roadmap";
@import "tabs";

/* article  */
@import "article";

/* sections */
@import "section_column";
@import "section_table";
@import "section_grid";
@import "section_headline";
@import "section_hero";
@import "section_faq";
@import "section_mission";
@import "section_background";
@import "section_footersocial";
@import "section_footer";
@import "section_introduction";
@import "section_stewards";
@import "section_status";
@import "section_workstream";
@import "section_postcard";

/* section quest */
@import "quest/section";
@import "quest/quest-intro";
@import "quest/quest-video";
@import "quest/quest-quiz";
@import "quest/quest-claim";
@import "quest/quest-vote";
@import "quest/quest-setup";
@import "quest/quest-delegationmode";
@import "quest/quest-delegateaddress";
@import "quest/progressbar";

/* section dashboard */
@import "dashboard/section_dashboard";
@import "dashboard/header";
@import "dashboard/content-governance";
@import "dashboard/content-leaderboard";
@import "dashboard/content-mission";
@import "dashboard/content-proposals";
@import "dashboard/content-wallet";
@import "dashboard/content-tx-pending";
@import "dashboard/content-tx-error";

/* element overrides */
@import "figure_introoutro";

/* some little modules / playground not worth a file right now ^^ */

.hide {
  display: none !important;
}

.d-none {
  display: none !important;
}

.mission-proof-of-receive-address {
  margin: 2em 0em !important;
  padding: 0.5em 1em !important;
  margin-bottom: 4em !important;
  text-align: left !important;

  color: var(--aqua_light);
  background-color: var(--smoke);

  span {
    font-family: "Space Mono", monospace;
    font-size: 100%;
    word-break: break-all;
  }
}
