$desktop: "(min-width: 1313px)";
$laptop: "(max-width: 1312px)";
$tablet: "(max-width: 992px)";
$phone: "(max-width: 688px)";

@media #{$desktop} {
  :root {
    --device: "desktop";
  }
}

@media #{$laptop} {
  :root {
    --device: "laptop";
  }
}

@media #{$tablet} {
  :root {
    --device: "tablet";
  }
}

@media #{$phone} {
  :root {
    --device: "phone";
  }
}
