section#footersocial {
  display: flex;
  justify-content: space-between;

  margin: 0em 3em;
  margin-top: 8em;

  a {
    div {
      display: block;

      svg {
        display: block;
        background-color: none;
        stroke: var(--purple_light);
        stroke-width: 2;
        stroke-miterlimit: 5;
        width: 48px;
        height: 48px;
        fill: none;
        pointer-events: none;
      }

      &:hover {
        svg {
          stroke: var(--white);
        }
      }
    }
  }
}

@media #{$phone} {
  section#footersocial {
    margin-left: 1.5em;
    margin-right: 1.5em;
    margin-top: 6em;
    margin-bottom: 3em;

    a {
      div {
        svg {
          width: 36px;
          height: 36px;
        }
      }
    }
  }
}
