section.status {
  padding: 0em 3em;
  max-width: 1400px;
  margin: auto;

  .wrapper {
    text-align: center;
    padding: 3em;
  }

  .spinner {
    svg {
      width: 64px;
      height: 64px;
    }
  }
}
