section.introduction {
  margin: auto;

  margin-top: 3em;

  max-width: 1200px;
  padding: 0em 6em;
  text-align: center;

  h1 {
    margin: 0;
    padding: 0;

    span {
      &.aqua {
        color: var(--aqua);
      }
    }
  }

  p {
    margin-top: 1em;
    margin-bottom: 0em;
  }
}

@media #{$desktop} {
  section.introduction {
    padding: 0em 3em;
  }
}

@media #{$phone} {
  section.introduction {
    padding: 0em 1.5em;
  }
}
